<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/reportNewHead.vm")
<script type="text/javascript">
    function submitLogoContainer(value){
        document.frmLogoContainer.method.value=value;
        document.frmLogoContainer.submit();
    }
</script>
</head>
<body>
#set($currentReport=$reportForm.getCurrentReport())
<div id="main-container">

    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
        #parse("snippets/adminHeader.vm")
    #else
        #parse("snippets/managerHeader.vm")
    #end  

    <!-- TopBar Start -->
    <div id="topBar" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Block-Contain-header-report")">
        <div id="reportlistheading" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div")">
            <div name="eTopMenu" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.menu-text")">$brander.getBrandElement("lms.reports.summaryReport.caption.reportList")</div>
        </div>
        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div2")">
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div3-position")"></div>
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div3")"><div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.menu-text")"><a href="#springUrl('/adm_ManageReports.do?method=browseReports')" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.sub-top-nav")"><b>$brander.getBrandElement("lms.reports.summaryReport.caption.summary")</b></a></div></div>
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div3")"><div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.menu-text")"><a href="#springUrl('/adm_ManageReports.do?method=reportFieldMenu')" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.sub-top-nav")">$brander.getBrandElement("lms.reports.summaryReport.caption.fields")</a></div></div>
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.master-div3")"><div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.menu-text")"><a href="#springUrl('/adm_ManageReports.do?method=displayReportFilters')" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.sub-top-nav")">$brander.getBrandElement("lms.reports.summaryReport.caption.filters")</a></div></div>
            <div class=""></div>
        </div>
    </div>
    <!-- TopBar End -->

    <div id="content2r"><!-- content-area -->
        <!-- left-pannel-content -->
        #parse("snippets/reportLeftMenu.vm")
        <!-- left-pannel-content-end -->

        <div id="right-pannel"><!-- right-pannel-content -->
            <!-- for center-align-div -->
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.right-pannel-report")">

            <!-- form for logo container -->
            <form name="frmLogoContainer" action="adm_ManageReports.do" method="POST">
                <input type="hidden" name="method" value="" >
                <!-- Logo+Manage-User -->
                <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.courseLogoContainer2")">
                    <div id="e3" class="reportLogo">&nbsp;</div>
                    <div id="e4" class="reportTitleWithButtonContainer">
                        <div id="titleHolder" class="courseTitle1" >#dotPadding($!{currentReport.title},26)</div>
                        <div id="detailsHolder" class="reportDetails">$!{currentReport.description}</div>
                    </div>
                    #if($null.isNotNull($currentReport)) <div class="btn-right3" onClick="submitLogoContainer('setFavouriteReport');">#if($currentReport.favorite)<img src="brands/default/en/images/star-acti.gif" title="$brander.getBrandElement("lms.reports.summaryReport.title.favouriteRemove")" />#else<img src="brands/default/en/images/star-inacti.gif" title="$brander.getBrandElement("lms.reports.summaryReport.title.favouriteAdd")"/>#end</div>#end
                     #if($null.isNotNull($currentReport)) <div class="btn-right3"><a class="button" onclick="submitLogoContainer('selectReportForEdit');"><span class="button">Edit</span></a></div> #end
                </div>
                <!-- Logo+Manage-User-end -->
            </form>

            <!-- User-profile -->
#if($null.isNotNull($currentReport)) 
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
                <div id="e7a" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Block-Contain-header")">
                    <div id="e8" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.reports.summaryReport.caption.table1Heading")</div>
                </div>
                <!-- User-left-right-list -->
                <div id="e7b" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-inputfield-box4")">
                    <!-- s -->
                    <div id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")"><!-- using for space --></div>
                    <!-- 1 -->
                    <div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row")">
                        <div class="">$brander.getBrandElement("lms.reports.summaryReport.caption.table1Description")</div>
                    </div>
                    <!-- 2 -->
                    <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
                    <div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-btn-row")">
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><a class="button" onclick="submitLogoContainer('executeReport');"><span class="button">Execute Report</span></a></div>
                    </div>
                    <!-- 0 -->
                    <!-- space -->
                    
                    <!-- space -->
                </div>
                <!-- End-User-left-right-list -->
            </div>
#else
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
                No Reports Found
            </div>
            <!-- User-profile-end -->
#end
            <!-- space -->
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
            <!-- space -->
            
#set($lastExecutionSummary=$reportForm.getCurrentReportLastExecutionSummary())

#if($null.isNull($lastExecutionSummary))
                        <!-- No Execution Summary -->
#else
            <!-- User-profile -->
            <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
                <div id="e7a" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Block-Contain-header")">
                    <div id="e8" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2ViewResults") |<span class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft3")"> $brander.getBrandElement("lms.reports.summaryReport.caption.table2LastRunOn") $lastExecutionSummary.executionDate</span></div>
                </div>
                <!-- User-left-right-list -->
                <div id="e7b" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-inputfield-box4")">
                    <!-- s -->
                    <div id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")"><!-- using for space --></div>
                    <!-- 1 -->
                    <div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row")">
                        <div class="">$brander.getBrandElement("lms.reports.summaryReport.caption.table2Description")</div>
                    </div>
                    <!-- 2 -->
                    <div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-btn-row")">
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><img onClick="submitLogoContainer('displayReportResultsHTML');" src="brands/default/en/images/ico-html.gif" width="35" height="41" alt="" /></div>
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2a")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2HTML")</div>
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><img onClick="submitLogoContainer('displayReportResultsCSV');" src="brands/default/en/images/ico-excel.gif" width="35" height="41" alt="" /></div>
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2a")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2EXCEL")</div>
                    </div>
                    <!-- 0 -->
                    <!-- space -->
                    <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
                    <!-- space -->
                </div>
                <!-- End-User-left-right-list -->
            </div>
            <!-- User-profile-end -->
            <!-- space -->
            <div class="manager-bottom-space"> </div>
            <!-- space -->
#end
            </div><!-- for center-align-div -->

        </div><!-- right-pannel-content-end -->

    </div><!-- content-area-end -->

    <!-- footer -->
#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
    #parse("snippets/adminFooter.vm")
#else
    #parse("snippets/managerFooter.vm")
#end  
    <!-- footer-end -->
</div>

</body>
</html>
