<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/accreditation/accreditationDefaultHead.vm")
#set($currentReport=$reportForm.getCurrentReport())
   <script language="javascript" type="text/javascript">
    function toggle(obj, hiddenId){
        var ticToc=obj.getAttribute("ticToc");
        if(ticToc==1){
            obj.src="brands/default/en/images/arrow-up.gif";
            obj.setAttribute("ticToc","0");
            obj.title="Ascending";
            document.getElementById(hiddenId).value="0";
        }
        else{
            obj.src="brands/default/en/images/arrow-down.gif";
            obj.setAttribute("ticToc","1");
            obj.title="Descending";
            document.getElementById(hiddenId).value="1";
        }
    }
    
    function saveSortFields(){
        document.getElementById("action").value = "saveReportFieldsSortOrder";
        document.reportFieldsForm.submit();
    }


   function cancelSortFields(){
        document.getElementById("action").value = "cancelReportFieldsSortOrder";
        document.reportFieldsForm.submit();
   }
   

    function moveDown(obj){
        var fieldContainer=document.getElementById("fieldContainer");
        var collection=fieldContainer.getElementsByTagName("div");
        var divCollection=new Array();
        for(var i=0,j=0;i<collection.length;){
            var el=i%6;
            if(el==0){
                divCollection[j]=collection[i];
                if(divCollection[j]==obj.parentNode.parentNode.parentNode){
                    if(collection[i+6]!=null){
                        divCollection[j]=collection[i+6];
                        divCollection[j+1]=collection[i];
                    }
                    i=i+7;
                    j++;
                }
                j++;
            }
            i++;
        }
            for(var i=0;i<divCollection.length;i++){
                fieldContainer.removeChild(divCollection[i]);
            }

            for(var i=0;i<divCollection.length;i++){
                fieldContainer.appendChild(divCollection[i]);
                if(i>0){
                divCollection[i].getElementsByTagName("input")[1].value=i;
                }
            }
    }

    function moveUp(obj){
        var fieldContainer=document.getElementById("fieldContainer");
        var collection=fieldContainer.getElementsByTagName("div");
        var divCollection=new Array();

        for(var i=0,j=0;i<collection.length;){
            var el=i%6;
            if(el==0){
                divCollection[j]=collection[i];
                if(divCollection[j]==obj.parentNode.parentNode.parentNode){
                    if(collection[i-6]!=collection[0]){
                        divCollection[j]=collection[i-6];
                        divCollection[j-1]=collection[i];
                    }
                }
                j++;
            }
            i++;
        }
            for(var i=0;i<divCollection.length;i++){
                fieldContainer.removeChild(divCollection[i]);
            }

            for(var i=0;i<divCollection.length;i++){
                fieldContainer.appendChild(divCollection[i]);
                if(i>0)divCollection[i].getElementsByTagName("input")[1].value=i;
            }
    }

    function saveOrderFields(){
        document.getElementById("action").value = "saveReportFieldsOrder";
        document.reportFieldsForm.submit();
        
    }


   function cancelOrderFields(){
        document.getElementById("action").value = "cancelReportFieldsOrder";
        document.reportFieldsForm.submit();
   }

$(document).ready(function()
{

});
 </script>
  
<style type="text/css">
 .User_coll_1 {
    color: #767575;
    float: left;
    font-size: 11px;
    height: 18px;
    min-width: 4%;
    padding: 0;
    padding-left: 5;
    position: static;
    text-align: left;
    width: 40%;
}
 </style>
</head>

<body>
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0">
        <!-- Header Row -->
		<tr>
            <td id="header" colspan="2">
                #parse("snippets/accreditation/accreditationReportHeader.vm")
                <!-- header-end -->
			</td>
		</tr>
		<!-- TopBar Start -->
		<tr id="row-tabs">
            <td id="blank-tab">
                &nbsp;
            </td>
            <td id="tabs" align="center">
                <table id="table-tabs" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
    						<a href="#springUrl('/acc_ManageReports.do?method=browseReports')">$brander.getBrandElement("lms.reports.summaryReport.caption.summary")</a>
    					</td>
                        <td class='selected'>
    						<a href="#springUrl('/acc_ManageReports.do?method=reportFieldMenu')"> $brander.getBrandElement("lms.reports.summaryReport.caption.fields")</a>
    					</td>
                        <td id='last'>
    						<a href="#springUrl('/acc_ManageReports.do?method=displayReportFilters')"> $brander.getBrandElement("lms.reports.summaryReport.caption.filters")</a>
    					</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- TopBar End -->
		
		<!-- Page -->
        <tr id="main">
			<!-- Page Sidebar -->
			<td id="left-navigation" valign="top">    
				<div id="sidebar-scroller" style="overflow-x: hidden;">
                    #parse("snippets/reportLeftMenu.vm")
                </div>
				
			</td>
			
			<!-- Page Content -->
			
       <td id="content">
				
        <form name="reportFieldsForm" action="#springUrl('/acc_ManageReports.do')" method="POST">
        <input type="hidden" id="action" name="method" value=""/>

				<!-- Page Scrollable Area -->
				<div id="scrollable">
            <!-- for center-align-div -->
            <div class="right-pannel-report">

                #springBind("reportForm.*")
                #if($status.error)
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                    #set ($error = $brander.getBrandElement($errorCode))
                    <div class="width40pct">
                        <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                        <div class="message_box_align">$error</div>
                    </div>
                    #end
                </div>
                <!-- error-box -->
                #end

                <!-- Logo+Manage-User -->
			<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
					    <tr>
					        <!-- Page Content Icon -->
							<td id="page-icon" class="reportLogo">
					            &nbsp;
					        </td>
							<!-- Page Content Description -->
					        <td id="page-description">
					            <div id="page-heading">$brander.getBrandElement("lms.reports.summaryReport.reportFieldSorting")</div>
					            <div id="page-help">$brander.getBrandElement("lms.reports.summaryReport.reportFieldSorting.description")</div>
					        </td>
					    </tr>
					</table>				
             
                <!-- Logo+Manage-User-end -->

                <!-- User-list -->

                <div class="content-Block">
                    <div id="e12" class="Block-Contain-header">
                        <div id="e13" class="Search-Containerheaderleft" style="backgroud-color:#F9F9F9;width:90%">#dotPadding($reportForm.currentReport.title,90)</div>
                    </div>
                    <!-- 1 -->
                    <div id="fieldContainer" class="User-checkbox-box">
                        <div id="e1" class="User-checkbox-row-h" style = "background-color:#efefef;border-color:#DFDFDF !important;border-style:solid solid solid none;border-width:1px 1px 1px medium;margin:0px;">
                            <div id="e14b" class="Containerheaderleft-ico3"></div>
                            <div class="User_coll_H1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>FIELDS</B></div>
                            <div id="e14c" class="Containerheaderleft-ico3a"></div>
                            <div id="e14c" class="Containerheaderleft-ico3a"></div>
                            <div id="e14c" class="Containerheaderleft-ico3a"></div>
                        </div>

#if($reportForm.reportFieldsEdit)
#set($fieldListSize = $reportForm.reportFieldsEdit.size())
#if($fieldListSize > 0)
#set($fieldListSize = $fieldListSize - 1)
#set($valCount = 0)
#foreach($index in [0..$fieldListSize])
#set($valCount = $valCount+1)
#if($valCount % 2 == 0)
#set( $color = "#F4F4F4")
#else
#set( $color = "#FFFFFF")
#end
                        <div style ="background-color:$color;" id="e16" class="search-content-row-report">
#springBind("reportForm.reportFieldsEdit[$index].sortType")
                            <div id="e14b" class="Containerheaderleft-ico"><img #if($!{status.value}=="0") title="Ascending" ticToc="0" src="brands/default/en/images/icon_up_new.gif" #else title="Descending" ticToc="1" src="brands/default/en/images/icon_collapse_arrow_new.gif" #end onClick="toggle(this,'${status.expression}')" width="10" height="6" /></div>
                            <input type="hidden" id="${status.expression}" name="${status.expression}" value="${status.value}"/>
#springBind("reportForm.reportFieldsEdit[$index].sortOrder")
                            <div class="User_coll_1"  style="width:27px;">
                                <div id="e14b" class="arrow-transfer2"><img onClick="moveUp(this);" title="Up" src="brands/default/en/images/icon_up_new.gif" width="10" height="6" /></div>
                                <div id="e14c" class="arrow-transfer2"><img onClick="moveDown(this);" title="Down" src="brands/default/en/images/icon_collapse_arrow_new.gif" width="10" height="15" /></div>
                            </div>
                            <input type="hidden" name="${status.expression}" value="${status.value}"/>
#springBind("reportForm.reportFieldsEdit[$index].displayName")
                            <div style="" class="User_coll_1" style="text-align:left;width:300px;border-left:1px solid #CCCCCC;">&nbsp;$!{status.value}</div>
#springBind("reportForm.reportFieldsEdit[$index].id")
                            <input type="hidden" name="${status.expression}" value="$!{status.value}"/>
                        </div>
#end
#end
#end
                    </div>
                    <!-- 1 -->

                </div>


                <!-- End-User-list -->
				<div class="btn-div">
				#if(!$currentReport.systemOwned)
					<div style="float:right; margin-top:15px;">
					  <a onclick="saveSortFields();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">Save</div>
						  <div class="btn_end"></div>
					  </a>
					</div>	
				#end
					<div style="float:right; margin-top:15px;margin-right:5px;">
						<a onclick="cancelSortFields();" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">Cancel</div>
							  <div class="btn_end"></div>
						</a>
					</div>  
				</div>	
				
				<!-- bottom-space -->
				<div class="manage-bottom-space"></div>
				<!-- bottom-space -->	
            </div>
            <!-- for center-align-div -->
        </div>
        <!-- right-pannel-content-end -->
        
		</form>
    <!-- content-area-end -->
    			</td>
			</tr>
			<!-- Page END-->
			
			<!-- Page Footer-->
			<tr>				
				<td id="footer" colspan="2">
					#parse("snippets/accreditation/accreditationDefaultFooter.vm")
				</td>
			</tr>
		</table>

</body>
</html>
