## created by sourav on 23.11.08
<script>
	function setDropDown(){
	 			var drpShow=document.getElementById("show");
	 var viewType="$context.viewType";
	 var i=0;
	 for(i=0;i<drpShow.options.length;i++){
	 	if(drpShow.options(i).value==viewType){
	 		drpShow.selectedIndex=i;
	 		break;
	 	}
	 }
	}
</script>

<body onLoad="setDropDown();document.CourseForm.show.focus()">
