<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
			
<meta content="e-learning, lms, distance learning courses, learning management systems, learning companies, learning content management system, e learning solution, elearning software, elearning application, online courses, virtual knowledge, online training courses, Continuing education, CE, custom training, compliance training" name="keywords">
	<meta content="QuickStart.com offers compliance and workforce e-Learning solutions. We offer LMS platforms, content portals, and custom e-learning and targeted off-the-shelf e-course solutions." name="description">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="IE=7;FF=3;OtherUA=4" http-equiv="X-UA-Compatible">
	 
    <link type="image/x-icon" href="brands/default/en/images/favicon.ico" rel="shortcut icon">
    <link href="brands/default/en/css/lms_style.css" type="text/css" rel="stylesheet">
    <link href="brands/default/en/css/jquery.css" type="text/css" rel="stylesheet">
    <script src="javascript/jquery-1.2.6.min.js" type="text/javascript"></script>
    <!--[if IE 6]>
    <style type="text/css">
    img, div, h1, h2, h3, h4 { 
    behavior: url(brands/default/en/css/iepngfix.htc);
    }
    </style>
    <![endif]-->
    <script type="text/javascript" language="javascript">

        function doEnter(event){
            if(event==null){
                event = window.event;
            } 
            var unicode=event.which? event.which : event.keyCode;
            if (unicode == 13){
                if(document.all){//ie
                    window.event.cancelBubble = true;
                    window.event.returnValue = false;
                    search();
                }else{//firefox
                    if(event.cancelable){
                        event.preventDefault();
                    }
                    search();
                }
            }
        }

   



 
  
    </script><script type="text/javascript" language="javascript">
    var launchWindow;
   
	function launchSurvey(surveyId,courseId) {
        var url = "#springUrl("/lrn_takeSurvey.do")";
        var params = "?method=showSurveyView&surveyId="+surveyId+"&launch=0&courseId="+courseId;
        if ( launchWindow != null ) {
            launchWindow.close();
        }
        window.location=url+params;
    }
	
    /*This script helps to show the tooltip on the text element.*/
    function showToolTip(id) {
        document.getElementById(id).style.display = 'block';
    }
    function hideToolTip(id) {
        document.getElementById(id).style.display = 'none';
    }
    function changeOption() {
        document.getElementById('action').value = "changeOption";
        document.SurveyForm.submit();
    }
    $(document).ready(function(){
        
    });
</script>

<title>$brander.getBrandElement("lms.mycourses.survey.titlePage")</title> 
<script language="javascript" type="text/javascript">
    var launchWindow;
     
    /*This script helps to show the tooltip on the text element.*/
    function showToolTip(id) {
        document.getElementById(id).style.display = 'block';
    }
    function hideToolTip(id) {
        document.getElementById(id).style.display = 'none';
    }
    function changeOption() {
        document.getElementById('action').value = "changeOption";
        document.SurveyForm.submit();
    }
    $(document).ready(function(){
       
    });
</script>
</head>
<body>
    <form name="SurveyForm"  method="post" action="lrn_mySurveys.do">
    <input type="hidden" id="action" name="method" value="displaySurveys"/>
        <div id="main-container">
            <!-- header -->
            
            <!-- header-end -->
            <div id="content2a">
                <!-- -->
                <!-- content-area-start -->
                <div id="right-pannel" style="margin-left:20px">

                    <!-- Logo+Manage-User -->
                    <div class="logoContainer" id="logomainContainer">
                      <div id="logoHolder" class="courseLogoCourses">&nbsp;</div>
                      <div id="titleHolder" class="courseTitle1">$brander.getBrandElement("lms.mycourses.pendingSurveys.Heading")</div>
                      <div id="detailsHolder" class="courseDetails"  style="bottom:-33px">$brander.getBrandElement("lms.mycourses.surveyThanksPageDescriptionText")</div>
                      </div>
                    <!-- Logo+Manage-User-end -->

                    <!-- drop-down-div -->
 
		    #set( $surveyRecordFound = 0)
    		    #set( $surveyRecordCount = 0)
                    #springBind("mySurveyForm.surveyList")
                    #if($!{status.value.size()} > 0)
			#set( $surveyRecordFound = 100)
			<table id="courseDetails" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">    
                                <tr class="borderRow">
                                    <td colspan="2"><span class="headerRow">&nbsp;</span></td>
                                </tr>            
			</table>	
			#foreach ($survey in $!{status.value})
                         
			<table id="courseDetails" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">   
				#if( $surveyRecordCount % 2 != 0 )
					#set( $row-color = "borderRow" )
				#else						
					#set( $row-color = "borderRow-alt" )
				#end
				<tr class="$row-color">
				   
				    <td colspan=2  valign="top"><a class="$brander.getBrandElement("lms.mycourses.cssClass.bodycourseTitle-ul")" href="javascript:launchSurvey('$!{survey.id}','-1');" >$!{survey.name}</a></td>
				</tr>
                                #set( $surveyRecordCount = $surveyRecordCount + 1 )  
                        #end
                        </table>
                        <br/>
                     #end
			
                    #springBind("mySurveyForm.mySurveyCourseList")
                    #if($!{status.value.size()} > 0)
			#set( $surveyRecordFound = 100)
                        #foreach ($surveyCourse in $!{status.value})
                            <table id="courseDetails" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">    
                                <tr class="borderRow">
                                    <td colspan="2"><span class="headerRow">$surveyCourse.course.courseTitle</span></td>
                                </tr>
                                #set ($evenOdd = 0)
                                #foreach ($survey in $surveyCourse.surveys)
                                    #if( $evenOdd == 0 )
                                        #set( $evenOdd = 1 )	
                                        <tr class="borderRow-alt">
                                            
                                            <td colspan=2 valign="top">$!{survey.name}</td>
                                        </tr>
                                    #else
                                        #set( $evenOdd = 0 )
                                        <tr class="borderRow">
                                           
                                            <td colspan=2  valign="top"> $!{survey.name} </td>
                                        </tr>
                                    #end
                                #end
                              </table>
                              <br/>
                        #end
                    #elseif( $surveyRecordFound == 0 )
                        <table id="courseDetails" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">
                            <tbody>
                                <tr class="borderRow-alt">
                                    <td colspan="3" align="center" valign="top">You do not have any pending surveys. </td>
                                </tr>
                            </tbody>
                        </table>
                    #end
		    
                    <!-- space -->
                    <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
                    <!-- space -->
					
					            <!-- space -->
            <div class="manager-bottom-space"></div>
            <!-- space -->

            <!-- button-div -->
            <div id="e13" class="buttonContainer">
                <div class="left">
                    
                </div>
                <div class="right">
                    <a class="button"  onClick="javascript:self.close()"  tabindex="30">
                        <span class="button">&nbsp;&nbsp; Close &nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>

            <!-- space -->
            <div class="manager-bottom-space"></div>
            <!-- space -->
                </div>
                <!-- content-area-end -->
            </div>
            
        </div>
    </form>
</body>
</html>