<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/compliance/complianceHead.vm")
<head>

<script type="text/javascript" src="javascript/js_manager.js" language="javascript"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type='text/javascript' src='javascript/js_survey.js' ></script>
<script type="text/javascript" src="javascript/360js.js" language="javascript" ></script>
<script type="text/javascript" src="javascript/jquery.alphanumeric.pack.js"></script>
<script type="text/javascript" src="javascript/jquery.maskedinput-1.2.2.min.js"></script>
<script type="text/javascript" language="javascript" src="javascript/wisiwig/richtext.js" ></script>
<script type="text/javascript" language="javascript" src="javascript/wisiwig/config.js" ></script>
<script type="text/javascript" src="javascript/ui.datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="brands/default/en/css/datepicker.css"/>

<script type='text/javascript'>
    function radio_enable(){
		document.getElementById('eventStarId').style.display="block";
		document.getElementById('dateStarId').style.display="none";
        
		if (document.getElementById('abc').checked){
        	document.getElementById('recurring-date').disabled=false;
        }
        
		if (document.getElementById('xyz').checked){
			document.getElementById('recurring-date').disabled=true;
		}         
    }
        
    function clearFrom() {
    	document.getElementById('from').value = "";
    }
    
    function clearSubject() {
    	document.getElementById('field_subject').value = "";
    }
    
    function clearMessage() {
    	document.getElementById('field_message').value = "";
    }
    
    function addMessage(){
    	try{
            if (document.getElementById(rteFormName).style.display == ""){ 
                var newHTML = getXHTML(trim(document.getElementById(rteFormName).value));}
            else { 
                var newHTML = getXHTML(trim(document.getElementById(rteName).contentWindow.document.body.innerHTML));
            }
            document.getElementById("field_message").value=newHTML;
        }catch(e){
            //alert(e);
        }
    }
    
    function show1 () {
         if(document.getElementById('chk').checked==true)
    	 document.getElementById('recurring-date').disabled = false; 
    	 }
    
    function show () {
        if(document.getElementById('chk').checked==true){
    	 	document.getElementById('recurring-date').disabled = false; 
    		document.getElementById('check_date').style.display="block"; 
    		document.getElementById('check_event').style.display="none"; 
    	}
    }
    
    function showw(){
    	if(document.getElementById('chk1').checked==true){
    		document.getElementById('abcd').style.display = "none"; 
    		document.getElementById('abcd1').style.display = "none"; 
    	} else {
    	   document.getElementById('abcd').style.display = "block"; 
    	   document.getElementById('abcd1').style.display = "block"; 
    	}
    }
    
    function hide () { 
    	if(document.getElementById('event').checked==true){
    		document.getElementById('recurring-date').disabled= true; 
    		document.getElementById('check_event').style.display="block"; 
    		document.getElementById('check_date').style.display="none";
    		document.getElementById('date').value="";
    	} 
    }
    
    function showall(){
    	if(document.getElementById('recurring-date').checked==true){
        	document.getElementById('recurrence-schedule').style.display="block";
    		document.getElementById('daily').style.display="block";
    		document.getElementById('range').style.display="block"; 
    	} else {
        	document.getElementById('recurrence-schedule').style.display="none";
        	document.getElementById('daily').style.display="none";
        	document.getElementById('range').style.display="none"; 
     	}
     }
     
    function showdaily(){
		if(document.getElementById('pattern1').checked==true){
			document.getElementById('daily').style.display="block";
			document.getElementById('weekly').style.display="none";
			document.getElementById('monthly').style.display="none";
	  		document.getElementById('yearly').style.display="none"; 
  		}
    }
    
    function showweekly(){
       	if(document.getElementById('pattern2').checked==true){
    		document.getElementById('weekly').style.display="block"; 
    		document.getElementById('daily').style.display="none";
    		document.getElementById('monthly').style.display="none";  
    		document.getElementById('yearly').style.display="none"; 
    	}
    }
    
	function showmonthly(){
        if(document.getElementById('pattern3').checked==true){
            document.getElementById('weekly').style.display="none"; 
            document.getElementById('daily').style.display="none";
            document.getElementById('monthly').style.display="block";  
            document.getElementById('yearly').style.display="none"; 
        }
    }
    
    function showyearly(){
    
    	if(document.getElementById('pattern4').checked==true){
    		document.getElementById('weekly').style.display="none"; 
    		document.getElementById('daily').style.display="none";
    		document.getElementById('monthly').style.display="none";
    		document.getElementById('yearly').style.display="block"; 
    	}
    }

	 $(document).ready(function() {
       
    });


	$(document).ready(function(){
        $('#scrollable').scroll(function(){
            //$('#message_box').animate({top:$('#scrollable').scrollTop()+"px" },{queue: false, duration: 350});
        });
        $('#close_message').click(function(){
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
	});
	
    function hideStar(){
        document.getElementById('check_event').style.display="none"; 
        document.getElementById('check_date').style.display="block";
    }
</script>
</head>
<body>
    <form name="addMyAlertForm" name="addMyAlertForm" method="post" action="lrn_addMyAlert.do">
    <input type="hidden" id="action" name="method" value=""/>
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
                 <!--Header Start -->
        		 #parse("snippets/learnerNewHeader.vm")
        		 <!-- Header End -->
			</td>
		</tr>
	
         <!-- Body Start -->
        <tr id="main"> 
        	<td id="left-navigation" valign="top" style="width:195px;">
        		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
                    <tr>
						<td>
    						
                                <div id="l-menu-back">
                                    <div class="l-menu-back-text-h">$brander.getBrandElement("lms.myAlert.addAlert.caption.showingWizard")</div>
                                    <div class="l-menu-back-text-act">$brander.getBrandElement("lms.myAlert.addAlert.caption.summary")</div>
                                    <div class="l-menu-back-text">$brander.getBrandElement("lms.myAlert.addAlert.caption.confirmation")</div>
                                </div>
                           
						</td>
					</tr>
        		</table>
			</td>		
            <td id="content" >
            	<div id="scrollable">
                        <div id="error-message-box" style="display:none;">
                            <div class="error_box">
                                <div id="errors"></div>
                                <div id="close-errors" class="close_icon"></div>
                            </div>
                        </div>
                        #springBind("addMyAlertForm.*")
                        #if($status.error)
                            <div id="error-message-box">
                                <div id="message_box"><!-- error-box -->
                                    <img id="close_message" style="float:right;cursor:pointer" src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                                    #foreach($errorCode in $status.errorCodes)
                                        #set ($error = $brander.getBrandElement($errorCode))
                                        <div class="width40pct">
                                            <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                                            <div class="message_box_align">$error</div>
                                        </div>
                                    #end
                                </div>
                            </div>
                            <!-- error-box -->
                        #end
			<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
            		    <tr>
            			<td id="page-icon" class="courseLogoProfile">
            			    &nbsp;
            			</td>
            			<td id="page-description">
            			    <div id="page-heading">$brander.getBrandElement("lms.myAlert.manageAlert.caption.addAlert")</div>
            			    <div id="page-help">$brander.getBrandElement("lms.myCourses.myAlert.addAlert1.textDescription")</div>
            			</td>
            		    </tr>
            		</table>
                    <!-- Search Result Start -->

                
                    <div class="search_box_result">

                        <div class="box_header">
							<span class="box_heading">
								$brander.getBrandElement("lms.myAlert.editAlert.caption.summary")
							</span>
						</div>
                        
						
						<table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr>
                                <td width="200" height="30">
									<span class="row_text">
										$brander.getBrandElement("lms.myAlert.manageAlert.caption.alertName")
									</span>
								</td>
                                <td>
									#springBind("addMyAlertForm.alert.alertName")
                                    <div id="survey-name-required" >
                                        <div class="required_field">*</div>
                                    </div>
                                    <input type="text" class="input_text_field" id="field_name" style="width:553px;" name="$!{status.expression}" value="$!{status.value}"></input>
                                </td>
                            </tr>
                            <tr> 
                                <td> 
                                    &nbsp;
                                </td> 
                                <td> 
                                    <input type="checkbox" id="chk1" name="default" checked="true" onclick="showw(this);" style="float:left; margin-left: 15px;"/> 
                                    <div style="float:left; margin-top:3px; margin-left: 5px;">$brander.getBrandElement("lms.myAlert.editAlert.caption.defaultMessage")</div> 
                                </td> 
                            </tr> 
                            <tr>
                                <td valign="top">
                                	<div class="row_text" id="abcd1" style="margin-top:3px; display:none;">
                                		$brander.getBrandElement("lms.myAlert.editAlert.caption.message")
                                	</div>
                                </td>

                                <td>
                                <table border="0">
                                    <tr>
                                      <td width="4">
                                      	<div id="survey-name-required" >
		            						<div class="required_field">&nbsp;</div>
		            					</div>
								      </td>
                                      <td width="636">
                                       <div class="addEditPropertyLeftAdmin" id="abcd"  style='display:none;'>
                    					#springBind("addMyAlertForm.alertMessageBody")
                    					<input type="hidden" class="input_text_field" id="field_message" name="$!{status.expression}" value="$!{status.value}"></input>
                    					<script type="text/javascript" language="javascript">
                        					var strSource = "$!escapeTool.unescapeHtml($status.value)" ;
                        					initRTE(strSource, '');
                    					</script>
                				      </div>
									  </td>
                                    </tr>
                                  </table>
                                  
            					
                                  
                                </td>
                            </tr>
                        </table>

                    </div>
                        <!-- Search Result Start -->

                   <div id="resultBox" class="search_box_result" style="margin-top:20px;">
                        
						<div id="resultHeader" class="box_header">
    						#springBind("addMyAlertForm.event_date")
    						#if($!{status.value}=="event")
    							<input type="radio" id="event" class="input-trigger-radio"  checked="true" name="event_date"  value="event" style="float:left;" onclick="hide(this);"/>
    						#elseif($!{status.value}=="date")
    							<input type="radio" id="event" class="input-trigger-radio"   name="event_date"  value="event" style="float:left;" onclick="hide(this);"/>
    						#else
    							<input type="radio" id="event" class="input-trigger-radio"  checked="true" name="event_date"  value="event" style="float:left;" onclick="hide(this);"/>
    						#end
                            <div class="box_heading">
								$brander.getBrandElement("lms.myAlert.addAlert.caption.event")
							</div>
                        </div>
						
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr valign="top" >
                                <td width="200" style="padding-top:8px;">
                                    <span class="row_text">$brander.getBrandElement("lms.myAlert.addAlert.caption.event")</span>
                                </td>
                                <td style="padding-top:8px;">
									<div class="required_field" style="width: 8px;">
										<div id="check_event" class="required_field">*</div>
									</div>

                                    <select class="input_multi_select" name="selectedEventsId" >
                    					#springBind("addMyAlertForm.availableAlertEvents")
                    					#set($availableAlertEvents = $!{status.value} )
                    					#foreach($availableAlertEventObj in $availableAlertEvents)  
                    					#if($availableAlertEventObj.dbDisplayName!='Registration Date')
                    						<option value='$availableAlertEventObj.id' >$availableAlertEventObj.dbDisplayName</option>						
                    					#end
                    					#end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <span class="row_text">&nbsp;</span>
                                </td>

                                <td>
                                    #springBind("addMyAlertForm.days")
                                    <input type="text" class="input_text_field" style="margin-left:14px; width:30px; margin-right:10px; margin-top:3px;" name="$!{status.expression}" value="$!{status.value}"/>$brander.getBrandElement("lms.myAlert.addAlert.caption.days")
                                    #springBind("addMyAlertForm.before")
                                    <input type="checkbox" style="margin-left:10px;" name="$!{status.expression}" #if($!{status.value}=='true') checked #end />$brander.getBrandElement("lms.myAlert.addAlert.caption.beforeEvent")
                                    #springBind("addMyAlertForm.after")
                                    <input type="checkbox" style="margin-left:10px;" name="$!{status.expression}" #if($!{status.value}=='true') checked #end />$brander.getBrandElement("lms.myAlert.addAlert.caption.afterEvent")
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="resultBox" class="search_box_result" style="margin-top:20px;">
                        <div id="resultHeader" class="box_header">
							#springBind("addMyAlertForm.event_date")
								#if($!{status.value}=="date")
                            <input type="radio" id="chk" class="input-trigger-radio" name="event_date" value="date"  checked  style="float:left;" onclick="show(this);"/>
							 #else
							  <input type="radio" id="chk" class="input-trigger-radio" name="event_date" value="date" style="float:left;" onclick="show(this);"/>
							  #end
                            <div class="box_heading">$brander.getBrandElement("lms.myAlert.addAlert.caption.date")</div>
                        </div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr id="date-row">
                                
                                <td width="200" height="30">
                                    <span class="row_text">$brander.getBrandElement("lms.myAlert.addAlert.caption.date")</span>
                                </td>

                                <td>
                                    #springBind("addMyAlertForm.date")
									<div style="width: 8px;" class="required_field">
										 <div  id ="check_date" class="required_field" style="display:none;" >*</div>					
									</div>
                                   
                                    <input type="text" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}"  id="date" date:closeAtTop="false" date:buttonText="$brander.getBrandElement("lms.administrator.updateEntitlements.calender.tooltipStartDate")" name="$!{status.expression}" value="$!{status.value}" style="width:25%;height:15px;position:absolue;text-align: left;float: left;left: 100px;margin: 0px 0px 0px 0px;" />
                					<script type="text/javascript">
                						jQuery.noConflict();
                						jQuery("#date").datepicker({ 
                    						showOn: "both", 
                    						buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")", 
                    						buttonImageOnly: true 
                    					});
                					</script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    #springBind("addMyAlertForm.recurring")
                                    <input type="checkbox" id="recurring-date" style="float:left; margin-left: 15px;" disabled="true" onclick="showall(this);" name="$!{status.expression}" #if($!{status.value}=='true') checked #end />
                                    <div style="float:left; margin-top:3px; margin-left: 5px;">$brander.getBrandElement("lms.manager.manageAlert.editTrigger.triggerRecurring")</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="recurrence-schedule" class="search_box_result" style="margin-top:20px; margin-bottom:25px; display: none;">
                        <div id="resultHeader" class="box_header">
                            <div class="box_heading">
								$brander.getBrandElement("lms.manager.manageAlert.addTrigger.caption.recurrenceSchedule")
							</div>
                        </div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr>
                                <td>
									 #springBind("addMyAlertForm.recurrrenceSchedule")
                                    <input type="radio"  id="pattern1"  value="daily"  checked="true" style="float:left;" name="$!{status.expression}" onclick="showdaily(this);"></input>

                                    <div class="row_text" style="margin-top:3px; margin-left:8px;">Daily</div>
                                </td>
                            </tr>
                            <tr>
                                <td>								
                                    <input type="radio" id="pattern2"  value="weekly" style="float:left;" name="$!{status.expression}" onclick="showweekly(this);"></input>
                                    <div class="row_text" style="margin-top:3px; margin-left:8px;">Weekly</div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="radio"  id="pattern3"  value="monthly" style="float:left;" name="$!{status.expression}" onclick="showmonthly(this);"></input>
                                    <div class="row_text" style="margin-top:3px; margin-left:8px;">Monthly</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio"  id="pattern4"   value="yearly" style="float:left;"  name="$!{status.expression}" onclick="showyearly(this);"></input>
                                    <div class="row_text" style="margin-top:3px; margin-left:8px;">Yearly</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="daily" class="search_box_result" style="margin-bottom:25px; display:none;">

                        <div class="box_header">
							<span class="box_heading">Recurrence</span>
						</div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr>
                                <td>
									#springBind("addMyAlertForm.dailyRecurrrenceEveryWeekDay")
                                    <input type="radio" checked  name="$!{status.expression}" value="everyDay" style="float:left;"></input>
                                    <div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:10px;">Every</div>
									#springBind("addMyAlertForm.dailyRecurrrenceEveryDay")
                                    <input type="text" id="field_after" class="input_text_field" style="width:15px;"  name="$!{status.expression}" value="$!{status.value}"></input>
                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px;">day(s)</div>
                                </td>
                            </tr>
                            <tr>#springBind("addMyAlertForm.dailyRecurrrenceEveryWeekDay")
                                <td width="25%"><input type="radio" value="everyWeekDay" name="$!{status.expression}" style="float:left;"/>
                                    <div class="row_text" style="margin-top:3px; margin-left:8px;">Every Weekday</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="weekly" class="search_box_result" style="margin-bottom:25px; display:none;">

                        <div class="box_header">
							<span class="box_heading">Recurrence</span>
						</div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr>
							#springBind("addMyAlertForm.weeklyRecureEveryWeek")
                                <td><div class="row_text" style="float:left; margin-top:2px;  margin-left:-9px; margin-right:10px;">Recure Every</div><input type="text" id="field_after" class="input_text_field" style="width:15px;" name="$!{status.expression}" value="$!{status.value}" MAXLENGTH=1 onKeyPress="return numbersonly(this, event)"></input><div class="row_text" style="float:left; margin-left:-5px; margin-top:2px;">week(s) on:</div></td>
                            </tr>
                            <tr>
                                <td>
									#springBind("addMyAlertForm.weeklyRecureEveryWeekOn")
                                    <input type="checkbox" style="float:left; margin-left:5px;" name="$!{status.expression}" value="sunday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Sunday</div>
                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="monday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Monday</div>
                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="tuesday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Tuesday</div>
                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="wednesday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Wednesday</div>
                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="thursday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Thursday</div>
                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="friday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Friday</div>

                                    <input type="checkbox" style="float:left; margin-left:15px;" name="$!{status.expression}" value="saturday"/><div class="row_text" style="float: left; margin-top:4px; margin-left:-11px;">Saturday</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="monthly" class="search_box_result" style="margin-bottom:25px; display:none;">
                        <div class="box_header"><span class="box_heading">Recurrence</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">

                            <tr>
                                <td>
									#springBind("addMyAlertForm.monthlyRecurrenceTheEvery")
                                    <input type="radio"  value="day" checked #if( $status.value == "day" ) checked #end  style="float:left;" name="$!{status.expression}"></input>
                                    <div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:10px;">Day</div>
									#springBind("addMyAlertForm.monthlyRecurrenceType")
                                    <input type="text" id="field_after" class="input_text_field" style="width:15px;" name="$!{status.expression}" value="$!{status.value}"></input>
                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px; margin-right:10px;">of every</div>
									#springBind("addMyAlertForm.monthlyRecurrence")
                                    <input type="text" id="field_after" class="input_text_field" style="width:15px;" name="monthlyRecurrence" value="$!{status.value}"></input>
                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px;">month(s)</div>

                                </td>
                            </tr>
                            <tr>
                                <td>
								#springBind("addMyAlertForm.monthlyRecurrenceTheEvery")
                                    <input type="radio"  value="the" #if( $status.value == "the" ) checked #end   style="float:left;" name="$!{status.expression}"></input>
                                    <div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:10px;">The</div>
									#springBind("addMyAlertForm.theColMonthly")
                                    <select id="field_after" name="$!{status.expression}" style="float:left; width:80px; font-size:11px;"><option #if (${status.value} == "1") selected #end value="1">first</option><option    #if (${status.value} == "2") selected #end value="2">second</option><option  #if (${status.value} == "3") selected #end value="3">third</option><option #if (${status.value} == "4") selected #end value="4">fourth</option><option  #if (${status.value} == "5") selected #end value="5">last</option></select>
									#springBind("addMyAlertForm.monthlyRecurrenceTypeDescriptor")
                                    <select id="field_after"  name="$!{status.expression}"style="float:left; margin-left:8px; width:80px; font-size:11px;"><option #if (${status.value} == "7") selected #end value="7">day</option><option #if (${status.value} == "8") selected #end value="8">weekday</option><option  #if (${status.value} == "9") selected #end value="9">weekend</option><option #if (${status.value} == "0") selected #end value="0">Sunday</option><option #if (${status.value} == "1") selected #end  value="1">Monday</option><option #if (${status.value} == "2") selected #end value="2">Tuesday</option><option  #if (${status.value} == "3") selected #end value="3">Wednesday</option><option #if (${status.value} == "4") selected #end value="4">Thursday</option><option  #if (${status.value} == "5") selected #end value="5">Friday</option><option  #if (${status.value} == "6") selected #end value="6">Saturday</option></select>
                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px; margin-right:10px;">of every</div>
									#springBind("addMyAlertForm.monthlyRecurrenceMonth")
                                    <input type="text" id="field_after" class="input_text_field" style="width:15px;" name="monthlyRecurrenceMonth" value="$!{status.value}"></input>

                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px;">month(s)</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="yearly" class="search_box_result" style="margin-bottom:25px; display:none;">
                        <div class="box_header"><span class="box_heading">Recurrence</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
							<tr>
                                <td>
									#springBind("addMyAlertForm.yearlyRecurrenceTheEvery")
                                    <input type="radio" checked name="$!{status.expression}" value="every" style="float:left;"></input>
                                    <div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:10px;">Every</div>
									
									#springBind("addMyAlertForm.yearlyEveryMonthName")
                                    <select id="field_after"  style="float:left; width:80px; font-size:11px;" name="$!{status.expression}"  value="$!{status.value}"><option value="January">January</option><option value="February">February</option><option value="March">March</option><option value="April">April</option><option value="May">May</option><option value="June">June</option><option value="July">July</option><option value="August">August</option><option value="September">September</option><option value="October">October</option><option value="Novemeber">Novemeber</option><option value="December">December</option></select>
									#springBind("addMyAlertForm.yearlyEveryMonthDay")
                                    <input type="text" id="field_after" class="input_text_field" style="width:15px; margin-left:8px;" name="yearlyEveryMonthDay" value="$!{status.value}"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>
								#springBind("addMyAlertForm.yearlyRecurrenceTheEvery")
                                    <input type="radio"  name="$!{status.expression}" value="the" style="float:left;"></input>
                                    <div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:10px;">The</div>
									#springBind("addMyAlertForm.yearlyTheDayTerm")
                                    <select id="field_after"  style="float:left; width:80px; font-size:11px; margin-left:10px;" name="$!{status.expression}"  value="$!{status.value}"><option value="1">first</option><option value="2">second</option><option value="3">third</option><option value="4">fourth</option><option value="5">last</option></select>
									#springBind("addMyAlertForm.yearlyTheDayDescription")
                                    <select id="field_after"  style="float:left; margin-left:8px; width:80px; font-size:11px;" name="$!{status.expression}"  value="$!{status.value}"><option value="7">day</option><option value="8">weekday</option><option value="9">weekend</option><option value="0">Sunday</option><option value="1">Monday</option><option value="2">Tuesday</option><option value="3">Wednesday</option><option value="4">Thursday</option><option value="5">Friday</option><option value="6">Saturday</option></select>
                                    <div class="row_text" style="float:left; margin-left:-5px; margin-top:2px; margin-right:10px;">of</div>
									#springBind("addMyAlertForm.yearlyTheMonthDescription")
                                    <select id="field_after"  style="float:left; width:80px;font-size:11px;" name="$!{status.expression}"  value="$!{status.value} "><option value="January">January</option><option value="February">February</option><option value="March">March</option><option value="April">April</option><option value="May">May</option><option value="June">June</option><option value="July">July</option><option value="August">August</option><option value="September">September</option><option value="October">October</option><option value="Novemeber">Novemeber</option><option value="December">December</option></select>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="range" class="search_box_result" style="margin-bottom:25px; display:none;">
                        <div class="box_header"><span class="box_heading">Range of Recurrence</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3">
                            <tr>
								#springBind("addMyAlertForm.rangeOfRecurrrenceStartDay")
                                <td width="29%"><span class="row_text">Start Date</span></td>
                                <td width="30%"><input type="text" readonly="readonly" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}"  id="startDate" date:closeAtTop="false" date:buttonText="$brander.getBrandElement("lms.administrator.updateEntitlements.calender.tooltipStartDate")" name="$!{status.expression}" value="$!{status.value}" class="input_text_field" /><div class="icon_calen">
								<script type="text/javascript">
									jQuery.noConflict();
									jQuery("#startDate").datepicker({ 
    									showOn: "both", 
    									buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")", 
    									buttonImageOnly: true 
    								});
								</script></div></td>
								 #springBind("addMyAlertForm.rangeRadio")
                                <td width="59%"><input type="radio" name="rangeRadio" value="0" #if(${status.value}=="0" ) checked #end  style="float:left;"/><div class="row_text" style="margin-top:3px; margin-left:0px;">No End Date</div></td>
                                <td width="0%"></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
									#springBind("addMyAlertForm.rangeRadio") 
                                <td><input type="radio"  name="rangeRadio" value="1" #if(${status.value}=="1" ) checked #end style="float:left;"/><div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:23px;">End After</div>
								  #springBind("addMyAlertForm.rangeOfRecurrrenceEndAfter")<input type="text" id="field_after" class="input_text_field" style="width:15px;"  name="$!{status.expression}" value="$!{status.value}"></input><div class="row_text" style="float:left; margin-left:-5px; margin-top:2px;">occurences</div></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
								 #springBind("addMyAlertForm.rangeRadio")
                                <td><input type="radio"  name="rangeRadio"   value="2" #if(${status.value}=="2" ) checked #end style="float:left;"/><div class="row_text" style="float:left; margin-top:3px;  margin-left:-12px; margin-right:25px;">End Date</div>
								#springBind("addMyAlertForm.rangeOfRecurrrenceEndDay")
								<input type="text" readonly="readonly" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}"  id="endDate" date:closeAtTop="false" date:buttonText="$brander.getBrandElement("lms.administrator.updateEntitlements.calender.tooltipStartDate")" name="$!{status.expression}" value="$!{status.value}" class="input_text_field" /><div class="icon_calen">
								<script type="text/javascript">
									jQuery.noConflict();
									jQuery("#endDate").datepicker({ 
    									showOn: "both", 
    									buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")", 
    									buttonImageOnly: true 
    								});
								</script></div></td>

                                <td>&nbsp;</td>
                            </tr>
<!--
                            <tr>
							#springBind("addMyAlertForm.rangeOfRecurrrenceStartTime")
                                <td><span class="row_text">Start Time</span></td>
                                <td><input type="text" id="field_start_time" class="input_text_field" style="margin-left:14px;" name="$!{status.expression}"  value="$!{status.value}"></input></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
							#springBind("addMyAlertForm.rangeOfRecurrrenceEndTime")
                                <td><span class="row_text">End Time</span></td>
                                <td><input type="text" id="field_end_time" class="input_text_field" style="margin-left:14px;" name="$!{status.expression}"  value="$!{status.value}"></input></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><span class="row_text">Duration</span></td>
									#springBind("addMyAlertForm.rangeOfRecurrrenceDuration")
                                <td><select id="field_duration" style="margin-left:14px; width:183px; font-size:11px;" name="$!{status.expression}"  value="$!{status.value} "><option value="15 minutes">15 minutes</option><option value="30 minutes">30 minutes</option><option value="1 hour">1 hour</option><option value="2 hours">2 hours</option><option value="3 hours">3 hours</option><option value="4 hours">4 hours</option></select></td>
                                <td></td>
                                <td></td>
                            </tr>
-->
                        </table>
                    </div>
                    <input type="hidden" id="currentpage" name="_page" value="0"/>
					<input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
					<div style="float:right; margin-top:15px;">
					  <a onClick="addMessage();submitButtonForm(document.addMyAlertForm,'wizardSubmitter','_target1');" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnNext")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
					
					<div style="float:left; margin-top:15px;margin-left:10px;">
						<a onClick="submitButtonForm(document.addMyAlertForm,'wizardSubmitter','_cancel');" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")</div>
							  <div class="btn_end"></div>
						</a>
					</div>
				</div>
            </td>
		</tr>
		<tr> <!-- Footer BLOCK -->
        	<td id="footer" colspan="2">
                #parse("snippets/learnerNewFooter.vm")
        	</td>
		</tr>
	</table>
	</form>
	</body>
</html>

    #springBind("addMyAlertForm.event_date")
    #if($!{status.value}=="date")
    	<script type='text/javascript'>
    		hideStar();
    	</script>
	#end 