<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Distributor, Customer & Learner Search </title>
</head>

<body  onload="document.addMyAlertForm.submit()">
<form name="addMyAlertForm" action="mgr_myAlert.do" method="POST">
<input type="hidden" name="method" value="$!{context.target}"/>
</form>
</body>
</html>
