<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$brander.getBrandElement("lms.login.footer.aboutus.caption")</title>
#parse("snippets/footerLinksHeader.vm")
</head>
<body>
        <!-- header -->
            <div id="header">
                <!-- logo -->
                <div class="$brander.getBrandElement("lms.mycourses.cssClass.wel-logo")">
                    <div id="a1" class="$brander.getBrandElement("lms.mycourses.cssClass.welcomeMessage")"></div>
                    <div id="a2" class="$brander.getBrandElement("lms.mycourses.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")"></div>
                </div>
                <!-- logo-end -->
            </div>
        <!-- header -->

        <div id="content2a" style="overflow-y:auto;width:99%;height:85%;position:relative;min-width:10px;"><!-- content-area -->

            <!-- sub-header+arrow -->
            <div  id="content3a"></div>
            <!-- sub-header+arrow-end -->

            <div id="contentFootrlink"><!-- content -->
             
                <!-- Page Description -->
 					$brander.getBrandElement("lms.branding.aboutus.templateText")               
                </div><!-- Page Description -->

            </div><!-- content -->

        </div><!-- content-area -->

        <!-- Footer Start -->
        #parse("footer.vm")
        <!-- Footer End -->

</body>
</html>
