<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
##parse("snippets/loginHead.vm")
#parse("snippets/learnerNewHead.vm")
<script type="text/javascript" language="javascript">
    document.title=document.title+"Change Password";
	
    function submitForm(){
		var currentPassword = document.getElementById("currentPassword").value;
		var newPassword = document.getElementById("newPassword").value;
		var confirmPassword = document.getElementById("confirmPassword").value;		
		
		if( currentPassword == "") {
			alert("Please provide your current password.");	
			document.changePasswordForm.currentPassword.focus();			
		}
		else if( newPassword == "" ) {
			alert("Please provide your new password.");		
			document.changePasswordForm.newPassword.focus();
		}
		else if( confirmPassword == "" ) {
			alert("Please confirm your new password.");	
			document.changePasswordForm.confirmPassword.focus();			
		}
		else if ( newPassword != confirmPassword) {
			alert("The retyped password does not match the new password.");
			document.changePasswordForm.confirmPassword.focus();
		}
		else if ( newPassword.length < 8 ) {
			alert("Your new password must be at least 8 characters long.");		
			document.changePasswordForm.newPassword.focus();
		}
		else if ( !isAlphaNumeric(newPassword) ) {
			alert("Your new password must contain alphabets and numbers.");		
			document.changePasswordForm.newPassword.focus();
		}
		else {
			document.changePasswordForm.submit();
		}		
    }
	
	function isAlphaNumeric( val ) {
		if ( /^[a-zA-Z0-9]+$/i.test(val) ) { // if Alphanumeric
			if ( /^[a-zA-Z]+$/i.test(val) ) { // if only Alpha
				return false;
			}
			else if ( /^[0-9]+$/i.test(val) ) { // if only Numeric
				return false;
			}
			return true;
		}
		return false;
	}

	
    $(document).ready(function()
    {
        $('#content2_n').scroll(function()
        {
            $('#message_box').animate({top:$('#content2_n').scrollTop()+"px" },{queue: false, duration: 350});  
        });
        $('#close_message').click(function()
        {
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
        document.changePasswordForm.currentPassword.focus();
    });
</script>
</head>
<body>
<form name="changePasswordForm" action="" method="POST"> 
    <div id="main-container">
        <!-- header -->
        <div id="header">
            <!-- logo -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
                <div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
                <div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
            </div>
            <!-- logo-end -->
            <!-- top-nav-right-menu -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
             <!-- top-nav-right-menu-end -->
        </div>
        <!-- header-end -->

        <div id="content2a" style="overflow:hidden;">
		
			<!-- error-box -->		
			#springBind("changePasswordForm.*")
			#if($status.error)			
			<div id="message_box">				
				<img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />									
				#foreach($errorCode in $status.errorCodes)
				#set ($error = $brander.getBrandElement($errorCode))
				<div class="width40pct">
					<div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
					<div class="message_box_align">$error</div>
				</div>
				#end
			</div>
			#end
			<!-- error-box -->
            
            <!-- content-area -->
            <div id="content">

                <!-- contentLogo-area -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
                    <div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/login.png" alt="" /></div>
                    <div id="b4" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
                        <div id="b5" style="margin-top: 0px;" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")">$brander.getBrandElement("lms.proctor.changePassword.caption.pageTitle")</div>
                        
                        	#set($ssn=$!{request.getSession(true)})
							#set($sDirection = $ssn.getAttribute("showThirtyDaysPassedPage"))
							#if($sDirection)
								<div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.proctor.changePassword.caption.pageNoteFor30Days")</div>	 
		                	#else
		                		<div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.proctor.changePassword.caption.pageNote")</div>	
		                	#end
		                
                        
                        
                        
                        
                    </div>
                </div>

                <!-- space -->
                <br/> <br/>
                <!-- space -->
                
				<!-- input-box -->
				<table align="center" cellpadding="5" cellspacing="0" style="border: solid #CCCCCC 1px;">
					<tr style="background-color:#F4F4F4;">
						<td colspan="3"><span style="font-weight:bold; text-transform:uppercase; ">$brander.getBrandElement("lms.learner.changePassword.caption.sectionTitle")</span></td>
					</tr>
					<tr>
						<td colspan="3"><img height="6" src="$brander.getBrandElement("lms.pixel.gif")"></td>
					</tr>
					<tr class="search-content-row">
						#springBind("changePasswordForm.currentPassword")
						<td>$brander.getBrandElement("lms.learner.changePassword.caption.currentPassword")</td>
						<td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>
						<td>
							<div class="com-star-r-t"><img #if($status.error) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else  src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #end /></div>
                            <div class="input_field_area-user-f"><input type="password" name="currentPassword" id="currentPassword" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.search_field")" style="width:300px;" maxlength="50"/></div>
						</td>
					</tr>
					<tr class="search-content-row">
						#springBind("changePasswordForm.newPassword")
						<td>$brander.getBrandElement("lms.learner.changePassword.caption.newPassword")</td>
						<td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>						
						<td>
							<div class="com-star-r-t"><img #if($status.error) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else  src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #end /></div>
                            <div class="input_field_area-user-f"><input type="password" name="newPassword" id="newPassword" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.search_field")" style="width:300px;" maxlength="50"/></div>							
						</td>
					</tr>
					<tr class="search-content-row">
						#springBind("changePasswordForm.confirmPassword")
						<td>$brander.getBrandElement("lms.learner.changePassword.caption.confirmPassword")</td>
						<td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>
						<td>
							<div class="com-star-r-t"><img #if($status.error) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else  src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #end /></div>
                            <div class="input_field_area-user-f"><input type="password" name="confirmPassword" id="confirmPassword" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.search_field")" style="width:300px;" maxlength="50"/></div>
						</td>
					</tr>
					<tr>
						<td><span class="btn-left_n" style="margin-top:4px;border:0px;padding-left:5px;"><a class="button" href="login.do"><span class="button">Cancel</span></a></span></td>						
						<td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>						
						<td><span class="btn-right_n" style="margin-top:4px;border:0px;padding-right:5px;"><a class="button" onClick="submitForm();"><span class="button">Submit</span></a></span></td>
					</tr>
				</table>
				<!-- input-box-end -->


                <!-- space -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.manager-bottom-space")"></div>
                <!-- space -->

            </div>
            <!-- content-area-end -->
        </div>
        
        <!-- There is not needed to show Mode DropDown in most left bottom on this screen LMS-13551 -->
		<div id="universal-footer">
		    <div class="$brander.getBrandElement("lms.mycourses.cssClass.link")" style="height:20px;">
		        $brander.getBrandElement("lms.login.footerLinksCopyright") - 
					#if ($brander.getBrandElement("lms.login.footer.aboutus.caption")=='') #else #set ($isfirstsmallprint=false) #end
		        <a href=$brander.getBrandElement("lms.login.footer.aboutusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.aboutus.caption")</a>
					#if ($brander.getBrandElement("lms.login.footer.contactus.caption")=='') 
						#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
					#end
		        <a href=$brander.getBrandElement("lms.login.footer.contactusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.contactus.caption")</a>
					#if ($brander.getBrandElement("lms.login.footer.termofuse.caption")=='') 
						#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
					#end
		        <a href=$brander.getBrandElement("lms.login.footer.termofuserURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.termofuse.caption")</a>
					#if ($brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")=='') 
							#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
					#end
		        <a href=$brander.getBrandElement("lms.login.footer.onlineprivacypracticesURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")</a>
		    </div>
			<div class="$brander.getBrandElement("lms.mycourses.cssClass.log")" style="width:30%;padding:3px 10px 0 0;">
				<label > $userData.getName() </label>
		            |#if($hasSwitchedAuth) <a href="switchexituser.do" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a> #else <a href="logout" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.logout")</a>
		            #end
		    </div>
		</div>
		<!-- End Footer -->
    </div>
</form>
</body>
</html>