<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts.js"> </script>
<script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.client.js"> </script>
<script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts-password-strength.js"> </script>

<script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts-tooltip.js"> </script>
<script type="text/javascript" language="javascript" src="javascript/360js.js"></script>

<link type="text/css" href="brands/default/en/css/css_search_net.css" rel="stylesheet"/>
<link type="text/css" href="brands/default/en/fonts/font.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" media="all" href="brands/default/en/css/styles.css" />
<script type="text/javascript" language="javascript" src="javascript/js_admin.js"></script>

<meta name="keywords" content="e-learning, lms, distance learning courses, learning management systems, learning companies, learning content management system, e learning solution, elearning software, elearning application, online courses, virtual knowledge, online training courses, Continuing education, CE, custom training, compliance training">
<meta name="description" content="360training.com offers compliance and workforce e-Learning solutions. We offer LMS platforms, content portals, and custom e-learning and targeted off-the-shelf e-course solutions.">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=7;FF=3;OtherUA=4" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link rel="stylesheet" type="text/css" href="brands/default/en/css/lms_style.css"/>
<link type="text/css" href="brands/default/en/css/easy-signup.css" rel="stylesheet"/>
<link rel="shortcut icon" href="brands/default/en/images/favicon.ico" type="image/x-icon">
<script type="text/javascript" src="javascript/jquery-1.2.6.min.js"></script>
<title>LMS - Learner Mode</title>
<!--[if IE 6]>
<style type="text/css">
img, div, h1, h2, h3, h4 { 
	behavior: url(brands/default/en/css/iepngfix.htc);
}
</style>
<![endif]-->

<script language="javascript" type="text/javascript">
        $(window).bind('resize', function() {
            reSize();
        });
        $(document).ready(function(){
            reSize();
        });
        function reSize(){
            $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));

            if ($(window).width()<1024) {
                $('#main-container').width(1024);
            }else {
                $('#main-container').removeAttr("style");
            }
        }
</script>

<script>
	document.title="Learner-"+"My Courses"+" "+"Login";

	function checkKey(event) {
		//alert(event.keyCode);
		if(event.keyCode==13)
		submitForm();
	}
	
	function submitForm(_frmAction) {
		//alert("submitForm is called.."+_frmAction);
		
		if(_frmAction=='New'){
			_emailAddress=document.getElementById("nUserEmailAddress").value;
			_userNameOption=document.getElementById("nUserNameOption").value;
			
			_uid=document.getElementById("nUserName").value;
			if(_userNameOption==1){
				_uid = _emailAddress;
			}

			_pwd=document.getElementById("nPassword").value;
			
			//alert(_emailAddress+"|"+_userNameOption);
			//alert(_uid+"|"+_pwd);
			
			if(_uid=="" && _pwd=="") {
                //alert("user id and password can't be empty");
                msg="&nbsp;Please type your Username & Password.";
                showError(msg);
            }
            else if(_uid=="") {
                //alert("user id can't be empty");
                msg="&nbsp;Please type your Email Address.";
                showError(msg);
            }
            else if(_pwd=="") {
                //alert("password can't be empty");
                msg="&nbsp;Please type your Password.";
                showError(msg);
            }            
			else {
				document.getElementById("_frmAction").value=_frmAction;
                submit=true;
				document.loginForm.submit();
            }
			//alert('here');
			document.getElementById("_frmAction").value=_frmAction;
			submit=true;
			document.loginForm.submit();
		}
		else if(_frmAction=='Return'){
			_uid=document.getElementById("rUsername").value;
			_pwd=document.getElementById("rPassword").value;
			
			//alert(_uid+"|"+_pwd);
			if(_uid=="" && _pwd=="") {
                //alert("user id and password can't be empty");
                msg="&nbsp;Please type your Username & Password.";
                showError(msg);
            }
            else if(_uid=="") {
                //alert("user id can't be empty");
                msg="&nbsp;Please type your Email Address.";
                showError(msg);
            }
            else if(_pwd=="") {
                //alert("password can't be empty");
                msg="&nbsp;Please type your Password.";
                showError(msg);
            }            
			else {
				document.getElementById("_frmAction").value=_frmAction;
                submit=true;
				document.loginForm.submit();
            }
			
			document.getElementById("_frmAction").value=_frmAction;
			submit=true;
			document.loginForm.submit();
		
		}
			

        }
        
     function showError(_msg) {
			//alert("showError:"+_msg);
			
/*            errorMsgContainerDIV=document.getElementById("errorMessageContainer");
            _msg = "<span style='vertical-align:top' > " +_msg+ "</span>" ;
             
            errorMsgContainerDIV.style.visibility = 'visible';
            var browser=navigator.appName;                         
            if( browser == 'Netscape')
                errorMsgContainerDIV.style.display='table-row' ; // for firefox
            else
                errorMsgContainerDIV.style.display='block' ; // for all others
                
            var imgSrc= "<img height='17px' width='16px' style='margin-right:5px;padding-right:0px'  src=\"brands/default/en/images/addLearner_06.gif\" >";
            document.getElementById("errorMessageContainer").innerHTML=imgSrc + _msg;
*/			
        }

        $(document).ready(function(){
            $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
        });



function actionUserOption(optSelect){ 
	if(optSelect == '1'){
		document.getElementById("nUserName").value='';
		document.getElementById("nUserName").disabled = true;
		document.getElementById("nUserName").className = "field-disabled";

		
	}
	else if(optSelect == '0'){
		document.getElementById("nUserName").disabled = false;
		document.getElementById("nUserName").className = "";
	}
}


</script>

</head>

<body>


#if($context.status)
	#set($status = $context.status)
#end




#if($context.newUserForm)
	#set($newUserFormData = $context.newUserForm)
#end

<form name="loginForm" autocomplete="off" action="#springUrl("/easysignup.do")" method="POST">

<input type="hidden" name="spring-security-redirect" value="/interceptor.do" />
<input type="hidden" name="_frmAction" id="_frmAction" value="" />

#foreach($courseGUID in $newUserFormData.courseList)
	<input type="hidden" value="$courseGUID" name="COURSEGUID" >
#end
	
<div id="main-container">

<!-- header -->
<div id="header" class="page_header">
<!-- logo -->
<div style="width:200px;float:left;">
<img src="brands/default/en/images/logo_360_52.gif" class="logo360" alt="No Image Selected" alt=""/>
</div>
<!-- logo-end -->
<!-- top-nav-right-menu -->
<div class="headerMenuContainer2"><!-- top-navigation --></div>
 <!-- top-nav-right-menu-end -->
</div>
<!-- header-end -->

<div id="content2a">
<!-- content-area -->
<div id="right-pannel" style="overflow-y:auto;">

<!-- contentLogo-area -->
<div id="pageDescription" class="">
#if($status.error)
	<!-- error-box -->
	<div id="message_box" style="width: 99%">
		<img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
		#foreach($errorCode in $status.errorCodes)
			#set ($error = $brander.getBrandElement($errorCode))
			<div class="width40pct">
				<div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
				<div class="message_box_align" style="font-size: 13px;">$error</div>
			</div>
		#end
	</div>
	<!-- error-box -->
#end
<div id="pageHeading" class="page_heading"></div>
<div id="descriptionId"></div>
</div>


<div class="su-content-area">
<ul>
    <li class="signup-user">
    <div class="su-head">Sign up as a new student</div>
    <div class="su-sub-head">Complete the form below, and get started now.</div>
    
        
        <ul class="sublist">
            <li>
            <label for="First Name">First Name</label><span class="esterik">*</span>
            </li>
            <li>
            <input name="nUserFirstName" id="nUserFirstName" type="text" value="$!newUserFormData.nFirstName" placeholder="Enter first name." maxlength="100">
            </li>
            <li>
            <label for="Last Name">Last Name</label><span class="esterik">*</span>
            </li>
            <li>
            <input name="nUserLastName" id="nUserLastName" type="text" value="$!newUserFormData.nLastName" placeholder="Enter last name." maxlength="100">
            </li>
            <li>
            <label for="Email address">Email Address</label><span class="esterik">*</span>
            </li>
            <li>
            <input name="nUserEmailAddress" id="nUserEmailAddress" type="text" value="" placeholder="Enter email address.">
            </li>
            <li>
            <label for="Re-enter Email">Re-enter Email</label><span class="esterik">*</span>
            </li>
            <li>
            <input name="nUserEmailAddressConfirm" id="nUserEmailAddressConfirm" type="text" value="$!newUserFormData.nEmailAddressConfirm" placeholder="Re-enter email address.">
            </li>
            <li>
            <label for="Username">Username</label><span class="esterik">*</span>
            </li>
            <li class="radio-area">
			
			
			#if($newUserFormData.nUserNameOption)
				#set ($unOption=$newUserFormData.nUserNameOption)
			#else
				#set ($unOption=1)
				#set ($newUserFormData.nUserName="")
			#end			
            <input name="nUserNameOption" id="nUserNameOption" type="radio" value="1" #if($newUserFormData.nUserNameOption==1 || ($unOption=="1")) checked #set ($newUserFormData.nUserName="") #end onclick="actionUserOption('1');" >Same as my email address.<br />
            <input name="nUserNameOption" id="nUserNameOption" type="radio" value="0" #if($newUserFormData.nUserNameOption==0) checked #end onclick="actionUserOption('0');">Create a Username:<br />
           
            <label for="newuser"></label><input name="nUserName" id="nUserName" #if($newUserFormData.nUserNameOption==1 || ($unOption=="1"))class="field-disabled" #end value="$!newUserFormData.nUserName" type="text"  #if($newUserFormData.nUserNameOption==1 || ($unOption=="1")) disabled #end  ><br />
            </li>
            <li>
            <label for="Password">Password</label><span class="esterik">*</span>
            </li>
            <li>
            <input name="nPassword" id="nPassword" type="password" value="" placeholder="Enter password." />
            </li>
            
        </ul>

			<div class="su-sub-head password-label" style="margin-top:-10px">Password must be alphanumeric and at-least 8 characters long.</div>

		
		<ul>
		<li>
            <label for="Re-enter Password">Re-enter Password</label><span class="esterik">*</span>
            </li>
			
            <li>
            <input name="nPasswordConfirm" id="nPasswordConfirm" type="password" placeholder="Re-enter password." />
            </li>
		</ul>
        <div style="clear:both;"></div>
        <div style=" float: left; margin: 20px 0 0;">
          <a href="#" onClick="submitForm('New');" style="text-decoration:none;" tabindex="3" class="login-btn" >
              <!--<div class="btn_start"></div>
                <div class="btn_end"></div>-->
            Submit

          </a>
        </div>
        <!--<input name="submit" type="submit" value="submit">-->
        



    </li>
    
    <li class="or-signup"><img src="brands/default/en/images/or-signup.jpg" width="43px" height="503px" alt="OR Signup" /></li>
    
    <li class="returning-user">
    <div class="su-head">Returning Student</div>
    <div class="su-sub-head">Login to complete your enrollment.</div>

    <ul class="returning">
    <li>
    <label for="Username">Username</label><span class="esterik">*</span><br />
    <input name="rUsername" id="rUsername" type="text" placeholder="Enter username."><br />
    <div class="su-sub-head">Hint: Your username may be your email address.</div>
    <label for="Password">Password</label><span class="esterik">*</span><br />
    <input name="rPassword" id="rPassword" type="password" placeholder="Enter password." /><br />
    <p class="need-help"><a href="#springUrl("/forgetPassword.do?method=moveToHavingTrouble")" onClick="submitForm();" style="text-decoration:none;" tabindex="3">Need Help?</a></p>
    
    <div>
      <a href="#" onClick="submitForm('Return');" style="text-decoration:none;" tabindex="3" class="login-btn">Login
         <!-- <div class="btn_start"></div>
          <div class="btn_normal">Login</div>
          <div class="btn_end"></div>-->
      </a>
    </div>

    </li>
</ul>


</div>

</form>

<!-- space -->
<div class="manager-bottom-space"></div>
<!-- space -->

</div>
<!-- content-area-end -->
</div>



</body>
</html>