<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/loginHead.vm")
<script type="text/javascript" language="javascript">
    document.title=document.title+"Forgot password";
    
    #springBind("changeUsernamePasswordForm.forgetPasswordSelectionType")
    
    function showDefaultFields(){
		var forgetType = '$!{status.value}';
		
		if(forgetType=="byUsername"){
			$('#divEmailSelection').hide();
			$('#divUsernameSelection').show();
			$('#rdoByUsername').attr('checked','checked');
		}else if(forgetType=="byEmailAddress"){
			$('#divUsernameSelection').hide();
			$('#divEmailSelection').show();
			$('#rdoByEmailAddress').attr('checked','checked');
		}else{
			$('#divEmailSelection').hide();
			$('#divUsernameSelection').show();
			$('#rdoByUsername').attr('checked','checked');
		}
		
    }
    
    function submitForm(){
        document.forgetPasswordForm.submit();
    }
	
    function showUsernameFields(){
		$('#divEmailSelection').hide();
		$('#divUsernameSelection').show();
    }
    
    function showEmailFields(){
		$('#divUsernameSelection').hide();
		$('#divEmailSelection').show();
    }
    
    
    // function use to set default value in first name and last name text field and hide the text on focus.
    $(function() {
    $("input[data-watermark]").each(function () {
        //Initially sets the value of each textbox to the contents of the watermark attribute
        $(this).val($(this).attr("data-watermark"));
        $(this).css('color','#a8a8a8');
        //When it recieves focus if it is set to the watermark, empty it
        $(this).bind('focus', function () {
            if ($(this).val() == $(this).attr("data-watermark")) $(this).val('');
            $(this).css('color','#000');
        });
        //When it loses focus, check for the watermark and handle accordingly
        $(this).bind('blur', function () {
          //It is empty
          if ($(this).val() == ''){
            //Set it to the watermark
            $(this).val($(this).attr("data-watermark"));
            $(this).css('color','#a8a8a8');
          }
          else{
            //Set the color to normal
            $(this).css('color','#000');
          }
        });
    });
  });
</script>
</head>


#set($sfUrl = $!{request.getSession(false).getAttribute("_sf_storeURL")})
#if(! $sfUrl )	
	#set( $sfUrl = "login.do") 
#end
<!-- sf_location: $!sfUrl -->


<body onload="showDefaultFields()">
<form name="forgetPasswordForm" action="" onSubmit="forgetPassword.do" method="POST" > 
	<input type="hidden" value="submitDataForPasswordRecovery" id="method" name="method">
    <div id="main-container">
        <!-- header -->
        <div id="header">
            <!-- logo -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
                <div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
                <div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
            </div>
            <!-- logo-end -->
            <!-- top-nav-right-menu -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
             <!-- top-nav-right-menu-end -->
        </div>
        <!-- header-end -->

        <div id="content2a" style="overflow:hidden;">
            
            <!-- content-area -->
            <div id="content">

                <!-- contentLogo-area -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
                    
                    <div id="b4" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
                        <div id="b5" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")"></div>
                        <div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")"></div>
                    </div>
                </div>

			#if($context.status)
                #set($status = $context.status)
            #end
            #if($status.error)
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                        #set ($error = $brander.getBrandElement($errorCode))
                        <div class="width40pct">
                            <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                            <div class="message_box_align" style="font-size: 13px;">$error</div>
                        </div>
                    #end
                </div>
                <!-- error-box -->
            #end
                <!-- space -->
                <br/> <br/>
                <!-- space -->
                
                    <!-- login-box -->
                    <table align="center" cellpadding="5" cellspacing="0" style="border: solid #CCCCCC 1px;width:415px;">
                        <tr style="background-color:#F4F4F4;">
                        	<td colspan="3" height="25px">
                        		<span style="font-weight:bold; font-size:16px;">
                        			$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.forgetPassword.heading")
                        		</span>
                        	</td>
                        </tr>
                        <tr>
                        	<td colspan="3" height="5px"><img height="6" src="$brander.getBrandElement("lms.pixel.gif")"></td>
                        </tr>
                        <tr>
                        	<td colspan="3" height="15px">
                        		<b>
									<div id="usernameDivLabel" style="margin-left:3px;display:block;font-size:13px;">
											$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.forgotYourPassword.SelectRecoveryMethodText"):
											<img style="background-color: #66FF00" src="brands/default/en/images/Learner_06.gif">
									</div>
								</b>
						<tr><td colspan="3" height="155px"  valign="top">
					
						
						
<table width="400" border="0">
<!-- ------------------------------------ -->
<!-- Start-  Username check box selection -->
<!-- ------------------------------------ -->
  <tr>
    <td valign="middle" align="right" width="50">
    	<input type="radio" id="rdoByUsername" name="forgetPasswordSelectionType" value="byUsername" onClick="showUsernameFields()" />
    </td>
    <td style="font-size:14px;">
    	$brander.getBrandElement("lms.login.caption.forgetPassword.username")
	</td>
  </tr>

  <tr>
    <td height="30">&nbsp;</td>
    <td align="left" valign="top">
    	<div id="divUsernameSelection">
			<input tabindex="1" type="text" name="username" size="45"/>
		</div>
	</td>
   </tr>
<!-- ------------------------------------ -->	
<!-- End  -  Username check box selection -->
<!-- ------------------------------------ -->  


<!-- ------------------------------------ -->
<!-- Start-  Password check box selection -->
<!-- ------------------------------------ -->
  <tr>
    <td valign="middle" align="right">
    	<input type="radio" id="rdoByEmailAddress" name="forgetPasswordSelectionType"  value="byEmailAddress" onClick="showEmailFields()" />
	</td>
    <td style="font-size:14px;">$brander.getBrandElement("lms.login.caption.forgetPassword.email")<br /></td>
  </tr>
  <tr>
    <td></td>
    <td>

		<div id="divEmailSelection" style="font-size:13px;">
			#springBind("changeUsernamePasswordForm.email")
			<input tabindex="1" type="text" name="email" size="46" value="$!{status.value}" />
			<br /><br />
			<b>$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.forgetUsername.enterNameOfAccount"):</b>
				<img style="background-color: #66FF00" src="brands/default/en/images/Learner_06.gif"><br />
			
			<div style="margin-top:6px;">
				#springBind("changeUsernamePasswordForm.firstName")
				<input type="text" id="firstName" name="firstName" data-watermark='First Name' value="$!{status.value}" />
				#springBind("changeUsernamePasswordForm.lastName")
				<input type="text" id="lastName" name="lastName"  data-watermark='Last Name' value="$!{status.value}"/>
			</div>
		</div>

	</td>
  </tr>
<!-- ------------------------------------ -->
<!-- End  -  Username check box selection -->
<!-- ------------------------------------ -->
</table>
					
					
					
						</td></tr>
                       
                        <tr>
                            <td height="20px">
								<div class="login_text_in2aa" style="text-decoration:none">
									<a class="button" onClick="javascript:location.href='$sfUrl';"><span class="button">Cancel</span></a>
								</div>
							</td>
                            <td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>
                            <td align="right"><span class="btn-right_n" style="margin-top:4px;border:0px;margin-right:15px; ">
                                <a class="button" onClick="submitForm();"><span class="button">Submit</span></a>
                            </span></td>
                        </tr>
                    </table>


                <!-- space -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.manager-bottom-space")"></div>
                <!-- space -->

            </div>
            <!-- content-area-end -->
        </div>
        #parse("footer.vm")
    </div>
</form>
</body>
</html>
