<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/loginHead.vm")
<script type="text/javascript" language="javascript">
    document.title=document.title+"Forgot password";
   
    function submitForm(){
    	if(($('#rdoForgetPassword').is(':checked'))){
    		$("#forgetTypeSelection").val("password");
    	}else if(($('#rdoForgetUsername').is(':checked'))){
    		$("#forgetTypeSelection").val("username");
    	}else{
    		$("#forgetTypeSelection").val("");
    	}
    			
    	document.forgetPasswdForm.action="forgetPassword.do";
        document.forgetPasswdForm.submit();
    }
	
    $(document).ready(function()
    {
        $('#content2_n').scroll(function()
        {
            $('#message_box').animate({top:$('#content2_n').scrollTop()+"px" },{queue: false, duration: 350});  
        });
		
        $('#close_message').click(function()
        {
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
		
	
        
    });
</script>
</head>


#set($sfUrl = $!{request.getSession(false).getAttribute("_sf_storeURL")})
#if(! $sfUrl )	
	#set( $sfUrl = "login.do") 
#end
<!-- sf_location: $!sfUrl -->


<body>
<form name="forgetPasswdForm" action="" onSubmit="submitForm();" method="POST"> 
	<input type="hidden" value="" id="forgetTypeSelection" name="forgetTypeSelection">
	<input type="hidden" value="submitForgetOptionSelection" id="method" name="method">
	
    <div id="main-container">
        <!-- header -->
        <div id="header">
            <!-- logo -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
                <div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
                <div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
            </div>
            <!-- logo-end -->
            <!-- top-nav-right-menu -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
             <!-- top-nav-right-menu-end -->
        </div>
        <!-- header-end -->

        <div id="content2a" style="overflow:hidden;">

            <!-- content-area -->
            <div id="content">

                <!-- contentLogo-area -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
                    <div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"></div>
                    <div id="b4" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
                        <div id="b5" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")">$brander.getBrandElement("lms.learner.SelfRegistrationlogin.caption.Welcome")</div>
                        <div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.learner.SelfRegistrationlogin.caption.subtitle1")</div>
                    </div>
                </div>

            #if($context.status)
                #set($status = $context.status)
            #end
            #if($status.error)
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                        #set ($error = $brander.getBrandElement($errorCode))
                        <div class="width40pct">
                            <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                            <div class="message_box_align" style="font-size: 13px;">$error</div>
                        </div>
                    #end
                </div>
                <!-- error-box -->
            #end
            
                <!-- space -->
                <br/> <br/>
                <!-- space -->
                
                    <!-- login-box -->
                    <table align="center" cellpadding="5" cellspacing="0" style="border: solid #CCCCCC 1px;height:175px;width:375px;">
                        <tr style="background-color:#F4F4F4;"><td colspan="3"><span style="font-weight:bold; font-size:16px;">$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.heading")</span></td></tr>
                        <tr><td colspan="3"><img height="6" src="$brander.getBrandElement("lms.pixel.gif")"></td></tr>
                        <tr><td colspan="3">
                        
                        </td></tr>
						
						<tr><td colspan="3" style="font-size:14px;">
								
								<input type="radio" id="rdoForgetPassword" name="rdoForgetTypeSelection" style="margin-left:90px;" value="password"  />
										$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.doNotKnowPassword")
						
						<br /><br /><br />
						
								<input type="radio" id="rdoForgetUsername" name="rdoForgetTypeSelection" style="margin-left:90px;" value="username" />
										$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.doNotKnowUsername")
						
						</td></tr>


						<tr><td colspan="3">&nbsp;</td></tr>
						
                       
                        <tr>
                            <td>
								<div class="login_text_in2aa" style="text-decoration:none">
									<a class="button" onClick="javascript:location.href='$sfUrl';"><span class="button">Cancel</span></a>
								</div>
							</td>
                            <td><img width="15" src="$brander.getBrandElement("lms.pixel.gif")"></td>
                            <td align="right"><span class="btn-right_n" style="margin-top:4px;margin-right:15px; border:0px ">
                                <a class="button" onClick="submitForm();"><span class="button">Continue</span></a>
                            </span></td>
                        </tr>
                    </table>


                <!-- space -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.manager-bottom-space")"></div>
                <!-- space -->

            </div>
            <!-- content-area-end -->
        </div>
        #parse("footer.vm")
    </div>
</form>
</body>
</html>
