<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
#parse("snippets/learnerHead.vm")

<body  onload="opener.location.reload(); window.close()">
<script type="text/javascript">

document.title="Close";

function FormSubmit(buttonclick) {
alert(buttonclick);
document.getElementById('action').value=buttonclick;
document.manageform.submit();
}
</script>
<form name="manageform" action="" method="POST"> 
<div><input type="button" id="cancel" value="continue"  onclick="opener.location.reload(); window.close()" /></div>
</form>
</body>
</html>
