$!{aaa}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/loginHead.vm")


#set($sfUrl = $!{request.getSession(false).getAttribute("_sf_storeURL")})
#if(! $sfUrl )	
	#set( $sfUrl = "login.do") 
#end
<!-- sf_location: $!sfUrl -->

<script type="text/javascript" language="javascript">
	function submitForm(){
    
    	document.forgetPasswdForm.action="forgetPassword.do";
        document.forgetPasswdForm.submit();
    }
</script>    
</head>
<body>
<form name="forgetPasswdForm" action="" onSubmit="submitForm();" method="POST"> 
 
	<input type="hidden" value="username" id="forgetTypeSelection" name="forgetTypeSelection">
	<input type="hidden" value="submitForgetOptionSelection" id="method" name="method">
	
    <div id="main-container">
        <!-- header -->
        <div id="header">
            <!-- logo -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
                <div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
                <div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
            </div>
            <!-- logo-end -->
            <!-- top-nav-right-menu -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
             <!-- top-nav-right-menu-end -->
        </div>
        <!-- header-end -->

        <div id="content2a" >
           
            <!-- content-area -->
            <div id="content">

                <!-- contentLogo-area -->
                <div style="margin-top:30px;">
                    <div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/login.png" alt="" /></div>
                    <div id="b4" style="margin-left:30px;" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
                        <div id="b5" style="font-size: 17px;">
							$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.forgotYourPassword.InCorrectPasswordPageText1")<br /><br />
							<a href="javascript:submitForm();" style="text-decoration: none; font-size: 16px; color: #0000FF;">Try again</a> 
							$brander.getBrandElement("lms.forgetPassword.HavingTroubleSigningIn.forgotYourPassword.InCorrectPasswordPageText2")
						</div>
                        <div id="b6" style="margin-top:30px;">
                        	<a class="button" onClick="javascript:location.href='$sfUrl';"><span class="button">Back to Login</span></a>
                        </div>
                    </div>
                </div>

                <!-- space -->
                <br/> <br/>
                <!-- space -->
                
                  

                <!-- space -->
                <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.manager-bottom-space")"></div>
                <!-- space -->

            </div>
            <!-- content-area-end -->
        </div>
        #parse("footer.vm")
    </div>
</form>
</body>
</html>
