##----------------------------------------------------------------------------
## Author Dyutiman
##---------------------------------------------------------------------------- 
<html>

## this must be inclouded on every page for all head items
	<script>
		document.location="mgr_manageSecurityRoles.do";
	</script>
	<body>

	</body>
</html>