<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

#springBind("approvalForm.courseApproval.active")
#set($IsActiveCourseApproval = $status.value)
 
        #parse("snippets/accreditation/accreditationDefaultHead.vm")

        <script type="text/javascript" language="javascript" src="javascript/360js.js" ></script>
        <script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $('#frame_body').height($(window).height() - ($('#frame_header').height()+$('#footer').height()+$('#tabBar').height()));
                if ($('#right-pannel').height()<$('#frame_body').height()) {
                    $('#right-pannel').height($('#frame_body').height());
                }            
                $('#sideBar').height($('#right-pannel').height());
            });

            function changeRowColor(checkbox, id) {
                var tr=checkbox.parentNode.parentNode;
                var tdarr=$(tr).find("td");
                if (checkbox.checked) {
                    for(i=0;i<tdarr.size();i++){
                        tdarr[i].style.background="#E9F9FE";
                    }
                } else {
                    for(i=0;i<tdarr.size();i++){
                        tdarr[i].removeAttribute("style");
                    }
                }
            }

            function selectAllCheckBoxes(countCheckBoxes, entNumber) {
                var objCheckAll=document.getElementById("chkAll"+entNumber);
                if (objCheckAll.checked) {
                    for(var i = 0; i < countCheckBoxes; i++){
                        var chkid = "chk" + entNumber +  i;
                        var objCheckBox=document.getElementById("chk"+entNumber+i);
                        objCheckBox.checked = true;
                        changeRowColor(objCheckBox, chkid);
                    }
                }else{
                    for(var i = 0; i < countCheckBoxes; i++){
                        var chkid = "chk" + entNumber +  i ;
                        var objCheckBox=document.getElementById("chk"+entNumber+i);
                        objCheckBox.checked = false;
                        changeRowColor(objCheckBox, chkid);
                    }
                }
            }

            function confirm(message, callback) {
                $('#deleteConfirmation').modal({
                    close:false,
                    position: ["40%",],
                    overlayId:'confirmModalOverlay',
                    containerId:'confirmModalContainer', 
                    onShow: function (dialog) {
                        dialog.data.find('.alert_message_box_text').append(message);

                        // if the user clicks "yes"
                        dialog.data.find('.yes').click(function () {
                            // call the callback
                            if (jQuery.isFunction(callback)) {
                                callback.apply();
                            }
                            // close the dialog
                            jQuery.modal.close();
                        });
                    }
                });
            }

            function deleteRequirement(){
                if ($("INPUT[type='checkbox'][name='requirement']:checked").length>0) {
                    confirm("Are you sure you want to delete requirement(s)?", function () {
                        document.getElementById('actionmethod').value='deleteCourseRequirement';
                        document.manageApprovalForm.submit();
                    });
                }else {                
                    $('#messageAlert').modal({overlayId:'confirmModalOverlay',containerId:'confirmModalContainer',close:false,position: ["40%",]});
                }
            }

        </script>
    </head>
    <body>
        <form name="manageApprovalForm" method="post" action="acc_manageApproval.do">
            <input type="hidden" id="actionmethod" name="method" value=""/>
            <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
                <tr> <!-- First Block -->
                    <td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
                        <!--Header Start -->
                        #parse("snippets/accreditation/accreditationDefaultHeader.vm")
                        <!-- Header End -->
                    </td></tr>

                <td id="row-tabs" class="tab_bar" colspan="2">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td width="192"><div class="tab_blank"></div></td>
                                <td width="15px">&nbsp;</td>
                                <td width="750">
                                    <a onClick="javascript:window.location='acc_manageApproval.do?method=showCourseApprovalSummary';"><div class="tab" >$brander.getBrandElement("lms.accraditation.editApproval.caption.Summary")</div></a>

                                    <!-- <a onClick="javascript:window.location='acc_manageApproval.do?method=showApprovalRegulatorCategories';"><div class="tab" style="width:150px;">$brander.getBrandElement("lms.accraditation.editApproval.caption.RegulatorCategories")</div></a> -->
                                    <a href="#"><div class="tab_selected" >$brander.getBrandElement("lms.accraditation.editApproval.caption.Requirements")</div></a>
                                    <a onClick="javascript:window.location='acc_manageApproval.do?method=showCourseApprovalDocuments';"><div class="tab" >$brander.getBrandElement("lms.accraditation.editApproval.caption.Documents")</div></a>
                                    <a onClick="javascript:window.location='acc_manageApproval.do?method=showCourseApprovalCustomField';"><div class="tab" style="border-right-style:solid;">$brander.getBrandElement("lms.accraditation.editApproval.caption.Custom-Fields")</div></a>
                                    <a onClick="javascript:window.location='acc_manageApproval.do?method=showCourseApprovalPurchasedCertificate';"><div class="tab"  style="width:190px;border-right-style:solid;">$brander.getBrandElement("lms.accraditation.editApproval.caption.PurchasedCertificate")</div></a>
                                </td>
                                <td width="15px">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>	 

                <!-- Tabs End -->

                <!-- Body Start -->
                <tr id="main"> <!-- SECOND BLOCK -->
                    <td id="left-navigation" valign="top">
                        <table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
		#parse("snippets/accreditation/sidebar_approval.vm")
                        </table></td>


                    <TD id="content" >
                        <div id="scrollable">
                            <!-- Alert Message Box -->
                            <div id="messageAlert" style="display:none">
                                <div class="header">&nbsp;&nbsp;$brander.getBrandElement("lms.accreditation.caption.Warning")</div>
                                <div class="alert_message_box_icon"></div>
                                <div class="alert_message_box_text">$brander.getBrandElement("lms.accreditation.caption.Please-select-0ne")</div>
                                <br style="clear:both" />
                                <div class='buttons'>
                                    <div class='no simplemodal-close'>
                                        <div style="float: left; margin-top: 2px; margin-right: 0px;margin-left:45px;">
                                            <div>
                                                <a  onclick="">
                                                    <div class="btn_start"></div>
                                                    <div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.OK")</div>
                                                    <div class="btn_end"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Alert Message Box - Ends -->

                            <!-- Delete Message Box -->
                            <div id='deleteConfirmation' style='display:none'>
                                <div class='header'><span>$brander.getBrandElement("lms.accreditation.caption.Please-Confirm")</span></div>
                                <div class="alert_message_box_icon"></div>
                                <div class="alert_message_box_text"></div>
                                <br style="clear:both" />

                                <div class='buttons'>
                                    <div class='simplemodal-close' style="width:220px">
                                        <div style="float: center; margin-top: 3px; margin-left: 20px;">
                                            <div>
                                                <a onClick=""><span class="no button">
                                                        <div class="btn_start"></div>
                                                        <div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.Cancel")</div>
                                                        <div class="btn_end"></div>
                                                    </span></a>
                                            </div>
                                        </div>

                                        <div style="float: center; margin-top: 0px; margin-left: 20px;">
                                            <div>
                                                <a class="" onClick=""><span class="yes button">
                                                        <div class="btn_start"></div>
                                                        <div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.OK")</div>
                                                        <div class="btn_end"></div>
                                                    </span>	</a>
                                            </div>
                                        </div>							   
                                    </div>
                                </div>
                            </div>				
                            <!-- Delete Message Box - end-->			

                            <!-- Page Description -->
                            <table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
                                <tr>
                                    <td id="page-icon" class="icon_approvals">
                                        &nbsp;
                                    </td>
                                    <td id="page-description">
                                        <div id="page-heading">$brander.getBrandElement("lms.accraditation.editApproval.caption.summary.title")</div>
                                        <div id="page-help">$brander.getBrandElement("lms.accraditation.editCourseApproval.caption.summary.subTitle")</div>
                                    </td>
                                </tr>
                            </table>

                            #if($IsActiveCourseApproval == true)
                            <div style="height:23px; margin-left:15px;">
                                <div class="control-button-position">
                                    #springBind("approvalForm.appId")
                                    <a onClick="javascript:window.location='acc_addApprovalRequirement.do?approvalId=$!{status.value}&entity=Course';" >
                                        <div class="btn_start"></div>
                                        <div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'">$brander.getBrandElement("lms.accraditation.editApproval.caption.AddRequirement")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>
                                <div class="control-button-position">
                                    <a onClick="deleteRequirement();">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'" >$brander.getBrandElement("lms.accraditation.editApproval.caption.DeleteRequirement")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>
                            </div>
                            #end
                        </br><br>
                        #springBind("approvalForm.approvalCredential")
                        #if($!{status.value.size()} > 0)
                        #set($credNumber = 0)
                        #foreach($appCredential in $!{status.value})
                        <!-- Search Result Start -->
                        <div id="resultBox" class="search_box_result">
                            <!-- Result Header Start -->
                            <div id="resultHeader" class="box_header">
                                <!-- Result Heading -->
                                <div style="float:left; height:23px;">
                                    <div style="margin-top:3px; margin-left:4px; font-size:13px;text-transform:uppercase;"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Credential") $!{appCredential.credential.officialLicenseName} $brander.getBrandElement("lms.accraditation.editApproval.caption.Requirements")</b></div>
                                </div>
                            </div>
                            <!-- Result Header End -->
                            #set($totCount = $!{appCredential.requirements.size()})
                            <!-- Result Subheader Start -->
                            <div id="searchResult_1">
                                <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:1px;">
                                    <tr bgcolor="#efefef">
                                        <td class="check_box_top" width="17px"><input id="chkAll$credNumber" type="checkbox" name="chkAll$credNumber" onClick="selectAllCheckBoxes($totCount, $credNumber);"/></td>
                                        <td class="box_subheader" style="border-right:none;">&nbsp; $brander.getBrandElement("lms.accraditation.editApproval.caption.Name")</td>
                                    </tr>
                                    #set($reqNumber = 0)
                                    #foreach($requirement in $!{appCredential.requirements})
                                    #if($velocityCount%2 == 0)
                                    #set($alternate="row_req2")
                                    #else
                                    #set($alternate="row_req")
                                    #end
                                    <tr>
                                        <td class="$alternate" width="17px">
                                            <input type="checkbox" id="chk$credNumber$reqNumber" name="requirement" value="$!{requirement.requirement.id}" onclick="changeRowColor(this,this.id);"/>
                                        </td>
                                        <td class="$alternate" style="border-right:none;">$!{requirement.requirement.name}</td>
                                    </tr>
                                    #set($reqNumber = $reqNumber + 1)
                                    #end
                                </table>
                            </div>
                            <!-- Result Subheader End -->
                        </div>
                        <!-- Search Result End -->
                        #set($credNumber = $credNumber + 1)
                        #end
                        #end
                </div>
            </td></tr>
        <!-- Body End -->
        <tr> <!-- Footer BLOCK -->
            <td id="footer" colspan="2">
                <!-- Footer Start -->
                #parse("snippets/managerFooter.vm")
                <!-- Footer End -->
            </td></tr>
    </table>
</form>
</body>
</html>