
<div id="e13" class="search-content-row2" style = "clear:both">
	<div class="User_coll_1"></div>
	<div class="">
		<textarea id="" name="${prefix}.answerText" rows="" cols="" class="inputfield-box-L2-in-a" disabled> $!{question.answerText}</textarea>
	</div>
</div>