
#set($choiceCount = ${question.personalInfoItems.size()})
#if($choiceCount > 0)
	#set($maxChoiceIndex = $choiceCount - 1)
    <table>
        #foreach($index in [0..$maxChoiceIndex])
            #set($answerItem = ${question.personalInfoItems.get($index)})
            <tr class="schedule-1">
                <td width="20">&nbsp;</td>
                <td width="20">&nbsp;</td>
                <td width="100">
                    $answerItem.availablePersonalInformationfieldRef.availablePersonalInformationfieldItem.displayName
                </td>
                <td width="700">
                    <input type="text" style="width: 30%;border:1px solid #dddddd;" id="${prefix}.personalInfoItems[$index]" name="${prefix}.personalInfoItems[$index].answerText" value="$!{question.personalInfoItems.get($index).answerText}" />
                </td>
            </tr>
        #end
    </table>
#end
