<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
         #parse("snippets/accreditation/accreditationDefaultHead.vm")
        <script>
            document.title="$brander.getBrandElement("lms.sendEmail.pagetitle")";

            $(document).ready(function(){
                $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
                if ($('#right-pannel').height()<$('#content2a').height()) {
                    $('#right-pannel').height($('#content2a').height());
                }
                $('#sideBar').height($('#right-pannel').height());

            });
        </script>
<script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>   
<script type="text/javascript" language="javascript" src="javascript/360js.js" ></script>
    </head>

    <body>
            <div id="main-container">
                <!-- header -->
                #parse("snippets/accreditation/accreditationWizardHeader.vm")
                <!-- header-end -->
                <div id="content2a">
                    <!-- content-area -->
                    <!-- sub-header+arrow -->
                    <!-- -->
                    <!-- sub-header+arrow-end -->
                    <!-- left-pannel-content -->
                    <!-- <div id="left-pannel"> -->
                        <!-- left-menu-content -->
                        <!-- Side Bar Start -->
            <div id="sideBar" class="side_bar">
                <div id="l-menu-back">
                    <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.lmenuHeader")<br>showing 4 of 4</div>
                    <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Select-Custom-Field")</div>
                    <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Summary")</div>
                    <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Confirmation")</div>
					<div class="l-menu-back-text-act">4. Sucessful</div>
                </div>
            </div>
            <!-- Side Bar End -->
                        <!-- left-menu-content-end -->
                    <!-- </div> -->
		            <!-- left-pannel-content-end -->
                    <!-- right-pannel-content -->
                    <div id="right-pannel">
                        <!-- space -->
                        <div class="$brander.getBrandElement("lms.mailConfirmation.cssClass.manager-bottom-space")"></div>
                        <!-- space -->
                        <!-- Review-&-Confirm -->
                        <div class="$brander.getBrandElement("lms.mailConfirmation.cssClass.content-Block")">
                            <div align="center"><img src="brands/default/en/images/massage-4.gif" width="505" height="100" alt="" /></div>
                        </div>
                        <!-- Review-&-Confirm-end -->
                        <!-- space -->
                        <div class="$brander.getBrandElement("lms.mailConfirmation.cssClass.manager-bottom-space")"></div>
                        <!-- space -->
                        <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")" style="float:right;padding-right:10%;">
                            <div class="btn-right1">
                                 <a class="button" onClick="location.href='adm_manageCustomField.do?method=showCustomField';"><span class="button">OK</span></a>
                            </div>
                        </div>

                    <!-- space -->
                    <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
                    <!-- space -->

                    <!-- right-pannel-content-end -->
                </div>
                <!-- content2-area-end -->
                </div>
                <!-- footer -->
                ## this must be included on every page for all analytics
                #parse("snippets/adminFooter.vm")
                <!-- footer-end -->
            </div>
    </body>
</html>