<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Redirecting to the Survey </title>
</head>

<body onload="document.manageform.submit()">
#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
	#set($action = 'adm_learnerEnrollments.do')
#else	
	#set($action = 'mgr_learnerEnrollments.do')
#end
<form name="manageform" action="${action}" method="POST"> 
<input type="hidden" name="method" value="showSearchLearnerPage"/>
</form>
</body>
</html>