<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    #parse("snippets/learnerNewHead.vm") 
    <script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
    <script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
    <script type="text/javascript" language="javascript">

        function confirm(message, callback) {
                $('#deleteConfirmation').modal({
                    close:false,
                    position: ["40%",],
                    overlayId:'confirmModalOverlay',
                    containerId:'confirmModalContainer', 
                    onShow: function (dialog) {
                        dialog.data.find('.alert_message_box_text').append(message);

                        // if the user clicks "yes"
                        dialog.data.find('.yes').click(function () {
                            // call the callback
                            if (jQuery.isFunction(callback)) {
                                callback.apply();
                            }
                            // close the dialog
                            jQuery.modal.close();
                        });
                    }
                });
            }
        function FormSubmit(buttonclick) {
            var boolChecked=0;
            var objCheckBoxes = document.getElementsByName("chk");
            var countCheckBoxes = objCheckBoxes.length;
            for(var i = 0; i < countCheckBoxes; i++){
            if(objCheckBoxes[i].checked){
            boolChecked=1;
            break;
            }
            }
            if(boolChecked==0){
            alert("Please check one");
            }else{
            document.getElementById('action').value=buttonclick;
            document.viewEnrollmentForm.submit();
            }
        }

        function openPopup(popupName,id) {
            var boolChecked=0;
            var swappedID;
            var objCheckBoxes = document.getElementsByName("chk");
            var countCheckBoxes = objCheckBoxes.length;
            //alert(countCheckBoxes);
            for(var i = 0; i < countCheckBoxes; i++){
            if(objCheckBoxes[i].checked){
            boolChecked=1;
            break;
            }
            }
            if(boolChecked==0){
            alert("Please check one");
            }else{
            if(popupName=='extend'){
            }
            else if(popupName=='swap'){
            var j=0;
            for(var i = 0; i < countCheckBoxes; i++){
            if(objCheckBoxes[i].checked){
            swappedID=objCheckBoxes[i].value;
            j++;
            }
            }
            if(j>1){
            alert("Please check one");
            }else{
            #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
				#set($action = 'adm_learnerEnrollments.do')
			#else	
				#set($action = 'mgr_learnerEnrollments.do')
			#end
            window.location.href="${action}?Id=$!{context.userId}&swappedId="+swappedID;
            }
            }
            }
        }

       
        function changeRowColor(checkbox) {
        var tr=checkbox.parentNode.parentNode;
        var tdarr=$(tr).find("td");
              if (checkbox.checked) {
                  for(i=0;i<tdarr.size();i++){
                    tdarr[i].style.background="#E9F9FE";
                  }

              } else {  
                  for(i=0;i<tdarr.size();i++){
                    tdarr[i].removeAttribute("style");
                  }
              }
        }

        function setEnrollmentSelection(checkbox, id, swapEnrId){
            document.getElementById(id).value = checkbox.checked;	
			/*if (checkbox.checked) {
				document.getElementById('swapEnrollmentId').value = swapEnrId;				
			}
			else {
				document.getElementById('swapEnrollmentId').value = '';
			}*/
			changeRowColor(checkbox);
			
        }

        function selectAllCheckBoxes(countCheckBoxes, chkBox, count)
        {
            var objCheckAll=document.getElementById("chkAll"+count);
            if (objCheckAll.checked) {
                for(var i = 0; i < countCheckBoxes; i++){
                    var chkid = "viewLearnerEntitlementItems[" + count + "].viewLearnerEnrollmentItems[" + i + "]";
                    var objCheckBox=document.getElementById("chk"+count+i);
                    if(objCheckBox != null){
	                    objCheckBox.checked=true;
	                    var hiddenid = "viewLearnerEntitlementItems[" + count + "].viewLearnerEnrollmentItems[" + i + "].selected";                   
	                    setEnrollmentSelection(objCheckBox,hiddenid);
                    }
                }
            }else{
                for(var i = 0; i < countCheckBoxes; i++){
                    var chkid = "viewLearnerEntitlementItems[" + count + "].viewLearnerEnrollmentItems[" + i + "]";
                    var objCheckBox=document.getElementById("chk"+count+i);
                    if(objCheckBox != null){
	                    objCheckBox.checked=false;
	                    var hiddenid = "viewLearnerEntitlementItems[" + count + "].viewLearnerEnrollmentItems[" + i + "].selected";                    
	                    setEnrollmentSelection(objCheckBox,hiddenid);
                    }
                }
            }
        }

        function showExtendEnrollment()
		{
			if ($("INPUT[type='checkbox'][name='allCourses']:checked").length>0) 
			{
				document.getElementById('actionMethod').value='showExtendEnrollment';
				document.viewLearnerEnrollmentForm.submit();
			}
			else
			{
                //$('#selectLearner').modal({close:false,position: ["40%",]});
                showMessageBox("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")");
            }
        }
        function EditCancel() {
            document.getElementById('actionMethod').value='cancelEnrollment';
            document.viewLearnerEnrollmentForm.submit();
        }
        function expireEnrollment(){
            if ($("INPUT[type='checkbox'][name='allCourses']:checked").length>0) {
            	var expiredValue = document.getElementById('enrollmentProgress').value;
            	
                if(expiredValue == 'Expired') {
                	alert('Please select expired enrollment');
                } else {
                	confirm("$brander.getBrandElement("lms.enrollment.showEnrollments.expireCourses.warning")", function () {
                    	document.getElementById('actionMethod').value='expireEnrollment';
                    	document.viewLearnerEnrollmentForm.submit();
                	});
                }
            }else {
                //$('#selectLearner').modal({close:false,position: ["40%",]});
                showMessageBox("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")");
            }
        }

        function dropEnrollment(){
        
            if( $("INPUT[type='checkbox'][name='allCourses'][enrollmentStatus*='Expired']:checked").length > 0){
	           showMessageBox("$brander.getBrandElement("error.manageEnrollments.dropExpiredEnrollments")");
	           return;            
            }
            
            if ($("INPUT[type='checkbox'][name='allCourses']:checked").length>0) {
                confirm("$brander.getBrandElement("lms.enrollment.showEnrollments.dropCourses.warning")", function () {
                    document.getElementById('actionMethod').value='dropEnrollment';
                    document.viewLearnerEnrollmentForm.submit();
                });
            }else {
                //$('#selectLearner').modal({close:false,position: ["40%",]});
                showMessageBox("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")");
            }
        }

        function swapEnrollment()
		{
            if ($("INPUT[type='checkbox'][name='allCourses']:checked").length>0) 
			{
				document.getElementById('actionMethod').value='swapEnrollment';
				document.getElementById('action').value='showNone';
				document.viewLearnerEnrollmentForm.submit();
			}else
			{
                //$('#selectLearner').modal({close:false,position: ["40%",]});
                showMessageBox("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")");
            }
			
        }		
        
        function showMessageBox(message){
        	$('#lmsMessageBox').find('.alert_message_box_text').html(message);
        	$('#lmsMessageBox').modal({close:false,position: ["40%",]});
        }

        $(document).ready(function()
        {
             $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
            if ($('#right-pannel').height()<$('#content2a').height()) {
                $('#right-pannel').height($('#content2a').height());
            }
            $('#sideBar').height($('#right-pannel').height());

            $("INPUT[type='checkbox'][name='allCourses']").click(function(){
                $("#"+this.id).parent().parent().find("td").css("background-color", $("#"+this.id).is(':checked')?"#E9F9FE":"");
            });

            $('#content2a').scroll(function()
            {
                $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});
            });
            $('#close_message').click(function()
            {
                $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
            });
        });
		
		/* *********************************************************************** */
		/* ***************** adding script for course unlock button ************** */
		/* *********************************************************************** */
        function courseUnlock(){
            if ($("INPUT[type='checkbox'][name='allCourses']:checked").length>0) {
                confirm("$brander.getBrandElement("lms.enrollment.showEnrollments.lockCourses.warning")", function () {
				document.getElementById('actionMethod').value='courseUnlock';
				document.viewLearnerEnrollmentForm.submit();
                });
            }else {
                //$('#selectLearner').modal({close:false,position: ["40%",]});
                showMessageBox("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")");
            }
		

        }
    </script>

</head>


<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
    <!-- header -->
    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
    	#parse("snippets/adminHeader.vm")
    #else
    	#parse("snippets/managerHeader.vm")
    #end
    <!-- header-end -->
	</td></tr>
	
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
            <!-- left-pannel-content -->
            #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
            	#parse("snippets/adminLearnerLeftMenu.vm")
            #else
            	#parse("snippets/managerLeftMenu.vm")
            #end
            <!-- left-pannel-content-end -->
			</table></td>
		#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
			#set($action = 'adm_learnerEnrollments.do')
		#else
			#set($action = 'mgr_learnerEnrollments.do')
		#end
		
<TD id="content" >
	<div id="scrollable">
			<form name="viewLearnerEnrollmentForm" method="post" action="${action}">
            <input type="hidden" id="actionMethod" name="method" value=""/>
            <!-- content-area -->
                #springBind("viewLearnerEnrollmentForm.viewLearnerEntitlementItems")
                #if($status.error)
                <!-- error-box -->
                 <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                #set ($error = $brander.getBrandElement($errorCode))
                <div class="width40pct">
                    <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                    <div class="message_box_align">$error</div>
                    </div>
                    #end
                </div>
                #else
					#springBind("viewLearnerEnrollmentForm.courseItems")
                  #if($status.error)
                <!-- error-box -->
                 <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                #set ($error =  $errorCode )
                <div class="width40pct">
                    <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                    <div class="message_box_align">$error</div>
                    </div>
                    #end
                </div>
                  #end
                <!-- error-box -->
                #end

                <!-- Logo+Manage-User -->
          	<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
          		    <tr>
          			#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
          				<td id="page-icon" class="courseLogoUser">
          			#else
          				<td id="page-icon" class="page-icon-users">
          			#end
          			    &nbsp;
          			</td>
          			<td id="page-description">
          			    <div id="page-heading">$brander.getBrandElement("lms.enrollment.showEnrollments.caption.title")</div>
          			    <div id="page-help">$brander.getBrandElement("lms.enrollment.showEnrollments.caption.subtitle")</div>
          			</td>
          		    </tr>
          		</table>

                <!-- Logo+Manage-User-end -->

                <!--Group-Name-div -->
                #springBind("viewLearnerEnrollmentForm.userName")
                <div class="group-name" style="border-bottom:0px;">
                    <div>$!{status.value}</div>
                </div>
                <!-- Group-Name-div -->

                <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
                    <div style="float:left; margin-top:2px;">
					  <a onClick="showExtendEnrollment();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.enrollment.showEnrollments.button.caption.extend")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
						<div style="float:left; margin-top:2px;">
						  <a onClick="swapEnrollment();" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">$brander.getBrandElement("lms.enrollment.swapEnrollments.button.caption.swap")</div>
							  <div class="btn_end"></div>
						  </a>
					</div>
                    
					<div style="float:left; margin-top:2px;">
					  <a onClick="expireEnrollment();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.enrollment.showEnrollments.button.caption.expire")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
					
					<div style="float:left; margin-top:2px;">
					  <a onClick="dropEnrollment();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.enrollment.showEnrollments.button.caption.drop")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
	                <div style="float:left; margin-top:2px;">
					  <a onClick="javascript:courseUnlock();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.enrollment.showEnrollments.button.caption.unlock")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
					
				</div>
                <!-- button-div -->

                #set($count = -1)
                #springBind("viewLearnerEnrollmentForm.viewLearnerEntitlementItems")
                #set($entitlementList = ${status.value})

                #foreach($ent in $entitlementList)
                    #set($count = $count + 1)
                    #set($totalCount = $ent.viewLearnerEnrollmentItems.size())
                    #set($viewLearnerEnrollmentItemList = $ent.viewLearnerEnrollmentItems)

                    #if($viewLearnerEnrollmentItemList.size() > 0 )
                    <!-- Entitlement A -->
                        <div class="content-Block-new" >
                            <div id="e12" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
                                <div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$ent.entitlement.name</div>
                            </div>
                            <!-- 1 -->
                            <div id="searchResult">
                                <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:2px; border-top:1px;">
                                    <tr bgcolor="#efefef" style="padding-left: 5px;">
                                        <td class="check_box_top" style="padding-left: 5px;" width="17"><input type="checkbox" name="chkHeader" id="chkAll$count" onClick="selectAllCheckBoxes($totalCount,this,$count);" /></td>
                                        <td class="box_subheader_noLink" style="padding-left: 5px;" width="40%">$brander.getBrandElement("lms.enrollment.showEnrollments.listHeader.caption.Courses")</td>
                                        <td class="box_subheader_noLink" style="padding-left: 5px;">$brander.getBrandElement("lms.enrollment.showEnrollments.listHeader.caption.Progress")</td>
                                        <td class="box_subheader_noLink" style="padding-left: 5px;">$brander.getBrandElement("lms.enrollment.showEnrollments.listHeader.caption.status")</td>										
                                        <td class="box_subheader_noLink" style="padding-left: 5px;">$brander.getBrandElement("lms.enrollment.showEnrollments.listHeader.caption.reason")</td>										
                                        <td class="box_subheader_noLink" style="padding-left: 5px;">$brander.getBrandElement("lms.enrollment.showEnrollments.listHeader.caption.endDate")</td>
                                    </tr>
                                        #set($enrCount = -1)
                                        #foreach($enr in $viewLearnerEnrollmentItemList)
                                            #set($enrCount = $enrCount + 1)
                                            #springBind("viewLearnerEnrollmentForm.viewLearnerEntitlementItems[$count].viewLearnerEnrollmentItems[$enrCount].selected")
                                            #if($velocityCount%2==0)
                                                #set($alternate="row_2")
                                            #else
                                                #set($alternate="row_1")
                                            #end
											
										    #set($courseStatus="UnLocked")
											#set($lockReason="-")
											#if($!enr.learnerEnrollment.lastLockedCourse.courselocked ) 
												#set($courseStatus="Locked")
												#set($lockReason = $!enr.learnerEnrollment.lastLockedCourse.locktype)
											#end
                                            <tr>
                                                <td class="$alternate" width="17">
                                                	#if(! $!enr.learnerEnrollment.courseStatistics.courseCompleted && $!enr.learnerEnrollment.courseStatistics.status != $brander.getBrandElement("lms.manageEnrollments.status.reportingpending"))
                                                	
                                                			<input enrollmentStatus="$!enr.learnerEnrollment.enrollmentStatus" type="checkbox" id="chk$count$enrCount" name="allCourses" #if(${status.value}) checked #end onclick="setEnrollmentSelection(this,'${status.expression}', ${enr.getLearnerEnrollment().getId()});" />
                                                	#end
                                               	</td>
                                               	#if(! $!enr.learnerEnrollment.courseStatistics.courseCompleted)
                                                <input type="hidden" id="${status.expression}" name="${status.expression}" value="${status.value}"/>
												<!--<input type="hidden" id="swapEnrollmentId" name="swapEnrollmentId" value="" />-->
												#end
                                                <td class="$alternate">$!enr.learnerEnrollment.course.courseTitle</td>
                                                <td class="$alternate">
                                                	#if($dateUtil.dateDifference($date.getDate(), $enr.learnerEnrollment.enrollmentEndDate) > 0 && ($enr.learnerEnrollment.courseStatistics.status != 'reported') && $enr.learnerEnrollment.courseStatistics.status != $brander.getBrandElement("lms.manageEnrollments.status.reportingpending") && ! $enr.learnerEnrollment.courseStatistics.courseCompleted)
                                                		$brander.getBrandElement("lms.enrollment.showEnrollments.button.caption.expiredLabel")
                                                	#else
                                                		$enr.learnerEnrollment.enrollmentStatus
                                                	#end
                                                </td>
                                                <input type="hidden" id="enrollmentProgress" value="$!enr.learnerEnrollment.enrollmentStatus" />
                                                <td class="$alternate">$courseStatus</td>
                                                <td class="$alternate" title="$!{lockedCourseLockTypeFormatter.format($lockReason)}"> 
                                                	#dotPaddingWithOutTitle($!{lockedCourseLockTypeFormatter.format($lockReason)} 18) 
                                                </td>
                                                <td class="$alternate">#if ($!enr.learnerEnrollment.enrollmentEndDate) $date.format("MM/dd/yyyy",$!enr.learnerEnrollment.enrollmentEndDate) #else &nbsp; #end</td>
                                            </tr>
											 
                                        #end
                                </table>
                                <input id="action" type="hidden" name="action" value="delete" />
                            </div>
                            <!-- 1 -->
                        </div>

                        <div class="manager-bottom-space"></div>
                        #end
                    #end
                    <!-- End-Entitlement A -->

                    <div class="$brander.getBrandElement("lms.administrator.addNewDistributorProfile.cssClass.managerBtn")">
						<div style="float:left; margin-top:2px;">
						  <a onClick="EditCancel();" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">Cancel</div>
							  <div class="btn_end"></div>
						  </a>
						</div>
							
							
                    </div>
		</form>

		</div><!-- right-pannel-content-end -->


    </td></tr><!-- content-2a area-end -->
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
    <!-- footer -->
    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
    	#parse("snippets/adminFooter.vm")
    #else
    	#parse("snippets/managerFooter.vm")
    #end
    <!-- footer-end -->
	</td></tr>
</table>

    <div id='deleteConfirmation' style='display:none'><!-- Alert Message Box starts -->
        <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
        <div class="alert_message_box_icon"></div>
        <div class="alert_message_box_text"></div>
        <br style="clear:both" />
        <!--<div class='buttons'>
            <div class='no simplemodal-close'>
                <div class="btn_start">&nbsp;</div>
                <div class="btn_new_normal">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</div>
                <div class="btn_end">&nbsp;</div>
            </div>
            <div class='yes'>
                <div class="btn_start">&nbsp;</div>
                <div class="btn_new_normal">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</div>
                <div class="btn_end">&nbsp;</div>
            </div>
    	</div>-->
	
		<div class='buttons'>
        	<div class='simplemodal-close'>
            	<a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</span></a>
            	<!-- </div><div class='yes'> -->
				<a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
            </div>
		</div>
    </div>

    <div id="lmsMessageBox" style="display:none">
        <div class="header">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.warning")</div>
        <div class="alert_message_box_icon"></div>
        <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")</div>
        <br style="clear:both" />
        <div class='buttons'>
            <div class='no simplemodal-close'>
                <!--<div class="btn_start">&nbsp;</div>
                <div class="btn_new_normal">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</div>
                <div class="btn_end">&nbsp;</div>-->
				<a class="button" onClick=""><span class="button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
            </div>
        </div>
    </div><!-- Alert Message Box Ends -->


</body>
</html>