<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.group-name4")">
	<div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.block_text_in-r-fc")">$brander.getBrandElement("lms.editMultipleChoice.caption.QuestionText")</div>
</div>
<!-- 2 -->

<!-- 6 -->
<div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.manager-bottom-space4")">

#springBind("manageSurveyForm.surveyQuestionText")

	<textarea id="questionArea" rows="" cols="" name="${status.expression}" class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.inputfield-box-L2-in-c")">$!{status.value}</textarea>&nbsp;#customShowErrors("&nbsp;" $errorCSS)
</div>
<!-- 6 -->
#springBind("manageSurveyForm.currentRatingQuestion.surveyAnswerLines")
<!-- 1 -->
<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.group-name4")">
	<div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.block_text_in-r-fc")">$brander.getBrandElement("lms.editMultipleChoice.caption.AnswerChoices")</div><div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.Org-grp_4c")">$brander.getBrandElement("lms.editMultipleChoice.caption.eachChoice")</div>
</div>
<!-- 2 -->

<!-- 6 -->
<div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.manager-bottom-space4")">
	<textarea id="" rows="" cols="" name="${status.expression}" class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.inputfield-box-L2-in-d")">$!{status.value}</textarea>&nbsp;#customShowErrors("&nbsp;" $errorCSS)
</div>
<!-- 6 -->

<!-- space -->
<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.manager-bottom-space3")"></div>
<!-- space -->

<!-- 1 -->
<div class="$brander.getBrandElement("lms.editMultipleChoice.cssClass.manager-bottom-space4")">
	<!-- 1 -->
	<div id="e12" class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.search-content-row")">
		<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-f4")">
			<select name="Customer[]" >
				<option value="4 Ratings">$brander.getBrandElement("lms.administrator.searchMember.caption.Ratings")</option>
				<option value="4 Ratings">$brander.getBrandElement("lms.administrator.searchMember.caption.Ratings")</option>
				<option value="4 Ratings">$brander.getBrandElement("lms.administrator.searchMember.caption.Ratings")</option>
			</select>
		</div>
	</div>
	<!-- 2 -->
	<!-- space -->
	<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.search-content-row")"></div>
	<!-- space -->
	<!-- 1 -->
	<div id="e12" class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.search-content-row")">
		<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-fn-l")">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Label") </div>
		<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-f")"><input type="text" id=""  class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field")"/></div>
		<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-fn-2")">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Weight") </div>
		<div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-fs")"><input type="text" id=""  class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field")"/></div>
	</div>
	<!-- 1 -->
	<!-- 2 -->
	<div id="e12" class="search-content-row">
		<div class="input_field_area-user-fn-l">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Label") </div>
		<div class="input_field_area-user-f"><input type="text" id=""  class="input_field"/></div>
		<div class="input_field_area-user-fn-2">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Weight") </div>
		<div class="input_field_area-user-fs"><input type="text" id=""  class="input_field"/></div>
	</div>
	<!-- 2 -->
	<!-- 3 -->
	<div id="e12" class="search-content-row">
		<div class="input_field_area-user-fn-l">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Label") </div>
		<div class="input_field_area-user-f"><input type="text" id=""  class="input_field"/></div>
		<div class="input_field_area-user-fn-2">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Weight") </div>
		<div class="input_field_area-user-fs"><input type="text" id=""  class="input_field"/></div>
	</div>
	<!-- 3 -->
	<!-- 4 -->
	<div id="e12" class="search-content-row">
		<div class="input_field_area-user-fn-l">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Label") </div>
		<div class="input_field_area-user-f"><input type="text" id=""  class="input_field"/></div>
		<div class="input_field_area-user-fn-2">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Weight") </div>
		<div class="input_field_area-user-fs"><input type="text" id=""  class="input_field"/></div>
	</div>
	<!-- 4 -->
	<!-- 5 -->
	<div id="e12" class="search-content-row">
		<div class="input_field_area-user-fn-l">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Label") </div>
		<div class="input_field_area-user-f"><input type="text" id=""  class="input_field"/></div>
		<div class="input_field_area-user-fn-2">$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.caption.Weight") </div>
		<div class="input_field_area-user-fs"><input type="text" id=""  class="input_field"/></div>
	</div>
	<!-- 5 -->
</div>