<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/instructor/instructorHead.vm")
        <script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>
        <script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $('#chkAll').click(
                   function(){
                      $("INPUT[type='checkbox'][name='customField']").attr('checked', $('#chkAll').is(':checked'));
                      $("INPUT[type='checkbox'][name='customField']").parent().parent().find("td").css("background-color", $('#chkAll').is(':checked')?"#E9F9FE":"");
                   }
                )
            });

            function confirm(message, callback) {
                $('#deleteConfirmation').modal({
                    close:false,
                    position: ["40%",],
                    overlayId:'confirmModalOverlay',
                    containerId:'confirmModalContainer', 
                    onShow: function (dialog) {
                        dialog.data.find('.message_box_text').append(message);

                        // if the user clicks "yes"
                        dialog.data.find('.yes').click(function () {
                            // call the callback
                            if (jQuery.isFunction(callback)) {
                                callback.apply();
                            }
                            // close the dialog
                            jQuery.modal.close();
                        });
                    }
                });
            }

            function deleteCustomField(){
                if ($("INPUT[type='checkbox'][name='customField']:checked").length>0) {
                    confirm("$brander.getBrandElement("lms.administrator.CustomFields")", function () {
                        document.getElementById('actionmethod').value='deleteResourceCustomField';
                        document.manageResourceForm.submit();
                    });
                }else {
                    $('#selectCustomField').modal({overlayId:'confirmModalOverlay',containerId:'confirmModalContainer',close:false,position: ["40%",]});
                }
            }


            function changeRowColor(checkbox) {
                var tr=checkbox.parentNode.parentNode;
                var tdarr=$(tr).find("td");
                if (checkbox.checked) {
                  for(i=0;i<tdarr.size();i++){
                    tdarr[i].style.background="#E9F9FE";
                  }

                } else {  
                  for(i=0;i<tdarr.size();i++){
                    tdarr[i].removeAttribute("style");
                  }
                }
            }

            function sortCustomField(sortColumnIndex,sortDirection,pageIndex,showAll){
                 document.getElementById('sortColumnIndex').value=sortColumnIndex;
                 document.getElementById('sortDirection').value=sortDirection;
                 document.getElementById('showAll').value=showAll;
                  document.getElementById('pageIndex').value=pageIndex;
                 document.getElementById('actionmethod').value='showResourceCustomField';
                 document.manageResourceForm.submit();
            }

        </script>
    </head>
<body>

   <form name="manageResourceForm" method="post" action="ins_manageResources.do">
       <input type="hidden" id="actionmethod" name="method" value=""/>     
    <div id="main-container">
    <!--Header Start -->
        #parse("snippets/instructorHeader.vm")
    <!-- Header End -->

<!-- Body Start -->

    <div id="frame_body">
        <div class="tab_bar">
             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="192"><div class="tab_blank"></div></td>
                        <td>&nbsp;</td>
                        <td width="223">
                            <a onClick="javascript:window.location='ins_manageResources.do?method=editResource';"><div class="tab">$brander.getBrandElement("lms.Instructor.caption.Summary.EditResources")</div></a>
                            <a href="#"><div class="tab_selected" style="border-right-style:solid;" >$brander.getBrandElement("lms.Instructor.caption.customField.EditResources")</div></a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
            </table>
        </div>
	
		 #parse("snippets/instructorResourcesLeftMenu.vm")
        <div id="content2a" class="scrollable">
		

		 	  <div id="pageDescription" class="page_description">
                   <div id="pageIcon" class="icon_resources"></div>
                   <div id="pageHeading" class="page_heading">$brander.getBrandElement("lms.Instructor.PageHeading.caption.EditResources")</div>
                   <div id="pageDescriptionText">$brander.getBrandElement("lms.Instructor.PageInlineText.caption.EditResources")</div>
			  </div>

			  
        <div id="resultBox" class="search_box_result">

            <div id="resultHeader" class="box_header">
                <!-- Result Heading -->
                <div style="float:left; height:23px;">
                    <div style="float:left; margin-top:2px;">
                        #springBind("addResourceForm.id")
						<a onClick="javascript:window.location='ins_addCustomField.do?resourceID=$!{status.value}&entity=Resource';">
                            <div class="btn_start"></div>
                            <div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'">$brander.getBrandElement("lms.accreditation.editCredential.caption.Add-Custom-Field")</div>
                            <div class="btn_end"></div>
                        </a>
                     </div>
                    <div style="float:left; margin-top:2px;" onClick="deleteCustomField();">
                        <div class="btn_start"></div>
                        <div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'" onclick="deleteLearners();">$brander.getBrandElement("lms.accreditation.editCredential.caption.Delete-Custom-Field")</div>
                        <div class="btn_end"></div>
                     </div>
                </div>
               #springBind("addResourceForm.manageCustomField")
                $pager.setItems($!{status.value})
                #set($totalCount = $pager.total)
                #if($pager.hasItems())
                        #set($pageFirstIndex = $pager.firstIndex)
                        #set($pageLastIndex = $pager.lastIndex)
                        #set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
                        #set($currentPageCount = $pageLastIndex + 1)
                        #set($pageCurrIndex = $pager.index)
                #else
                        #set($pageFirstIndex = 0)
                        #set($pageLastIndex = 0)
                        #set($currentPageSize = 0)
                        #set($currentPageCount = 0)
                        #set($pageCurrIndex = 0)
                #end
                <input type="hidden" id="gridShowAll" name="showAll" value="false" />
                <input type="hidden" id="pageIndex" name="pageIndex" value="0" />
                <input type="hidden" id="paging" name="paging" value="" />
                <input type="hidden" id="sortDirection" name="sortDirection" value="" />
                <input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="" />
                <input type="hidden" id="pageIndex" name="pageIndex" value="" />
                #if($!{context.showAll})
                    #set($showAll=${context.showAll})
                #else
                    #set($showAll=false)
                #end
                <div class="result_left_side">
                    <!-- Result Description -->
                    <!-- All Icon -->
                    #if($totalCount > 10)
                        <div id="showAll" class="icon_all" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();" onClick="javascript:window.location='ins_manageResources.do?method=showResourceCustomField&showAll=true';" value="Search" ></div>
                    #end
                    <!-- Next Icon -->
                    #if($pager.nextIndex)
                            <div id="goNext" class="icon_next" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();" value="Search" onclick="javascript:window.location='ins_manageResources.do?method=showResourceCustomField&pageIndex=$pager.nextIndex&paging=paging';" ></div>
                    #else
                            <div id="goNext" class="icon_disabled"></div>
                    #end

                    <!-- Back Icon -->
                    #if ($pager.prevIndex)
                            <div id="goBack" class="icon_back" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip(); "value="Search" onclick="javascript:window.location='ins_manageResources.do?method=showResourceCustomField&pageIndex=$pager.prevIndex&paging=paging';" ></div>
                    #else
                            <div id="goBack" class="icon_disabled"></div>
                    #end
                    <!-- Showing Results -->
                    <div id="resultDescription" class="box_description">$brander.getBrandElement("lms.accreditation.caption.Showing") $!pager.pageDescription</div>
                </div>  
            </div> 
            #if($currentPageSize > 0)
                <div id="searchResult_1">
                    <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:1px;">
                        <tr bgcolor="#efefef">
                            <td class="check_box_top" width="17px" style="border-left:0px solid #dfdfdf;"><input id="chkAll" type="checkbox" name="selectAll" style="margin-left:3px;"/></td>
                            <td class="box_subheader" ><div #if($context.sortDirection == 0) onclick="sortCustomField(0,1,$pageCurrIndex,$showAll);" #else onclick="sortCustomField(0,0,$pageCurrIndex,$showAll);" #end ><div id="nameSort" #if($context.sortColumnIndex==0 && $context.sortDirection == 0) class="icon_up" #elseif($context.sortColumnIndex==0) class="icon_down" #end></div>$brander.getBrandElement("lms.accreditation.credential.caption.Custom-Field-Name")</div></td>
                            <td class="box_subheader" style="border-right:none;"><div #if($context.sortDirection == 0) onclick="sortCustomField(1,1,$pageCurrIndex,$showAll);" #else onclick="sortCustomField(1,0,$pageCurrIndex,$showAll);" #end ><div id="jurisdictionSort" #if($context.sortColumnIndex==1 && $context.sortDirection == 0) class="icon_up" #elseif($context.sortColumnIndex==1) class="icon_down" #end></div>$brander.getBrandElement("lms.accreditation.credential.caption.Custom-Field-Type")</div></td>
                        </tr>
                        #foreach($loopIndex in [$pageFirstIndex..$pageLastIndex])
                            #if($loopIndex%2 == 0)
                                #set($alternate="row_1")
                            #else
                                #set($alternate="row_2")
                            #end
                            #if($loopIndex == $pageLastIndex)
                                 <tr>
                                    <td class="$alternate" width="17px" style="border-left:0px solid #dfdfdf;border-bottom:none;">
                                        #springBind("addResourceForm.manageCustomField[$loopIndex].id")
                                        <input type="checkbox" id="chk$loopIndex" name="customField" value="${status.value}" onclick="changeRowColor(this);" style="margin-left:-2px"/>
                                    </td>
                                    <td class="$alternate" style="border-bottom:none;">
                                        <a onClick="javascript:window.location='ins_manageResources.do?method=displayCustomFieldForEdit&customFieldId=$!{status.value}&entity=Resource';">
                                            #springBind("addResourceForm.manageCustomField[$loopIndex].fieldName")
                                            $!{status.value}
                                        </a>
                                    </td>
                                    #springBind("addResourceForm.manageCustomField[$loopIndex].fieldType")
                                    <td class="$alternate" style="border-right:none;border-bottom:none;">$!{status.value}</td>
            <!--					<td class="row_1" style="border-right:none;"><a href="associate_credentials.jsp"><div class="icon_change" onmouseover="showTooltip('Change Association', event);" onmouseout="hideTooltip();"></div></a></td> -->
                                </tr>
                             #else
                                 <tr>
                                    <td class="$alternate" width="17px" style="border-left:0px solid #dfdfdf;">
                                        #springBind("addResourceForm.manageCustomField[$loopIndex].id")
                                        <input type="checkbox" id="chk$loopIndex" name="customField" value="${status.value}" onclick="changeRowColor(this);" style="margin-left:-2px"/>
                                    </td>
                                    <td class="$alternate">
                                        <a onClick="javascript:window.location='ins_manageResources.do?method=displayCustomFieldForEdit&customFieldId=$!{status.value}&entity=Resource';">
                                            #springBind("addResourceForm.manageCustomField[$loopIndex].fieldName")
                                            $!{status.value}
                                        </a>
                                    </td>
                                    #springBind("addResourceForm.manageCustomField[$loopIndex].fieldType")
                                    <td class="$alternate" style="border-right:none;">$!{status.value}</td>
            <!--					<td class="row_1" style="border-right:none;"><a href="associate_credentials.jsp"><div class="icon_change" onmouseover="showTooltip('Change Association', event);" onmouseout="hideTooltip();"></div></a></td> -->
                                </tr>
                             #end
                        #end
                    </table>
                </div>
            #else
                <div id="searchResult_1">
                    <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:1px; border-top:1px;padding-left:16px;">
                        <tr bgcolor="#efefef">
                            <td class="check_box_top" width="17px" style="border-left:1px solid #dfdfdf;"><input type="checkbox" style="margin-left:3px;"/></td>
                            <td class="box_subheader">$brander.getBrandElement("lms.accreditation.credential.caption.Custom-Field-Name")</td>
                            <td class="box_subheader" style="border-right:1px solid #dfdfdf;">$brander.getBrandElement("lms.accreditation.credential.caption.Custom-Field-Type")</td>
                        </tr>
                    </table>
                    <!--<div class="result_blank">There is no Custom Field for this resource.</div>-->
                </div>
            #end
        </div>
       </div>
    </div>
<!-- Body End -->
    <!-- Footer Start -->
        #parse("snippets/managerFooter.vm")
    <!-- Footer End -->
    
</div>
    <div id="selectCustomField" style="display:none" class="message_box">
        <div class="message_box_title">$brander.getBrandElement("lms.accreditation.caption.Warning")</div>
        <div class="message_box_icon"></div>
        <div class="message_box_text">$brander.getBrandElement("lms.accreditation.caption.Please-select-0ne")</div>
        <center>
            <div id="btn_ok_select" style="margin-left:132px; margin-top:20px;" class="simplemodal-close">
                <div class="btn_start"></div><div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.OK")</div><div class="btn_end"></div>
            </div>
        </center>
    </div>

    <div id="deleteConfirmation" style="display:none" class="message_box">
        <div class="message_box_title">$brander.getBrandElement("lms.accreditation.caption.Please-Confirm")</div>
        <div class="message_box_icon"></div>
        <div class="message_box_text"></div>
        <center>
            <div id="btn_ok_select" style="margin-left:120px; margin-top:20px;" class="no simplemodal-close">
                <div class="btn_start"></div><div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.Cancel")</div><div class="btn_end"></div>
            </div>
            <div id="btn_ok_select" style="margin-left:15px;" class="yes">
                <div class="btn_start"></div><div class="btn_normal">$brander.getBrandElement("lms.accreditation.caption.OK")</div><div class="btn_end"></div>
            </div>
        </center>
    </div>
</form>
</body>
</html>