<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title> Redirecting to the Regulator Custom Field </title>
    </head>

    <body  onload="document.manageform.submit()">
        <form name="manageform" action="acc_manageRegulator.do" method="POST"> 
            <input type="hidden" id="action" name="method" value="editRegulatorCustomField"/>
        </form>
    </body>
</html>
