<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Redirecting to the Survey </title>
</head>

<body  onload="document.manageform.submit()">
<form name="manageform" action="mgr_searchTrainingPlans.do" method="POST"> 
<input type="hidden" name="action" value="$!{context.action}"/>
</form>
</body>
</html>