<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
#parse("snippets/learnerNewHead.vm")
<link rel="stylesheet" type="text/css" href="brands/default/en/css/css_orgGroup-tree.css"/>
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type="text/javascript" language="javascript">
    function confirm(message, callback) {
        $('#parentOrgGroupConfirmation').modal({
            close:false,
            position: ["40%",],
            overlayId:'confirmModalOverlay',
            containerId:'confirmModalContainer', 
            onShow: function (dialog) {
                dialog.data.find('.alert_message_box_text_3').append(message);
                dialog.data.find('.yes').click(function () {
                    if (jQuery.isFunction(callback)) {
                        callback.apply();
                    }
                    jQuery.modal.close();
                });
            }
        });
	}
    function FormSubmit(buttonclick) {
        document.getElementById('action').value=buttonclick;
        document.trainingPlanForm.submit();
    }
    
    $(document).ready(function(){
  
		  	$("div[name = 'row'][indx != '1'] input:checkbox[name='orgGroups']").change(function() {
			  	var that = $(this);
			  	that.parent().parent().parent().find("div[parentref='"+ that.val() +"'] input:checkbox[name='orgGroups']").each(function(index, domObject) {
			    	$(domObject).attr("checked", that.is(':checked'));
			    	$(domObject).trigger("change");
				});
			});
    		$("div[name = 'row'][indx = '1'] input:checkbox[name='orgGroups']").change(function() {
			  	var that = $(this);
			  	var isParent = that.parent().parent().is("[name='row'][indx='1']");
			  	if(isParent && that.is(":checked")) { 
			  	
			  		var callback = function() {
					  	that.parent().parent().parent().find("div[parentref='"+ that.val() +"'] input:checkbox[name='orgGroups']").each(function(index, domObject) {
					    	$(domObject).attr("checked", that.is(':checked'));
					    	$(domObject).trigger("change");
			    		});
			  		}
			  		confirm("Would you like to enroll every organization underneath the selected organization? Click <strong>Yes</strong> to select all organizations and <strong>No</strong> to select only the main organization.", callback);
				} else {
					that.parent().parent().parent().find("div[parentref='"+ that.val() +"'] input:checkbox[name='orgGroups']").each(function(index, domObject) {
				    	$(domObject).attr("checked", that.is(':checked'));
				    	$(domObject).trigger("change");
		    		});
				}
		  	});
	});
</script>

<script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>

</head>
#macro( TrainingPlanTreeviewManageOrgGroup $treeNodes )
    #set($lastDepth = 0)
    #set($arrParent = [])
    #foreach($node in $treeNodes)
        #set($depthDiff = ${node.depth} - ${lastDepth})
        #set ($var=$velocityCount%2)
        #if ($!{var}==0)
            #set ($rowColor="org_row2")
        #else
            #set ($rowColor="org_row1")
        #end
        #set ($val=0)
        $arrParent.add($node.depth,$node.value.id)

        #if ($!{node.depth}>0)
            #set ($val=$node.depth - 1)
            #set($parentId=$arrParent.get($val))
        #end
        <div id="row$velocityCount" name="row" class="$rowColor" indx="$velocityCount" parentRef="$!{parentId}">
            <div class="icon_blank">&nbsp;</div>
            #foreach($i in [1..${node.depth}])
                #if ($!{node.depth}>0)
                    <div class="icon_blank2"></div>
                #end
            #end
            #if(${node.isLeaf()})
            <div id="divIcon$velocityCount" class="icon_collapse_list" iscollapsed="false" parentRef="$!{parentId}"></div>
            #else
            <div id="divIcon$velocityCount" class="icon_collapse" onclick="tRows(this,${orgGroupTreeAsList.size()});" nodeid="${node.value.id}"></div>
            #end
            <div class="org_checkbox"><input type="checkbox" id="_orgGroup${node.value.id}" name="orgGroups" value="${node.value.id}" #if(${node.selected}) checked #end #if(!${node.enabled}) disabled #end/></div>
            #set ($padLimit=100-$node.depth*5)
            <div class="row_title">#dotPaddingWithOutTitle(${node.value.name},$padLimit)</div>
        </div>
    #end
#end
<body>
    <form name="trainingPlanForm" action="mgr_assignTraningPlan.do" method="POST">
        <table id="table-layout" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
                    #parse("snippets/managerWizardHeader.vm")
		</td>
            </tr>
            <tr id="main">
                <td id="left-navigation">
                    <div id="l-menu-back">
                        <div class="$brander.getBrandElement("lms.assignEnrollment.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.lmenuHeader") <br>$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.lmenu.step3-6")</div>
                        <div class="l-menu-back-text-inact">$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.lmenu.step1")</div>
                        <div class="l-menu-back-text-inact">$brander.getBrandElement("lms.manager.addTrainingPlans.leftMenuSelectTrainingPlan")</div>
                        <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text-act")">$brander.getBrandElement("lms.manager.addTrainingPlans.leftMenuSelectLearnersor")</div>
                        <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.lmenu.step4")</div>
                        <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.lmenu.step5")</div>
                        <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.assignEnrollment.caption.wizardStep6b")</div>
                    </div>
                </td>
                <td id="content">
                    <div id="scrollable">
                    #springBind("trainingPlanForm.orgGroups")
                    #if($status.error)
                        <div id="message_box">
                            <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                            #foreach($errorCode in $status.errorCodes)
                            #set ($error = $brander.getBrandElement($errorCode))
                            <div class="width40pct">
                                <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                                <div class="message_box_align">$error</div>
                            </div>
                            #end
                        </div>
                    #end
                    <table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
                        <tr>
                            <td id="page-icon" class="page-icon-plan">
                                &nbsp;
                            </td>
                            <td id="page-description">
                                <div id="page-heading">$brander.getBrandElement("lms.manager.assignTrainingPlan.caption.title2")</div>
                                <div id="page-help">$brander.getBrandElement("lms.manager.addTrainingPlans.step2-orggroup.caption.description")</div>
                            </td>
                        </tr>
                    </table>
                    <div class="content-Block-new">
                        <div class="Block-Contain-header">
                            <div class="User-checkbox-row-d2a">$brander.getBrandElement("lms.manageOrganizationGroup.caption.OrganizationGroup")</div>
                        </div>
                        #TrainingPlanTreeviewManageOrgGroup($orgGroupTreeAsList)
                    </div>
                    <div class="manager-bottom-space"></div>
                    <div class="managerBtn">
                        <input type="hidden" id="currentpage" name="_page" value="4"/>
                        <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
                        <div style="float:right; margin-top:3px;">
                            <a onClick="submitButtonForm(document.trainingPlanForm,'wizardSubmitter','_target5');" style="text-decoration:none;">
                                <div class="btn_start"></div>
                                <div class="btn_normal">Next</div>
                                <div class="btn_end"></div>
                            </a>
                        </div>
                        <div style="float:right; margin-top:3px;margin-right:5px;">
                            <a onClick="submitButtonForm(document.trainingPlanForm,'wizardSubmitter','_target1');" style="text-decoration:none;">
                                <div class="btn_start"></div>
                                <div class="btn_normal">Previous</div>
                                <div class="btn_end"></div>
                            </a>
                        </div>
                        <div style="float:left; margin-top:3px;">
                            <a onClick="submitButtonForm(document.trainingPlanForm,'wizardSubmitter','_cancel');" style="text-decoration:none;">
                                <div class="btn_start"></div>
                                <div class="btn_normal">Cancel</div>
                                <div class="btn_end"></div>
                            </a>
                        </div>
                    </div>
                    <div class="manager-bottom-space"></div>
                    </div>
                </td>
            </tr>
            <tr id="footer">
                <td>
                #parse("snippets/managerFooter.vm")
                </td>
            </tr>
        </table>
    </form>
  <div id='parentOrgGroupConfirmation' style='display:none'><!-- Alert Message Box starts -->
    <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text_3"></div>
    <br style="clear:both" />
	 <div class='buttons'>
        <div class='simplemodal-close'>
			<a class="button" onClick=""><span class="yes button">Yes</span></a>
			<a class="button" onClick=""><span class="no button">No</span></a>				
        </div>
	</div>  
</body>
</html>