

#set($choiceCount = ${question.answerItems.size()})
#if($choiceCount > 0)
	#set($maxChoiceIndex = $choiceCount - 1)
	#foreach($index in [0..$maxChoiceIndex])
		#set($answerItem = ${question.answerItems.get($index)})
		<div id="e13" class="search-content-row" style = "clear:both" >
			<div class="User_coll_1b"></div>
			<div class="User_coll_1"><input type="checkbox" #if($answerItem.selected) checked #end onclick="checkAnswer(this,'${prefix}answerItem[$index]');" disabled/></div>
            <input type="hidden" id="${prefix}answerItem[$index]"   name="${prefix}.answerItems[$index].selected"  #if($answerItem.selected) value="true" #else value="false" #end  />
			<div class="User_coll_H8">$answerItem.surveyAnswerItemRef.label</div>
		</div>
	#end
#end