<!-- BEGIN HTML -->
<div>
	<nav class="navbar">
		<div class="input-group clipp-header">
			<div class="input-group-btn">
				<img src="assets/img/clipp.png" style="width:80px;">
			</div>
			<div class="input-group-btn">
				<a class="btn circle dropdown-toggle" style="background-image: url(assets/img/cloud-computing-5.png);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Concept Cloud"></a>
				<ul class="dropdown-menu hold-on-click dark" id="clippConceptCloud">

				</ul>
			</div>
			<div class="input-group-btn hide">
				<a class="btn circle" style="background-image: url(assets/img/cloud-computing-6.png);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="My Concepts"></a>
				<ul class="dropdown-menu hold-on-click dark wide-dropdown">
					<li><h2 class="text-center">My <span class="primary-font">Concepts</span></h2></li>
					<li>
						<ul class="list-group">
						  <li class="list-group-item">
							<span class="badge">Adding..</span>
							Added Keyword 1
						  </li>
						  <li class="list-group-item loaded">
							<span class="badge"><span class="glyphicon glyphicon-ok"></span></span>
							Added Keyword 2
						  </li>
						  <li class="list-group-item">
							<span class="badge">Adding..</span>
							Added Keyword 3
						  </li>
						</ul>
					</li>
					<li>
						<div class="input-group">
							<input type="text" class="form-control cd-input" placeholder="Add Keywords to Contribute and Build Content">
							<span class="input-group-btn">
								<button class="cd-btn main-action" type="button"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="input-group-btn">
				<a href="javascript:ui.clipp.open();" class="btn circle" style="background-image: url(assets/img/cloud-computing-4.png);" title="Refresh"></a>
			</div>
			<div class="input-group clipp-keyword" style="width:100%;">
				<input id="clippSearchBy" type="text" class="form-control cd-input" placeholder="Enter Your Kewords" onkeyup="ui.clipp.search(event);">
				<span class="input-group-btn">
					<button class="cd-btn main-action" type="button" onclick="ui.clipp.search();"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
			<div class="input-group-btn">
				<a class="btn circle dropdown-toggle" style="background-image: url(assets/img/network.png);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Content Filter"></a>
				<ul class="dropdown-menu dropdown-menu-right hold-on-click dark" id="clippContentFilter">

				</ul>
			</div>
		</div>
	</nav>
	<div id="clipp-info">
		<div class="iso-main"></div>
		<div class="load-more">
			<a href="javascript:;" onclick="ui.isoTope.getData();" class="cd-btn main-action">See More</a>
		</div>
	</div>
</div>
<!-- END HTML -->



<!-- BEGIN JAVASCRIPT -->
<script type="text/javascript">

	ui.isoTope.init('clipp-info','clipp');

</script>
<!-- END JAVASCRIPT -->
