#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))

<div>
#if($userPermissionChecker.hasAccessToFeatureGroup("Regulators", $userData, $ssn))
    <!-- Manage Regulators Start -->
    #if($userPermissionChecker.hasAccessToFeature("LMS-ACC-0002", $userData, $ssn))
			<tr>
				<td id="manageUsers" onclick="submitForm('Regulators','LMS-ACC-0002','acc_manageRegulator.do')" #if ($!{menu}=="LMS-ACC-0002") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.accraditation.manageRegulator.caption.manageRegulators")</div>
				</td>
			</tr>

    #end
    <!-- Manage Regulators End -->

    <!-- Manage Credentials Start -->
    #if($userPermissionChecker.hasAccessToFeature("LMS-ACC-0003", $userData, $ssn))
			<tr>
				<td id="manageUsers" onclick="submitForm('Regulators','LMS-ACC-0003','acc_manageCredential.do')" #if ($!{menu}=="LMS-ACC-0003") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.accreditation.credential.caption.Manage-Credentials.title")</div>
				</td>
			</tr>
    #end
    <!-- Manage Credentials End -->
#end
</div>