<div>
    <!-- Manage Regulators Start -->
			<tr>
				<td id="manageUsers" onclick="submitForm('Custom Fields','CustomFields','acc_manageGlobalCustomField.do')" #if($menu == "CustomFields") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.accreditation.manageCustomField.caption.pageHeading")</div>
				</td>
			</tr>
    <!-- Manage Regulators End -->
</div>