#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))

<div>
#if($userPermissionChecker.hasAccessToFeatureGroup("Reporting Tool", $userData, $ssn))
    <!-- Manage User Status Start -->
    #if($userPermissionChecker.hasAccessToFeature("LMS-ACC-0018", $userData, $ssn))
			<tr>
				<td id="manageUsers" onclick="submitForm('Regulators','LMS-ACC-0018','acc_manageUserStatus.do?method=initializePage')" #if ($!{menu}=="LMS-ACC-0018") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.accraditation.manageUserStatus.caption.manageUserStatus")</div>
				</td>
			</tr>

    #end
    <!-- Manage User Status End -->

    <!-- Batch Import DocuSign Template IDS state -->
    #if($userPermissionChecker.hasAccessToFeature("LMS-ACC-0017", $userData, $ssn))
			<tr>
				<td id="manageUsers" onclick="submitForm('Reporting Tool','LMS-ACC-0017','acc_importDocuSignTemplateIds.do?method=initializePage')" #if ($!{menu}=="LMS-ACC-0017") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.accraditation.docusign.importtemplate.Manage-Credentials.title")</div>
				</td>
			</tr>
    #end
    <!-- Batch Import DocuSign Template IDS end -->
#end
</div>