<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("snippets/loginHead.vm")
</head>

<body>
    <form name="SurveyForm"  method="post" action="anonymousSurvey.do">
    <input type="hidden" id="action" name="method" value="displayBase"/>
    <div id="main-container">

        <!-- header -->
        <div id="header">
            <!-- logo -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
                <div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
                <div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
            </div>
            <!-- logo-end -->
            <div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
        </div>
        <!-- header-end -->

        <div id="content2a" style="overflow:hidden;">
            <table width="450px" align="center" cellpadding="10" cellspacing="0" border=0 style="border: solid #CCCCCC 1px;height:50px; margin-top:50px;">
                <tr style="background-color:#F4F4F4;">
                    <td colspan="3" style="padding-left:10px;padding-top:5px;padding-bottom:5px;">
                        #if ($!{context.msgText})
                            <span style="font-weight:bold; text-transform:uppercase;font-size:16px;" ><center>$!{context.msgText}</center></span>
                        #else
                            <span style="font-weight:bold; text-transform:uppercase;font-size:16px;" ><center>THANK YOU</center></span>
                        #end
                    </td>
                </tr>
            </table>
        </div>

        <!-- footer -->
        <div id="frame_footer">
            <div class="copyright_text">
                &copy; 2006 - 2008 360training.com &trade; All Rights Reserved - <a href="about.jsp" style="color:#999999; text-decoration:underline;">About Us</a> | <a href="contact.jsp" style="color:#999999; text-decoration:underline;">Contact Us</a> | <a href="privacy.jsp" style="color:#999999; text-decoration:underline;">Online Privacy Practices</a>
            </div>
        </div>
        <!-- footer-end -->
    </div>
    </form>
</body>
</html>