<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("snippets/accreditation/accreditationDefaultHead.vm")
	    
    <script type="text/javascript" language="javascript" src="javascript/360js.js" ></script>
</head>
<body>
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
        <!--Header Start -->
        #parse("snippets/managerWizardHeader.vm")
        <!-- Header End -->
		</td></tr>
		
        <!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
            <!-- Side Bar Start -->
            <div>
                <div id="l-menu-back">
                    <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.lmenuHeader")<br>$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.showing-1-of-3")</div>
                    <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Select-Custom-Field")</div>
                    <div class="l-menu-back-text">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Summary")</div>
                    <div class="l-menu-back-text">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Confirmation")</div>
                </div>
            </div>
		</table></td>
            <!-- Side Bar End -->

<TD id="content" >
	<div id="scrollable">
                <!-- Page Description -->
	<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
		    <tr>
			<td id="page-icon" class="page-icon-tools">
			    &nbsp;
			</td>
			<td id="page-description">
			    <div id="page-heading">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.title")</div>
			    <div id="page-help">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.step1.caption.subTitle")</div>
			</td>
		    </tr>
		</table>


                <form name="addCustomField" method="post" action="ins_addCustomFieldLocation.do" >
                    <input type="hidden" id="currentpage" name="_page" value="0"/>
                    <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
                    <div class="search_box_result"><!-- search_box_result -->
                        <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Field-Type")</span></div>
                        #springBind("customFieldForm.fieldType")
                        #set($type = [])
                        #set($temp = true)
                        #foreach($questionType in $customFieldTypes)
                            #set($temp = $type.add($questionType))
                        #end
                        <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                            <tr>
                                <td valign="top" width="15"><div class="row_text"></div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(0)" class="input_radio" #if($!{status.value} == "$type.get(0)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-1")</div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(1)" class="input_radio" #if($!{status.value} == "$type.get(1)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-2")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-1.subTitle")</div></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-2.subTitle")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="top"><div class="row_text"></div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(2)" class="input_radio" #if($!{status.value} == "$type.get(2)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-3")</div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(3)" class="input_radio" #if($!{status.value} == "$type.get(3)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-4")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-3.subTitle")</div></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-4.subTitle")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="top"><div class="row_text"></div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(4)" class="input_radio" #if($!{status.value} == "$type.get(4)") checked #end  /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-5")</div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(5)" class="input_radio" #if($!{status.value} == "$type.get(5)") checked #end  /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-6")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-5.subTitle")</div></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-6.subTitle")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="top"><div class="row_text"></div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(6)" class="input_radio" #if($!{status.value} == "$type.get(6)") checked #end  /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-7")</div></td>
                                <td><input type="radio" name="${status.expression}" value="$type.get(7)" class="input_radio" #if($!{status.value} == "$type.get(7)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-8")</div></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-7.subTitle")</div></td>
                                <td><div style="padding-top:1px; float:left; margin-left:23px;">$brander.getBrandElement("lms.accreditation.addCredentialCustomField.caption.Type-8.subTitle")</div></td>
                                <td></td>
                            </tr>
                        </table>
                    </div><!-- search_box_result -->

                    <!-- *********************************************** -->
					<div class="btn-div">
						<div style="float:right; margin-top:15px;">
						  <a onClick="submitButtonForm(document.addCustomField,'wizardSubmitter','_target1');">
							  <div class="btn_start"></div>
							  <div class="btn_normal">$brander.getBrandElement("lms.accreditation.wizard.buttonTextNext")</div>
							  <div class="btn_end"></div>
						  </a>
						</div>	
						
						<div style="float:left; margin-top:15px;margin-left:10px;">
							<a onClick="submitButtonForm(document.addCustomField,'wizardSubmitter','_cancel');">
								  <div class="btn_start"></div>
								  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
								  <div class="btn_end"></div>
							</a>
						</div>  
					</div>	
					
					<!-- bottom-space -->
					<div class="manage-bottom-space"></div>
					<!-- bottom-space -->					
                   
                </form>

            </div><!-- scrollable -->

        </td></tr><!-- frame_body -->
        <!-- Body End -->
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
        <!-- Footer Start -->
        #parse("snippets/managerFooter.vm")
        <!-- Footer End -->
	</td></tr>
    </table><!-- main-container -->
</body>
</html>