<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/learnerNewHead.vm")


<script language="javascript" type="text/javascript">
    /* 
        Added on 23 April 2009 
        By Adeel Hussain 
        Reason to Solve Bug # LMS-1406
    */
    var input = "";
    function setFormValue( str){input =  str;}  

    /* function is called automatically when page is loaded */
    function loadSetting(){ 
        document.getElementsByName(input)[0].focus();
    }
    $(document).ready(function(){
        $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
        if ($('#right-pannel').height()<$('#content2a').height()) {
            $('#right-pannel').height($('#content2a').height());
        }
        $('#sideBar').height($('#right-pannel').height());

        $('#content2a').scroll(function() {
            $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});
        });
        $('#close_message').click(function() {
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
        loadSetting();
    });
    
</script>
<script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>      
</head>
<body>
<form name="distributorGroupForm" method="POST" action="adm_distributorGroup.do">
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
    <!-- header -->
         #parse("snippets/adminWizardHeader.vm")
    <!-- header-end -->
	</td></tr>
	
    <tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top" style="width:195px;">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
    <!-- left-pannel-content -->
        <div >
            <div id="l-menu-back">
                <div class="$brander.getBrandElement("lms.sendEmail.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.addDistributorGroup.leftMenu.caption.addNewDistributorGroup")<br />$brander.getBrandElement("lms.administrator.addDistGroup.caption.Step-1-of-3")</div>
                <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text-act")">$brander.getBrandElement("lms.addDistributorGroup.leftMenu.caption.distributorGroupName")</div>
                <div class="$brander.getBrandElement("lms.listServeyQuestions.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.addDistributorGroup.leftMenu.caption.distributor")</div>
                <div class="$brander.getBrandElement("lms.listServeyQuestions.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.addDistributorGroup.leftMenu.caption.summary")</div>
            </div>
        </div>
        <!-- left-pannel-content-end -->
		</table></td>
		
        <!-- right-pannel-content -->
        <TD id="content" >
	<div id="scrollable">
#springBind("distributorGroupForm.*")
        #if($status.error)
        <!-- error-box -->
        <div id="message_box">
                <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                #foreach($errorCode in $status.errorCodes)
                        #set ($error = $brander.getBrandElement($errorCode))
                        <div class="width40pct">
                        <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                        <div class="message_box_align">$error</div>
                        </div>
                #end
        </div>
        <!-- error-box -->
        #end

            <!-- Logo+Manage-User -->
	<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	    		    <tr>
	    			<td id="page-icon" class="courseLogoDistributor">
	    			    &nbsp;
	    			</td>
	    			<td id="page-description">
	    			    <div id="page-heading">$brander.getBrandElement("lms.addDistributorGroup.caption.addNewDistributorGroup")</div>
	    			    <div id="page-help">$brander.getBrandElement("lms.addDistributorGroup.caption.description")</div>
	    			</td>
	    		    </tr>
	    		</table>
        
            <!-- Logo+Manage-User-end -->

            <!-- Group-Name -->
            <div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.content-Block")">
                <div id="e7a" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.Block-Contain-header")">
                    <div id="e8" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.addDistributorGroup.caption.distributorGroupName")</div>
                </div>
                <!-- User-left-right-list -->
                <div id="e7b" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.Search-inputfield-box")">
                    <!-- s -->
                    <div id="e12" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.search-content-row1a")"><!-- using for space --></div>
                    <!-- 1 -->
                    <div id="e12" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.search-content-row")">
                        <div #if($status.error) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.viewEntitlementDetails.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.viewOrganizationGroup.caption.groupName")</div>
                        
                        #springBind("distributorGroupForm.distributorGroupName")
                        <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if(! $status.value) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($status.error) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
                        <div class="$brander.getBrandElement("lms.manageUser.manageOrganizationGroup.Org-grp_3")"><input type="text" maxlength="50" name="${status.expression}" value="$!{status.value}" class="input_field2a" tabindex="9"/></div>
                                <!-- *************************************************************** -->
                                <script language="javascript" > 
                                /* 
                                    Added on 23 April 2009 
                                    By Adeel Hussain 
                                    Reason to Solve Bug # LMS-1406
                                */ 
                                setFormValue( "${status.expression}"); </script>
                                <!-- *************************************************************** -->
                    </div>
                    <!-- 0 -->
                    <div id="e13" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.search-content-row")">
                        <div class="$brander.getBrandElement("lms.viewEntitlementDetails.cssClass.block_text_in-r-f")"></div>
                        <div class="$brander.getBrandElement("lms.editMultipleChoiceRatingSelect.cssClass.input_field_area-user-f")"></div>
                    </div>
                    <!-- 14 -->
                </div>
                <!-- End-User-left-right-list -->
            </div>
            <!-- User-profile-end -->

            <!-- space -->
            <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
            <!-- space -->

            <!-- button-div -->
            <div class="$brander.getBrandElement("lms.editSurveyCources.cssClass.managerBtn")">
               <input type="hidden" id="currentpage" name="_page" value="0"/>
               <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
               <div style="float:right; margin-top:3px;">
				  <a onClick="submitButtonForm(document.distributorGroupForm ,'wizardSubmitter','_target1');" style="text-decoration:none;" tabindex="10">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnNext")</div>
					  <div class="btn_end"></div>
				  </a>
				</div>
				<div style="float:left; margin-top:3px;">
					<a onClick="submitButtonForm(document.distributorGroupForm ,'wizardSubmitter','_cancel');" style="text-decoration:none;" tabindex="11">
						<div class="btn_start"></div>
						<div class="btn_normal">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")</div>
						<div class="btn_end"></div>
					</a>
				</div>	
            </div>
            <!-- scrollable-div -->

            <!-- space -->
            <div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.manager-bottom-space")"></div>
            <!-- space -->
            
            <!-- right-pannel-content-end -->
        </div>
        <!-- content-area-end -->
    </td></tr>
	<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">

    <!-- footer -->
    #parse("snippets/adminFooter.vm")
    <!-- footer-end -->
	</td></tr>
</table>

</form>
</body>
</html>