<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/learnerNewHead.vm")

<head>


<script language="javascript" type="text/javascript">


	$(document).ready(function(){
        $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
        if ($('#right-pannel').height()<$('#content2a').height()) {
            $('#right-pannel').height($('#content2a').height());
        }
        $('#sideBar').height($('#right-pannel').height());

        $('#content2a').scroll(function(){
            $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});
        });
        $('#close_message').click(function(){
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
    });
</script>
</head>

<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">

	<!-- header -->
	#parse("snippets/adminHeader.vm")
	<!-- header-end -->
	</td></tr>
	
	<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top" style="width:195px;">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
		<!-- content-area -->
		<!-- left-pannel-content -->
		#parse("snippets/adminDistributorLeftMenu.vm")
		<!-- left-pannel-content-end -->
		</table></td>
		
		<!-- right-pannel-content -->
		<TD id="content" >
	<div id="scrollable">
	
			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.cssClass.manager-bottom-space")"></div>
			<!-- space -->
			
			<!-- Review-&-Confirm -->
			<div class="$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.cssClass.content-Block")">
				<div class="$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.cssClass.content-Block5")">
					<div class="$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.cssClass.other-link")"><a href="adm_addDistributor.do">$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.caption.subtitle1")</a></div>
				</div>
			</div>
			<!-- Review-&-Confirm-end -->

			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.addNewDistributorConfirmation.cssClass.manager-bottom-space")"></div>
			<!-- space -->
			
		<!-- right-pannel-content-end -->
		</div>
	<!-- content-area-end -->
	</td></tr>
	<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">

	<!-- footer -->
	#parse("snippets/adminFooter.vm")
	<!-- footer-end -->
	</td></tr>
	
</table>
</body>
</html>