<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 #parse("snippets/learnerHead.vm")

<body onLoad="document.searchDistributorForm.distributorName.focus()">
<!-- javascript -->
<script type="text/javascript">

function changeRowColor(checkbox) {
	var tr=checkbox.parentNode.parentNode;
if (checkbox.checked) {
			 tr.style.background="#E9F9FE";
		 } else {
			 tr.style.background="#ffffff";      
		 }
	}
	
	function selectAllCheckBoxes(countCheckBoxes)
	{
		var objCheckAll=document.getElementById("chkAll");
		if (objCheckAll.checked) {
			for(var i = 1; i <= countCheckBoxes; i++){
				var objCheckBox=document.getElementById("chk"+i);
				objCheckBox.checked=true;
				changeRowColor(objCheckBox);
			}
		}else{
			for(var i = 1; i <= countCheckBoxes; i++){
				var objCheckBox=document.getElementById("chk"+i);
				objCheckBox.checked=false;
				changeRowColor(objCheckBox);
			}
		}
	}
	
	function deleteConfirmation() {
			var answer = confirm("Do You want to delete Learner?")
			if (answer){
				return true;
			}
			else{
				return false;
			}
		}
		
function FormSubmit(buttonclick) {
//alert(buttonclick);
document.getElementById('action').value=buttonclick;
document.searchManageForm.submit();
} 


</script>
<!-- javascript -->

<script type="text/javascript" src="javascript/jquerySlider.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//hide the all of the element with class msg_body
			$(".$brander.getBrandElement("lms.administrator.searchMember.cssClass.Search-inputfield-box")").show();
			//toggle the componenet with class msg_body
			$(".$brander.getBrandElement("lms.administrator.searchMember.cssClass.Block-Contain-header")").click(function(){
				//image object
				var pImgObject=this.getElementsByTagName("div")[1].getElementsByTagName("img")[0];

				if(pImgObject.getAttribute("isHidden")=="1") {
					pImgObject.src="brands/default/en/images/minus.gif";
					pImgObject.setAttribute("isHidden","0"); 
					pImgObject.title="Collapse";
				}else{
					pImgObject.src="brands/default/en/images/plus.gif";
					pImgObject.setAttribute("isHidden","1");
					pImgObject.title="Expand";
				}

				$(this).next(".$brander.getBrandElement("lms.administrator.searchMember.cssClass.Search-inputfield-box")").slideToggle(600);
			});
		});
	</script>

  
<div id="main-container">
	<!-- header -->
		#parse("snippets/adminHeader.vm")
	<!-- header-end -->
	<div id="content2a">
	<!-- content-area -->
		<!-- left-pannel-content -->
		<div id="left-pannel">
			<!-- left-menu-content --><!-- <div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.leftmenu-top-shadow")"></div> -->
#parse("snippets/adminDistributorLeftMenu.vm")
			<!-- left-menu-content-end -->
		</div>
		<!-- left-pannel-content-end -->

		<!-- right-pannel-content -->
		<div id="right-pannel">
			
			<!-- Logo+Manage-User -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.courseLogoContainer")">
				<div id="e3" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.courseLogo2")"><img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.icon_Manage-User.gif")" alt="" /></div>
				<div id="e4" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.courseTitleDiv")">
					<div id="e5" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.courseTitle1")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.title")</div>
					<div id="e6" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.courseDetails")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.subtitle")</div>
				</div>
			</div>
			<!-- Logo+Manage-User-end -->
			<form name="searchDistributorForm" method="post" action="adm_manageDistributor.do">
			$pager.setItems($context.listOfDistributors)
#set($totalCount = $pager.total)
#if($pager.hasItems())
	#set($pageFirstIndex = $pager.firstIndex)
	#set($pageLastIndex = $pager.lastIndex)
	#set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
	#set($currentPageCount = $pageLastIndex + 1)
#else
	#set($pageFirstIndex = 0)
	#set($pageLastIndex = 0)
	#set($currentPageSize = 0)
	#set($currentPageCount = 0)
#end

			
<div class="managerBtn">
				<div class="btn-left_n"><input type="button" onclick="javascript:window.location='adm_addDistributor.do';" value="Add Distributor" class="btn-submit_n120" /></div>
			</div>
			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.manager-bottom-space")"></div>
			<!-- space -->

			<!-- Search-User -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.content-Block")">

				<div id="e7a" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.Block-Contain-header")">
					<div id="e8" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.SearchDistributors")</div>
					<div id="e9" class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.Search-ContainerheaderRight")"><img isHideen="1" id="imgSlider" title="Collapse" src="brands/default/en/images/minus.gif"></div>
				</div>

				<!-- User-left-right-list -->
				<div id="e7b" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.Search-inputfield-box")">
					<!-- s -->
					<div id="e12" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.search-content-row1a")"><!-- using for space --></div>
					<!-- 1 -->
					<div id="e11" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.block_text_in-r")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.DistributorName")</div>
						<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.search_field_area")"><input type="text" name="distributorName" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.search_field")"/></div>
					</div>
					<!-- 3 -->
					<div id="e13" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.search-btn-row")">
						<div class="btn-right_n"><input type="submit" value="Search" onclick="FormSubmit('Search');" class="btn-submit_n71" /></div>
						<input type="hidden" id="action" name="action" value=""/>
					</div>
					<!-- 0 -->
				</div>
				<!-- End-User-left-right-list -->
			</div>
			<!-- Search-User-end -->

			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.manager-bottom-space")"></div>
			<!-- space -->

			<!-- Customer-list -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.content-Block")">
				<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Block-Contain-header2")">
					<div id="e13" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.DistributorList")</div>
					
					<div id="e14d" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.ContainerheaderRight-ico")"><a href="adm_manageDistributor.do?action=ShowAll&showAll=true"><img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.checkbox.gif")" width="10" height="10" title="Show All" /></a></div>
					<div id="e14c" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.ContainerheaderRight-ico")">#if( $pager.nextIndex ) <a href="adm_manageDistributor.do?action=ShowAll&pageIndex=$pager.nextIndex"><img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.arrow-forward.gif")" width="6" height="10" title="Next"/></a> #else <img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.arrow-forward.gif")" width="6" height="10" title="Next" /> #end</div>
					<div id="e14b" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.ContainerheaderRight-ico")">#if( $pager.prevIndex ) <a href="adm_manageDistributor.do?action=ShowAll&pageIndex=$pager.prevIndex"><img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.arrow-review.gif")" width="6" height="10" title="Previous" /></a> #else <img src="$brander.getBrandElement("lms.administrator.ManageDistributors.pixel.arrow-review.gif")" width="6" height="10" title="Previous" /> #end</div>
					#set($totalCountminus1 = $totalCount - 1)
					#if($pageFirstIndex == 0 && $pageLastIndex <= 9 && $pageLastIndex!=0)
					#set($x = $pageFirstIndex+1)
					#elseif($pageFirstIndex > 0)
					#set($x = $pageFirstIndex+1)
					#elseif($pageFirstIndex == 0 && $pageLastIndex == $totalCountminus1)
					#set($x = $pageFirstIndex+1)
					#else
					#set($x = 0)
					#end
					#if($pageLastIndex != 0)
					#set($y = $pageLastIndex+1)
					#elseif($totalCount == 1)
					#set($y = 1)
					#else
					#set($y = 0)
					#end
					<div id="e14a" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.Search-ContainerheaderRight")">$brander.getBrandElement("lms.administrator.addNewDistributorGroups.caption.Showing") $x - $y $brander.getBrandElement("lms.administrator.addNewDistributorGroups.caption.of") $totalCount </div>
				</div>
				#set($totCount=$context.listOfDistributors.size())
				<!-- 1 -->
			
			<div id="e7c" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.User-checkbox-box")">
					<div id="e15" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.User-checkbox-row-h")">
						<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.User_coll_H1")"><input type="checkbox" id="chkAll" onClick="selectAllCheckBoxes($totCount);" /></div>
						<div class="$brander.getBrandElement("lms.assignEnroll.User_coll_H2a")">$brander.getBrandElement("lms.administrator.ManageDistributors.caption.Name")</div>
						##<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.User_coll_H2b")">View Administrator</div>
						<div class="$brander.getBrandElement("lms.enrollment.showEnrollments.cssClass.User_coll_H7a")">$brander.getBrandElement("lms.administrator.manageCustomer.caption.email")</div>
						<div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.User_coll_H2b")">$brander.getBrandElement("lms.administrator.manageCustomer.caption.status")</div>
					</div>
					#if($currentPageSize > 0)
					#foreach($loopIndex in [$pageFirstIndex..$pageLastIndex])
					#set($distributor = $context.listOfDistributors.get($loopIndex))
					<!-- 1 -->
					<div id="e16" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.User_coll_1")"><input type="checkbox" id="chk$velocityCount" name="selectCustomer" value="${distributor.id}" onClick="changeRowColor(chk$velocityCount);" /></div>
						<div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.User_coll_2c")"><a href="#springUrl("/admSelectDistributor.do?distributor=$!{distributor.id}")">#dotPadding($!{distributor.Name}12)</a></div>
						<div class="User_coll_7a">#dotPadding($!{distributor.distributorEmail}12)</div>
						#if($distributor.Active)
							<div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.User_coll_2aa")">$brander.getBrandElement("lms.administrator.addNewDistributorProfile.caption.Active")</div>
						#else
							<div class="$brander.getBrandElement("lms.administrator.searchMember.cssClass.User_coll_2aa")">$brander.getBrandElement("lms.administrator.addNewDistributorProfile.caption.Inactive")</div>
						#end
					</div>
					<!-- 1 -->
					#end
					#end
					
					<div id="e16" class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.manager-bottom-space3")"><!-- using for bottom space --></div>
				</div>
				<!-- 1 -->
			   </div>




			<!-- End-Customer-list -->
			
			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.ManageDistributors.cssClass.manager-bottom-space")"></div>
			<!-- space -->

			<!-- right-pannel-content-end -->
		</div> 
		<!-- content-area-end -->
	</div>
	<!-- footer -->
#parse("snippets/adminFooter.vm")
	<!-- footer-end -->
</div>
</form>
</body>
</html>
