<html>

## this must be inclouded on every page for all head items
	<script>
		document.location="adm_editDistributorAddAdministrator.do?Id=$!{context.distributorGroupId}";
	</script>
	<body>

	</body>
</html>