<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
  <script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts.js"> </script>
    <script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.client.js"> </script>
    <script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts-password-strength.js"> </script>
    <script type="text/javascript" language="javascript" src="brands/default/en/scripts/scripts-tooltip.js"> </script>
	<script type="text/javascript" language="javascript" src="javascript/360js.js"></script>
	
	<link type="text/css" href="brands/default/en/css/css_search_net.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" media="all" href="brands/default/en/css/styles.css" />
	
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<link rel="stylesheet" type="text/css" href="brands/default/en/css/css_orgGroup-tree.css"/>  
<link rel="stylesheet" type="text/css" href="brands/default/en/css/instructor/css_tree.css"/>


<script type="text/javascript" language="javascript" >
    function finishPage(){       
       document.getElementById('action').value='addParticipation';
       document.commparticipationFrm.submit();
    }
    
    </script>

</head>
    

    
<body>

<form name="commparticipationFrm" method="post" action="adm_ManageCommissionAddParticipation.do">
<input type="hidden" id="action" name="method" value=""/>
<input type="hidden" id="fromConfirmationPage" name="fromConfirmationPage" value=""/>	
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
        	 #parse("snippets/managerWizardHeader.vm")
			</td>
		</tr>
	        
			
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top" style="width:195px;">
					<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        	           <!-- left-pannel-content -->
                <div>
                        <div id="l-menu-back">
                                <div class="$brander.getBrandElement("lms.administrator.addNewDistributorProfile.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.administrator.resellerCommission.addCommissionParticipationForm.AddParticipationWizard")<br />$brander.getBrandElement("lms.administrator.resellerCommission.addCommissionParticipationForm.AddParticipationWizard.showing1of2")</div>
                                <div class="$brander.getBrandElement("lms.administrator.addNewDistributorProfile.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.administrator.resellerCommission.addCommission.summary")</div>
                                <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text-act")">$brander.getBrandElement("lms.administrator.resellerCommission.addCommission.confirmation")</div>                                
                        </div>
                </div>
                <!-- left-pannel-content-end -->
				</table></td>
		
<TD id="content" >
	<div id="scrollable">
                    <div id="error-message-box" style="display:none;">
                        <div class="error_box">
                            <div id="errors"></div>
                            <div id="close-errors" class="close_icon"></div>
                        </div>
                    </div>

					<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-left: 10px; margin-top:15px;margin-bottom:15px">
						    <tr>
						        <td id="page-icon" class="courseLogoDistributor">
						            &nbsp;
						        </td>
						        <td id="page-description">
						             <div id="page-heading">$brander.getBrandElement("lms.administrator.resellerCommission.addParticipation")</div>
			    					 <div id="page-help">$brander.getBrandElement("lms.administrator.resellerCommission.addParticipation.confirm.title")</div>
						        </td>
						    </tr>
					</table>
					
                   
					
					
		
					
					<div id="resultBox" class="search_box_result" >
                       <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.administrator.resellerCommission.CommissionForm.tab.summary")</span></div>
                        <table width="100%" border="0" cellpadding="0" cellspacing="3">
                            <tr>
                                <td width="30%"><div class="row_text"><b>$brander.getBrandElement('lms.administrator.resellerCommission.addParticipation.name')</b></div></td>
                                <td>
                               		 #springBind("commissionParticipationForm.commissionablePartyName")  
                                	<div class="row_text">${status.value}</div>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                	<div class="row_text"><b>$brander.getBrandElement('lms.administrator.resellerCommission.addCommissionForm.payout')</b></div>
                                </td>
                                <td>
                                	
                                	
                                	
                                	 #springBind("commissionParticipationForm.flat")
									 #if(${status.value}=="true")
									 	<div class="row_text" style="float: left;">Flat Rate</div>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										#springBind("commissionParticipationForm.flatFeeAmount")
										$brander.getBrandElement('lms.administrator.resellerCommission.addCommissionForm.flatRate.symbol') ${status.value}
									 #else
									    <div class="row_text" style="float: left;">Percentage </div>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										#springBind("commissionParticipationForm.percentage")
										${status.value} %
									 #end       
                                </td>
                            </tr>
                        </table>
                    </div>
					
					
					<div style="height: 25px;"></div>
					
					
					<div class="search_box_result">
                        <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.administrator.adminCustomerLeftMenu.ResellerCommissions.CommissionHierarchy")</span></div>
                        <table cellspacing="3" cellpadding="0" border="0" width="100%">
                            <tbody><tr>
                                <td height="25px" width="30%"><div class="row_text"><b>$brander.getBrandElement('lms.administrator.adminCustomerLeftMenu.ResellerCommissions.ParentParticipationName')</b></div></td>
                                <td>
                                #springBind("commissionParticipationForm.parentCommissionParticipationName")
                                <div class="row_text">${status.value}</div></td>
                            </tr>
                        </tbody></table>
                    </div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
				<div style="float:left; margin-left:10px; margin-top:15px;margin-right:5px;">					  
					  <input type="hidden" name="alertId" value="$!{status.value}">
					  <a onClick="location.href='adm_manageCommission.do?method=editResellerCommission&entity=reseller'">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")</div>
						  <div class="btn_end"></div>
					  </a>
                </div>
                
                
                
				 <div style="float:right; margin-top:15px;">
					  <a onClick="finishPage();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.editLearner.caption.Finish")</div>
						  <div class="btn_end"></div>
					  </a>
				</div>	
					
					
				<div style="float:right; margin-top:15px;">
					  <a onClick="location.href='adm_ManageCommissionAddParticipation.do?method=addParticipation&entity=reseller&prevtoSummaryPage=1'" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.administrator.resellerCommission.button.previous")</div>
						  <div class="btn_end"></div>
					  </a>
				</div>
				
				
         </td></tr>
		<tr> <!-- Footer BLOCK -->
			<td id="footer" colspan="2">
		          #parse("snippets/adminFooter.vm")
			</td>
		</tr>
	</table>
</form>
</body>

</html>