<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/learnerNewHead.vm")


<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<link rel="stylesheet" type="text/css" href="brands/default/en/css/instructor/css_tree.css"/>


<script type="text/javascript" language="javascript">
    function confirm(message, callback) {
        $('#deleteConfirmation').modal({
            close:false,
            position: ["40%",],
            overlayId:'confirmModalOverlay',
            containerId:'confirmModalContainer', 
            onShow: function (dialog) {
                dialog.data.find('.message').append(message);
                // if the user clicks "yes"
                dialog.data.find('.yes').click(function () {
                    // call the callback
                    if (jQuery.isFunction(callback)) {
                        callback.apply();
                    }
                    // close the dialog
                    jQuery.modal.close();
                });
            }
        });
    }

    function deleteEntity(){
           if ($("INPUT[type='checkbox'][name='commissionProductCheck']:checked").length>0) {                                            
                confirm("Are you sure you want to delete the Product Category(s)?", function () { 
                	document.getElementById('action').value='deleteCommissionableProduct';
                    document.categoryForm.submit();
                });
            }else {
                $('#selectCommissionableParty').modal({close:false,position: ["40%",]});
            }
       }

    

 $(document).ready(function()
    {
        $('#right-pannel-report').scroll(function()
        {
            $('#message_box').animate({top:$('#right-pannel-report').scrollTop()+"px" },{queue: false, duration: 350});  
        });
        $('#close_message').click(function()
        {
            $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
        });
    });
	
</script>
</head>
#macro( allCommProductCategoryTree $treeNodes  $treeCount  )
    #set($lastDepth = 0)
    #set($arrParent = []) 	
	<table width="100%" align="left" border="0">
	<tr>
		<td width="100%" height="24" align="left" >
    #foreach($node in $treeNodes)
        #set($depthDiff = ${node.depth} - ${lastDepth})
        #set ($var = $velocityCount + $treeCount )
		#if ( ($var%2) ==0)
            #set ($rowColor="tree_node1")
        #else 
            #set ($rowColor="tree_node2")
        #end
        #set ($val = 0)
        $arrParent.add($node.depth,$node.value.id)
        #if ($!{node.depth} > 0)
            #set ($val = $node.depth - 1)
            #set($parentId = $arrParent.get($val))		 	
        #end
	
		<div id="row$treeCount$velocityCount" name="row" class="$rowColor" indx="$velocityCount" parentRef="$!{parentId}" >		
		#foreach($i in [1..${node.depth}])
            #if ($!{node.depth}>0)
            <div class="icon_blank2"></div>
            #end
		#end
		
		
		#if(${node.isLeaf()})
            <div id="divIcon$velocityCount" class="icon_collapse_list" iscollapsed="false" parentRef="$!{parentId}"></div>
        #else 
            <div id="divIcon$velocityCount" class="icon_collapse" onclick="courseGroupTreeRows(this,${treeNodes.size()} , $treeCount);" nodeid="${node.value.id}"></div>
        #end	
	
		<div class="org_checkbox" >
			<input type="checkbox" id="_orgGroup${node.value.id}" name="commissionProductCheck" value="${node.value.id}" />
		</div>
			
		<div class="icon-course"></div>
		
		#set ($padLimit=60-$node.depth*5)
		
		<div class="row_title_inst" >#dotPaddingWithOutTitle(${node.value.name},$padLimit)</div>
		
		<input style="display:none;" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search_field")" type="text" id="txtNode${node.value.id}" name="txtNode${node.value.id}" maxlength="50" />
		
		
		</div>	
    #end
		</td>
	</tr>
	</table>
#end
<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->

        
		<tr> 
			<td id="header" colspan="2"><!-- header -->
     		   #parse("snippets/adminHeader.vm")
        	</td>
		</tr>
<tr>
	<td class="tab_bar" colspan="2">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
			        <td width="192"><div class="tab_blank"></div></td>
			        <td>&nbsp;</td>
			        <td width="483">
			        #set($ssn=$!{request.getSession(true)})
					#set($commissionType = $ssn.getAttribute("commissionType"))
						
			        
			            <a href="adm_manageCommission.do?method=editResellerCommission&entity=reseller"><div class="tab">$brander.getBrandElement("lms.administrator.resellerCommission.CommissionForm.tab.summary")</div></a>
			            
		            	#if(${commissionType}=="product")
			            	<a href="adm_manageCommissionProduct.do?method=searchCategory&entity=reseller"><div style="border-right-style: solid; width: 140px;" class="tab_selected">$brander.getBrandElement("lms.administrator.resellerCommission.CommissionForm.tab.products")</div></a>
			            #else
			            	<a href="adm_manageCommissionProductCategory.do?method=searchCategory&entity=reseller"><div style="border-right-style: solid; width: 140px;" class="tab_selected">$brander.getBrandElement("lms.administrator.resellerCommission.CommissionForm.tab.productCategories")</div></a>			        
						#end
							
			            
			            
			        </td>
			        <td>&nbsp;</td>
			    </tr>
			</table>
	</td>
</tr>	
<tr id="main"> 
          
			<td  id="left-navigation" valign="top">
				<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> 
            		   #parse("snippets/adminDistributorLeftMenu.vm")
				 </table>
		    </td>
			
          
		   <TD id="content">
		      <div id="scrollable">
		      	
		      	 #set($validateCommParCat=$!{request.getSession(false).getAttribute("validateCommParCat")})
                    #if( "$!validateCommParCat" != "" )
                    <div id="message_box"><!-- error-box -->
                        <img id="close_message" style="float:right;cursor:pointer" src="$brander.getBrandElement('lms.errorMessage.pixel.12-em-cross.png')" />
	                        <div class="width40pct">
	                            <div class="message_box_align"><img src="$brander.getBrandElement('lms.errorMessage.pixel.addLearner_06.gif')" width="14" height="14" alt="" /></div>
	                            <div class="message_box_align">$brander.getBrandElement($validateCommParCat)</div>
	                        </div>
	                </div><!-- error-box -->
                    #end
                    $!{request.getSession(true).setAttribute("validateCommParCat", null)}
                    
                    
		       	<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px; margin-left: 10px;">
					    <tr>
					        <td id="page-icon" class="courseLogoDistributor">
					            &nbsp;
					        </td>
					        <td id="page-description">
								 <div id="page-heading">$brander.getBrandElement("lms.administrator.resellerCommission.Productcategory.Title")</div>
		    					 <div id="page-help">$brander.getBrandElement("lms.administrator.resellerCommission.Productcategiries.subtitle")</div>
							</td>
					    </tr>
					</table>

				

                
                <div id="searchResult" class="search_box_result" >
	                    <div id="resultHeader" class="box_header">
	                       <div style="float:left; height:23px;border:0px solid red;">
							<div style="float: left; margin-top: 3px;">
							  <div>
								  <a onClick="window.location.href='adm_manageCommissionProductCategory.do?method=PageNav&entity=reseller';" style="text-decoration:none;">
									  <div class="btn_start"></div>
									  <div class="btn_normal">$brander.getBrandElement("lms.administrator.resellerCommission.Productcategory.Title")</div>
									  <div class="btn_end"></div>
								  </a>
							  </div>
						   </div>
	
						   <div style="float: left; margin-top: 3px;">
							  <div>
								  <a style="text-decoration:none;" onClick="deleteEntity()">
									  <div class="btn_start"></div>
									  <div class="btn_normal">$brander.getBrandElement("lms.administrator.resellerCommission.Productcategory.deleteCategories")</div>
									  <div class="btn_end"></div>
								  </a>
							  </div>
						   </div>
                  </div>

                        
                       
                  </div>
                  
                       
		                       	<div id="searchResult">
						           	<form name="categoryForm" method="post" action="adm_manageCommissionProductCategory.do?entity=reseller" >
						         	<input type="hidden" id="action" name="method" value=""/>
					   				<table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:2px; border-top:1px;">
											<tr bgcolor="#efefef">
												
												<td  colspan="2" class="box_subheader" style="height: 25px; padding-left: 5px; border-right: medium none;width:98%;" >Commission Hierarchy</td>							
											</tr>
										#if ($context.commissionProductList.size() > 0)						
											
											#set( $treeCount = 0 )
											#foreach($commRepTree in $context.commissionProductList )
												<tr>
												<td colspan="2" width="100%">
												#set( $treeCount = $treeCount + 1 )							
												#allCommProductCategoryTree(${commRepTree} $treeCount  )
												</td>
											</tr>							
											#end
												
										#else							
											<tr>
						                        <td colspan="2" width="100%" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(223, 223, 223) ! important;">	                            
						                            <div class="result_blank">$brander.getBrandElement("lms.manageOrganizationGroup.caption.noRecordFound")</div>
						                        </td>
						                    </tr>
										#end
										</table>
									</form>	
								</div>	
                       

                    
                  
                </div>
				  

             </div>
			</td>
      
	  	</tr>
		
        
		<tr> 
			<td id="footer" colspan="2">
        		#parse("snippets/adminFooter.vm")
			</td>
		</tr>
</table>



<div id='deleteConfirmation' style='display:none'><!-- Alert Message Box starts -->
    <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">Are you sure you want to delete the selected Product Category(s)?</div>
    <br style="clear:both" />

<div class='buttons'>
            <div class='simplemodal-close'>
                <a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</span></a>
                <a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
            </div>
</div>
</div>
<div id="selectCommissionableParty" style="display:none">
    <div class="header">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.warning")</div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")</div>
    <br style="clear:both" />
    <div class='buttons'>
        <div class='no simplemodal-close'>
            <a class="button" onClick=""><span class="button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
        </div>
    </div>
</div><!-- Alert Message Box Ends -->
<div id="tooltipForPageList" class="tool_tip"></div> 
</body>
</html>