<head>
 
<script type="text/javascript" language="javascript">

            function selectChildren(eventSourceCheckbox, contractType, setChecked) {
            		
            		var parentCourseGroupId = eventSourceCheckbox.value.split(":")[1];
            		
				    var childCourseGroupCheckboxes =  document.getElementsByTagName("input");
				    
					for (var i=0; i<childCourseGroupCheckboxes.length; i++) {
						if(childCourseGroupCheckboxes[i].type=="checkbox" && childCourseGroupCheckboxes[i].name=="chkProduct")
						{
							var childCourseGroupId = childCourseGroupCheckboxes[i].value.split(":")[0];
							if(parentCourseGroupId==childCourseGroupId)
							{
								childCourseGroupCheckboxes[i].checked = setChecked;
								//parentCourseGroupId = childCourseGroupCheckboxes[i].value.split(":")[1];
								selectChildren(childCourseGroupCheckboxes[i], contractType, setChecked);
							}
							
						}
					}
					
					
					
					
					for (var i=0; i<childCourseGroupCheckboxes.length; i++) {
						if(childCourseGroupCheckboxes[i].type=="checkbox" && childCourseGroupCheckboxes[i].name=="chkCategory")
						{
							var childCourseGroupId = childCourseGroupCheckboxes[i].value.split(":")[0];
							if(parentCourseGroupId==childCourseGroupId)
							{
								childCourseGroupCheckboxes[i].checked = setChecked;
								//parentCourseGroupId = childCourseGroupCheckboxes[i].value.split(":")[1];
								selectChildren(childCourseGroupCheckboxes[i], contractType, setChecked);
							}
							
						}
					}
		
			}
</script>
	



</head>


<table width="100%" align="left" border="0">
	#foreach($nodeInfo in $context.treeList)
		#if ($rowColor == "tree_node1")
            #set ($rowColor="tree_node2")
        #else 
            #set ($rowColor="tree_node1")
        #end
		<tr>
			<td width="100%" height="24" align="left" >
				<div class="$rowColor">
					#if(${nodeInfo.level} > 0)
						#foreach($i in [1..${nodeInfo.level}])
							<div class="icon_blank2"></div>
						#end	
					#end
					#if($nodeInfo.leaf)
						<div class="icon_collapse_list"></div>
					#else
						<div class="icon_collapse"></div>
					#end	
					<div class="org_checkbox">
					
					#if($nodeInfo.product)
						<input type="checkbox" id="pid_${nodeInfo.id}" name="chkProduct" value="${nodeInfo.parentId}:${nodeInfo.guid}:${nodeInfo.name}" />
					#else
						<input type="checkbox" id="pcid_${nodeInfo.id}" name="chkCategory" value="${nodeInfo.parentId}:${nodeInfo.guid}:${nodeInfo.name}" onclick="selectChildren(this, 'Product', this.checked)" />
					#end
					</div>
					
					
					
					<div class="row_title">
		            	#if($nodeInfo.product)
		            		<img src="$brander.getBrandElement("lms.administrator.manageEntitlementGroup.course.iconCourse.png")" />&nbsp;
		            	#else            	
			        		<img src="$brander.getBrandElement("lms.administrator.manageEntitlementGroup.courseGroup.iconCourseGroup.png")" />&nbsp;
			        	#end
		            </div>			
								
								
					<div class="row_title_inst">$nodeInfo.name</div>	
				</div>	
			</td>
		</tr>
	#end
</table>
		