<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title> Redirecting to the Manage Credential </title>
        <script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                if( 'addCourseConfiguration' == '$!{context.returnURL}'){
                    $('#manageform').attr('action',
                        'acc_addCourseConfig.do?_target1&_page=0&certificateId=$!{context.certificate.id}').submit();
                }else if('editCourseConfiguration' == '$!{context.returnURL}'){
                    $('#manageform').attr('action',
        'acc_manageCourseConfig.do?templateId=$!{context.templateId}&method=editCourseConfig&certificateId=$!{context.certificate.id}').
                        submit();
                }else{
                    $('#manageform').submit();
                }
            });
        </script>
    </head>

    <body>
        <form id="manageform" name="manageform" action="acc_manageApproval.do" method="POST"> 
            <input type="hidden" name="method" value="$!{context.target}"/>
        </form>
    </body>
</html>
