<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("snippets/accreditation/accreditationDefaultHead.vm")
    
<script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>

        
 <script language="javascript" type="text/javascript">

            $(document).ready(function(){
               
				$("#toggleIconForSummary").click(function() {
                    toggleView('toggleIconForSummary', 'collapsibleSummary');
                });
               
            });
</script>               
</head>
<body>
<form name="addRequirement" method="post" action="acc_addCoursesInCredentials.do" >
   <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">            <!--Header Start -->
                #parse("snippets/managerWizardHeader.vm")
            <!-- Header End -->
			</td</tr>
			
<!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
            <div>
          <div id="l-menu-back">
                          <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accraditation.crededtional.TrainingCourses.caption")</div>
                        <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accraditation.crededtional.TrainingCourses.caption.step1")</div>
                        <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accraditation.crededtional.TrainingCourses.caption.step2")</div>
        </div>
        </div>

     </table></td>
		
<TD id="content" >
	<div id="scrollable">
		
		 	  <!-- Page Description -->
		<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
		<td id="page-description">
			<div id="page-heading">$brander.getBrandElement("lms.accraditation.editApproval.caption.Add-Training-Courses")</div>
			<div id="page-help">$brander.getBrandElement("lms.Accreditation.Credentials.addTrainingCourse.subtitle")</div>
		</td>
	</tr>
</table>	

			
            #springBind("credentialForm.credentialTrainingCourses")
            
             <div class="search_box_result" >
					
                    <div class="box_header" style="background-color: #F9F9F9;">
                    	<div id="toggleIconForSummary" style="float: left; margin-right: 5px;margin-left: 7px;margin-top: 7px;" class="icon-caret-down-large"></div>
                    	<span class="box_heading">$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulatorSummary")</span>
                    </div>
                     	
                     	<div id="collapsibleSummary">
                                
                                 #if($!{status.value.size()} > 0)
                   				 #set($credIndex = 0)
                    
			                     <table border="1" style="  margin-top:2px; border-top:1px; border-right:1px; border-bottom:1px; margin-left:100px;margin-top:20px"  width="50%" cellpadding="0" cellspacing="0" heigth="100%" >
			                                        <tr bgcolor="#efefef" >
			                                            <td class="box_subheader">Training Courses Name</td>
			                                        </tr>
			                    
			                                  
			                    #foreach($appCredential in $!{status.value})
                            		
			                        #if($appCredential.selected == "true")
			                       
					                        
			                                <tr>
			                                    <td class="row_1">$!{appCredential.courseTitle}</td>
			                                </tr>
			                                                     
			                                            
			                                
			                               
			                            
			                        #end
			                        #set($credIndex = $credIndex + 1)
					            #end
		            
		            
            					
                            </table>
                            <br/><br/>
                #end
                </div>
			 </div>
        <!-- *********************************************** -->
		<div class="btn-div">
			<div style="float:right; margin-top:15px;">
			  <a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_finish');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.accreditation.wizard.buttonTextFinish")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>	
			
			<div style="float:right; margin-top:15px;margin-right:5px;">
			  <a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_target0');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			
			<div style="float:left; margin-top:15px;margin-left:0px;">
				<a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_cancel');">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
					  <div class="btn_end"></div>
				</a>
			</div>  
		</div>	
		
		<!-- bottom-space -->
		<div class="manage-bottom-space"></div>
		<!-- bottom-space -->
		
        <input type="hidden" id="currentpage" name="_page" value="2"/>
        <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

       
    </td></tr>
<!-- Body End -->
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
        <!-- Footer Start -->
            #parse("snippets/managerFooter.vm")
        <!-- Footer End -->
	</td></tr>
</table>
</body>
</form>
</html>