<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("snippets/accreditation/accreditationDefaultHead.vm")
   
    <script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
	<script type='text/javascript' src='javascript/dialogBox.js' ></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function(){
           	$('#frame_body').height($(window).height() - ($('#frame_header').height()+$('#footer').height()+$('#tabBar').height()));
            if ($('#right-pannel').height()<$('#frame_body').height()) {
                $('#right-pannel').height($('#frame_body').height());
            }            
            $('#sideBar').height($('#right-pannel').height());

            $("INPUT[type='checkbox'][name='selectedCourses']").click(function(){
                $("#"+this.id).parent().parent().find("td").css("background-color", $("#"+this.id).is(':checked')?"#E9F9FE":"");
                $("#"+this.id).parent().find("INPUT[type='hidden']").val($("#"+this.id).is(':checked'));
            });

            $('#selectAll').click(
               function(){
                  $("INPUT[type='checkbox'][name='selectedCourses']").attr('checked', $('#selectAll').is(':checked'));
                  $("INPUT[type='checkbox'][name='selectedCourses']").parent().parent().find("td").css("background-color", $('#selectAll').is(':checked')?"#E9F9FE":"");
                  $("INPUT[type='checkbox'][name='selectedCourses']").parent().find("INPUT[type='hidden']").val($('#selectAll').is(':checked'));
               }
            )
        });

        function setCustomFieldSelection(checkbox, id){
            document.getElementById(id).value = checkbox.checked;
        }

        function changeRowColor(checkbox,id) {
            var tr=checkbox.parentNode.parentNode;
            var tdarr=$(tr).find("td");
            if (checkbox.checked) {
                for(i=0;i<tdarr.size();i++){
                    tdarr[i].style.background="#E9F9FE";
                }
            } else {
                for(i=0;i<tdarr.size();i++){
                    tdarr[i].removeAttribute("style");
                }
            }
            document.getElementById(id).value = checkbox.checked;
        }

        function selectAllCheckBoxes(firstIndex,lastIndex)
        {
            var objCheckAll=document.getElementById("check_box");
            if (objCheckAll.checked) {
                for(var i = firstIndex; i <= lastIndex; i++){
                    var objCheckBox=document.getElementById("chk"+i);
                    objCheckBox.checked=true;
                    var hiddenid = "manageCustomField[" + i + "].selected";
                    changeRowColor(objCheckBox,hiddenid);
                }
            }else{
                for(var i = firstIndex; i <= lastIndex; i++){
                    var objCheckBox=document.getElementById("chk"+i);
                    objCheckBox.checked=false;
                    var hiddenid = "manageCustomField[" + i + "].selected";
                    changeRowColor(objCheckBox,hiddenid);
                }
            }
        }

        function deleteCustomField(){            
			confirmDelete( //conditionResult, successMessage, failureMessage, successCallbackFunction
				($("INPUT[type='checkbox'][name='selectedCourses']:checked").length>0)
				, "Are you sure you want to delete the Training Course(s)?"
				, '$brander.getBrandElement("lms.accreditation.caption.Please-select-0ne")'
				, function () {
					//document.manageCredential.action = 'acc_ManageCredentialTrainingCourses.do?method=deleteTrainingCourses';
                    //document.manageCredential.submit();
                    document.getElementById('action').value='deleteTrainingCourses';
            		document.manageCredential.submit();
				}
			)
        }

        function sortTrainingCourses(sortColumnIndex,sortDirection,pageIndex,showAll, sortedBy){
             document.getElementById('sortColumnIndex').value=sortColumnIndex;
             document.getElementById('sortDirection').value=sortDirection;
             document.getElementById('showAll').value=showAll;
             document.getElementById('pageIndex').value=pageIndex;
             document.getElementById('action').value=sortedBy;
             //document.forms[0].action = 'acc_ManageCredentialTrainingCourses.do?method=showAlltrainingCoursesByCredential';
             //document.manageCredential.submit();
             document.getElementById('action').value='showAlltrainingCoursesByCredential';
             document.manageCredential.submit();
        }

    </script>
</head>

<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">

<!--Header Start -->
    #parse("snippets/accreditation/accreditationDefaultHeader.vm")
<!-- Header End -->
	 </td></tr>
	 
 <!-- Tabs Start -->
    <td  id="row-tabs" class="tab_bar" colspan="2">
    
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		    <tr>
		        <td width="10%"><div class="tab_blank"></div></td>
		        <td>&nbsp;</td>
                    <td width="610">
                        <a onClick="javascript:window.location='acc_manageCredential.do?method=editCredentialSummary';">
                        	<div class="tab">$brander.getBrandElement("lms.accreditation.editCredential.caption.Summary")</div>
                        </a>
                        <a onClick="javascript:window.location='acc_manageCredential.do?method=showCredentialRequirement';">  <div class="tab">$brander.getBrandElement("lms.accreditation.editCredential.caption.Categories")</div></a>
                        <a onClick="javascript:window.location='acc_manageCredential.do?method=showCustomField';">   <div class="tab">$brander.getBrandElement("lms.accreditation.editCredential.caption.Custom-Fields")</div></a>
                        <a onClick="javascript:window.location='#';">   <div style="width: 130px" class="tab_selected">$brander.getBrandElement("lms.accreditation.editCredential.caption.trainingCourses")</div></a>
                        <a onClick="javascript:window.location='acc_manageCredential.do?method=showProctors';">  <div class="tab" style="border-right-style:solid;">$brander.getBrandElement("lms.accreditation.editCredential.caption.Proctors")</div></a>
                    </td>
		        <td>&nbsp;</td>
		    </tr>
		</table>

    </td>
    <!-- Tabs End -->

<!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
	  #parse("snippets/accreditation/sidebar_regulator.vm") 
	  </table></td>
	  
<TD id="content" >
	<div id="scrollable">
            <form name="manageCredential" method="post" action="acc_ManageCredentialTrainingCourses.do">
                <input type="hidden" id="action" name="method" />
              <!-- Page Description -->
<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
		<td id="page-description">
			    <div id="page-heading">$brander.getBrandElement("lms.instructor.searchSynchronousCourse.caption.TrainingCourses")</div>
			    <div id="page-help">$brander.getBrandElement("lms.instructor.searchSynchronousCourse.caption.TrainingCourses.sutitle")</div>
		</td>
	</tr>
</table>				  

        <!-- Search Result Start -->
        <div id="resultBox" class="search_box_result">
        <!-- Result Header Start -->
            <div id="resultHeader" class="box_header">
                <!-- Result Heading -->
                <div style="float:left; height:23px;">
                    <div class="control-button-position">
                        #springBind("credentialForm.cid")
                        <a onClick="javascript:window.location='acc_addCoursesInCredentials.do?credentialID=$!{status.value}&entity=Credential';" >
                            <div class="btn_start"></div>
                            <div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'">$brander.getBrandElement("lms.instructor.ManageCourseGroup.caption.addCourses")</div>
                            <div class="btn_end"></div>
                        </a>
                     </div>
                    <div class="control-button-position">
						<a onclick="deleteCustomField();">
							<div class="btn_start"></div>
							<div class="btn_normal" onmouseover="this.className='btn_over'" onmousedown="this.className='btn_down'" onmouseup="this.className='btn_normal'" onmouseout="this.className='btn_normal'">$brander.getBrandElement("lms.instructor.ManageCourseGroup.caption.removeCourses")</div>
							<div class="btn_end"></div>
						</a>
                     </div>
                </div>
                #springBind("credentialForm.credentialTrainingCourses")
                $pager.setItems($!{status.value})
                #set($totalCount = $pager.total)
                #if($pager.hasItems())
                        #set($pageFirstIndex = $pager.firstIndex)
                        #set($pageLastIndex = $pager.lastIndex)
                        #set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
                        #set($currentPageCount = $pageLastIndex + 1)
                        #set($pageCurrIndex = $pager.index)
                #else
                        #set($pageFirstIndex = 0)
                        #set($pageLastIndex = 0)
                        #set($currentPageSize = 0)
                        #set($currentPageCount = 0)
                        #set($pageCurrIndex = 0)
                #end
                <input type="hidden" id="gridShowAll" name="showAll" value="false" />
                <input type="hidden" id="pageIndex" name="pageIndex" value="0" />
                <input type="hidden" id="paging" name="paging" value="" />
                <input type="hidden" id="sortDirection" name="sortDirection" value="" />
                <input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="" />
                <input type="hidden" id="showAll" name="showAll" value="" />
                <input type="hidden" id="pageIndex" name="pageIndex" value="" />
                #if($!{context.showAll})
                    #set($showAll=${context.showAll})
                #else
                    #set($showAll=false)
                #end
               <div class="result_left_side">
                    <!-- Result Description -->
                    <!-- All Icon -->
                    <div id="showAll" class="icon_all" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();" onClick="javascript:window.location='acc_ManageCredentialTrainingCourses.do?method=showAlltrainingCoursesByCredential&showAll=true';" value="Search" ></div>
                    <!-- Next Icon -->
                    #if($pager.nextIndex)
                            <div id="goNext" class="icon_next" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();" value="Search" onclick="javascript:window.location='acc_ManageCredentialTrainingCourses.do?method=showAlltrainingCoursesByCredential&pageIndex=$pager.nextIndex&paging=paging';" ></div>
                    #else
                            <div id="goNext" class="icon_disabled">&nbsp;</div>
                    #end

                    <!-- Back Icon -->
                    #if ($pager.prevIndex)
                            <div id="goBack" class="icon_back" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip(); "value="Search" onclick="javascript:window.location='acc_ManageCredentialTrainingCourses.do?method=showAlltrainingCoursesByCredential&pageIndex=$pager.prevIndex&paging=paging';" ></div>
                    #else
                            <div id="goBack" class="icon_disabled">&nbsp;</div>
                    #end
                    <!-- Showing Results -->
                    #if($totalCount>1)
                    <div id="resultDescription" class="box_description">$brander.getBrandElement("lms.accreditation.caption.Showing") $!pager.pageDescription</div>
                    #else
                    <div id="resultDescription" class="box_description"> $brander.getBrandElement("lms.accreditation.caption.Showing") 0 - $totalCount of $totalCount</div>
                    #end
                </div>
            </div>
            <!-- Result Header End -->
            <!-- Result Subheader Start -->
            <div id="searchResult_1">
                <table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:2px; border-top:1px;">
                    #if($currentPageSize > 0)
                    
	                    <tr bgcolor="#efefef">
	                        <td class="check_box_top" width="17px"><input type="checkbox" id="selectAll" name="selectAll" style="margin-left:3px"/></td>
	                        <td class="box_subheader"><a onclick=#if($sortDirection == 0 && $sortColumnIndex == 0) "sortTrainingCourses(0,1,$pageCurrIndex,$showAll, 'courseTitle');" #else "sortTrainingCourses(0,0,$pageCurrIndex,$showAll, 'courseTitle');" #end ><div id="courseTitle" #if($sortColumnIndex == 0 && $sortDirection == 0) class="icon_up" #elseif($sortColumnIndex == 0 && $sortDirection == 1) class="icon_down" #end ></div>$brander.getBrandElement("lms.accraditation.addApproval.caption.CourseName")</a></td>
	                        <td class="box_subheader"><a onclick=#if($sortDirection == 0 && $sortColumnIndex == 1) "sortTrainingCourses(1,1,$pageCurrIndex,$showAll, 'bussinesskey');" #else "sortTrainingCourses(1,0,$pageCurrIndex,$showAll, 'bussinesskey');" #end ><div id="bussinesskey" #if($sortColumnIndex == 1 && $sortDirection == 0) class="icon_up" #elseif($sortColumnIndex == 1 && $sortDirection == 1) class="icon_down" #end ></div>$brander.getBrandElement("lms.courseDesc.label.courseId")</a></td>
	                    </tr>
                    
                        #foreach($loopIndex in [$pageFirstIndex..$pageLastIndex])
                            #if($loopIndex%2 == 0)
                                #set($alternate="row_1")
                            #else
                                #set($alternate="row_2")
                            #end
                            <tr>
                                <td class="$alternate" width="17px" #if($loopIndex==$pageLastIndex)style="border-bottom:none;"#end>
                                    #springBind("credentialForm.credentialTrainingCourses[$loopIndex].id")
                                    <input type="checkbox" id="chk$loopIndex" name="selectedCourses" value="${status.value}" style="margin-left:-2px" hiddenid="hdn$loopIndex"/>
                                    <input type="hidden" id="hdn$loopIndex" name="${status.expression}" value="${status.value}"/>
                                </td>
                                
                                <td class="$alternate" #if($loopIndex==$pageLastIndex)style="border-bottom:none;"#end>
                                        #springBind("credentialForm.credentialTrainingCourses[$loopIndex].courseTitle")
                                        $!{status.value}

                                </td>
                                #springBind("credentialForm.credentialTrainingCourses[$loopIndex].bussinesskey")
                                <td class="$alternate" style="border-right:none;#if($loopIndex==$pageLastIndex)border-bottom:none;#end">$!{status.value} &nbsp;</td>
                            </tr>
                        #end
                    #else
                    	
                    	<tr bgcolor="#efefef">
	                        <td class="check_box_top" width="17px"><input type="checkbox" id="selectAll" name="selectAll" style="margin-left:3px"/></td>
	                        <td class="box_subheader">$brander.getBrandElement("lms.accraditation.addApproval.caption.CourseName")</td>
	                        <td class="box_subheader">$brander.getBrandElement("lms.courseDesc.label.courseId")</td>
	                    </tr>
	                    <tr>
	                    	<td colspan="3"><div class="result_blank">$brander.getBrandElement("error.forgetPassword.norecord")</div> </td>
	                    </tr>	
	                      
                    #end
                </table>
            </div>
            <!-- Result Subheader End -->
            <!-- Search Result Start -->
            <!-- Search Result End -->
        </div>
        <!-- Search Result End -->
         </form>
       </div>

	    </td></tr>
	<!-- Body End -->
	<tr> <!-- Footer BLOCK -->
		<td id="footer" colspan="2">
		<!-- Footer Start -->
		    #parse("snippets/managerFooter.vm")
		<!-- Footer End -->
		</td></tr>
	</table>

    <!-- Alert Message Box -->
	#parse("snippets/messageAlert.vm")				
	<!-- Alert Message Box - Ends -->

	<!-- Delete Message Box -->
	#parse("snippets/deleteConfirmation.vm")	
	<!-- Delete Message Box - end-->

</body>
</html>