<html>

## this must be inclouded on every page for all head items
#parse("snippets/learnerHead.vm")
	
	<script>
		if("$!{context.errorString}".length > 2)
			alert("Unable to connect with Server") ;
		else
		document.location="$brander.getBrandElement("lms.launch.redirecturl")?SESSION=$!{context.learningSessionId}";
//		document.location="$!{context.ICP}";
	</script>
	<body>
		
	</body>
</html>
