<div class="content-Block">
    <div id="e8a" class="Block-Contain-header">
        <div id="e8" class="b-courseheaderDivleft">$brander.getBrandElement("lms.profile.validationQuestion.heading")</div>
    </div>
	<div id="e8b" class="Search-inputfield-box">
		<br>
		<div class="table-page-description">$brander.getBrandElement("lms.profile.validationQuestion.desciption")</div>
		<br>
	</div>	
	<table width="65%">
        <tr>        
        	#springBind("learnerProfileForm.learnerValidationQASet.questionInSet1")
            <td #if($status.error) class="tdQuestionRed" #else class="tdQuestion" #end>
                $brander.getBrandElement("lms.profile.validationQuestion.pick.question1")
            </td>            
            <td class="tdSmall">    
				#if($status.error) 
					<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> 
                #elseif($status.value!=0)  
                	<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" /> 
                #end 
            </td>
            <td>            	
                <select name="${status.expression}" id = "${status.expression}" class="input_field1c" onChange="clearFields('learnerValidationQASet.answerForSet1')">
                	<option value="0">$brander.getBrandElement("lms.profile.validationQuestion.option.selectQuestion")</option>
                    <option value="101" #if($null.isNotNull(${status.value}) && ${status.value}==101) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question1Set1")</option>
                    <option value="102" #if($null.isNotNull(${status.value}) && ${status.value}==102) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question2Set1")</option>
                    <option value="103" #if($null.isNotNull(${status.value}) && ${status.value}==103) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question3Set1")</option>
                </select>
             </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.answerForSet1")
            <td >
            </td>
            <td class="tdSmall">
				#if($status.error) <img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> #end 
            </td>
            <td class="tdPaddingBottom">           		  
                <input name="${status.expression}" id = "${status.expression}" type="password" value="$!{status.value}" class="input_field" maxlength="250"/><br>
            </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.questionInSet2")
             <td #if($status.error) class="tdQuestionRed" #else class="tdQuestion" #end>
                $brander.getBrandElement("lms.profile.validationQuestion.pick.question2")
             </td>
             <td class="tdSmall">
				#if($status.error) 
					<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> 
                #elseif($status.value!=0)  
                	<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" /> 
                #end 
             </td>             
             <td>            	
                <select name="${status.expression}" id = "${status.expression}" class="input_field1c" onChange="clearFields('learnerValidationQASet.answerForSet2')">
                	<option value="0" >$brander.getBrandElement("lms.profile.validationQuestion.option.selectQuestion")</option>
                    <option value="104" #if($null.isNotNull(${status.value}) && ${status.value}==104) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question1Set2")</option>
                    <option value="105" #if($null.isNotNull(${status.value}) && ${status.value}==105) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question2Set2")</option>
                    <option value="106" #if($null.isNotNull(${status.value}) && ${status.value}==106) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question3Set2")</option>
                </select>
             </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.answerForSet2")  
            <td >
            </td>
            <td class="tdSmall">
				 #if($status.error) <img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"/>  #end 
            </td>
            <td  class="tdPaddingBottom">           		              
                <input name="${status.expression}" id = "${status.expression}" type="password" value="$!{status.value}" class="input_field" maxlength="250"/><br>
             </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.questionInSet3")
            <td #if($status.error) class="tdQuestionRed" #else class="tdQuestion" #end>
               $brander.getBrandElement("lms.profile.validationQuestion.pick.question3")
            </td>
            <td class="tdSmall">
				#if($status.error) 
					<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> 
                #elseif($status.value!=0)  
                	<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" /> 
                #end 
            </td>            
            <td>            	
                <select name="${status.expression}" id = "${status.expression}"  class="input_field1c" onChange="clearFields('learnerValidationQASet.answerForSet3')">
                 	<option value="0">$brander.getBrandElement("lms.profile.validationQuestion.option.selectQuestion")</option>
                 	<option value="107" #if($null.isNotNull(${status.value}) && ${status.value}==107) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question1Set3")</option>
                    <option value="108" #if($null.isNotNull(${status.value}) && ${status.value}==108) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question2Set3")</option>
                    <option value="109" #if($null.isNotNull(${status.value}) && ${status.value}==109) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question3Set3")</option>
                </select>
            </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.answerForSet3")
            <td >
            </td>
            <td class="tdSmall">
				#if($status.error) <img   src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"/>  #end 
            </td>
            <td class="tdPaddingBottom">           		
                <input name="${status.expression}" id = "${status.expression}" type="password" value="$!{status.value}" class="input_field" maxlength="250"/><br>
             </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.questionInSet4")
            <td #if($status.error) class="tdQuestionRed" #else class="tdQuestion" #end>
               $brander.getBrandElement("lms.profile.validationQuestion.pick.question4")
            </td>
            <td class="tdSmall">
				#if($status.error) 
					<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> 
                #elseif($status.value!=0)  
                	<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" /> 
                #end 
            </td>            
            <td>            	
                <select name="${status.expression}" id = "${status.expression}" class="input_field1c" onChange="clearFields('learnerValidationQASet.answerForSet4')">
                	<option value="0">$brander.getBrandElement("lms.profile.validationQuestion.option.selectQuestion")</option>                
                    <option value="110" #if($null.isNotNull(${status.value}) && ${status.value}==110) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question1Set4")</option>
                    <option value="111" #if($null.isNotNull(${status.value}) && ${status.value}==111) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question2Set4")</option>
                    <option value="112" #if($null.isNotNull(${status.value}) && ${status.value}==112) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question3Set4")</option>
                </select>
            </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.answerForSet4")  
            <td >
            </td>
            <td class="tdSmall">
			#if($status.error) 	<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" />  #end
            </td>
            <td class="tdPaddingBottom">           		          
                <input name="${status.expression}" id = "${status.expression}" type="password" value="$!{status.value}" class="input_field" maxlength="250"/><br>
            </td>
        </tr>
        <tr>
           #springBind("learnerProfileForm.learnerValidationQASet.questionInSet5")	
            <td #if($status.error) class="tdQuestionRed" #else class="tdQuestion" #end>
               $brander.getBrandElement("lms.profile.validationQuestion.pick.question5")
            </td>
            <td class="tdSmall">
				#if($status.error) 
					<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> 
                #elseif($status.value!=0)  
                	<img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" /> 
                #end 
            </td>            
            <td>            	
                <select name="${status.expression}" id = "${status.expression}" class="input_field1c" onChange="clearFields('learnerValidationQASet.answerForSet5')">
                	<option value="0">$brander.getBrandElement("lms.profile.validationQuestion.option.selectQuestion")</option>              
                    <option value="113" #if($null.isNotNull(${status.value}) && ${status.value}==113) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question1Set5")</option>
                    <option value="114" #if($null.isNotNull(${status.value}) && ${status.value}==114) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question2Set5")</option>
                    <option value="115" #if($null.isNotNull(${status.value}) && ${status.value}==115) selected #end>$brander.getBrandElement("lms.profile.validationQuestion.option.question3Set5")</option>
                </select>
             </td>
        </tr>
        <tr>
        	#springBind("learnerProfileForm.learnerValidationQASet.answerForSet5")   
            <td >
            </td>
            <td class="tdSmall">
				#if($status.error) <img   src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"  /> #end
            </td>
            <td class="tdPaddingBottom">           		         
                <input name="${status.expression}" id = "${status.expression}" type="password" value="$!{status.value}" class="input_field" maxlength="250"/><br>
            </td>
        </tr>        
    </table>
</div>