<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

##----------------------------------------------------------------------------  
## Author Bishwajit Maitra (dec.19.2008)
##---------------------------------------------------------------------------- 


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
#parse("snippets/learnerHead.vm")

<body>
<script language="javascript" type="text/javascript" src="$brander.getBrandElement("lms.manageUser.360js.js")"></script>
        <!-- header part -->
        <div id="header">
		<!-- logo -->
		<div class="wel-logo">
			<div id="a1" class="welcome_message">Welcome Manager, Returning</div>
			<div id="a2" class="logo"><img src="images/logo_360.gif" alt=""/></div>
		</div>
		<!-- logo-end -->
	</div>
        

        <!-- header part end -->

        <!-- body part -->
        <div id="main_body">

            <!-- left body -->
            <div id="left_body">
                left body
            </div>
            <!-- left body end -->

            <!-- left blank -->
            <div id="left_blank">
                
            </div>
            <!-- left blank end -->

            <!-- right body -->
            <div id="right_body">
				<div class="top_blank">
					
				</div>
                <!-- text and image part -->
                <div class="text_image">
                    <!-- image part -->
                    <div class="image_div">
						<img class="image" src="images/manageruser.jpg" alt=""/>
                    </div>
                    <!-- image part end -->

                    <!-- text part -->
                    <div class="text">
						<div class="header_text">Credentials</div>
						<div class="helptext_one">
							Search for any user(s) using the search tool bar,you can edit their details or</div>
						<div class="helptext_two">
							manage their entitlements, enrollments, org group and user group assosiation
						</div>
						<div class="helptext_three">by using a</div>
                    </div>
                    <!-- text part end -->
                </div>
                <!-- text part and image part end -->

                <!-- buttons -->
                <div id="buttons">
                    <div class="add">
						<input type=button value="Delete" name="delete" onClick="">
					</div>
					<div class="delete">
						<input type=button value="Add" name="add" onClick="">
					</div>
                </div>
                <!-- buttons end -->

                <!-- table-2 -->
				<div id="table_1">
					<div class="manager_header">
						<div class="search_users" style="padding-left:1%;">
							Credentials
						</div>
						<!-- <div class="advanced_search">
							Advanced Search
						</div> -->
					</div>

					<div class="table_rows">
						<div class="checkbox">
							<input type="checkbox" name="exsisting"/>
						</div>
						<div class="cred_text">	
							Texas Real State License
						</div>
					</div>
                    <div class="table_rows">
						<div class="checkbox">
							<input type="checkbox" name="exsisting"/>
						</div>
						<div class="cred_text">	
							OSHA Certification
						</div>
					</div>
                    <div class="table_rows">
						<div class="checkbox">
							<input type="checkbox" name="exsisting"/>
						</div>
						<div class="cred_text">	
							Microsoft Certified Solutions Engineer
						</div>
					</div>

                </div>
                <!-- table-2 end-->

                <!-- bottom blank -->
                <div id="bottom_blank">
                    <!-- bottom blank -->
                </div>
                <!-- bottom blank -->
            </div>
            <!-- right body end -->
        </div>
        <!-- body part end -->

        <!-- footer part -->
        <div id="footer">
		<div class="link">&copy; Copyright 2008 360training.com | <a href="" class="log-out">about us</a> | <a href="" class="log-out">contact us</a> | <a href="" class="log-out">terms of use</a></div>
		<div class="log">Learner Mode | <a href="" class="log-out">Log out</a></div>
	</div>
        <!-- footer part end -->

    </body>
</html>
