<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
<DIV style="display:none">
<form id="SFSubmit" action="$context.POCMyWebinarURL" method="post">
<input type="hidden" name="Username"  value="$context.username" />
<input type="hidden" name="Mode" value="Course" />
<input type="hidden" name="LearningSessionGuid" value="$context.learningSessionId" />
<input type="submit" value="submit" />
</form>
</DIV>
Redirecting
<script>



//document.getElementById("SFSubmit").submit();
//var uri = "https://360training.iproctoring.com/demo2/index.php/login/user/$context.username/$context.learningSessionId/$context.firstName/$context.middleName/$context.lastName/Course";
  var uri = "https://qa.iproctoring.com/index.php/learner_info/$context.emailAddress/$context.firstName/$context.middleName/$context.lastName/$context.learningSessionId/$context.courseName";
  var res = uri.replace("@","%40");
  window.location = res;
  	

var res = uri.replace("@","%40");
window.location = res;
	
</script>
</body>
</html>