<html xmlns="http://www.w3.org/1999/xhtml">
<!--
Author: Raja Wajahat Ali
This page is introduced to redirect any URL for th Course launch.
Since, external URLs were not redirecting from Controller in case of Load Balancer.
On local machine redirect URLs were working fine.
-->
<head runat="server">
    <title>Launching Course....</title>
</head>
<body>
Redirecting....
<script>
var uri = "$context.redirectURL";
//var res = uri.replace("@","%40");
//window.location = res;
window.location = uri;
</script>
</body>
</html>