<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/reportAccreditationHead.vm")
<script language="javascript">
    function saveReportFields(){
    document.getElementById("action").value = "saveReportFields";
    document.reportFieldsForm.submit();
    }

   function cancelReportFields(){
    document.getElementById("action").value = "cancelReportFields";
    document.reportFieldsForm.submit();
   }

   function setVisibilityStatus(chkBox, hiddenId){
    document.getElementById(hiddenId).value = chkBox.checked;
   }

    function selectAllCheckBoxes(countCheckBoxes)
    {
        var objCheckAll=document.getElementById("chkAll");

        if (objCheckAll.checked) {
            for(var i = 0; i <= countCheckBoxes; i++){
				var hiddenVarName = "reportFieldsEdit["+i+"].visible";
				var hiddenVar = document.getElementById(hiddenVarName);
                var objCheckBox=document.getElementById("fldChk_"+i);
                objCheckBox.checked=true;
				hiddenVar.value="true";
            }
            
        }else{
            for(var i = 0; i <= countCheckBoxes; i++){
				var hiddenVarName = "reportFieldsEdit["+i+"].visible";
				var hiddenVar = document.getElementById(hiddenVarName);
                var objCheckBox=document.getElementById("fldChk_"+i);
                objCheckBox.checked=false;
				hiddenVar.value="false";
            }
            
        }
    }

</script>

<script type="text/javascript" language="javascript">
$(document).ready(function()
{
    $('#content2a').scroll(function()
    {
        $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});
    });
    $('#close_message').click(function()
    {
        $('#message_box').animate({ top:"+=15px",opacity:0 }, "slow");
    });
});
</script>
</head>

<body>
<div id="main-container">

    <!-- header -->
    #parse("snippets/instructorReportHeader.vm")
    <!-- header-end -->

    <!-- TopBar Start -->
    <div id="topBar" class="Block-Contain-header-report">
        <div id="reportlistheading" class="master-div">
            <div name="eTopMenu" class="menu-text">REPORT LIST</div>
        </div>
        <div class="master-div2">
            <div class="master-div3-position"></div>
            <div class="master-div3"><div class="menu-text"><a href="#springUrl('/ins_ManageReports.do?method=browseReports')" class="sub-top-nav">SUMMARY</a></div></div>
            <div class="master-div3"><div class="menu-text"><a class="sub-top-nav"><b>FIELDS</b></a></div></div>
            <div class="master-div3"><div class="menu-text"><a href="#springUrl('/ins_ManageReports.do?method=displayReportFilters')" class="sub-top-nav">FILTERS</a></div></div>
            <div class=""></div>
        </div>
    </div>
    <!-- TopBar End -->

    <div id="content2r">
    <!-- content-area -->
        <!-- left-pannel-content -->
        #parse("snippets/instructorReportLeftMenu.vm")
        <!-- left-pannel-content-end -->

        <!-- right-pannel-content -->
        <!-- <div id="right-pannel"> -->

        <div id="right-pannel-for-report">
            <!-- for center-align-div -->
            <div class="right-pannel-report">

                #springBind("reportForm.*")
                #if($status.error)
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)
                    #set ($error = $brander.getBrandElement($errorCode))
                    <div class="width40pct">
                        <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                        <div class="message_box_align">$error</div>
                    </div>
                    #end
                </div>
                <!-- error-box -->
                #end

                <!-- Logo+Manage-User -->
                <div class="page_description" id="pageDescription">
                    <div id="e3" class="reportLogo">&nbsp;</div>
               		  <div id="titleHolder" class="courseTitle1">Report Fields</div>
                   	 <div id="detailsHolder">On this page you may choose which report fields are displayed on your report. To enable a field, click on the check box next to the field name. Once complete, click on the Save button.</div>
                    </div>
                <!-- Logo+Manage-User-end -->

                <form name="reportFieldsForm" action="#springUrl('/ins_ManageReports.do')" method="POST">
                    <input type="hidden" id="action" name="method" value=""/>
                    <!-- User-profile -->
                    
#set($currentReport=$reportForm.getCurrentReport())
#if($null.isNotNull($currentReport))
                    <div class="content-Block">
                        <div id="e12" class="Block-Contain-header">
                            <div id="e13" class="Search-Containerheaderleft" style="width:90%">#dotPadding($reportForm.currentReport.title,90)</div>
                        </div>
#if($reportForm.reportFieldsEdit)
#set($fieldListSize = $reportForm.reportFieldsEdit.size())
#if($fieldListSize > 0)
#set($fieldListSize = $fieldListSize - 1)

                        <div id="e7c" class="User-checkbox-box">
                            <div id="e15" class="User-checkbox-row-h" style="border-bottom:1px solid #CCCCCC;margin:0px 0px 0px 0px;">
                                <div class="User_coll_H1"><input type="checkbox" id="chkAll" onClick="selectAllCheckBoxes($fieldListSize);"/></div>
                                <div class="User_coll_H1"><b>FIELDS</b></div>
                            </div>

#set($counter=0)

#foreach($index in [0..$fieldListSize])
#if($counter==0) #set($counter=1) #else #set($counter=0) #end            
                <div id="e16_$index" class="search-content-row" style="margin: 0px 0px 0px 0px;#CCCCCC;border-bottom:1px solid #CCCCCC;background-color:#if($counter==0)#F4F4F4;#else#FFFFFF#end;">
#springBind("reportForm.reportFieldsEdit[$index].visible")
                                <div class="User_coll_1"><input type="checkbox" id="fldChk_$index" value="true" #if($!{status.value}) checked #end onclick="setVisibilityStatus(this,'$status.expression');"/></div>
                                <input type="hidden" id="$status.expression" name="$status.expression" value="$!{status.value}"/>
#springBind("reportForm.reportFieldsEdit[$index].id")
                                <input type="hidden" name="$status.expression" value="$!{status.value}"/>
#springBind("reportForm.reportFieldsEdit[$index].displayName")
                                <div class="User_coll_1" style="text-align:left;width:350px;border-left:1px solid #CCCCCC;">&nbsp;$!{status.value}</div>
                            </div>
#end
#end
#end
                        </div>
                    </div>
                    <!-- User-profile-end -->
        
                     <!-- space -->
                    <div class="manager-bottom-space"></div>
                    <!-- space -->
                
                    <!-- button-div -->
                    <div class="managerBtn">
                        <div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-right3")">
							<a class="button" onclick="cancelReportFields();" >
								<span class="button">Cancel</span>
							</a>
							#if(!$currentReport.systemOwned)
							<a class="button" onclick="saveReportFields();" >
								<span class="button">Save</span>
							</a>
							#end
						</div>
                    </div>

                     <!-- space -->
                    <div class="manager-bottom-space"></div>
                    <!-- space -->
#end

                </form>
            </div>
            <!-- for center-align-div -->
        </div>
    <!-- content-area-end -->
    </div>
    <!-- footer -->
    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
       #parse("snippets/adminFooter.vm")
    #else
       #parse("snippets/instructor/instructorFooter.vm")
    #end
    <!-- footer-end -->
</div>

</body>
</html>
