<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Redirecting to Manage Course Instructors </title>
</head>

<body  onload="document.manageform.submit()">
<form name="manageform" action="mgr_searchCourseInstructor.do?id=${context.courseId}" method="post" >

	<!-- hidden elements for form binding -->
	<input id="id" type="hidden" name="id" value="${context.courseId}" />
	<input id="action" type="hidden" name="action" value="${context.action}" />	

</form>
</body>
</html>