<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/learnerNewHead.vm")
<head>
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type='text/javascript' src='javascript/js_survey.js' ></script>

<script type='text/javascript'>
    
	   $(document).ready(function() {
	 
        $('#sideBar').height($('#right-pannel').height());
		
        $('#chkAll').click(
           function(){
              $("INPUT[type='checkbox'][name='rowone']").attr('checked', $('#chkAll').is(':checked'));
              $("INPUT[type='checkbox'][name='rowone']").parent().parent().find("td").css("background-color", $('#chkAll').is(':checked')?"#E9F9FE":"");
           }
        )
		$('#sideBar').height($('.scrollable').height());
    });
	  function deleted(){
        if ($("INPUT[type='checkbox'][name='rowone']:checked").length>0) {
            confirm("$brander.getBrandElement("lms.manageUser.manageOrganizationGroup.delete.confirmMessage")", function () {
                document.getElementById('action').value='deleteTrigger';
                document.manageTrigger.submit();
            });
        }else {
            $('#selectLearner').modal({close:false,position: ["40%",]});
        }
    }

     function changeRowColor(checkbox) {
    var tr=checkbox.parentNode.parentNode;
    var tdarr=$(tr).find("td");
          if (checkbox.checked) {
              for(i=0;i<tdarr.size();i++){
                tdarr[i].style.background="#E9F9FE";
              }
          } else {
              for(i=0;i<tdarr.size();i++){
                tdarr[i].removeAttribute("style");
              }
          }
    }
	  function confirm(message, callback) {
        $('#deleteConfirmation').modal({
            close:false,
            position: ["40%",],
            overlayId:'confirmModalOverlay',
            containerId:'confirmModalContainer',
            onShow: function (dialog) {
                dialog.data.find('.message').append(message);
                // if the user clicks "yes"
                dialog.data.find('.yes').click(function () {
                    // call the callback
                    if (jQuery.isFunction(callback)) {
                        callback.apply();
                    }
                    // close the dialog
                    jQuery.modal.close();
                });
            }
        });
    }

     function sortTrigger(sortColumnIndex,sortDirection,pageIndex,showAll){
        document.getElementById('sortColumnIndex').value=sortColumnIndex;
        document.getElementById('sortDirection').value=sortDirection;
        document.getElementById('showAll').value=showAll;
        document.getElementById('pageIndex').value=pageIndex;
        document.getElementById('action').value='displayAlertTrigger';
        document.manageTrigger.submit();
    }
        
    $(document).ready(function() {
        $('#sideBar').height($('.scrollable').height());
    });
   function onNextPage(nextIndex){
        var itemNo= document.getElementById('pageCurrIndex').value
        var items=$pager.itemsPerPage;
        var pn = parseInt(items) +  parseInt(itemNo);
        return pn;
      }

      function onPreviousPage(previousIndex){
        var itemNo= document.getElementById('pageCurrIndex').value
        var items=$pager.itemsPerPage;
        var pn = parseInt(itemNo) - parseInt(items) ;
        return pn;
       }
</script>
</head>

<body>
<form name="manageTrigger" method="post" action="mgr_manageTrigger.do">
<input type="hidden" id="action" name="method" value=""/>
<input type="hidden" name="alertId" value='$request.getParameter("alertId")'/>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
    <!--Header Start -->
			 #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
			  #parse("snippets/adminHeader.vm")
			 #else
			#parse("snippets/managerHeader.vm")
			#end
    <!-- Header End -->
	</td>
	</tr>
    
	 <td  id="row-tabs" class="tab_bar" colspan="2">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="194"><div class="tab_blank"></div></td>
                        <td>&nbsp;</td>
                        <td width="350">

                            <a href='mgr_alertCourse.do?method=showEditAlertPage&alertId=$request.getParameter("alertId")'><div class="tab">$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.summary")</div></a>
                            <a href="mgr_manageRecipient.do?alertId=$request.getParameter('alertId')"><div class="tab">$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.recipients")</div></a>
                            <a href="mgr_manageTrigger.do?alertId=$request.getParameter('alertId')"><div class="tab_selected" STYLE="border-right:1px solid #DADADA;">$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.triggers")</div></a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </td>
    <!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
       #parse("snippets/compliance/complianceLeftMenu.vm")
	   </table>
	  </td>
	  
     <TD id="content" >
	<div id="scrollable">
					<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
						    <tr>
						        <td id="page-icon" class="icon_surveys">
						            &nbsp;
						        </td>
						        <td id="page-description">
						            <div id="page-heading">$brander.getBrandElement("lms.manager.manageAlert.editTrigger.caption.editTrigger")</div>
						            <div id="page-help">$brander.getBrandElement("lms.myAlert.addAlert.subheading")</div>
						        </td>
						    </tr>
						</table>
            <!-- Page Description -->
            <!-- Search Result Start -->
            <div id="resultBox" class="search_box_result" style="border-bottom:none;">
            <!-- Result Header Start -->
                <div id="resultHeader" class="box_header">
                    <!-- Result Heading -->
                    <div style="float:left; height:23px;">

                    <!-- Result Heading -->
					<div style="float:left; margin-top:3px;">
					  <a onClick="javascript:window.location='mgr_addTrigger.do?alertId=$request.getParameter('alertId')';" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.addTrigger")</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
					<div style="float:left; margin-top:3px;">
					  <a  onClick="deleted();" style="text-decoration:none;">
						  <div class="btn_start"></div>
						  <div class="btn_normal">Delete Trigger</div>
						  <div class="btn_end"></div>
					  </a>
					</div>
                   
                    </div>
                   
                    <div class="result_left_side">
                        #springBind("triggerForm.mngAlerts")
                            $pager.setItems($!{status.value})
                            #set($totalCount = $pager.total)
                            #if($pager.hasItems())
                                    #set($pageFirstIndex = $pager.firstIndex)
                                    #set($pageLastIndex = $pager.lastIndex)
                                    #set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
                                    #set($currentPageCount = $pageLastIndex + 1)
                                    #set($pageCurrIndex = $pager.index)
                            #else
                                    #set($pageFirstIndex = 0)
                                    #set($pageLastIndex = 0)
                                    #set($currentPageSize = 0)
                                    #set($currentPageCount = 0)
                                    #set($pageCurrIndex = 0)
                            #end
						
                        <input type="hidden" id="pageIndex" name="pageIndex" value="0" />
                        <input type="hidden" id="paging" name="paging" value="" />
                        <input type="hidden" id="sortDirection" name="sortDirection" value="" />
                        <input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="" />
                        <input type="hidden" id="showAll" name="showAll" value="false" />
                        <input type="hidden" id="pageCurrIndex" name="pageCurrIndex" value="0" />
							
							 #if($!{context.showAll})
                            #set($showAll=$!{context.showAll})
                        #else
                            #set($showAll=false)
                        #end
                                <!-- All Icon -->
                                #if($!{status.value})
                                    #if($!{status.value.size()} > 10)
                                        <div id="showEach" class="icon_all" onClick="javascript:window.location='mgr_manageTrigger.do?method=displayAlertTrigger&showAll=true&alertId=$request.getParameter('alertId')';" value="Search" name="_target0" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();"></div>
                                    #end
                                #end
                                <!-- Next Icon -->
                                #if($pager.nextIndex)
                                        <div id="goNext" class="icon_next" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();" value="Search" name="_target0" onclick="javascript:window.location='mgr_manageTrigger.do?method=displayAlertTrigger&alertId=$request.getParameter('alertId')&pageIndex=$pager.nextIndex&paging=paging&pageCurrIndex=onNextPage($pager.nextIndex);';" ><img src="$brander.getBrandElement("lms.pixel.arrow-forwardGif")" width="6" height="10"  title="Next Page" /></div>
                                #else
                                        <div id="goNext" class="icon_disabled">&nbsp;</div>
                                #end
                                <!-- Back Icon -->
                                #if ($pager.prevIndex)
                                        <div id="goBack" class="icon_back" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip(); "value="Search" name="_target0" onclick="javascript:window.location='mgr_manageTrigger.do?method=displayAlertTrigger&alertId=$request.getParameter('alertId')&pageIndex=$pager.prevIndex&paging=paging&pageCurrIndex=onPreviousPage($pager.prevIndex);';" ><img src="$brander.getBrandElement("lms.pixel.arrow-reviewGif")" width="6" height="10"  title="Previous Page"/></div>
                                #else
                                        <div id="goBack" class="icon_disabled">&nbsp;</div>
                                #end
                                <!-- Showing Results -->
                                <div id="resultDescription" class="box_description">$brander.getBrandElement("lms.manager.manageTrainingPlans.caption.Showing") $!pager.pageDescription </div>

                                </div>
								</div>

                     
                        <div id="searchResult_1">
                            <form name="myformone" style="padding:0; margin:0;" action="">
							<input type="hidden" name="alertId" value='$request.getParameter("alertId")'/>
			     #if($currentPageSize >0)                             
									 <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:1px;">
                                    <tr bgcolor="#efefef">
                                        <td class="check_box_top" width="17px"><input type="checkbox" id="chkAll"   name="selectedLearnerGroup" style="margin-left:0px"/></td>
                                        <td class="box_subheader"><div  style="margin-left:5px;" #if($context.sortDirection == 0) onclick="sortTrigger(0,1,$pageCurrIndex,$showAll);" #else onclick="sortTrigger(0,0,$pageCurrIndex,$showAll);" #end ><div  id="nameSort" #if(($context.sortDirection == 1 )&&($context.sortColumnIndex == 0)) class="icon_down" #elseif($context.sortColumnIndex == 0) class="icon_up" #else class="icon_down" #end ></div >$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.triggerName")</div ></td>
										 </tr>
				     #foreach($loopIndex in [$pageFirstIndex..$pageLastIndex])
					    #springBind("triggerForm.mngAlerts[$loopIndex]")
					       #set($trigger = $!{status.value})
						    #if($loopIndex%2 == 0)
							#set($alternate="row_1")
						    #else
							#set($alternate="row_2")
						    #end
					    <tr>
						<td class="$alternate"width="17px" #if($currentPageCount==$pageLastIndex) style="border-bottom:none;" #end><input type="checkbox" name="rowone" value= 
						"${trigger.trigger.id}" onclick="changeRowColor(this);" style="margin-left:0px"/></td>
						<td class="$alternate"><a href='mgr_manageTrigger.do?method=showEditTriggerPage&triggerId=$trigger.trigger.id'><u>$trigger.trigger.triggerName</u></a></td>
					    </tr>
					#end

                                </table>
				#else
					<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:1px;">
					    
						<tr bgcolor="#efefef" >
						<td class="check_box_top" width="36"><input type="checkbox" name="selectAll"  style="margin-left:3px; margin-right:0px;"/></td>
						

                        <td class="box_subheader" >$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.triggerName")</td>
                       
					    </tr>
					    <tr>
					       <td colspan="7" style="border-bottom:1px solid;border-color:#dfdfdf !Important;">
						    <div class="result_blank">$brander.getBrandElement("lms.manager.manageAlert.manageTrigger.caption.noRecordsDisplay")</div>
						</td>
					    </tr>


					</table>
              

                #end

            </div>
            <!-- Search Result End -->
        </div>
    </div>
</td></tr>

<!-- Body End -->
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
    <!-- Footer Start -->
   #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
       #parse("snippets/adminFooter.vm")
    #else
       #parse("snippets/managerFooter.vm")
    #end   
    <!-- Footer End -->	
	</td>
	</tr>
    
    

</table>
</form>
     <div id="selectLearner" style="display:none; ">
        <div class="header" style="width:390px;">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.warning")</div>
        <div class="alert_message_box_icon"></div>
        <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")</div>
        <br style="clear:both" />
        <div class='buttons'>
            <div class='no simplemodal-close'>
                    <a class="button" onClick=""><span class="button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
            </div>
        </div>
    </div>
	<div id='deleteConfirmation' style='display:none'>
		<div class='header'><span>$brander.getBrandElement("lms.accreditation.caption.Please-Confirm")</span></div>
		<div class="alert_message_box_icon"></div>
		<div class="alert_message_box_text">Are you sure you want to delete the selected Trigger(s)?</div>
		<br style="clear:both" />
		<div class='buttons'>
			<div class='simplemodal-close'>
				<a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.accreditation.caption.Cancel")</span></a>
				<a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.accreditation.caption.OK")</span></a>
			</div>
		</div>
	</div>
	</form>
</body>
</html>