<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("snippets/accreditation/accreditationDefaultHead.vm")
  
    <script type="text/javascript" language="javascript" src="javascript/360js.js" >
    </script>
</head>
<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
            <!--Header Start -->
                #parse("snippets/managerWizardHeader.vm")
            <!-- Header End -->
			</td></tr>
			
<!-- Body Start -->
    <tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        <div>
          <div id="l-menu-back">
            <div class="l-menu-back-text-h">Add Reporting Field Wizard<br>showing 1 of 3</div>
            <div class="l-menu-back-text-act">1. Select Reporting Field</div>
            <div class="l-menu-back-text">2. Summary</div>          
            <div class="l-menu-back-text">3. Confirmation</div>
          </div>
        </div>
               		</table></td>
		
<TD id="content" >
	<div id="scrollable">
                <!-- Page Description -->
<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
		<td id="page-description">
		<div id="page-heading">$brander.getBrandElement("lms.accraditation.editApproval.caption.AddReportingField")</div>
		<div id="page-help">$brander.getBrandElement("lms.accraditation.editApproval.addReportingField.caption.subtitleS1")</div>
		</td>
	</tr>
</table> 
    <form name="addCreditReportingField" method="post" action="acc_addCreditReportingField.do" >
    	<input type="hidden" name="step1" value="page1" />
        <div class="search_box_result">
             <div class="box_header"><span class="box_heading">Field Type</span></div>
                        #springBind("reportingFieldForm.fieldType")
                        #set($type = [])
                        #set($temp = true)
                        #foreach($crFieldType in $reportingFieldTypes)
                            #set($temp = $type.add($crFieldType))
                        #end
             <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                    <tr>
                        <td valign="top" width="15"><div class="row_text"></div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(0)" class="input_radio" #if($!{status.value} == "$type.get(0)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Single Line of Text</div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(1)" class="input_radio" #if($!{status.value} == "$type.get(1)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Date</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A basic single line text box custom field to allow text input.</div></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A custom field that stores dates with time component.</div></td>
                        <td></td>
                    </tr>                   
                    <tr>
                        <td valign="top"><div class="row_text"></div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(2)" class="input_radio" #if($!{status.value} == "$type.get(2)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Multiple Lines of Text</div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(3)" class="input_radio" #if($!{status.value} == "$type.get(3)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Number</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A multi line text area to allow text input.</div></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A custom field that stores and validates numeric values.</div></td>
                        <td></td>
                    </tr>                       
                    <tr>
                        <td valign="top"><div class="row_text"></div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(4)" class="input_radio" #if($!{status.value} == "$type.get(4)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Radio Button</div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(5)" class="input_radio" #if($!{status.value} == "$type.get(5)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Choose (Menu to choose from)</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A list of radio buttons.</div></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">Choose multiple values from a select list.</div></td>
                        <td></td>
                    </tr>                       
                    <tr>
                        <td valign="top"><div class="row_text"></div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(6)" class="input_radio" #if($!{status.value} == "$type.get(6)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Check Box</div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(7)" class="input_radio" #if($!{status.value} == "$type.get(7)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Social Security Number</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">Choose multiple values using checkboxes.</div></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A custom field to store and validate social security number.</div></td>
                        <td></td>
                    </tr>                                               
                    <tr>
                        <td valign="top"><div class="row_text"></div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(8)" class="input_radio" #if($!{status.value} == "$type.get(8)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Static Field</div></td>
                        <td><input type="radio" name="${status.expression}" value="$type.get(9)" class="input_radio" #if($!{status.value} == "$type.get(9)") checked #end /><div style="padding-top:1px; float:left; font-weight:bold;">Telephone Number</div></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">Choose Permanaent fields of Learner Profile</div></td>
                        <td><div style="padding-top:1px; float:left; margin-left:23px;">A custom field to store and validate telephone number.</div></td>
                        <td></td>
                    </tr>                                                
             </table>            
         </div>     

            <!-- *********************************************** -->
			<div class="btn-div">
				<div style="float:right; margin-top:15px;">
				  <a onClick="submitButtonForm(document.addCreditReportingField,'wizardSubmitter','_target1');">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.accreditation.wizard.buttonTextNext")</div>
					  <div class="btn_end"></div>
				  </a>
				</div>	
				
				<div style="float:left; margin-top:15px;margin-left:10px;">
					<a onClick="submitButtonForm(document.addCreditReportingField,'wizardSubmitter','_cancel');">
						  <div class="btn_start"></div>
						  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
						  <div class="btn_end"></div>
					</a>
				</div>  
			</div>	
			
			<!-- bottom-space -->
			<div class="manage-bottom-space"></div>
			<!-- bottom-space -->
			
			<input type="hidden" id="currentpage" name="_page" value="0"/>
            <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
       </div>
    </form>
	    </td></tr>
	<!-- Body End -->
	<tr> <!-- Footer BLOCK -->
		<td id="footer" colspan="2">
		<!-- Footer Start -->
		    #parse("snippets/managerFooter.vm")
		<!-- Footer End -->
		</td></tr>
	</table>
</body>
</html>