@charset "utf-8";
.btn_add_start, .btn_delete_start, .btn_search_start{
	float:left;
	width:17px;
	height:19px;
	background-image:url(../../images/btn_add_start.gif);
	background-repeat:no-repeat;
	margin-left:2px;
	}
.btn_delete_start{
	background-image:url(../../images/btn_delete_start.gif);
	}
.btn_search_start{
	background-image:url(../../images/btn_search_start.gif);
	}
.btn_normal{
	float:left;
	min-width:73px;
	height:19px;
	font-family:Tahoma;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	padding-top:3px;
	background-image:url(../../images/btn_normal.gif);
	background-repeat:repeat-x;
	cursor:pointer;
	color:white;
	padding-left:3px;
	padding-right:3px;
	}
.btn_down{
	float:left;
	min-width:73px;
	height:19px;
	font-family:Tahoma;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	padding-top:3px;
	background-image:url(../../images/btn_down.gif);
	background-repeat:repeat-x;
	cursor:pointer;
	color:white;
	padding-left:3px;
	padding-right:3px;
	}
.btn_over{
	float:left;
	min-width:73px;
	height:19px;
	font-family:Tahoma;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	padding-top:3px;
	background-image:url(../../images/btn_over.gif);
	background-repeat:repeat-x;
	cursor:pointer;
	color:white;
	padding-left:3px;
	padding-right:3px;
	}
.btn_end{
	float:left;
	width:5px;
	height:19px;
	background-image:url(../../images/btn_end.gif);
	background-repeat:no-repeat;
	margin-right:4px;
	}
.btn_start{
	float:left;
	width:5px;
	height:19px;
	background-image:url(../../images/btn_start.gif);
	background-repeat:no-repeat;
	}