.icon_disabled{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px
}


#message_box { 
   position: absolute; 
   top: 0;
   left:2%;
   z-index: 100; 
   background:#fff;
   padding:5px;
   border:1px solid #FF0000;
   font-family:Arial, Helvetica, sans-serif;
   text-align:left; 
   color: #FF0000;
   width: 95%;
   *width: 92%;
}

.message_box_align{float: left;margin: 5px;}
.width40pct{float: left;width:48%;}

#content2a{position:relative;}

div.fileinputs {
    width:500px;
    overflow:hidden;
    height:23px;
}

div.fakefile {
    float:left;
    position: relative;
    top: -22px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    z-index: 2;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    height:22px;
    width:450px;
    cursor:pointer
}

a.browsbutton {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    background: transparent url(../../images/button_right.gif) no-repeat center right;
    white-space: nowrap;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10px !important;
    font-size: 10px;
    padding: 5px 6px 8px 0 !important;
    line-height: 8px !important;
    letter-spacing: 1px;
    font-weight: normal;
    float:left;
    margin-left:10px;
    width:70px;
    *width:75px;
}

a.browsbutton span {
    background: transparent url(../../images/button_left.gif) no-repeat center left;
    padding: 3px 3px 3px 15px !important;
    *padding: 3px 3px 3px 20px !important;
    font-weight: normal;
}