@charset "utf-8";
.btn_add_start, .btn_delete_start, .btn_search_start {
background-image:url("../../images/btn_add_start.gif");
background-repeat:no-repeat;
float:left;
height:19px;
margin-left:2px;
width:17px;
}
.btn_delete_start {
background-image:url("../../images/btn_delete_start.gif");
}
.btn_search_start {
background-image:url("../../images/btn_search_start.gif");
}
.btn_normal, .btn_down, .btn_over {
background-image:url("../../images/btn_center.gif");
background-repeat:repeat-x;
color:white;
cursor:pointer;
float:left;
font-family:Arial,Helvetica,Geneva,sans-serif;
font-size:10px;
height:21px;
letter-spacing:1px;
min-width:73px;
padding-left:3px;
padding-right:3px;
padding-top:3px;
text-align:center;
text-transform:uppercase;
}
.btn_down {
background-image:url("../../images/btn_center.gif");
}
.btn_over {
background-image:url("../../images/btn_center.gif");
}
.btn_end {
background-image:url("../../images/btn_right.gif");
background-repeat:no-repeat;
float:left;
height:19px;
margin-right:1px;
width:3px;
}
.btn_start {
background-image:url("../../images/btn_left.gif");
background-repeat:no-repeat;
float:left;
height:19px;
margin-left:5px;
width:3px;
}