@charset "utf-8";
.side_bar {
background-image:url("../../images/bg_side_bar.gif");
background-repeat:repeat-y;
border-right:1px solid #CCCCCC;
float:left;
height:100%;
left:0;
margin-right:10px;
width:195px;
}
.side_band_normal{
    /*width:192px;*/
    height:38px;
    background-image:url(../../images/bg_band_normal.gif);
    }
.side_band_over{
    /*width:192px;*/
    height:38px;
    background-image:url(../../images/bg_band_over.gif);
    cursor:pointer;
    }
.side_band_down{
    /*width:192px;*/
    height:38px;
    background-image:url(../../images/bg_band_down.gif);
    cursor:pointer;
    }
.band_text{
    text-indent:2%;
    padding-top:6%;
    }
.band_image{
    float:left;
    margin-left:2%;
    margin-top:3.5%;
    }