a:link, a:visited{
	color:#999999;
	text-decoration:none;
	}
#footer{
	height: 4%;
    min-height:24px;/* Minimum height right as HARDCODE */
    width:100%;
   	color:#ececec;
	}
.copyright_text{
	float:left;
	margin-top:7px;
	margin-left:10px;
	}
.user_mode{
	float:right;
	margin-right:5px;
	}
.log_out{
	float:right;
	margin-top:7px;
	margin-right:10px;
        cursor:pointer;
        color:#999999;
	}   


    .link {
        position:absolute;
        float:left;
        height: 70%;
        min-height:70%;
        width:100%;
        font-size:9px;
        color:#999;
        padding:7px 0px 0px 0px;
        margin:0px 0px 0px 10px;
    }
    .log {
        position:relative;
        float:right;
        height: 70%;
        min-height:70%;
        width:20%;
        text-align: right;
        font-size:9px;
        color:#999;
        padding:4px 3% 0px 0px;
    }
.log-out {font-size:9px;color:#999999;text-decoration: none;}
.log-out:link {font-size:9px;color:#999999;text-decoration: none;}
.log-out:active {font-size:9px;color:#999999;text-decoration: none;}
.log-out:visited {font-size:9px;color:#999999;text-decoration: none;}
.log-out:hover {font-size:9px;color:#0066FF;text-decoration: underline;}