@charset "utf-8";

body, body a:visited, body a:link{
    font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif;
    color:#000000;
    font-size:11px;
    margin-left:0;
    margin-top:0;
    height:100%;
    width:100%;
    min-width:1024px;
    overflow:hidden;
    }

#main-container {
    background:#FFFFFF none repeat scroll 0 0;
    border:0 solid #FF0000;
    height:100%;
    min-height:100%;
    position:absolute;
    width:100%;
}

html{
    height:100%;
    width:100%;
    min-width:760px;
     overflow:hidden; 
    }
#frame_body{
    width:100%;
    min-width:760px;
    /*overflow:hidden;*/
    }
.page_header{
    height:88px;
    background-image:url(../../images/bg_header.gif);
    background-repeat:repeat-x;
    overflow:hidden;
    width:100%;
    }
.logo360{
	margin-left:15px; 
	margin-top:18px; 
	float:left;
	}
.welcome_message{
    margin-top:7px;
    margin-left:15px;
    }
.page_description{
	border:1px solid #FFFFFF;
	height:75px;
	margin-bottom:10px;
	margin-left:15px;
	margin-top:15px;
	width:auto;
    }
.page_heading{
	font-size:24px;
	letter-spacing:-1px;
	margin-top:25px;
	word-spacing:-2px;
    }
.icon_regulator, .icon_credentials, .icon_providers, .icon_approvals, .icon_search, .icon_user, .icon_instructor, .icon_certificates, .icon_reports, .icon_custom_field, .icon_tools, .icon_customers, .icon_distributors{
    float:left;
    width:75px;
    height:75px;
    background-image:url(../../images/customers_lg.png);
    background-repeat:no-repeat;
    margin-right:5px;
    vertical-align:middle;
 }
.icon_style{
    margin-bottom:3px;
    border:0; 
}
.icon_credentials{
    background-image:url(../../images/surveys_lg.png);
 }
.icon_providers{
    background-image:url(../../images/distributors_lg.png);
 }
.icon_approvals{
    background-image:url(../../images/courses_lg.png);
 }
.icon_user{
    background-image:url(../../images/icon_users.gif);
 }
.icon_search{
    background-image:url(../../images/search_lg.png);
 }
.icon_instructor{
    background-image:url(../../images/search_lg.png);
 }
.icon_certificates{
    background-image:url(../../images/entitlements_lg.png);
 }
.icon_reports{
    background-image:url(../../images/reports_lg.png);
 } 
.icon_custom_field{
    background-image:url(../../images/customers_lg.png);
 } 
.icon_resources{
    background-image:url(../../images/pageicons/login.png);
 }
.icon_tools{
    background-image:url(../../images/entitlements_lg.png);
}
.icon_courses{
    background-image:url(../../images/pageicons/trainingplans.png);
}
.icon_customers{
    background-image:url(../../images/pageicons/customers.png);
 }
 .icon_distributors{
    background-image:url(../../images/pageicons/distributors.png);
 }
.buttons_panel{
    width:auto;
    margin-bottom:10px;
    margin-left:15px;
    }
.input_text{
    margin-left:30px;
    font-size:11px;
    min-width:410px;
    border:1px;
    border-color:#cccccc;
    }
.visible{
    display:none;
    }
.tool_tip{
    left:0;
    top:0;
    height:17px;
    min-width:60px;
    background-color:#e2e2e2;
    background-repeat:no-repeat;
    padding-top:3px;
    border:1px;
    border-style:solid;
    border-color:#cacaca;
    font-size:10px;
    color:#4c4b4b;
    text-align:center;
    visibility:hidden;
    position:absolute;
    padding-left:5px;
    padding-right:5px;
    }
.header_icon, .header_icon_selected {
	background-position:center top;
	background-repeat:no-repeat;
	color:#000000;
	cursor:pointer;
	float:right;
	font-size:10px;
	height:60px;
	margin-left:7px;
	margin-right:7px;
	margin-top:4px;
	padding-top:0;
	text-align:center;
	text-transform:uppercase;
	width:75px;
}
.header_icon_selected{
    font-size:11px;
    font-weight:bold;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
    }
.icon_calen{
    float:left;
    width:14px;
    height:16px;
    background-image:url(../../images/icon_calen.gif);
    margin-left:10px;
    cursor:pointer;
 }
.message_box{
    /*position:absolute;*/
    /*left:35%;*/
    /*top:40%;*/
    /*width:354px;*/
    height:120px;
    border:1px;
    /*border-style:solid;*/
    border-top-color:#fbfff4;
    border-left-color:#fbfff4;
    border-bottom-color:#686868;
    border-right-color:#686868;
    background-color:#e9e9e9;
    }
.message_box_title{
    /*width:390px;*/
    height:16px;
    color:#FFFFFF;
    font-weight:bold;
    font-size:12px;
    font-family:Tahoma;
    padding-top:2px;
    padding-left:5px;
    background-image:url("../../images/bg_msg_header.gif");
    }
.message_box_text{
    float:right;
    font-family:Tahoma;
    font-size:12px;
    width:320px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
    border:0px solid white;
    }
.message_box_icon{
    float:left;
    width:45px;
    height:40px;
    margin-top:15px;
    margin-left:15px;
    margin-right:5px;
    background-image:url("../../images/icon_warn.png");
    background-repeat:no-repeat;
    border:0px solid red;
    }
.selected_object{
    font-size:14px;
    margin-left:20px;
    font-weight:bold;
    margin-bottom:10px;
    }
.row_text{
    padding-left:15px;
    }
.input_text_field{
    float:left;              
    width:178px;
    height:13px;
    border:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    padding-top:2px;
    padding-left:2px;  
}
.input_text_area{
    width:350px;
    height:100px;
    border:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    padding-top:2px;
    padding-left:2px;  
    font-family:Tahoma;
}
.input_select{
    min-width:250px;
    border-width:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    font-family:Tahoma;
    margin-bottom:15px;
}
.input_radio{
    float:left;
    margin-top:2px;
    border:1px;
    border-color:#FFFFFF;
    border-style:solid;
    font-size:11px;
    font-family:Tahoma;
    margin-left:5px;
    margin-right:5px;
 }
.tab_bar{
    height:25px;
    min-width:1024px;
    border:1px;
    border-style:solid;
    border-color:#dddddd;
    border-left:0;
    border-right:0;
    border-top:0;
    background-image:url("../../images/bg_tabs.gif");
}
.tab, .tab_selected{
   float:left;   
   width:100px;
   height:21px;
   padding-top:5px;
   border-left:1px; 
   border-right:1px; 
   border-left-style:solid;
/* border-right-style:solid; */
   border-left-color:#dadada;
   border-right-color:#dadada;
   border-top:0;
   border-bottom:0;
   text-transform:uppercase;
   text-align:center; 
   cursor:pointer;
   color:#666666;
   font-size:10px;
 }
.tab_selected{
 font-weight:bold; 
 color:#666666;
 }
.tab:hover, .tab_selected:hover{
 color:#000000;
 }
.tab_blank{
    float:left;
    width:195px;
    height:21px;
    padding-top:5px;
    border-right:1px; 
    border-right-style:solid;
    border-right-color:#dadada;
    border-top:0;
    border-bottom:0;
 }
 .blank_div{
 float:left;
 height:23px;
  }
 

div#l-menu-back {
    position:relative;
    float: left;
    top: 10px;
    left: 10px;
    margin:0 auto;
    width: 170px;
    min-width: 50px;
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 11px;
    padding: 8px 0px 10px 0px;
}

.l-menu-back-text-h{font: normal 12px 'Tahoma';color: #003b81;padding: 0px 0px 5px 0px;/*text-indent: 8px;*/border-bottom: 1px solid #bcbcbc;}
.l-menu-back-text{background: url("../../images/inactive-b.gif") no-repeat center left;font: normal 10px 'Tahoma';color: #bcbcbc;padding: 6px 0px 7px 0px;text-indent: 15px;/*Line-height: 25px;letter-spacing: -0.3px;*/border-bottom: 1px solid #bcbcbc;}
.l-menu-back-text-act{background: url("../../images/active-b.gif") no-repeat center left;font: bold 10px 'Tahoma';color: #434343;padding: 6px 0px 7px 0px;text-indent: 15px;/*Line-height: 25px;letter-spacing: -0.3px;*/border-bottom: 1px solid #bcbcbc;}
.l-menu-back-text-inact{background: url("../../images/in-active-b.gif") no-repeat center left;font: normal 10px 'Tahoma';color: #bcbcbc;padding: 6px 0px 7px 0px;text-indent: 15px;/*Line-height: 25px;letter-spacing: -0.3px;*/border-bottom: 1px solid #bcbcbc;}


.l-menu-back-text-acted {
    background:transparent url(../../images/acted-b.gif) no-repeat scroll left center;
    border-bottom:1px solid #BCBCBC;
    color:#BCBCBC;
    font-family:'Tahoma';
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:6px 0 7px;
    text-indent:15px;
}
.document_text{
    margin-left:8px;
 }
.confirmation_text{
    font-size:16px;
    font-weight:bold;
    margin-left:15px;
    margin-top:20px;
}
.required_field{
    float:left;
    font-size:14px;
    color:#FF0000;

    margin-top:2px;
    margin-right:5px;
    font-weight:bold;
}
.error_text{
    float:left;
    color:#FF0000;
    font-weight:bold;
    padding-left:15px;
}
.error_icon{
    float:left;
    width:14px;
    height:14px;
    background:transparent url(../../images/!mark.gif) no-repeat scroll left center;
    margin-right:10px;
}
.error_message{
     float:left;
     min-width:150px;
     color:#FF0000;
     margin-right:15px;
     background:transparent url(../../images/!mark.gif) no-repeat;
     text-indent:24px;
     margin-bottom:5px;
}
.close_icon{
    float:right;
    width:12px;
    height:12px;
    margin-top:-5px;
    margin-right:-5px;
    background:transparent url(../../images/cross.png) no-repeat scroll left center;
    cursor:pointer;
}
.input_text_inline {
   border:1px solid #DCD8D8;
   font-size:11px;
   height:13px;
   padding-left:2px;
   padding-top:2px;
   width:2em;
}
.error_box{
    border: 1px solid red;
    background:white;
    width:auto;
    min-height:25px;
    padding:10px;
    overflow:hidden;
    margin-left:15px;
}
.sa_button{
    min-width:100%;
    float:left;
    margin-top:2px;
    margin-left:20px;
    margin-bottom:15px;
}

.input_field2 {width:50%;height:18px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.manage-bottom-space {
	border:0 solid #6600FF;
	/* float:left; */
	height:16px;
	min-height:3%;
	position:relative;
	width:97%;
}
.btn-div{
	float:left;
	width:97%;
	position:relative;
}

/* Container */
#simplemodal-container {height:125px; width:400px; background-color:#e9e9e9; border:2px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }
#simplemodal-container .header {height:16px; width:398px; background:url(../../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold; line-height:16px;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:8px;}
#simplemodal-container .buttons {width:95px; padding:10px 18px 0;margin-left: auto;margin-right: auto} 

/* Container */
#confirmModalContainer {height:125px; width:400px;  font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#e9e9e9; border:1px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }
#confirmModalContainer .header {height:16px; background:url(../../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold; line-height:16px;}
#confirmModalContainer .header span {padding-left:8px;}
#confirmModalContainer .message {color:#333; text-align:center; margin:0; padding:12px 4px; font-size:1em;}
#confirmModalContainer .buttons {width:195px; padding:10px 18px 0;margin-left: auto;margin-right: auto;} 
#confirmModalContainer a.modalCloseX,
#confirmModalContainer a.modalCloseX:link,
#confirmModalContainer a.modalCloseX:active,
#confirmModalContainer a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ddd;}
#confirmModalContainer a.modalCloseX:hover {color:#9bb3b3;}
