@charset "utf-8";
.search_box_advance{
	height:150px;
	width:auto;
	border-color:#ebe6e6;
	border:1px;
	border-style:solid;
	overflow:hidden;
	margin-left:15px;
	margin-bottom:20px;
	}
.search_box_simple{
	height:122px;
	width:auto;
	border-color:#ebe6e6;
	border:1px;
	border-style:solid;
	overflow:hidden;
	margin-left:15px;
	margin-bottom:20px;
	}
.search_box{
	position:absolute;
	margin-top:-1px;
	padding-top:5px;
	padding-left:10px;
	height:180px;
	width:260px;
	left:38%;
	border-color:#c6daf4 !Important;
	border:1px;
	border-style:solid;
	background-color:#eef5ff;
	overflow:hidden;
	color:#006699;
	}
.search_box_minimized{
	height:24px;
	width:auto;
	border-color:#ebe6e6 !Important;
	border:1px;
	border-style:solid;
	overflow:hidden;
	margin-left:15px;
	margin-right:3%;
	margin-bottom:10px;
    padding:1px;
	}
.search_box_result{
	height:auto;
	width:auto;
	border:1px solid #ebe6e6;
	overflow:hidden;
	margin-left:15px;
	margin-right:3%;
	padding:1px;
	}
.box_header{
	height:26px;
	background-color:#f9f9f9;
	background-repeat:repeat-x;
	width:100%;
}
.box_heading{
	float:left;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	margin-top:4px;
	margin-left:4px;
	text-transform:uppercase;
	}
.left_side{
	float:right;
	width:120px;
	height:24px;
	}
.result_left_side{
	float:right;
	width:55%;
	height:24px;
	}
.box_description{
	float:right;
	padding-left:8px;
	font-family:Tahoma;
	font-size:10px;
	font-weight:bold;
	color:#7a7a7a;
	margin-top:6px;
	margin-right:9px;
	}
.icon_minimize{
	float:right;
	width:9px;
	height:9px;
	margin-top:8px;
	margin-right:8px;
	background-image:url(../../images/icon_minimize.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_maximize{
	float:right;
	width:9px;
	height:9px;
	margin-top:8px;
	margin-right:8px;
	background-image:url(../../images/icon_maximize.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.box_text{
	font-family:Tahoma;
	font-size:11px;
	color:#000000;
	margin-top:15px;
	margin-left:19px;
	}
.search_button_simple{
	float:right;
	margin-right:20px;
	margin-top:62px;
	}
.search_button_advance{
	float:right;
	margin-right:20px;
	margin-top:92px;
	}
.box_subheader{
	font-weight:bold;
	cursor:pointer;
	text-transform:uppercase;
	border:1px solid #dfdfdf;
	border-left:0;
	height:24px;
	padding-left: 5px;
	}
.column, .column_email{
	float:left;
	padding-left:5px;
	border-color:#ebe6e6 !Important;
	border:1px;
	border-style:solid;
	height:25px;
	width:18%;
	margin-left:-1px;
	}
.column_email{
	width:19.6%;
	}
.icon_back{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../../images/icon_back.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_next{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../../images/icon_next.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_all{
	float:right;
	height:10px;
	width:10px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../../images/icon_all.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_up{
	float:left;
	height:6px;
	width:10px;
	margin-top:5px;
	margin-right:5px;
	margin-left:5px;
	background-image:url(../../images/icon_up.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_down{
	float:left;
	height:6px;
	width:10px;
	margin-top:3px;
	margin-right:5px;
	margin-left:5px;
	background-image:url(../../images/icon_down.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_right{
	float:left;
	height:10px;
	width:10px;
	margin-top:1px;
	margin-right:5px;
	margin-left:5px;
	background-image:url(../../images/icon_next.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}    
.result_blank{
	margin-left:12px;
	margin-top:15px;
	margin-bottom:5px;
	font-size:12px;
	}
.row_1{
	padding-left:5px;
	background-color:#FFFFFF;
	border:1px solid #dfdfdf;
	border-top:0;
	border-left:0;
    cursor:pointer;
	height:24px;
	}
.row_2{
	padding-left:5px;
	background-color:#F4F4F4;
	border:1px solid #dfdfdf;
	border-top:0;
	border-left:0;
    cursor:pointer;
	height:24px;
	}
.icon_change{
	background-image:url(../../images/icon_change.gif);
	background-position:left;
	background-repeat:no-repeat;
	width:18px;
	height:25px;
	border-right:none;
	}
.check_box{
	border:1px solid #dfdfdf;
	border-left:none;
	border-top:none;
	}
.check_box_top{
	border:1px solid #dfdfdf;
	border-left:none;
	}
.scrollable{
	/* taken from 4.5.2 branch */
    position:relative; /* USE FOR DOUBLE COLUM PAGE */
    top: 0%;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0 auto;
    width: auto;
    height: 100%;
    min-height:100%;
    padding: 0px 0px 0px 0.5%;
    margin: 0px 0px 0px 0px;
    border: 0px solid #6633FF;
	}
.org_checkbox{
	float:left;
	margin-left:1px;
	}

	.scrollable-no-sidebar{
    position:relative; /* USE FOR DOUBLE COLUM PAGE */
    float: right;
    top: 0%;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0 auto;
    width: 100%;
    height: 100%;
    min-height:100%;
    padding: 0px 0px 0px 0.5%;
    margin: 0px 0px 0px 0px;
    border: 0px solid #6633FF;
	}

.content3a{position:relative;left: 0;top: 0%;margin:0 auto;width: 100%;height: 4px;min-height:4px;background: url("../../images/left-menu-top-shadow.png") 100% 0px repeat-x;z-index:10;}

.row_1x{
	padding-left:5px;
	background-color:#FFFFFF;
	border:1px solid #dfdfdf;
	border-top:0;
	border-left:0;
	height:24px;
	}
.row_2x{
	padding-left:5px;
	background-color:#F4F4F4;
	border:1px solid #dfdfdf;
	border-top:0;
	border-left:0;
	height:24px;
	}