<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/learnerNewHead.vm")


 


<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type="text/javascript">

    function confirm(message, callback) {
        $('#deleteConfirmation').modal({
            close:false,
            position: ["40%",],
            overlayId:'confirmModalOverlay',
            containerId:'confirmModalContainer', 
            onShow: function (dialog) {
                dialog.data.find('.alert_message_box_text').append(message);

                // if the user clicks "yes"
                dialog.data.find('.yes').click(function () {
                    // call the callback
                    if (jQuery.isFunction(callback)) {
                        callback.apply();
                    }
                    // close the dialog
                    jQuery.modal.close();
                });
            }
        });
    }

    function deleteMembers(){
        if ($("INPUT[type='checkbox'][name='selectedUsers']:checked").length>0) {
            confirm("$brander.getBrandElement("lms.securityroles.addmembers.messageBox.sure")", function () {
                document.getElementById('action').value='delete';
                document.manageform.submit();
            });
        }else {
            $('#selectLearner').modal({close:false,position: ["40%",]});
        }
    }

    $(document).ready(function(){
        
        $("INPUT[type='checkbox'][name='selectedUsers']").click(function(){
            $("#"+this.id).parent().parent().find("td").css("background-color", $("#"+this.id).is(':checked')?"#E9F9FE":"");
        });

        $('#chkAll').click(
           function(){
              $("INPUT[type='checkbox'][name='selectedUsers']:not([disabled])").attr('checked', $('#chkAll').is(':checked'));
              $("INPUT[type='checkbox'][name='selectedUsers']:not([disabled])").parent().parent().find("td").css("background-color", $('#chkAll').is(':checked')?"#E9F9FE":"");
           }
        )
    });
	
</script>
#set($ssn=$!{request.getSession(true)})
#set($act = $ssn.getAttribute("prevAction"))
</head>

<body>
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	   <tr> <!-- First Block -->
			<td id="header" colspan="2"><!-- header -->
 <!--   <div id="main-container"> --><!-- main-container -->
              <!-- header -->
              #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
                 #parse("snippets/adminHeader.vm")
              #else
                 #parse("snippets/managerHeader.vm")
              #end
              <!-- header-end -->
			</td>
		</tr>

	 <tr id="main"> <! SECOND BLOCK -->
            <!-- left-pannel-content -->
			<td id="left-navigation" valign="top">
				<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        		
        <!--        <div id="content2a"> --><!-- content-area -->
                  <!-- left-pannel-content -->
                    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
                        #parse("snippets/adminSecurityLeftMenu.vm")
                    #else
                        #parse("snippets/managerLeftMenu.vm")
                    #end
                    <!-- left-pannel-content-end -->
			     </table>
			</td>
			
            <!-- right-pannel -->
         <!--   <div id="right-pannel">  -->
			 <TD id="content">
			 	 <div id="scrollable">
                <!-- Logo+Manage-User -->
        	<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
		    <tr>
			<td id="page-icon" class="page-icon-users">
			    &nbsp;
			</td>
			<td id="page-description">
			    <div id="page-heading">$brander.getBrandElement("lms.securityroles.changemembers.pageheading.Members")</div>
			    <div id="page-help">$brander.getBrandElement("lms.securityroles.changemembers.pageheading.description")</div>
			</td>
		    </tr>
		</table> 
                <!-- Logo+Manage-User-end -->

                <!-- Details starts -->
                <div class="content-Block">
                    <div id="e12" class="Block-Contain-header">
                        <div id="e13" class="Search-Containerheaderleft">Details</div>
                    </div>
                    <div id="e7b" class="Search-inputfield-box">
                        <!-- 1 -->
                        <div id="e12" class="search-content-row">
                            <div class="block_text_in2">Role Name</div>
                            <div class="block_text_in2">#dotPadding($!{context.roleName},60) </div>
                        </div>
                        <!-- 2 -->
                        <div id="e13" class="search-content-row">
                            <div class="block_text_in2">No of Members</div>
                            <div class="block_text_in2">$!{context.totalRecord}</div>
                            <input type="hidden" name="roleid" class="input_field" value="11">
                        </div>
                    </div>
                </div>
                <!-- Details ends -->

                <!-- space -->
                <div class="manager-bottom-space"></div>
                <!-- space -->

                <form name="manageform" method="post" action="">
                    <div id="searchResult" class="content-Block-new" ><!-- Users List -->
                        <div class="box_header"><!-- box_header -->
                            <div style="float:left; height:23px;">
								<div style="float:left; margin-top:2px;">
									<!-- LMS-15578 -->
									#if($!adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
								   <a onClick="javascript:window.location='mgr_addMemberInRole.do?roleId=$!{context.roleid}&roleType=$!{context.roleType}';" style="text-decoration:none;">
										<div class="btn_start"></div>
										<div class="btn_normal" >Add Member</div>
										<div class="btn_end"></div>
									</a>
									#end
								</div>
								<div style="float:left; margin-top:2px;">								
								<a onClick="deleteMembers();" style="text-decoration:none;">
									<div class="btn_start"></div>
									<div class="btn_normal" >Delete Member</div>
									<div class="btn_end"></div>
								</a>
								</div>								
                                <input type="hidden" id="action" name="action" />
                            </div>
                            <!-- All Icon -->
                            #if($!{context.recordShowing} == $!{context.totalRecord})
                                <div id="showAll" class="icon_disabled">&nbsp;</div>
                            #else
                                <div id="showAll" class="icon_all" onClick="location.href='?roleId=$!{context.lmsRole.Id}&searchType=simpleSearch&direction=prev&pageIndex=0&sortBy=${context.sortBy}&sortDirection=${context.sortDirection}';" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();"></div>
                            #end
                            <!-- Next Icon -->
                            #set($pagenum = $!{context.pageNo})
                            #if($!{context.totalRecord}==-1)
                                <div id="goNext" class="icon_disabled">&nbsp;</div>
                                <div id="goBack" class="icon_disabled">&nbsp;</div>
                            #else
                                #if($!{context.recordShowing} == $!{context.totalRecord})
                                <div id="goNext" class="icon_disabled">&nbsp;</div>
                                #else
                                <div id="goNext" onClick="location.href='?roleId=$!{context.lmsRole.Id}&searchType=$!{context.searchType}&direction=next&pageIndex=$!{context.pageNo}&sortBy=${context.sortBy}&sortDirection=${context.sortDirection}';"class="icon_next" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();"></div>
                                #end
                                <!-- Back Icon -->
                                #if ($!{context.pageNo} == 0)
                                <div id="goBack" class="icon_disabled">&nbsp;</div>
                                #else
                                <div id="goBack" onClick="location.href='?roleId=$!{context.lmsRole.Id}&searchType=$!{context.searchType}&direction=prev&pageIndex=$!{context.pageNo}&sortBy=${context.sortBy}&sortDirection=${context.sortDirection}';" class="icon_back" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip();"></div>
                                #end
                            #end

                            <!-- Showing Results -->
                            #set($lPpageNum =$!{context.pageNo} *10 + 1)
                            #set($rPpageNum =$!{context.recordShowing})
                            <div id="resultDescription" class="box_description">Showing #if($!{context.totalRecord}<=0) 0 - 0 of 0 #else $lPpageNum - $rPpageNum of $!{context.totalRecord} #end</div>
                        </div><!-- box_header -->
                        <div id="searchResult"><!-- searchResult -->
                            <table width="100%"  cellpadding="0" cellspacing="0" style="border-top:1px;">
				#if($act == 'sort')
					#set($dir = 1)
				#else
					#set($dir = 0)
				#end
                                <tr bgcolor="#efefef">
                                    <td class="check_box_top" width="17px"><input type="checkbox" id="chkAll" name="learnerAll"/></td>
                                    <td class="box_subheader"><div onClick="location.href='?roleId=$!{context.lmsRole.Id}&action=sort&searchType=$!{context.searchType}&direction=${context.direction}&pageIndex=${pagenum}&sortBy=firstName&sortDirection=${context.sortDirection}';" ><div id="firstNameSort" #if((${context.sortDirection}=="1")&&($request.getParameter("sortBy")=="firstName")) class="icon_up" #elseif($request.getParameter("sortBy")=="firstName") class="icon_down" #end ></div>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.firstName")</div></td>
                                    <td class="box_subheader"><div onClick="location.href='?roleId=$!{context.lmsRole.Id}&action=sort&searchType=$!{context.searchType}&direction=${context.direction}&pageIndex=${pagenum}&sortBy=lastName&sortDirection=${context.sortDirection}';" ><div id="lastNameSort" #if((${context.sortDirection}=="1")&&($request.getParameter("sortBy")=="lastName")) class="icon_up" #elseif($request.getParameter("sortBy")=="lastName") class="icon_down" #end ></div>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.lastName")</div></td>
                                    <td class="box_subheader"><div onClick="location.href='?roleId=$!{context.lmsRole.Id}&action=sort&searchType=$!{context.searchType}&direction=${context.direction}&pageIndex=${pagenum}&sortBy=username&sortDirection=${context.sortDirection}';" ><div id="usernameSort" #if((${context.sortDirection}=="1")&&($request.getParameter("sortBy")=="username")) class="icon_up" #elseif($request.getParameter("sortBy")=="username") class="icon_down" #end ></div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.UserName")</div></td>
                                    <td class="box_subheader" style="border-right:none;"><div onClick="location.href='?roleId=$!{context.lmsRole.Id}&action=sort&searchType=$!{context.searchType}&direction=${context.direction}&pageIndex=${pagenum}&sortBy=accountNonLocked&sortDirection=${context.sortDirection}';" ><div id="accountNonLockedSort" #if((${context.sortDirection}=="1")&&($request.getParameter("sortBy")=="accountNonLocked")) class="icon_up" #elseif($request.getParameter("sortBy")=="accountNonLocked") class="icon_down" #end ></div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.AccountLocked")</div></td>
                                </tr>
                                #if ($!{context.totalRecord} > 0)
                                #set($count = 0)
                                #foreach ($user in ${context.listUsers})
                                #if($count%2 == 0)
                                    #set($alternate="row_1")
                                #else
                                    #set($alternate="row_2")
                                #end
                                <tr>
                                #if($userData.id==${user.id})
                                <td class="$alternate" width="17px"><input type="checkbox" disabled id="chk$count" name="selectedUsers" value="${user.id}" /></td>
                                #else
                                    <td class="$alternate" width="17px"><input type="checkbox" id="chk$count" name="selectedUsers" value="${user.id}" /></td>
                                #end
                                    <td class="$alternate">$!{user.firstName}</td>
                                    <td class="$alternate">$!{user.lastName}</td>
                                    <td class="$alternate">$!{user.username}</td>
                                    <td class="$alternate" style="border-right:none;">#if(${user.accountNonLocked}) No #else Yes #end</td>
                                </tr>
                                #set($count = $count+1)
                                #end
                                #else
                                <tr>
                                    <td colspan="5" style="border-bottom:1px solid;border-color:#dfdfdf !Important;">
                                        <div class="result_blank">#if(! $request.getAttribute("newPage")) $brander.getBrandElement("lms.searchLearner.caption.noRecordFound") #else To search click on the Search button above #end</div>
                                    </td>
                                </tr>
                                #end
                            </table>
                        </div><!-- searchResult -->
                    </div><!-- Users List -->

                    <!-- space -->
                    <div class="manager-bottom-space"></div>
                    <!-- space -->

                    <!-- button -->
                    <div class="$brander.getBrandElement("lms.manageUser.viewOrganizationGroup.cssClass.managerBtn")">                    
						<div style="float:left; margin-top:2px;">
						  <a onClick="javascript:window.location='mgr_manageSecurityRoles.do';" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.viewSecurityRole.caption.backToSecurityRole")</div>
							  <div class="btn_end"></div>
						  </a>
						</div>						
                    </div>
                    <!-- button -->

                    <!-- space -->
                    <div class="manager-bottom-space"></div>
                    <!-- space -->

                </form>
            </div>
            <!-- right-pannel -->
			</td>
       <!-- </div> --><!-- content-area -->
	    </tr>
		
		<tr> <!-- Footer BLOCK -->
			<td id="footer" colspan="2">
               <!-- footer -->
               #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
                   #parse("snippets/adminFooter.vm")
               #else
                   #parse("snippets/managerFooter.vm")
               #end
       		    <!-- footer-end -->
			</td>
		</tr>
	</table>
	
   <!-- </div> --><!-- main-container -->
   
   
    <div id='deleteConfirmation' style='display:none'><!-- Alert Message Box starts -->
    <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text"></div>
    <br style="clear:both" />

    <div class='buttons'>
            <div class='simplemodal-close'>
               

				<a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</span></a>
            <!-- </div>
            <div class='yes'> -->
                
				<a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
            </div>
			
			
    <div id="selectLearner" style="display:none">
    <div class="header">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.warning")</div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")</div>
    <br style="clear:both" />
    <div class='buttons'>
        <div class='no simplemodal-close'>
                <a class="button" onClick=""><span class="button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
        </div>
    </div>
    </div><!-- Alert Message Box Ends -->
    <!-- tooltip -->
    
    <!-- tooltip -->
</body>
</html>