<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#**
----------------------------------------------------------------------------  
@Author: Praveen Gaurav (dec.22.2008)
---------------------------------------------------------------------------- 
*#
<html xmlns="http://www.w3.org/1999/xhtml">

	## this must be included on every page for all head items
	#parse("snippets/learnerHead.vm")
	<script type="text/javascript" src="$brander.getBrandElement("lms.manageUser.searchLearner.js.360js")"></script>  
<script type="text/javascript">
function FormSubmit(buttonclick) {
alert(buttonclick);
document.getElementById('action').value=buttonclick;
document.manageform.submit();
}
</script>
	<body>

<form name="manageform" method="post" action="">
		<div id="main-container">
			<!-- header -->
			#parse("snippets/learnerHeader.vm")
			<!-- header-end -->
			<div id="content2">
				<!-- content-area -->
				<div id="left-pannel">
					<!-- left-pannel-content -->
					<div id="leftmenu">
##						<ul>
##							<li><a href="mgr_manageLearners.do"><div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageUsers")</div></a></li>
##							<li><a href="#.html"><div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.BatchImportUsers")</div></a></li>
##							<li><a href="#.html"><div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.RegistrationInvitations")</div></a></li>
##							<li><a href="#.html"><div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageGroups")</div></a></li>
##							<li><a href="#.html"><div>$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageSecurityRoles")</div></a></li>
##						</ul>
<a href="#.html" class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.L-M-1")"><div class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.M-text-position")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageUsers")</div></a>
<a href="#.html" class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.L-M-2")"><div class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.M-text-position")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.BatchImportUsers")</div></a>
<a href="#.html" class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.L-M-3")"><div class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.M-text-position")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.RegistrationInvitations")</div></a>
<a href="#.html" class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.L-M-4")"><div class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.M-text-position")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageGroups")</div></a>
<a href="#.html" class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.L-M-5")"><div class="$brander.getBrandElement("lms.manageUser.searchLearner.cssClass.M-text-position")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageSecurityRoles")</div></a>
					</div>
					<!-- left-pannel-content-end -->
				</div>
				<div id="right-pannel">
					<!-- right-pannel-content -->
					## ========================================================================================================
					
					  <div class="content-Block">
                <div id="e12" class="Block-Contain-header">
                    <div id="e13" class="head_1b-d">Details</div>
                </div>
                <!-- User-left-right-list -->
                <div id="e7b" class="Search-inputfield-box">
                    <!-- 1 -->
                    <div id="e12" class="search-content-row">
                        <div class="block_text_in2">Role Name</div>
                        <div class="block_text_in2">$!{context.roleName}</div>
                    </div>
                    <!-- 2 -->
                    <div id="e13" class="search-content-row">
                        <div class="block_text_in2">No of Members</div>
                         <div class="block_text_in2">$!{context.noOfMembers}</div>
                      <input type="hidden" name="roleid" class="input_field" value="11"
                    </div>
                    <!-- 3 -->
                  
                </div>
                <!-- End-User-left-right-list -->
            </div>
            <!-- End-Details -->
					
					##===========================================================================================
					<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
<div><input type="button" value="add member" onclick="popup('mgr_addMemberInRole.do')" class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.btn-91w")" name="addMember" /></div>
<div><input type="button" value="delete member"  onclick="FormSubmit('delete');"  class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.btn-91w")" name="deleteMember" /></div>
<input type="hidden" id="action" name="action" />
</div>
					<!-- Content Will Come Here -->
					
					<form name="searchManageForm" method="post" action="">
					
					
					
					<!-- scrollable-div -->
					<!-- User-list -->
					<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
						<div id="e12" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
							<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">Result</div>
							<div id="e14d" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.ContainerheaderRight-ico")"><a href="?action=simpleSearch"><img onclick="location.href=$pagelink.param('index',$!pager.prevIndex)" src="$brander.getBrandElement("lms.pixel.checkboxGif")" width="8" height="8" alt="" /></a></div>
							<div id="e14c" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.ContainerheaderRight-ico")"><img onclick="location.href=$pagelink.param('index',$!pager.nextIndex)" src="$brander.getBrandElement("lms.pixel.arrow-forwardGif")" width="6" height="10" alt="" /></div>
							<div id="e14b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.ContainerheaderRight-ico")"><img src="$brander.getBrandElement("lms.pixel.arrow-reviewGif")" width="6" height="10" alt=""/></div>
							<div id="e14a" class="Search-ContainerheaderRight">Showing $!{context.totalRecord} of $!{context.totalRecord}</div>
							##$!pager.pageDescription
						</div>
						<div id="e7c" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User-checkbox-box")">
							<div id="e15" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User-checkbox-row")">
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H1")"><input type="checkbox" id="" name="selectedALLLearner"/></div>
								<a href="?action=sort&sortby=firstName&direction=${context.sortdirectionmap.firstName}"><div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H2")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.firstName")</div></a>
								<a href="?action=sort&sortby=lastName&direction=${context.sortdirectionmap.lastName}"><div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H2")" >$brander.getBrandElement("lms.manageUser.addNewLearner.caption.lastName")</div></a>
								<a href="?action=sort&sortby=emailAddress&direction=${context.sortdirectionmap.emailAddress}"><div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H4")" >$brander.getBrandElement("lms.manageUser.searchLearner.caption.UserName")</div></a>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H2")" >$brander.getBrandElement("lms.manageUser.searchLearner.caption.Role")</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H3")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.AccountLocked")</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_H1a")"></div>
							</div>

							##if( $pager.hasItems() )
							###foreach($learner in $sorter.sort(${context.listLearner},"${context.sortby}:${context.sortdirection}"))
							#foreach($learner in ${context.listLearner})
							<div id="e16" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_1")"><input type="checkbox" name="selectedLearner" value="${learner.id}" /></div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_2")">${learner.Vu360User.FirstName}</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_2")">${learner.Vu360User.LastName}</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_4")">$!{learner.Vu360User.Username}</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_2a")">
								#if ($!{learner.Vu360User.LmsAdministrator})
									ADMIN
								#elseif ($!{learner.Vu360User.TrainingAdministrator})
									MANAGER
								#else
									LEARNER
								#end
								</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_3")">
								#if(${learner.Vu360User.accountNonLocked})
									no
								#else 
									yes
								#end
								</div>
								<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.User_coll_1a")"><img src="$brander.getBrandElement("lms.pixel.edit_defGif")" width="11" height="12" alt="" /></div>
							</div>
							#end
							##end
							<div id="e16" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")"><!-- using for bottom space --></div>
						</div>
						
					</div>
					<!-- End-User-list -->
					
					
					<!-- space -->
					<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
					<!-- space -->
					<div><input type="button" value="Cancel" name="cancel" onclick="self.close()" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn-82w")" /></div>
														<div><input type="button" value="save" name="save" onclick="FormSubmit('save');" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn-82w")" /></div>
														 <input type="hidden" id="action" name="action" />
					<!-- right-pannel-content-end -->
				</div>
										<!-- content-area-end -->
			</div>
				<!-- footer -->
				## this must be included on every page for all analytics
				#parse("snippets/learnerFooter.vm")
				<!-- footer-end -->
			</div>
</form> 

	</body>
</html>
