<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#**
----------------------------------------------------------------------------  
@Author: Dyutiman
---------------------------------------------------------------------------- 
*#
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/learnerHead.vm")

<link rel="stylesheet" type="text/css" href="brands/default/en/css/datepicker.css"/>
<body onload="document.editForm.firstName.focus();">
<script type="text/javascript" src="javascript/jquery-1.2.6.min.js"></script> 
<script type="text/javascript" src="javascript/ui.datepicker.js"></script>  
<script type="text/javascript">

function FormSubmit(buttonclick) {
	document.getElementById('action').value=buttonclick;
	document.editManagerForm.submit();
}

</script>

<script type="text/javascript" language="javascript">
$(document).ready(function()
{
	
});
</script>

<form name="editManagerForm" method="post" action="">

<div id="main-container">

<!-- header -->
#parse("snippets/managerHeader.vm")
<!-- header-end -->

<div id="content2a">
<!-- content-area -->
<!-- sub-header+arrow -->
	<!-- sub-header+arrow -->
	<div  id="content3">
		<div class="content-show-page">
			<div id="e14c" class="ContainerheaderRight-ico"><a href=""><img src="brands/default/en/images/arrow-forward.gif" width="6" height="10" alt="" /></a></div>
			<div id="e14b" class="ContainerheaderRight-ico"><a href=""><img src="brands/default/en/images/arrow-review.gif" width="6" height="10" alt="" /></a></div>
			<div id="e14a" class="Search-ContainerheaderRight">Showing 4 of 20 </div>
		</div>
	</div>
	<!-- sub-header+arrow-end -->
<!-- sub-header+arrow-end -->
<!-- left-pannel-content -->
<div id="left-pannel">
<!-- left-menu-content -->
#parse("snippets/managerLeftMenu.vm")
<!-- left-menu-content-end -->
</div>
<!-- left-pannel-content-end -->
<!-- right-pannel-content -->
<div id="right-pannel">

#if($!{context.validateFirstName} || $!{context.validateEmailAddress} || $!{context.validateMiddleName} || $!{context.validateLastName} || $!{context.validateOfficePhone} || $!{context.validateMobilePhone} || $!{context.validateOfficePhoneExtn} || $!{context.validateStreetAddress1} || $!{context.validateStreetAddress2} || $!{context.validateStreetAddress2a} || $!{context.validateStreetAddress2b} || $!{context.validateCity} || $!{context.validateCity2} || $!{context.validateZipcode} || $!{context.validateZipcode2} || $!{context.validateUsername} || $!{context.validatePassword})
    #set($errorCodes = [])	
    #set($temp = true)
    #if($!{context.validateFirstName})
	 #set($temp = $errorCodes.add(${context.validateFirstName}))
    #end
    #if($!{context.validateEmailAddress})
	 #set($temp = $errorCodes.add(${context.validateEmailAddress}))
    #end
    #if($!{context.validateMiddleName})
	 #set($temp = $errorCodes.add(${context.validateMiddleName}))
    #end
    #if($!{context.validateLastName})
	 #set($temp = $errorCodes.add(${context.validateLastName}))
    #end
    #if($!{context.validateOfficePhone})
	 #set($temp = $errorCodes.add(${context.validateOfficePhone}))
    #end
    #if($!{context.validateMobilePhone})
	 #set($temp = $errorCodes.add(${context.validateMobilePhone}))
    #end
    #if($!{context.validateOfficePhoneExtn})
	 #set($temp = $errorCodes.add(${context.validateOfficePhoneExtn}))
    #end
    #if($!{context.validateStreetAddress1})
	 #set($temp = $errorCodes.add(${context.validateStreetAddress1}))
    #end
    #if($!{context.validateStreetAddress2})
	 #set($temp = $errorCodes.add(${context.validateStreetAddress2}))
    #end
    #if($!{context.validateStreetAddress2a})
	 #set($temp = $errorCodes.add(${context.validateStreetAddress2a}))
    #end
    #if($!{context.validateStreetAddress2b})
	 #set($temp = $errorCodes.add(${context.validateStreetAddress2b}))
    #end
    #if($!{context.validateCity})
	 #set($temp = $errorCodes.add(${context.validateCity}))
    #end
    #if($!{context.validateCity2})
	 #set($temp = $errorCodes.add(${context.validateCity2}))
    #end
    #if($!{context.validateZipcode})
	 #set($temp = $errorCodes.add(${context.validateZipcode}))
    #end
    #if($!{context.validateZipcode2})
	 #set($temp = $errorCodes.add(${context.validateZipcode2}))
    #end
    #if($!{context.validateUsername})
	 #set($temp = $errorCodes.add(${context.validateUsername}))
    #end
	 #if($!{context.validatePassword})
	 #set($temp = $errorCodes.add(${context.validatePassword}))
    #end
	<!-- error-box -->
	<div id="message_box">
	<img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
	#foreach($errorCode in $errorCodes)
		#set ($error = $brander.getBrandElement($errorCode))
		<div class="width40pct">
			<div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
			<div class="message_box_align">$error</div>
		</div>
	#end
	</div>
	<!-- error-box -->
#end
		
<!-- Logo+Manage-User -->
<div class="$brander.getBrandElement("lms.mycourses.cssClass.courseLogoContainer")">
<div id="e3" class="$brander.getBrandElement("lms.mycourses.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/profile.png" alt="" /></div>
<div id="e4" class="$brander.getBrandElement("lms.mycourses.cssClass.courseTitleDiv")">
<div id="e5" class="$brander.getBrandElement("lms.mycourses.cssClass.courseTitle1")">Manager Profile Information</div>
<div id="e6" class="$brander.getBrandElement("lms.mycourses.cssClass.courseDetails")">$brander.getBrandElement("lms.manageUser.editLearner.caption.editUserDesc")</div>
</div>
</div>
<!-- Logo+Manage-User-end -->

<!-- User-profile -->
<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
<div id="e7a" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
<div id="e8" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.manageUser.addNewLearner.learnerProfile.text")</div>
</div>
<!-- User-left-right-list -->
<div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
<!-- 1 -->
<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateFirstName}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.firstName")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if($!{context.vu360User.firstName}) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($!{context.validateFirstName}) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="255" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="firstName" tabindex="8" value="$!{context.vu360User.firstName}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>

<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div #if($!{context.validateEmailAddress}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.eMailAddress")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if($!{context.vu360User.emailAddress}) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($!{context.validateEmailAddress}) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="emailAddress" tabindex="11" value="$!{context.vu360User.emailAddress}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>

<!-- 2 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateMiddleName}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.middleName")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateMiddleName}) <img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"  />#end </div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="middleName" tabindex="9" value="$!{context.vu360User.middleName}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>
<!-- 3 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateLastName}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.lastName")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if($!{context.vu360User.lastName}) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($!{context.validateLastName}) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="255" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="lastName" tabindex="10" value="$!{context.vu360User.lastName}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>
<!-- 4 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateOfficePhone}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.officePhone")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateOfficePhone})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="officePhone" tabindex="12" value="$!{context.vu360User.learner.learnerProfile.officePhone}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div #if($!{context.validateMobilePhone}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.mobilePhone")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateMobilePhone})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="mobilePhone" tabindex="14" value="$!{context.vu360User.learner.learnerProfile.mobilePhone}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>
<!-- 5 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateOfficePhoneExtn}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.officePhoneExt")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateOfficePhoneExtn})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="officePhoneExtn" tabindex="13" value="$!{context.vu360User.learner.learnerProfile.officePhoneExtn}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>

</div>
<!-- 6 -->

<!-- 7 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateStreetAddress1} || $!{context.validateStreetAddress2}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.editLearner.caption.address1")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateStreetAddress1})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"  />#end </div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="streetAddress1" tabindex="15" value="$!{context.vu360User.learner.learnerProfile.learnerAddress.streetAddress}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div #if($!{context.validateStreetAddress2a} || $!{context.validateStreetAddress2b}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.editLearner.caption.address2")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateStreetAddress2a})<img # src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> #end </div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50"  onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="streetAddress2a" tabindex="21" value="$!{context.vu360User.learner.learnerProfile.learnerAddress2.streetAddress}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>
</div>
</div>

<!-- 8 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateStreetAddress2})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="streetAddress2" tabindex="16" value="$!{context.vu360User.learner.learnerProfile.learnerAddress.streetAddress2}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateStreetAddress2b})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50"  onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="streetAddress2b" tabindex="22" value="$!{context.vu360User.learner.learnerProfile.learnerAddress2.streetAddress2}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>
</div>
</div>
<!-- 9 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateCity}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.city")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateCity})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" /> #end </div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50" name="city" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" tabindex="17" value="$!{context.vu360User.learner.learnerProfile.learnerAddress.city}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div #if($!{context.validateCity2}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.city")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateCity2})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"  />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50" name="city2" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" tabindex="23" value="$!{context.vu360User.learner.learnerProfile.learnerAddress2.city}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>
</div>
</div>
<!-- 10 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.editLearner.caption.State")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
#set( $State = $brander.getBrandElements("lms.manageUser.AddLearner.State") )
<select class="$brander.getBrandElement("lms.administrator.editDistributorProfile.cssClass.input_field1c")" name="cmbState" tabindex="18" >
#foreach ($objState in $State)
	#if($objState == "$!{context.vu360User.learner.learnerProfile.learnerAddress.state}") {
			<option value="$objState" selected>$objState</option>
		}
		#else {	
			<option value="$objState" >$objState</option>
		}
		#end
#end
</select>
</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">&nbsp;&nbsp;&nbsp;</div>
##</div>

<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.editLearner.caption.State")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
#set( $State = $brander.getBrandElements("lms.manageUser.AddLearner.State") )
<select class="$brander.getBrandElement("lms.administrator.editDistributorProfile.cssClass.input_field1c")" name="cmbState2" tabindex="24" >
#foreach ($objState in $State)
	#if($objState == "$!{context.vu360User.learner.learnerProfile.learnerAddress2.state}") {
			<option value="$objState" selected>$objState</option>
		}
		#else {	
			<option value="$objState" >$objState</option>
		}
		#end
#end
</select>
</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>
<!-- 11 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div #if($!{context.validateZipcode}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.editLearner.caption.Zip")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateZipcode})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="zipcode" tabindex="19" value="$!{context.vu360User.learner.learnerProfile.learnerAddress.zipcode}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div #if($!{context.validateZipcode2}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.editLearner.caption.Zip")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validateZipcode2})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")"   />#end</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
<input type="text" maxlength="50" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="zipcode2" tabindex="25" value="$!{context.vu360User.learner.learnerProfile.learnerAddress2.zipcode}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>
</div>
</div>
<!-- 12 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.country")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
#set($Country = $brander.getBrandElements("lms.manageUser.AddLearner.Country"))
<select class="$brander.getBrandElement("lms.administrator.editDistributorProfile.cssClass.input_field1c")" name="cmbCountry" tabindex="20" >
#foreach ($objCountry in $Country)
	#if($objCountry == "$!{context.vu360User.learner.learnerProfile.learnerAddress.country}") {
		<option value="$objCountry" selected>$objCountry</option>
	}
	#else {	
		<option value="$objCountry" >$objCountry</option>
	}
	#end
#end
</select>
</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">&nbsp;&nbsp;&nbsp;</div>
##</div>

<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.country")</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
#set($Country = $brander.getBrandElements("lms.manageUser.AddLearner.Country"))
<select class="$brander.getBrandElement("lms.administrator.editDistributorProfile.cssClass.input_field1c")" name="cmbCountry2" tabindex="26" >
#foreach ($objCountry in $Country)
	#if($objCountry == "$!{context.vu360User.learner.learnerProfile.learnerAddress2.country}") {
		<option value="$objCountry" selected>$objCountry</option>
	}
	#else {	
		<option value="$objCountry" >$objCountry</option>
	}
	#end
#end
</select>
</div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>

<!-- 13 -->
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"></div>
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>

</div>
<!-- 14 -->
</div>
<!-- End-User-left-right-list -->
</div>
<!-- User-profile-end -->
<!-- space -->
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
<!-- space -->
<!-- Login-Information -->
<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
<div id="e12" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.manageUser.addNewLearner.loginPassword.text")</div>
</div>
<!-- User-left-right-list -->
<div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
<!-- 1 -->
<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
   <div #if($!{context.validateUsername}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.learnerProfile.caption.username")</div>
  <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if($!{context.vu360User.Username}) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($!{context.validateUsername}) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
  <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input readonly type="text" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="userName" value="$!{context.vu360User.Username}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
  <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
</div>
<!-- 2 -->
<div id="e13a" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
	<div #if($!{context.validatePassword}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end >$brander.getBrandElement("lms.manageUser.learnerProfile.caption.password")</div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")">#if($!{context.validatePassword})<img  src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" />#end</div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="password" maxlength="50" tabindex="27" name="password" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r2")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.pwStrength")</div>
</div>
<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
	<div #if($!{context.validatePassword}) class="block_text_in-r-f-red" #else class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")" #end>$brander.getBrandElement("lms.manageUser.addNewLearner.caption.confirmPassword")</div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"><img #if($!{context.vu360User.password}) src="$brander.getBrandElement("lms.errorMessage.pixel.Learner_06.gif")" #elseif($!{context.validatePassword}) src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" #else src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_03.gif")" #end /></div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")"><input type="password" maxlength="50" tabindex="28" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" name="confirmpassword"  class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/></div>
	<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
	## <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r2")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.pwStrength")</div>
</div>
<!-- 3 -->
			#* <div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.searchLearner.caption.AccountLocked")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if($!{context.vu360User.accountNonLocked})
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" tabindex="29" name="accountNonLocked" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" tabindex="30" name="accountNonLocked" value="true" checked /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#else
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" tabindex="29" name="accountNonLocked" value="false" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" tabindex="30" name="accountNonLocked" value="true"  /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#end 
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonLocked" value="true" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonLocked" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>

			</div>
			</div>*#
			<!-- 4 -->
			<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
			#* <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.accountExpired")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if($!{context.vu360User.accountNonExpired})   
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonExpired" tabindex="31" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonExpired" tabindex="32" value="true" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#else
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonExpired" tabindex="31" value="false" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="accountNonExpired" tabindex="32" value="true" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#end

			</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.com-star-r-t")"></div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.expirationDate")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if ($!{context.vu360User.expirationDate})
			<input type="text" style="width:150px" id="expirationDate" date:closeAtTop="false" name="expirationDate" tabindex="39" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" value="$date.format('MM/dd/yyyy',$!{context.vu360User.expirationDate})" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>

			#else
			<input type="text" style="width:150px" id="expirationDate" date:closeAtTop="false" name="expirationDate" tabindex="39" onKeyPress="if(event.keyCode==13){FormSubmit('update');}" value="$!{context.vu360User.expirationDate}" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field")"/>
			#end
			<script type="text/javascript">
			$("#expirationDate").datepicker({ 
			showOn: "both", 
			buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")", 
			buttonImageOnly: true 
			});
			</script>
			</div>
			##<div class="calender"><img src="../images/calender.gif" width="15" height="16" alt="" /></div>
			</div>
			<!-- 5 -->
			<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.accountDisabled")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if($!{context.vu360User.enabled})
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="enabled" tabindex="33" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="enabled" tabindex="34" value="true" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#else
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="enabled" tabindex="33" value="false" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="enabled" tabindex="34" value="true" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			#end
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo")  </div>
			</div>
			</div>
			<!-- 6 -->
			<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.visiableReports")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if($!{context.vu360User.vissibleOnReport})
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="vissibleOnReport" tabindex="35" value="true" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="vissibleOnReport" tabindex="36" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>
			#else
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="vissibleOnReport" tabindex="35" value="true" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="vissibleOnReport" tabindex="36" value="false" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>
			#end
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>
			</div>
			</div>
			<!-- 7 -->
			<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.block_text_in-r-f")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.changePass")</div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.input_field_area-user-f")">
			#if($!{context.vu360User.changePasswordOnLogin})
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="exsisting" tabindex="37" value="true" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="exsisting" tabindex="38" value="false" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>
			#else
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="exsisting" tabindex="37" value="true" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" name="exsisting" tabindex="38" value="false" checked/> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>

			#end
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioYes") </div>
			##<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn_radio3")"><input type="radio" id="" /> $brander.getBrandElement("lms.manageUser.addNewLearner.caption.radioNo") </div>
			</div>
			</div>*#
</div>

</div>
<!-- End-User-left-right-list -->
</div>
<!-- End-Login-Information -->
<!-- space -->
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
<!-- space -->
<!-- button-div -->
#* <div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
<div><input type="button" tabindex="41" value="$brander.getBrandElement("lms.manageUser.editLearner.caption.Update")" class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.btn-66w")" name="update" onclick="FormSubmit('update');" /></div>
<div><input type="button" tabindex="40" value="$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")" class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.btn-66w-l")" name="cancel" onclick="FormSubmit('cancel');" /></div>
<input type="hidden" id="action" name="action" />
</div>*#

<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
<div class="btn-right1"><input type="button" tabindex="41" value="$brander.getBrandElement("lms.manageUser.editLearner.caption.Update")" class="btn-submit_n71" name="update" onclick="FormSubmit('update');" /></div>
<div class="btn-right1"><input type="button" tabindex="40" value="$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")" class="btn-submit_n71" name="cancel" onclick="FormSubmit('cancel');" /></div>
<input type="hidden" id="action" name="action" />
</div>
<!-- button-div -->
<!-- space -->
<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
<!-- space -->

<!-- right-pannel-content-end -->
</div>
<!-- content-area-end -->
</div>
<!-- footer -->
<div id="footer">
#parse("snippets/managerFooter.vm")
<!-- footer-end -->
</div>
</form>
</body>
</html>