 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 #parse("snippets/learnerNewHead.vm")
  <link rel="stylesheet" type="text/css" media="all" href="brands/default/en/css/css_search_net.css" /> 

 <script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
 <script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
 
 
 <script language="javascript" type="text/javascript">

 
     document.title="$brander.getBrandElement("lms.manageUser.searchLearner.caption.ManageUsers")";
 
 
     function confirm(message, callback) {
         $('#deleteConfirmation').modal({
             close:false,
             position: ["40%",],
             overlayId:'confirmModalOverlay',
             containerId:'confirmModalContainer',
             onShow: function (dialog) {
                 dialog.data.find('.message').append(message);
                 // if the user clicks "yes"
                 dialog.data.find('.yes').click(function () {
                     // call the callback
                     if (jQuery.isFunction(callback)) {
                         callback.apply();
                     }
                     // close the dialog
                     jQuery.modal.close();
                 });
             }
         });
     }
 
     function confirmB2C(message, callback) {
         $('#b2bConfirmation').modal({
             close:false,
             position: ["40%",],
             overlayId:'confirmModalOverlay',
             containerId:'confirmModalContainer',
             onShow: function (dialog) {
                 dialog.data.find('.message').append(message);
                 // if the user clicks "yes"
                 dialog.data.find('.yes').click(function () {
                     // call the callback
                     if (jQuery.isFunction(callback)) {
                         callback.apply();
                     }
                     // close the dialog
                     jQuery.modal.close();
                 });
             }
         });
     }
 
     function FormSubmit(buttonclick) {
         document.getElementById('action').value=buttonclick;
         
         //Added By MariumSaud: Limit search to 2 char for firstName,LastName and emailAddress
         var firstName = document.searchManageForm.firstname.value ;
 		 var lastName = document.searchManageForm.lastname.value;
		 var email= document.searchManageForm.emailaddress.value;
			
		
		 firstName = firstName.replace(/\%/gi, "");
 		 lastName = lastName.replace(/\%/gi, "");
 		 email = email.replace(/\%/gi, "");
 		 	
		 if(firstName.length < 2 && lastName.length < 2 && email.length < 2){
		 	$("#message_box").css("display","block");
		 	$("#scrollable").find("#errMsg").html("Please Provide Search criteria minimum of 2 characters");
			return false;
		 }
		 document.searchManageForm.submit();
     }
 
     function deleteLearners(){
         if ($("INPUT[type='checkbox'][name='selectedLearners']:checked").length>0) {
             confirm("$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.disable.sure")", function () {
                 document.deleteManageForm.action.value='delete';
                 document.deleteManageForm.submit();
             });
         } else {
             $('#selectLearner').modal({close:false,position: ["40%",]});
         }
     }
 
     function checkCustomerType(){
	 	  	#if (! $context.b2cRecord )
            	#set ($b2cNotNull = 'false')
            #else
            	#set ($b2cNotNull = 'true')
            #end

          #if ($b2cNotNull == true && ($!{context.b2cRecord}>=1) && (${adminSelectedCustomer.customerType} == 'b2c'))
             confirmB2C("", function () {
                 window.location.href="mgr_addLearner.do";
                 return true;
             });
          #else
              window.location.href="mgr_addLearner.do";
              return true;
          #end
     }
 
     $(document).ready(function(){
        
         $("INPUT[type='checkbox'][name='selectedLearners']").click(function(){
             $("#"+this.id).parent().parent().find("td").css("background-color", $("#"+this.id).is(':checked')?"#E9F9FE":"");
         });
 
         $('#chkAll').click(
            function(){
               $("INPUT[type='checkbox'][name='selectedLearners']").attr('checked', $('#chkAll').is(':checked'));
               $("INPUT[type='checkbox'][name='selectedLearners']").parent().parent().find("td").css("background-color", $('#chkAll').is(':checked')?"#E9F9FE":"");
            }
         )
 			
 		$('#resultBox').click(		
            function(){
 				var items = [];
 				var totalRecords=$('#shwAllValue').val();
 			
 				$("input[name='selectedLearners']:checked").each(function(){items.push($(this).val());});
   		    			
 				if( items.length < ( $('#rPNum').val() - $('#lPNum').val() + 1 ) )
 				{					
 					$('input[id=chkAll]').attr('checked', false);
 				}
 				else
 				{
 					if( totalRecords!=null && ( items.length >=11 && items.length < totalRecords ) )
 					{
 						$('input[id=chkAll]').attr('checked', false);
 					}
 				}
 		   }
 		)
     });
 
 #set($ssn=$!{request.getSession(true)})
 #set($sd = $ssn.getAttribute("prevSortDirection"))
 </script>
</head>
 
<body>
	
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
             	<!-- header -->
            	#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
            	#parse("snippets/adminHeader.vm")
            	#else
            	#parse("snippets/managerHeader.vm")
            	#end
   				<!-- header-end -->
			</td>
		</tr> <!-- END OF 1 BLOCK -->
		
				
		<tr id="main"> <! SECOND BLOCK -->
				<!-- <LEFT NAGIVATION> -->
				<td id="left-navigation" valign="top">
					 <table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
					 	#parse("snippets/managerLeftMenu.vm")
						</table> <!-- END OF TABLE 3 -->
				<!-- <PAGE DESCRIPTION> -->
				</td>
				
				<TD id="content" >
				<div id="scrollable">
				<div id="message_box" style="display:none;"><!-- message_box -->
                    <img id="close_message" style="float:right;cursor:pointer" src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
					
                    <div class="width40pct">
                        <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                    	<div class="message_box_align"><div id="errMsg"></div></div> 
                    </div>
                </div><!-- message_box -->
					#set($totCount=$context.members.size())

					 <!-- Logo+Manage-User -->
					 
					 
						<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
						    <tr>
						        <td id="page-icon" class="page-icon-users">
						            &nbsp;
						        </td>
						        <td id="page-description">
						            <div id="page-heading">$brander.getBrandElement("lms.manageUser.searchLearner.ManagerUsers")</div>
						            <div id="page-help">$brander.getBrandElement("lms.manageUser.searchLearner.caption.subtitle")</div>
						        </td>
						    </tr>
						</table>
					 
          				 <!-- Logo+Manage-User-end -->
						
          				 <div id="resultBox" class="content-Block-new"><!-- Search resultBox -->
             				 <div id="searchBox" class="visible"><!-- Search input window -->
						<form name="searchManageForm" id="searchManageForm" method="post" action="mgr_manageLearners.do">
                        	 <div style="padding: 5px">$brander.getBrandElement("lms.manageUser.searchLearner.caption.searchUsers")</div>
                        	 <div style="padding: 5px"><div style="width:75px; float:left">$brander.getBrandElement("lms.manageUser.searchLearner.caption.firstName") </div> <div style="float:left"><input type="text" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}" name="firstname" value="$!{context.firstName}" style="font-size:9px; width:170px" class="search_field" /></div><br style="clear:both" /></div>
                       		 <div style="padding: 5px"><div style="width:75px; float:left">$brander.getBrandElement("lms.manageUser.searchLearner.caption.lastName") </div><div style="float:left"><input type="text" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}"  name="lastname"value="$!{context.lastName}" style="font-size:9px; width:170px" class="search_field" /></div><br style="clear:both" /></div>
                        	 <div style="padding: 5px"><div style="width:75px; float:left">$brander.getBrandElement("lms.manageUser.searchLearner.caption.emailAddress") </div><div style="float:left"><input type="text" onKeyPress="if(event.keyCode==13){FormSubmit('advanceSearch');}" name="emailaddress" value="$!{context.emailAddress}" style="font-size:9px; width:170px" class="search_field" /></div><br style="clear:both" /></div>
                        	 <div style="padding: 5px;margin-left:40px;margin-right:40px;height:20px">
                                <a class="button" onClick="showSearchBox(this);"><span class="button">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")</span></a>
                                <a class="button" onClick="FormSubmit('advanceSearch');"><span class="button">Search</span></a>
                        	 </div>
                        	 <input id="action" type="hidden" name="action" value="advanceSearch" />
                       		 <input id="direction" type="hidden" name="direction" value="prev" />
                        	 <input id="sortDirection" type="hidden" name="sortDirection" value="0" />
                        	 <input id="pageIndex" type="hidden" name="pageIndex" value="0" />
                    	</form>
                			 </div><!-- Search input window -->
                	<div id="resultHeader" class="box_header"><!-- Result Header Start -->
                    		 <div style="float:left; height:23px;">
                    		 #if(${context.hideAddUserBtn} == 'false')
								 <div style="float:left; margin-top:3px;">
								  	 <a onClick="return checkCustomerType();" style="text-decoration:none;">
										 <div class="btn_start"></div>
										 <div class="btn_normal">Add User</div>
										 <div class="btn_end"></div>
								  	 </a>
								 </div>
							#end	 
							 <div style="float:left; margin-top:3px;">
						  	 <a onClick="deleteLearners($totCount);" style="text-decoration:none;">
							 <div class="btn_start"></div>
							 <div class="btn_normal">Disable User</div>
							 <div class="btn_end"></div>
						 	 </a>
							 </div>
							 </div>
					
					<form name="nextPrevManageForm" method="post" action="mgr_manageLearners.do">
					<div class="result_left_side">
						 <div style="float:left; margin-top:3px;">
						 	  <a onClick="showSearchBox(document.getElementById('srch'));" style="text-decoration:none;">
							   <div class="btn_start"></div>
							    <div class="btn_normal">Search</div>
								 <div class="btn_end"></div>
						 		 </a>
						 </div>

						 
						 
						 <!-- All Icon -->
						#if ($!{context.totalRecord} > 0)
						 	 <div id="showAll" class="icon_all" onClick="location.href='?action=allSearch&direction=${context.direction}&sortDirection=${context.sortDirection}&pageIndex=0&sortBy=${context.sortBy}';" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();"></div>
						#end
						<!-- Next Icon -->
						#if(! ${context.totalRecord} || $!{context.totalRecord}==-1)
							  <div id="goNext" class="icon_next">&nbsp;</div>
							  <div id="goNext" class="icon_back">&nbsp;</div>
						#else
							 #if($!{context.recordShowing} == $!{context.totalRecord})
							 	  <div id="goNext" class="icon_next">&nbsp;</div>
							 #else
								 <div id="goNext" class="icon_next" onClick="location.href='?action=$!{context.searchType}&direction=next&pageIndex=$!{context.pageNo}&sortBy=${context.sortBy}&sortDirection=${context.sortDirection}';"class="icon_next" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();"></div>
							 #end
						<!-- Back Icon -->
							 #if ($!{context.pageNo} == 0)
							 	 <div id="goNext" class="icon_back">&nbsp;</div>
							 #else
							     <div id="goNext" class="icon_back" onClick="location.href='?action=$!{context.searchType}&direction=prev&pageIndex=$!{context.pageNo}&sortBy=${context.sortBy}&sortDirection=${context.sortDirection}';" class="icon_back" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip();"></div>
						     #end
						#end


                      <!-- Showing Results -->
                      #set($lPpageNum =$!{context.pageNo} *10 + 1)
                      #set($rPpageNum =$!{context.recordShowing})
                      #if(${context.totalRecord})
                      		<div id="resultDescription" class="box_description" style="float:right">Showing #if($!{context.totalRecord}<=0 ) 0 - 0 of 0 #else $lPpageNum - $rPpageNum of $!{context.totalRecord} #end</div>
                      #else
                      	   <div id="resultDescription" class="box_description"  style="float:right">Showing  0 - 0 of 0 </div>
                      #end


			 </div> 
<input id="shwAllValue" type="hidden" name="shwAllValue" value="$!{context.totalRecord}" />
<input id="lPNum" type="hidden" name="lPNum" value="$lPpageNum" />
<input id="rPNum" type="hidden" name="rPNum" value="$rPpageNum" />
</form>
</div><!-- Result Header End -->

                <form name="deleteManageForm" id="deleteManageForm" method="post" action="mgr_manageLearners.do" style="margin-bottom:0; margin-top:-1px; margin-left:0;">
                    <!-- Result Subheader End -->
                    <!-- Search Result Start -->
                    <div id="searchResult">
                        #if ($!{context.totalRecord} > 0)
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:2px; border-top:1px;">
                                <tr bgcolor="#efefef">
                                    <td class="check_box_top" width="17"><input type="checkbox" id="chkAll" name="selectedLearner" /></td>
                                    <td class="box_subheader"><div onClick="location.href='?action=sort&direction=${context.direction}&pageIndex=$!{context.pageNo}&sortBy=firstName&sortDirection=${context.sortDirection}';" onmouseover="showTooltip('Sort on First Name', event);" onmouseout="hideTooltip();"><div id="firstNameSort" #if(($sd==0)&&($request.getParameter("sortBy")=="firstName")) class="icon_up" #elseif($request.getParameter("sortBy")=="firstName") class="icon_down" #end ></div>First Name</div></td>
                                    <td class="box_subheader"><div onClick="location.href='?action=sort&direction=${context.direction}&pageIndex=$!{context.pageNo}&sortBy=lastName&sortDirection=${context.sortDirection}';" onmouseover="showTooltip('Sort on Last Name', event);" onmouseout="hideTooltip();"><div id="lastNameSort"#if(($sd==0)&&($request.getParameter("sortBy")=="lastName")) class="icon_up" #elseif($request.getParameter("sortBy")=="lastName") class="icon_down" #end ></div>Last Name</a></td>
                                    <td class="box_subheader"><div onClick="location.href='?action=sort&direction=${context.direction}&pageIndex=$!{context.pageNo}&sortBy=username&sortDirection=${context.sortDirection}';" onmouseover="showTooltip('Sort on UserName', event);" onmouseout="hideTooltip();"><div id="userNameSort"#if(($sd==0)&&($request.getParameter("sortBy")=="username")) class="icon_up" #elseif($request.getParameter("sortBy")=="username") class="icon_down" #end ></div>UserName</a></td>
                                    <td class="box_subheader"><div onClick="location.href='?action=sort&direction=${context.direction}&pageIndex=$!{context.pageNo}&sortBy=accountNonLocked&sortDirection=${context.sortDirection}';" onmouseover="showTooltip('Sort on Account', event);" onmouseout="hideTooltip();"><div id="accountNonLockedSort"#if(($sd==0)&&($request.getParameter("sortBy")=="accountNonLocked")) class="icon_up" #elseif($request.getParameter("sortBy")=="accountNonLocked") class="icon_down" #end ></div>Account Locked</td>
                                    <td class="check_box_top" width="80px" style="border-right:none;">&nbsp;</td>
                                </tr>
                                
                                #foreach($learner in ${context.members})
                                    #if($velocityCount%2==0)
                                        #set($alternate="row_2")
                                    #else
                                        #set($alternate="row_1")
                                    #end
                                    <tr>
                                        <td class="$alternate" width="17"><input type="checkbox" name="selectedLearners" value="${learner.id}" id="chk$velocityCount" /></td>
                                        <td class="$alternate"><a href="mgr_editlearner.do?method=displayUser&userId=${learner.id}" >#dotPaddingWithOutTitle($!{learner.firstName}, 25)</a></td>
                                        <td class="$alternate"><a href="mgr_editlearner.do?method=displayUser&userId=${learner.id}" >#dotPaddingWithOutTitle($!{learner.lastName}, 25)</a></td>
                                        <td class="$alternate">#dotPaddingWithOutTitle($!{learner.username} 35)</td>
                                        <td class="$alternate">#if(${learner.accountNonLocked})No #else Yes #end</td>
                                        <td class="$alternate" width="80px" style="border-right:none;">
                                        <!-- <div onClick="location.href='mgr_editlearner_changegroup.do?learnerId=${learner.learner.id}'" class="icon_change" onmouseover="showTooltip('Change Groups', event);" onmouseout="hideTooltip();"></div> -->
                                        <a href="mgr_editlearner_changegroup.do?learnerId=${learner.learner.id}&backToSearch=true'" >
                                                $brander.getBrandElement("lms.manageUser.searchLearner.caption.changeGroup")
                                        </a>
                                        </td>
                                    </tr>
                                #end
                            </table>
                        #else
                            <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:2px; border-top:1px;">
                                <tr bgcolor="#efefef">
                                    <td class="check_box_top" width="17"><input type="checkbox" id="chkAll" name="selectedLearner" /></td>
                                    <td class="box_subheader">First Name</td>
                                    <td class="box_subheader">Last Name</td>
                                    <td class="box_subheader">UserName</td>
                                    <td class="box_subheader">Account Locked</td>
                                    <td class="check_box_top" width="80px" style="border-right:none;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="border-bottom:1px solid;border-color:#dfdfdf !Important;">
                                        <div class="result_blank">#if(! $request.getAttribute("newPage")) $brander.getBrandElement("lms.searchLearner.caption.noRecordFound") #else To search click on the Search button above #end</div>
                                    </td>
                                </tr>
                            </table>
                        #end
                        <input id="action" type="hidden" name="action" value="delete" />
                    </div>
                </form>
            </div><!-- Search resultBox -->

            <!-- space -->
            <div class="manager-bottom-space"></div>
            <!-- space -->
				 </div>
			</TD>
		</tr> <!-- END OF SECOND BLOCK -->


		<tr> <!-- Footer BLOCK -->
			<td id="footer" colspan="2">
				<!-- footer -->
				#if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
				#parse("snippets/adminFooter.vm")
				#else
				#parse("snippets/managerFooter.vm")
				#end
				<!-- footer-end -->
			</td> <!-- Footer End -->
		</tr> <!-- End OF Footer BLOCK -->
	</table> <!-- Table 1 END -->
	
	
	<div id='deleteConfirmation' style='display:none'>
    <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.disable.sure")</div>
    <br style="clear:both" />
    <div class='buttons'>
        <div class='simplemodal-close'>
            <a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</span></a>
            <a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
        </div>
</div>

<div id="selectLearner" style="display:none">
    <div class="header">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.warning")</div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.select")</div>
    <br style="clear:both" />
    <div class='buttons'>
        <div class='no simplemodal-close'>
            <a class="button" onClick=""><span class="button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
        </div>
    </div>
</div><!-- Alert Message Box Ends -->

<div id='b2bConfirmation' style='display:none'>
    <div class='header'><span>$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.pleaseConfirm")</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="alert_message_box_text">Current customer is B2C type having one learner. It will be changed to B2B type after this action. Do you want to continue?</div>
    <br style="clear:both" />
    <div class='buttons'>
        <div class='simplemodal-close'>
            <a class="button" onClick=""><span class="no button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.cancel")</span></a>
            <a class="button" onClick=""><span class="yes button">$brander.getBrandElement("lms.manageUser.searchLearner.messageBox.OK")</span></a>
        </div>
</div>

</body>

</html>
