<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#**
----------------------------------------------------------------------------  
@Author: Parthasarathi Adhikary (dec.22.2008)
@Modified: Praveen Gaurav (jan.2.2009)
---------------------------------------------------------------------------- 
*#
<html xmlns="http://www.w3.org/1999/xhtml">

## this must be included on every page for all head items
#parse("snippets/learnerHead.vm")

<body>
<script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript">
function FormSubmit(buttonclick) {
document.getElementById('action').value=buttonclick;
document.manageform.submit();
}
</script>
<form name="manageform" action="" method="post">
<div id="main-container">

	<!-- header -->
	 #parse("snippets/loginHeader.vm")
	<!-- header-end -->
	<div id="content2a">
	<!-- content-area -->
		<div id="left-pannel">
		<!-- left-pannel-content -->
			<div id="leftmenu">
				<div id="l-menu-back">
					<div>Add New User Wizard <br/>Showing 3 of 3</div>
					<div class="l-menu-back-text">1. $brander.getBrandElement("lms.manageUser.addNewLearner.learnerProfile.text")</div>
					<div class="l-menu-back-text">2. $brander.getBrandElement("lms.manageUser.addNewLearner.learnerGroups.text")</div>
					<div class="l-menu-back-text-act"><b>3. $brander.getBrandElement("lms.manageUser.addNewLearner.learnerConfirmation.text")</b></div>
				</div>
			</div>
		<!-- left-pannel-content-end -->
		</div>
		<div id="right-pannel">
		<!-- right-pannel-content -->
				<!-- Logo+Manage-User -->
				<div class="$brander.getBrandElement("lms.mycourses.cssClass.courseLogoContainer")">
					<div id="e3" class="$brander.getBrandElement("lms.mycourses.cssClass.courseLogo2")"><img src="$brander.getBrandElement("lms.pixel.iconAddLearner")" alt="" /></div>
					<div id="e4" class="$brander.getBrandElement("lms.mycourses.cssClass.courseTitleDiv")">
						<div id="e5" class="$brander.getBrandElement("lms.mycourses.cssClass.courseTitle1")">$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.title")</div>
						<div id="e6" class="$brander.getBrandElement("lms.mycourses.cssClass.courseDetails")">$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.description")</div>
					</div>
				</div>
			<!-- Logo+Manage-User-end -->
			<!-- Learner-profile -->
			<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
				<div id="e7a" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
					<div id="e8" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.manageUser.addNewLearner.learnerProfile.text")</div>
				</div>
				<div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
				<!-- left-box -->
					<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.firstName")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.Vu360User.firstName}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.middleName")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.Vu360User.middleName}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.lastName")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.Vu360User.LastName}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.officePhone")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.officePhone}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.officePhoneExt")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.officePhoneExtn}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.mobilePhone")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.mobilePhone}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")"><!-- using for space --></div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.homeAddLn1")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.StreetAddress}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.homeAddLn2")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.StreetAddress2}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.city")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.City}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.state")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.State}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.zip")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.Zipcode}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.country")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.LearnerProfile.LearnerAddress.Country}</div>
					</div>
				<!-- left-box-end -->
				</div>
			</div>
			<!-- Learner-profile-end -->
			<!-- space -->
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
			<!-- space -->
			<!-- Login-&-Password -->
			<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
				<div id="e7a" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
					<div id="e8" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.loginPassword")</div>
				</div>
				<div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
				<!-- left-box -->
					<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.eMailAddress")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.vu360User.EmailAddress}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">$brander.getBrandElement("lms.manageUser.addNewLearner.caption.Password")</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">$!{context.Learner.vu360User.Password}</div>
					</div>
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")"><!-- using for space --></div>
					</div>
				<!-- left-box-end -->
				</div>
			</div>
			<!-- Login-&-Password-end -->
			<!-- space -->
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
			<!-- space -->
			<!-- Group-Membership -->
			<div class="$brander.getBrandElement("lms.mycourses.cssClass.content-Block")">
				<div id="e7a" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
					<div id="e8" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.groupMembership")</div>
				</div>
				<div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
				<!-- left-box -->
					#foreach ($courseGroups in $!{context.Learner.OrganizationalGroups})
					<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">#if($velocityCount==1)$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.orgGroup")#end</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">						
							<option>$!{courseGroups.name}</option><br/>	
						</div>
					</div>
					#end
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")"><!-- using for space --></div>
					</div>
					#foreach ($learnerGroups in $!{context.Learner.LearnerGroups})
					<div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")">#if($velocityCount==1)$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.learnerGroup")#end</div>
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in2")">
							<option>$!{learnerGroups.name}</option><br/>	
						</div>
					</div>
					#end
					<div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
						<div class="$brander.getBrandElement("lms.manageUser.viewNewLearner.cssClass.block_text_in-r-fb")"><!-- using for space --></div>
					</div>
				</div>
				<!-- left-box-end -->
			</div>
			<!-- Group-Membership-end -->
			<!-- button-div -->
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
				<div><input type="button" value="$brander.getBrandElement("lms.manageUser.addNewLearner.caption.btnCancel")" onclick=onclick="self.close()" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn-76w")" /></div>
				<div><input type="button" value="$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.Finish")" onclick="FormSubmit('finish');" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn-82w-r")" /></div>
				<div><input type="button" value="$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.Previous")" onclick=window.location.href="mgr_changeGroups.do" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.btn-82w-r")" /></div>
				<input type="hidden" id="action" name="action" />
			</div>
			<!-- scrollable-div -->
			<!-- space -->
			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.manager-bottom-space")"></div>
			<!-- space -->

		<!-- right-pannel-content-end -->
		</div>
	<!-- content-area-end -->
	</div>
	<!-- footer -->
	#parse("snippets/managerFooter.vm")
	<!-- footer-end -->
</div>
</form>
</body>
</html>
