<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jms="http://www.springframework.org/schema/jms" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:cache="http://www.springframework.org/schema/cache"

	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/jms 
            http://www.springframework.org/schema/jms/spring-jms.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc
        	http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/data/jpa
            http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
            http://www.springframework.org/schema/jee 
            http://www.springframework.org/schema/jee/spring-jee.xsd 
            http://www.springframework.org/schema/cache
            http://www.springframework.org/schema/cache/spring-cache.xsd
            ">
			

	<aop:aspectj-autoproxy />
	<context:annotation-config />

	<!-- The <context:component-scan> tag instructs Spring to scan for the specified 
		package for controller classes. -->

	<context:component-scan base-package="com.softech.vu360.lms.service.impl" />
	<!-- The <context:component-scan> tag instructs Spring to scan for the specified 
		package for controller classes. -->
	<context:component-scan
		base-package="com.softech.vu360.lms.web.restful.request.validator" />
	<context:component-scan
		base-package="com.softech.vu360.lms.web.restful.request.handler" />
	<context:component-scan
		base-package="com.softech.vu360.lms.web.restful.request.security" />
	<context:component-scan
		base-package="com.softech.vu360.lms.web.restful.request.**.driver" />
	<context:component-scan
		base-package="com.softech.vu360.lms.web.restful.request.**.responsible" />
	<context:component-scan base-package="com.softech.vu360.lms.rest" />
	<mvc:annotation-driven />
	<context:property-placeholder location="/WEB-INF/classes/vu360-lms.properties" />

    <jpa:repositories base-package="com.softech.vu360.lms.repositories"/>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:../persistence.xml" />
		<property name="persistenceUnitName" value="lmsPersistenceUnit" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="jpaDialect" ref="jpaDialect" />
		<property name="loadTimeWeaver">
			<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
		</property>
		
	</bean>

	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="SQL_SERVER" />
		<!-- <property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" /> -->
		<property name="databasePlatform" value="com.softech.vu360.util.SQLServer2012DialectUpdated" />
	</bean>

	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />

	<tx:annotation-driven />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect" ref="jpaDialect" />
	</bean>



	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://kar-db-2\lms;databaseName=vu360_dev_5_2" />
		<property name="username" value="lms-rwe" />
		<property name="password" value="lms!@#$" />
	</bean> -->


	<!-- ========================= SERVICE/BUSINESS LOGIC DEFINITIONS ========================= -->
	<bean id="myAspect" class="com.softech.vu360.lms.aspects.audit.AuditLogAspect"/>

	<bean id="myCRF" class="com.softech.vu360.lms.model.CreditReportingField">
		<property name="hostName" value="1"></property>
	</bean>

	<!-- ========================= SERVICE/BUSINESS LOGIC DEFINITIONS ========================= -->

	<bean id="storefrontClientWS"
		class="com.softech.vu360.lms.webservice.client.impl.StorefrontClientWSImpl" />

	<!-- [10/27/2010] LMS-6389 :: Business Object Sequencing for OSHA Certificates -->
	<bean id="businessObjectSequenceService" class="com.softech.vu360.lms.service.impl.BusinessObjectSequenceServiceImpl"/>

	<bean name="userDetailsService" id="userDetailsService" class="com.softech.vu360.lms.service.impl.VU360UserServiceImpl">
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="saltSource" ref="saltSource" />
		<property name="activeDirectoryService" ref="activeDirectoryService" />
	</bean>


	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="userGUID" />
	</bean>

	<bean id="resourceService" class="com.softech.vu360.lms.service.impl.ResourceServiceImpl"/>

	<bean id="entitlementService" class="com.softech.vu360.lms.service.impl.EntitlementServiceImpl">
		<property name="customerService" ref="customerService" />
		<property name="orgGroupLearnerGroupService" ref="orgGroupLearnerGroupService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="synchronousClassService" ref="synchronousClassService" />
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="subscriptionService" ref="subscriptionService" />
		<property name="securityAndRolesService" ref="securityAndRolesService" />
	</bean>

	<bean id="learnerHomeworkAssignmentSubmissionService" class="com.softech.vu360.lms.service.impl.LearnerHomeworkAssignmentSubmissionServiceImpl"/>

	<bean id="courseAndCourseGroupService" class="com.softech.vu360.lms.service.impl.CourseAndCourseGroupServiceImpl">
		<property name="entitlementService" ref="entitlementService" />
		<property name="authorService" ref="authorService" />
		<property name="customerService" ref="customerService" />
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>

	<bean id="statisticsService" class="com.softech.vu360.lms.service.impl.StatisticsServiceImpl">
		<property name="surveyService" ref="surveyService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="learnersToBeMailedService" ref="learnersToBeMailedService" />
	</bean>

	<bean id="launchCourseService" class="com.softech.vu360.lms.service.impl.LaunchCourseServiceImpl">
		<property name="statsService" ref="statisticsService" />
		<property name="surveyService" ref="surveyService" />
	</bean>

	<bean id="learnerService" class="com.softech.vu360.lms.service.impl.LearnerServiceImpl">
		<property name="orgGroupLearnerGroupService" ref="orgGroupLearnerGroupService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="saltSource" ref="saltSource" />
		<property name="accreditationService" ref="accreditationService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="authorService" ref="authorService" />
		<property name="customerService" ref="customerService" />
		<property name="userWidgetService" ref="userWidgetService" />
		<property name="activeDirectoryService" ref="activeDirectoryService" />
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>

	<bean id="orgGroupLearnerGroupService" class="com.softech.vu360.lms.service.impl.OrgGroupLearnerGroupServiceImpl">
		<property name="learnerService" ref="learnerService" />
	</bean>


	<bean id="surveyService" class="com.softech.vu360.lms.service.impl.SurveyServiceImpl">
		<property name="entitlementService" ref="entitlementService" />
		<property name="statisticsService" ref="statisticsService" />
		<property name="learnerService" ref="learnerService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
	</bean>

	<bean id="enrollmentService" class="com.softech.vu360.lms.service.impl.EnrollmentServiceImpl">
		<property name="learnerService" ref="learnerService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="synchronousClassService" ref="synchronousClassService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="trainingPlanService" ref="trainingPlanService" />
		<property name="velocityEngine" ref="velocityEngine" />
		<property name="learnersToBeMailedService" ref="learnersToBeMailedService" />
		<property name="asyncTaskExecutorWrapper" ref="asyncTaskExecutorWrapper" />
		<property name="statsService" ref="statisticsService" />
		<property name="accreditationService" ref="accreditationService" />
		<property name="userService" ref="userDetailsService" />
		<property name="subscriptionService" ref="subscriptionService" />
		<property name="learnerHomeworkAssignmentSubmissionService"
			ref="learnerHomeworkAssignmentSubmissionService" />
		<property name="marketoJMSTemplate" ref="marketoJMSTemplate"/>	
	</bean>

	<bean id="distributorService" class="com.softech.vu360.lms.service.impl.DistributorServiceImpl">
		<property name="customerService" ref="customerService" />
		<property name="authorService" ref="authorService" />
		<property name="brandService" ref="brandService" />
	</bean>

	<bean id="trainingPlanService" class="com.softech.vu360.lms.service.impl.TrainingPlanServiceImpl"/>

	<bean id="orderService" class="com.softech.vu360.lms.service.impl.OrderServiceImpl">
		<property name="customerService" ref="customerService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="learnerService" ref="learnerService" />
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="selfServiceService" ref="selfServiceService" />
		<property name="vu360UserService" ref="userDetailsService" />
	</bean>

	<bean id="authorService" class="com.softech.vu360.lms.service.impl.AuthorServiceImpl"/>

	<bean id="activeDirectoryService" class="com.softech.vu360.lms.service.impl.ActiveDirectoryServiceImpl"/>

	<bean id="customerService" class="com.softech.vu360.lms.service.impl.CustomerServiceImpl">
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="learnerService" ref="learnerService" />
		<property name="groupService" ref="orgGroupLearnerGroupService" />
		<property name="distributorService" ref="distributorService" />
		<property name="storefrontClientWS" ref="storefrontClientWS" />
		<property name="authorService" ref="authorService" />
		<property name="brandService" ref="brandService" />
		<!-- LMS-10055 | S M Humayun | 25 April 2011 -->
		<property name="securityAndRolesService" ref="securityAndRolesService" />
	</bean>

	<bean id="reportingConfigurationService" class="com.softech.vu360.lms.service.impl.ReportingConfigurationServiceImpl"/>

	<bean id="reportExecutionService" class="com.softech.vu360.lms.service.impl.ReportExecutionServiceImpl"/>

	<bean id="updateProfileService" class="com.softech.vu360.lms.service.impl.UpdateProfileServiceImpl">
		<property name="vu360UserService" ref="userDetailsService" />
	</bean>

	<bean id="brandService" class="com.softech.vu360.lms.service.impl.BrandServiceImpl"/>

	<bean id="affidavitTemplateService" class="com.softech.vu360.lms.service.impl.AffidavitTemplateServiceImpl"/>

	<bean id="brandingService" class="com.softech.vu360.lms.service.impl.BrandingServiceImpl"/>

	<bean id="orderCreatedEventService" class="com.softech.vu360.lms.service.impl.OrderCreatedEventServiceImpl">
		<property name="customerService" ref="customerService" />
		<property name="distributorService" ref="distributorService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="learnerService" ref="learnerService" />
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="orderService" ref="orderService" />
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="subscriptionService" ref="subscriptionService" />
	</bean>

	<bean id="learningSessionService" class="com.softech.vu360.lms.service.impl.LearningSessionServiceImpl">
		<property name="statisticsService" ref="statisticsService" />
		<property name="aiccHandler" ref="aiccStatisticsHandler" />
		<property name="learnersToBeMailedService" ref="learnersToBeMailedService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="accreditationService" ref="accreditationService" />
		<property name="certificateService" ref="certificateService" />
		<property name="surveyService" ref="surveyService" />
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>
	
	<bean id="aiccStatisticsHandler" class="com.softech.vu360.lms.service.impl.AICCStatisticsServiceImpl">
		<property name="statsService" ref="statisticsService" />
		<property name="courseService" ref="courseAndCourseGroupService" />
	</bean>

	<bean id="accreditationService" class="com.softech.vu360.lms.service.impl.AccreditationServiceImpl">
		<property name="vu360UserService" ref="userDetailsService" />
	</bean>


	<bean id="selfServiceService" class="com.softech.vu360.lms.service.impl.SelfServiceServiceImpl">
		<property name="securityAndRolesService" ref="securityAndRolesService" />
		<property name="customerService" ref="customerService" />
		<property name="distributorService" ref="distributorService" />
		<property name="authorService" ref="authorService" />
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="productPurchaseService" ref="lmsProductPurchaseService" />
		<property name="learnerService" ref="learnerService" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="orderService" ref="orderService" />
	</bean>

	<bean name="brandDomainService" class="com.softech.vu360.lms.service.impl.BrandDomainServiceImpl"/>

	<bean id="synchronousClassService" class="com.softech.vu360.lms.service.impl.SynchronousClassServiceImpl">
		<property name="timeZoneService" ref="timeZoneService" />
		<property name="resourceService" ref="resourceService" />
	</bean>

	<bean id="commissionService" class="com.softech.vu360.lms.service.impl.CommissionServiceImpl">
		<property name="distributorService" ref="distributorService" />
		<property name="storefrontClientWS" ref="storefrontClientWS" />
	</bean>

	<bean id="customFieldService" class="com.softech.vu360.lms.service.impl.CustomFieldServiceImpl">
		<property name="distributorService" ref="distributorService" />
		<property name="customerService" ref="customerService" />
		<property name="learnerService" ref="learnerService" />
	</bean>

	<bean id="securityAndRolesService" class="com.softech.vu360.lms.service.impl.SecurityAndRolesServiceImpl"/>

	<bean id="batchImportLearnersService" class="com.softech.vu360.lms.service.impl.OptimizedBatchImportLearnersServiceImpl">
		<property name="learnerService" ref="learnerService" />
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="orgGroupService" ref="orgGroupLearnerGroupService" />
		<property name="customFieldService" ref="customFieldService" />
		<property name="asyncTaskExecutorWrapper" ref="asyncTaskExecutorWrapper" />
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="learnersToBeMailedService" ref="learnersToBeMailedService" />
		<property name="accreditationService" ref="accreditationService" />
		<property name="activeDirectoryService" ref="activeDirectoryService" />
	</bean>

	<bean id="asyncTaskExecutorWrapper" class="com.softech.vu360.util.AsyncTaskExecutorWrapper">
		<constructor-arg>
			<bean class="org.springframework.core.task.SimpleAsyncTaskExecutor" />
		</constructor-arg>
	</bean>

	<bean id="userStatusUpdateUtil" class="com.softech.vu360.util.UserStatusUpdateUtil">
		<property name="accreditationService" ref="accreditationService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="statisticsService" ref="statisticsService" />
		<property name="learnersToBeMailedService" ref="learnersToBeMailedService" />
		<property name="auditCourseStatusService" ref="auditCourseStatusService" />
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>

	<bean id="enrollLearnerAsyncTask" class="com.softech.vu360.util.EnrollLearnerAsyncTask">
		<property name="enrollmentService" ref="enrollmentService" />
		<property name="trainingPlanService" ref="trainingPlanService" />
	</bean>

	<bean name="timeZoneService" class="com.softech.vu360.lms.service.impl.TimeZoneServiceImpl"/>

	<bean name="synchronousMeetingServiceFactory" class="com.softech.vu360.lms.meetingservice.SynchronousMeetingServiceFactory">
		<property name="webExMeetingService" ref="webExMeetingService" />
		<property name="globalScholarMeetingService" ref="globalScholarMeetingService" />
		<property name="dimdimMeetingService" ref="dimdimMeetingService" />
	</bean>
	<bean name="globalScholarMeetingService" class="com.softech.vu360.lms.meetingservice.globalscholar.GlobalScholarMeetingServiceImpl" />
	
	<bean name="webExMeetingService" class="com.softech.vu360.lms.meetingservice.webex.WebExMeetingServiceImpl" />
	
	<bean name="dimdimMeetingService" class="com.softech.vu360.lms.meetingservice.dimdim.DimDimMeetingServiceImpl" />

	<bean id="instructorService" class="com.softech.vu360.lms.service.impl.InstructorServiceImpl"/>

	<bean id="certificateService" class="com.softech.vu360.lms.service.impl.CertificateServiceImpl">
		<property name="accreditationService" ref="accreditationService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="statisticsService" ref="statisticsService" />
		<!--  @MariumSaud : PIR-2666 This property needs to be comment out as not now used in CertificateServiceImpl.java  -->
		<!-- <property name="businessObjectSequenceService" ref="businessObjectSequenceService" />  -->
		<property name="customFieldService" ref="customFieldService" />
	</bean>

	<!-- Amazon Integration Service -->
	<bean id="amazonIntegrationService" class="com.softech.vu360.lms.service.impl.AmazonIntegrationServiceImpl"/>

	<bean id="proctorService" class="com.softech.vu360.lms.service.impl.ProctorServiceImpl">
		<property name="accreditationService" ref="accreditationService" />
		<property name="vu360UserService" ref="userDetailsService" />
		<property name="customerService" ref="customerService" />
		<property name="learnerService" ref="learnerService" />
	</bean>

	<bean id="manageUserStatusService" class="com.softech.vu360.lms.service.impl.ManageUserStatusServiceImpl"/>

	<bean id="widgetService" class="com.softech.vu360.lms.service.impl.WidgetServiceImpl"/>

	<bean id="userWidgetService" class="com.softech.vu360.lms.service.impl.UserWidgetServiceImpl"/>

	<bean id="lmsProductPurchaseService" class="com.softech.vu360.lms.service.impl.LMSProductPurchaseServiceImpl"/>

	<bean id="learnerLicenseService" class="com.softech.vu360.lms.service.impl.LearnerLicenseServiceImpl"/>

	<bean id="learnerLicenseAlertService" class="com.softech.vu360.lms.service.impl.LearnerLicenseAlertServiceImpl"/>


	<!-- ========================= DAOs LOGIC DEFINITIONS ===================================== -->

	<!-- [10/27/2010] LMS-6389 :: Business Object Sequencing for OSHA Certificates -->

	<bean id="contextApplicationContextProvider" class="com.softech.vu360.lms.web.controller.manager.ApplicationContextProvider"/>

	<!-- Dashboard widget beans -->
	<bean name="surveyWidgetLogic" class="com.softech.vu360.lms.widget.impl.SurveyWidgetLogic">
		<property name="surveyService" ref="surveyService" />
	</bean>
	<bean name="profileWidgetLogic" class="com.softech.vu360.lms.widget.impl.ProfileWiddgetLogic">
	</bean>
	<bean name="coursesWidgetLogic" class="com.softech.vu360.lms.widget.impl.CoursesWidgetLogic">
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>
	<bean name="trainingPlanWidgetLogic"
		class="com.softech.vu360.lms.widget.impl.TrainingPlanWidgetLogic">
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="enrollmentService" ref="enrollmentService" />
	</bean>

	<bean name="myRecommendationsWidgetLogic"
		class="com.softech.vu360.lms.widget.impl.MyRecommendationsWidgetLogic">
		<property name="storefrontClientWS" ref="storefrontClientWS" />
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
	</bean>

	<bean name="alertWidgetLogic" class="com.softech.vu360.lms.widget.impl.AlertWidgetLogic">
		<property name="surveyService" ref="surveyService" />
	</bean>
	<bean name="affidavitWidgetLogic"
		class="com.softech.vu360.lms.widget.impl.AffidavitWidgetLogic">
		<property name="entitlementService" ref="entitlementService" />
		<property name="accreditationService" ref="accreditationService" />
		<property name="statisticsService" ref="statisticsService" />
	</bean>

	<bean name="tutorialWidgetLogic" class="com.softech.vu360.lms.widget.impl.TutorialWidgetLogic"/>
	<!-- /Dashboard widget beans -->

	<bean id="learnersToBeMailedService" class="com.softech.vu360.util.LearnersToBeMailedService">
		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
		<property name="velocityEngine" ref="velocityEngine" />
		<property name="certificateService" ref="certificateService" />
		<property name="entitlementService" ref="entitlementService" />
		<property name="statisticsService" ref="statisticsService" />
		<property name="securityAndRolesService" ref="securityAndRolesService"/>
	</bean>

	<bean id="auditCourseStatusService"	class="com.softech.vu360.lms.service.impl.AuditCourseStatusServiceImpl"/>

	<bean id="subscriptionService" class="com.softech.vu360.lms.service.impl.SubscriptionServiceImpl"/>

	<bean name="lcmsClientWS" class="com.softech.vu360.lms.webservice.client.impl.LCMSClientWSImpl" />

	<bean name="lmsCourseApprovalClientToSF" class="com.softech.vu360.lms.webservice.client.impl.LMSCourseApprovalPublishWSClientImpl">
		<property name="accreditationService" ref="accreditationService" />
	</bean>

	<bean id="coursePlayerTypeService" class="com.softech.vu360.lms.service.impl.CoursePlayerTypeServiceImpl"/>
	
	<bean id="aiccAssignableUnitService" class="com.softech.vu360.lms.service.impl.AICCAssignableUnitServiceImpl"/>
	
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>

	<!-- Active MQ Configuration -->
	<!-- Active MQ beans -->
	<bean id="batchImportConnectionManager"
		class="com.softech.vu360.lms.batchImport.BatchImportConnectionManager">
		<property name="batchImportMessageListener" ref="batchImportMessageListener" />
		<property name="activeMQConnectionStateMonitor" ref="activeMQTransportListener" />
	</bean>
	
	<bean id="acmReportImportConnectionManager" class="com.softech.vu360.lms.batchImport.ACMReportImportConnectionManager">
    		<property name="regulatoryReportingMessageListener" ref="regulatoryReportingMessageListener" />
    		<property name="activeMQConnectionStateMonitor" ref="activeMQTransportListener" />
 	</bean>
 
	<bean id="activeMQTransportListener"
		class="com.softech.vu360.lms.batchImport.ActiveMQConnectionStateMonitor">
		<property name="batchImportConnectionManager" ref="batchImportConnectionManager" />
		<property name="acmReportImportConnectionManager" ref="acmReportImportConnectionManager"/>
	</bean>

	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${amq.broker.url}" />
		<!-- <property name="userName" value="admin" /> <property name="password" 
			value="admin" /> -->
		<property name="transportListener" ref="activeMQTransportListener" />
		<property name="trustAllPackages" value="true"/>
	</bean>
	
	<bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
	    <property name="connectionFactory" ref="activeMQConnectionFactory"/>
	</bean>
	
	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
	    <property name="configuration" ref="jmsConfig"/>
	</bean>	

	<!-- A cached connection to wrap the ActiveMQ connection -->
	<bean id="cachedConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="activeMQConnectionFactory" />
		<property name="sessionCacheSize" value="10" />
	</bean>

	<!-- A destination Queue in ActiveMQ -->
	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${amq.queue.name}" />
	</bean>
	
	<bean id="acmdestinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
 		<constructor-arg value="${amq.acm.queue.name}" />
 	</bean>
 
	<!-- A JmsTemplate instance that uses the cached connection and destination -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="activeMQConnectionFactory" />
		<property name="defaultDestination" ref="destinationQueue" />
	</bean>
	
	<bean id="acmjmsTemplate" class="org.springframework.jms.core.JmsTemplate">
 		<property name="connectionFactory" ref="activeMQConnectionFactory" />
 		<property name="defaultDestination" ref="acmdestinationQueue" />
 	</bean>
 	
 
	<!-- A POJO that implements the JMS message listener (Receiving Message) -->
	<bean id="batchImportMessageListener"
		class="com.softech.vu360.lms.batchImport.BatchImportMessageListener">
		<property name="velocityEngine" ref="velocityEngine" />
		<property name="batchImportLearnersService" ref="batchImportLearnersService" />
		<property name="customerService" ref="customerService" />
	</bean>

	<!-- A POJO that implements the JMS message listener (Receiving Message) -->
 	<bean id="regulatoryReportingMessageListener" class="com.softech.vu360.lms.batchImport.RegulatoryReportingMessageListener">
         <property name="enrollmentService" ref="enrollmentService" />
 	</bean>
 	
 
	<bean id="legacyCertificateService" class="com.softech.vu360.lms.service.impl.LegacyCertificateService"/>

	<!-- A container confiugration <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
		<property name="connectionFactory" ref="cachedConnectionFactory" /> <property 
		name="destination" ref="destinationQueue" /> <property name="autoStartup" 
		value="true" /> <property name="recoveryInterval" value="10000" /> </bean> -->
	<jms:listener-container container-type="simple"
		concurrency="1" connection-factory="cachedConnectionFactory">
		<!-- <jms:listener id="jmsListenerBatchImport" destination="LMS.BatchImport" 
			ref="batchImportMessageListener" method="onMessage" /> -->
	</jms:listener-container>
	<!-- End of Active MQ Configuration -->

	<!-- <bean id="courseApprovalSchedular" class="com.softech.vu360.lms.schedular.CourseApprovalSchedular" 
		> <property name="accreditationService" ref="accreditationService" /> <property 
		name="enrollmentService" ref="enrollmentService" /> <property name="velocityEngine" 
		ref="velocityEngine" /> </bean> <bean id="courseApprovalJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject" ref="courseApprovalSchedular"/> <property name="targetMethod" 
		value="execute"/> </bean> <bean id="cronApprovalTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
		<property name="jobDetail" ref="courseApprovalJob"/> run every morning at 
		6 AM <property name="cronExpression" value="0 0 6 * * ?"/> <property name="cronExpression" 
		value="0/20 * * * * ?"/> </bean> <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="triggers"> <list> <ref bean="cronApprovalTrigger"/> </list> 
		</property> </bean> -->
		
	  <bean id="marketoactiveMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
 		<property name="brokerURL" value="${marketo.amq.broker.url}" />
 		<property name="userName" value="${marketo.amq.connection.username}" />
 		<property name="password" value="${marketo.amq.connection.password}" />
 	  </bean>
 	  
 	 <!--   <bean id="cachedConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory" targetConnectionFactory-ref="amqConnectionFactory" sessionCacheSize="10" /> -->
 	  
 	  <bean id="marketoCachedConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
 		<property name="targetConnectionFactory" ref="marketoactiveMQConnectionFactory" />
 		<property name="sessionCacheSize" value="10" />
 	</bean>
 	  
 	    <bean id="marketoDestinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
 		<constructor-arg value="${marketo.amq.topic.name}" />
 	</bean>
 
 	<bean id="marketoJMSTemplate" class="org.springframework.jms.core.JmsTemplate">
 		<property name="connectionFactory" ref="marketoactiveMQConnectionFactory" />
 		<property name="pubSubDomain" value="true"/>
 		<property name="defaultDestination" ref="marketoDestinationTopic" />
 	</bean>
 	
 	<import resource="lms-api-services-application-context.xml" />
	
	<bean id="regulatoryReportingService" class="com.softech.vu360.lms.service.impl.RegulatoryReportingServiceImpl">
 		<property name="courseAndCourseGroupService" ref="courseAndCourseGroupService" />
 		<property name="learnerService" ref="learnerService" />
 		<property name="enrollmentService" ref="enrollmentService" />
 	</bean>
 
	<jee:jndi-lookup 
		id="dataSource"
	   	jndi-name="jdbc/lcms"
	   	expected-type="javax.sql.DataSource" 
	   	resource-ref="true" />
	   	
   	<mvc:resources mapping="/avatars/**" location="/avatars/" />
	<mvc:resources mapping="/bandwidth/**" location="/bandwidth/" />
	<mvc:resources mapping="/brands/**" location="/brands/" />
	<mvc:resources mapping="/dnd/**" location="/dnd/" />
	<mvc:resources mapping="/javascript/**" location="/javascript/" />
	<mvc:resources mapping="/flash/**" location="/flash/" />
	<mvc:resources mapping="/ssrsImages/**" location="/ssrsImages/" />


	<!-- ***************** CACHE CONFIGURATION ******************* -->
 	<!-- Best Practice for Tomcat (http://www.ehcache.org/documentation/2.8/integrations/tomcat.html) -->
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    	<property name="configLocation" value="classpath:../ehcache.xml"/>
    	<property name="shared" value="true"/>
    </bean>
 	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    	<property name="cacheManager" ref="ehcache"/>
    </bean>
    
    <!-- Enabling Caching annotations -->
	<cache:annotation-driven  />
	<bean id ="enhancedDefaultKeyGenerator" class="org.springframework.cache.interceptor.DefaultKeyGenerator"/>
 	<!-- ***************** CACHE CONFIGURATION ******************* -->

</beans>