<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="exceptionResolver" class="org.springframework.web.servlet.view.json.exception.JsonExceptionResolver">
    	<property name="exceptionView"><value>json1</value></property>
		<property name="errorHandler">
	    	<list>
	        	<ref bean="statusError" />
	        	<ref bean="modelflagError" />
	        </list>
        </property>
        <property name="exceptionHandler">
	    	<list>
	        	<ref bean="stackTraceExceptionHandler" />
	        	<ref bean="exceptionMessageExceptionHandler" />
	        </list>
        </property>
	</bean>
	
	<bean name="statusError" class="org.springframework.web.servlet.view.json.error.HttpStatusError">
		<property name="errorCode"><value>311</value></property>
	</bean>
	
	<bean name="modelflagError" class="org.springframework.web.servlet.view.json.error.ModelFlagError">
		<property name="name"><value>failure</value></property>
		<property name="value"><value>true</value></property>
	</bean>
	
	<bean name="stackTraceExceptionHandler" class="org.springframework.web.servlet.view.json.exception.StackTraceExceptionHandler">
		<property name="replaceLineBreakes"><value>true</value></property>
	</bean>
	
	<bean name="exceptionMessageExceptionHandler" class="org.springframework.web.servlet.view.json.exception.ExceptionMessageExceptionHandler"/>
	
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages"/>
	</bean>
	<!-- <bean name="throwExceptionGetController" class="org.thing.spring.json.controller.ThrowExceptionGetController"/>-->
	<!--<bean name="simpleJsonGetController" class="com.tathya.bestrentsdubai.web.controller.admin.TestJasonController">
	  <property name="methodNameResolver" ref="testJsonControllerMethodNameResolver"/>
	  <property name="propertyService" ref="propertyService"/>
	</bean>
   <bean id="testJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		<props>
		<prop key="/admin/hello.json">render</prop>-->
		
		<!-- <prop key="/testMultAction1.do">actionName1</prop>-->
		<!--</props>
		</property>
	</bean>
	<bean name="regionListJsonGetController" class="com.tathya.bestrentsdubai.web.controller.jason.RegionController">
	  <property name="methodNameResolver" ref="regionJsonControllerMethodNameResolver"/>
	  <property name="regionService" ref="regionService"/>
	</bean>
   <bean id="regionJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		<props>
		<prop key="/jason/getRegionList.json">getRegionByCountry</prop>-->
		
		<!-- <prop key="/testMultAction1.do">actionName1</prop>-->
		<!--</props>
		</property>
	</bean>
	
	<bean name="seasonListJsonGetController" class="com.tathya.bestrentsdubai.web.controller.jason.SeasonController">
	  <property name="methodNameResolver" ref="seasonJsonControllerMethodNameResolver"/>
	  <property name="affiliateService" ref="affiliateService"/>
	  <property name="propertyService" ref="propertyService"/>
	</bean>
   <bean id="seasonJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		<props>
		<prop key="/jason/getSeasonList.json">getSeasonByAffiliate</prop>
		<prop key="/jason/deleteSeason.json">deleteSeason</prop>
		<prop key="/jason/addEditSeason.json">addEditSeason</prop>
		<prop key="/jason/saveSeasons.json">saveSeason</prop> -->
		
		<!-- <prop key="/testMultAction1.do">actionName1</prop>-->
		<!-- </props>
		</property>
	</bean>
	
	
	<bean name="rateListJsonController" class="com.tathya.bestrentsdubai.web.controller.jason.RateListJsonController">
	  <property name="methodNameResolver" ref="rateJsonControllerMethodNameResolver"/>
	  <property name="propertyService" ref="propertyService"/>
	  <property name="affiliateService" ref="affiliateService"/>
	</bean>
   <bean id="rateJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		<props>
		<prop key="/jason/getRateList.json">getRateByProperty</prop>
		<prop key="/jason/saveRateList.json">saveRateByProperty</prop>
		
		</props>
		</property>
	</bean> -->






	
	<!--  ========================================================================================  -->

	<bean name="featureListJsonGetController" class="com.softech.vu360.lms.web.controller.jason.GetLearnerGroupController">
	  <property name="methodNameResolver" ref="featureJsonControllerMethodNameResolver"/>
	  <property name="learnerService" ref="learnerService"/>
	  <property name="orgGroupLearnerGroupService" ref="orgGroupLearnerGroupService"/>
	</bean>
   <bean id="featureJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<!--<property name="alwaysUseFullPath" value="true" />-->
		<property name="mappings">
		<props>
		
		<prop key="/mgr_getLearnerGroupList.json">getLearnerGroupByOrgGroup</prop>
		<!--<prop key="/jason/saveFeature.json">saveFeature</prop>
		<prop key="/jason/deleteFeature.json">deleteFeature</prop>
		<prop key="/jason/getFeatureDataBySingleType.json">getFeatureDataBySingleType</prop>
		 <prop key="/testMultAction1.do">actionName1</prop>-->
		</props>
		</property>
	</bean>	
	
	<!--  ========================================================================================  -->







	<!-- <bean name="bookingPeriodListJsonGetController" class="com.tathya.bestrentsdubai.web.controller.jason.BookingPeriodController">
	  <property name="methodNameResolver" ref="bookingPeriodJsonControllerMethodNameResolver"/>
	  <property name="affiliateService" ref="affiliateService"/>
	  <property name="propertyService" ref="propertyService"/>
	</bean>
   <bean id="bookingPeriodJsonControllerMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		<props>
		<prop key="/jason/getBookingPeriodList.json">getbookingPeriodByAffiliate</prop>
		<prop key="/jason/adminBookingPeriodDelete.json">deleteBookingPeriod</prop>
		<prop key="/jason/adminBookingPeriodEdit.json">BookingPeriodEditForm</prop>
		<prop key="/jason/saveBookingPeriod.json">saveBookingPeriod</prop>
		</props>
		</property>
	</bean> -->
	<!-- <bean name="simpleJsonPostCommandController" class="org.thing.spring.json.controller.SimpleJsonPostCommandController">
	    <property name="commandClass"><value>org.thing.spring.json.controller.SpringJsonForm</value></property>
    </bean>-->
   
     <!-- <bean name="simpleSojoConfiguratorTemplateFormController" class="org.thing.spring.json.controller.ConfiguratorTamplateFormController">
	    <property name="commandClass"><value>org.thing.spring.json.controller.SpringJsonForm</value></property>
        <property name="formView"><value>json3</value></property>
        <property name="successView"><value>json3</value></property>
        <property name="validator"><ref bean="validator"/></property>
    </bean>-->
    
     <!--  <bean name="simpleJsonLibConfiguratorTemplatePostFormController" class="org.thing.spring.json.controller.ConfiguratorTamplateFormController">
	    <property name="commandClass"><value>org.thing.spring.json.controller.SpringJsonForm</value></property>
        <property name="formView"><value>json2</value></property>
        <property name="successView"><value>json2</value></property>
        <property name="validator"><ref bean="validator"/></property>
    </bean> -->
    
	<!-- <bean name="simpleJsonPostFormController" class="org.thing.spring.json.controller.SimpleJsonPostFormController">
	    <property name="commandClass"><value>org.thing.spring.json.controller.SpringJsonForm</value></property>
        <property name="formView"><value>json1</value></property>
        <property name="successView"><value>json1</value></property>
        <property name="validator"><ref bean="validator"/></property>
    </bean>-->
    <!-- <bean name="validator" class="org.thing.spring.json.controller.SpringJsonValidator"/> -->
	
    <bean name="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!--<prop key="/admin/hello.json">simpleJsonGetController</prop>
                <prop key="/jason/getRegionList.json">regionListJsonGetController</prop>
                <prop key="/jason/getSeasonList.json">seasonListJsonGetController</prop>

                <prop key="/jason/deleteSeason.json">seasonListJsonGetController</prop>
                <prop key="/jason/addEditSeason.json">seasonListJsonGetController</prop>
                <prop key="/jason/saveSeasons.json">seasonListJsonGetController</prop>

                <prop key="/jason/getRateList.json">rateListJsonController</prop>

                <prop key="/jason/saveFeature.json">featureListJsonGetController</prop> -->

                <prop key="/mgr_getLearnerGroupList.json">featureListJsonGetController</prop>
				
				<!--<prop key="/jason/deleteFeature.json">featureListJsonGetController</prop>
				<prop key="/jason/getFeatureDataBySingleType.json">featureListJsonGetController</prop>

                <prop key="/jason/saveRateList.json">rateListJsonController</prop>
                <prop key="/jason/getBookingPeriodList.json">bookingPeriodListJsonGetController</prop>
                <prop key="/jason/adminBookingPeriodDelete.json">bookingPeriodListJsonGetController</prop>
                <prop key="/jason/adminBookingPeriodEdit.json">bookingPeriodListJsonGetController</prop>
                <prop key="/jason/saveBookingPeriod.json">bookingPeriodListJsonGetController</prop>-->

            </props>
        </property>
    </bean> 
    <bean  name="viewResolver" class="org.springframework.web.servlet.view.XmlViewResolver" />
</beans>