/* main wrapper */
#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background-color:#f6f6f6;
}
#wrapper.toggled-left {
    margin-left: 380px;
}
#wrapper.toggled-right {
	margin-left: -380px;
}

.menu-wrapper {
    position: fixed;
  
}

.menu-wrapper.left-menu{
	left: 0;
	bottom:0;
	top:0;
	z-index:3;
}
.menu-wrapper.left-menu .menu-body{
	background-color: #000;
    left: 380px;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 380px;
	height:100%;
	padding-bottom: 100px;
}
.menu-wrapper.left-menu .menu-body#player-options{
	left: -380px;
}
#wrapper.toggled-left .left-menu {
    width: 380px;
	visibility:visible;
}
#wrapper #player-options{
	padding-bottom:0;
}
#wrapper.options #player-options,
#wrapper.outline #course-outline,
#wrapper.material #course-material,
#wrapper.glossary #course-glossary{
	left:0;
}
.menu-wrapper#right-menu{
	right: 0;
	bottom: 0;
	top: 0;
}
#wrapper.toggled-right #right-menu {
    width: 250px;
	visibility:visible;
}
.wrapper-body{
	position:relative;
	height:100%;
	width:100%;
	margin: auto;
    padding: 0;
	overflow:hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#content-overlay{
	display:none;
	visibility:hidden;
	background-color:rgba(0, 0, 0, 0.4);
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:2;
}

/* left and right menu */
.side-menu-container{
	bottom: 128px;
    left: 0;
    position: absolute;
    right: 0;
    top: 92px;
}
.side-menu-brand{
	background-color: #000;
    border-bottom: 2px solid #333;
    color: #0280D4;
    font-size: 18px;
    padding: 20px;
    margin: 0px;
    top:0;
    position: absolute;
    width: 380px;
	height: 92px;
    overflow: hidden;
}
.side-menu-logo{
	border-top: 2px solid #333;
	position:absolute;
	bottom:0;
	width:100%;
	height: 65px;
	background: rgba(36,36,36,1.0);
	width:380px;
}
.side-menu-social{
	border-top:2px solid #333;
	position:absolute;
	bottom:65px;
	width:100%;
	height:43px;
	background-color:#000;
	width:380px;
	display:table;
}
.side-menu-social .social-label{
	color: #0280D4;
    padding: 20px 20px 20px 40px;
	display:table-cell;
}
.side-menu-social ul{
	display:table-cell;
}
.side-menu-social ul > li{
	display:table-cell;
}
.side-menu-social ul > li > a{
	position:relative;
	padding: 12px;
}
#side-menu-inside-logo{
          margin-top: 10px;
          padding: 0px !important;
          width: 208px;
          height: 43px;
          	-webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.8); /* FF3.5+ */
      -ms-transform: scale(0.8); /* IE9 */
       -o-transform: scale(0.8); /* Opera 10.5+ */
          transform: scale(0.8);
}
.copyright{
	color: #8F8F8F;
    font-size: 10px;
    display: none;
    
}
.side-menu-nav{
    list-style: outside none none;
    margin: 0;
    padding: 0;
	position:relative;
}
.side-menu-nav.items{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.side-menu-nav ul{
	margin-left: 2px;
	border-left: 1px solid #666;
    list-style: outside none none;
    padding: 0;
	overflow: hidden;
	max-height: 0;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.side-menu-nav .expand > ul {
	border-top: 1px solid #666;
	max-height: 9000px;
	-moz-transition-duration: 0.75s;
	-webkit-transition-duration: 0.75s;
	-o-transition-duration: 0.75s;
	transition-duration: 0.75s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
.side-menu-nav li:first-child{
	border-top: none !important;
}
.side-menu-nav li{
	background-image: url(D:\POC\SCORMPlayerLaunch\SCORMPlayerLaunch\SCORMPlayerLaunch\assets\img\dark-pixel.png)
	border-top: 1px #555;
    margin-top: 1px;
	position:relative;
}
.side-menu-nav li a{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    display: block;
	color: #666;
    padding: 20px 30px 20px 40px;
    text-decoration: none;
	cursor:not-allowed;
}
.no-touch .side-menu-nav li.active a:hover {
	text-decoration: none;
    color: #000;
	outline:medium none;
    background-color: #0A5891;
}
.side-menu-nav li a:active,
.side-menu-nav li a:focus {
    text-decoration: none;
	outline:medium none;
}
.side-menu-nav li > div{
	position:relative;
}
.side-menu-nav .at > div > a{
	background-color: #0a5891 !important;
    border-left: 4px solid #0280d4;
}
.side-menu-nav .active > div > a{
	color: #f0f1f3 !important;
	cursor:pointer !important;
}
.side-menu-nav .active > div > a i{
	color: #787878 !important;
	cursor:pointer !important;
	margin-right: 5px;
}
.side-menu-nav .exam.pass > div > a::before{
	padding: 0 5px;
	content: "\e013";
	font-size: 10px;
	font-family: "Glyphicons Halflings";
	right: 0;
    position: absolute;
    top: 0;
	background-color:#333;
	color:#5cb85c;
}
.side-menu-nav .exam.fail > div > a::before{
	padding: 0 5px;
	content: "\e014";
	font-family: "Glyphicons Halflings";
	font-size: 10px;
	right: 0;
    position: absolute;
    top: 0;
	background-color:#333;
	color:#ed3124;
}
.side-menu-nav .exam > div > a::after{
    background-color: #333;
    color: #777;
    content: attr(data-type);
    font-size: 10px;
    left: 0;
    padding: 0 5px;
    position: absolute;
    top: 0;
}
.side-menu-nav .exam.pass{
	border-left:2px solid #5cb85c;
}
.side-menu-nav .exam.fail{
	border-left:2px solid #ed3124;
}
.side-menu-nav .hasChildren > div > span{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #333;
    color: #fff;
    height: 100%;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
	cursor:pointer;
}
.no-touch .side-menu-nav .hasChildren > div > span:hover{
	background-color: #0a5891;
}
.side-menu-nav .hasChildren > div > span::after{
	content:"\e258";
    font-family: "Glyphicons Halflings";
	font-size: 12px;
    position: absolute;
    right: 10px;
    top: 40%;
}
.side-menu-nav .hasChildren.expand > div > span::after{
	content:"\e259";
}

/* bottom menu */
.bottom-wrapper{
    position: fixed;
    width: 100%;
    height: 0;
	bottom: 0;
    color: #fff;
	/*border-top: 2px solid #333;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toggled-bottom .bottom-wrapper{
    height: 45px;
}
.toggled-bottom.toggled-left .bottom-wrapper{
	padding-right: 380px;
}
.bottom-wrapper > .wrapper-body{
	/*background-color: #242424 !important;*/
    font-size: 11px !important;
	overflow:visible !important;
    /*margin: 16px auto;*/
}

/* top menu */
.top-wrapper{
    position: fixed;
    width: 100%;
    height: 80px;
	top: -80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	z-index:2;
}
.toggled-top .top-wrapper{
    top: 0;
}
.toggled-top.toggled-left .top-wrapper{
	padding-right: 380px;
}
.top-wrapper .timer{
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    color: #ddd;
    font-size: 12px;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 180px;
	font-family: "robotoregular";
}

/* buttons */
.btn.ctrl{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: .4em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: 300;
  display: inline-block;
}
.no-touch .cd-nav-trigger:hover,
.no-touch #toogle-flag.btn:hover,
.no-touch #modal-trigger-save.btn:hover,
.no-touch #cd-tour-trigger.btn:hover,
.no-touch #modal-trigger-bookmark.btn:hover,
.no-touch .btn.ctrl:hover{
	background-color:#0A5891;
}
.btn.ctrl[disabled],
.btn.ctrl.disabled{
    background-color: #1784c7 !important;
	box-shadow: none !important;
	color:#ccc !important;
}

.btn.ctrl .glyphicon-triangle-left{
	padding-right: 20px;
	padding-left: 10px;
	font-size: 10px;
}
.btn.ctrl .glyphicon-triangle-bottom,
.btn.ctrl .glyphicon-triangle-right{
	padding-right: 10px;
	padding-left: 20px;
	font-size: 10px;
}
.btn.menu-back::before{
	font-family: "glyphicons Halflings";
	content:"\e021";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}
.btn.menu-back{
	border: 2px solid #0280d4;
    color: #f0f1f3;
    font-size: 11px;
    font-weight: 400;
    padding: 6px;
}
.no-touch .btn.menu-back:hover{
	background-color:#0A5891;
}

#toogle-flag.btn{
  height: 54px;
  width: 54px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: none;
  color: #ffffff !important;
  position:absolute;
  top:10px;
  left:10px;
  z-index:2;
}
#toogle-flag.btn span{
    font-size: 25px;
    margin-left: 4px;
    margin-top: 8px;
}

#modal-trigger-save.btn{
  height: 54px;
  width: 54px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: none;
  color: #ffffff !important;
  position:absolute;
  top:10px;
  right:10px;
  z-index:2;
}
#modal-trigger-save.btn span{
    font-size: 25px;
    margin-left: 4px;
    margin-top: 8px;
}

#cd-tour-trigger.btn{
  height: 28px;
  width: 28px;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  color: #ffffff !important;
  position:absolute;
  top:0px;
  right: 50%;
  left: 50%;
  margin-left:-120px;
  z-index:2;
}
#modal-trigger-bookmark.btn{
  height: 28px;
  width: 28px;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  color: #ffffff !important;
  position:absolute;
  top:0px;
  right: 50%;
  left: 50%;
  margin-left:92px;
  
  z-index:2;
}

#cd-tour-trigger.btn span,
#modal-trigger-bookmark.btn span{
   margin-left: -4px;
}

.dropbox-dropin-btn,
.cd-btn {
  display: inline-block;
  padding: 1em 2em;
  color: #ffffff !important;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #202e4a;
  border-radius: .25em;
  margin: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.no-touch .cd-btn:hover{
  background-color: #0A5891 !important;
}
.dropbox-dropin-btn,
.no-touch .cd-btn.dropbox-saver:hover{
	text-decoration:underline !important;
}
.cd-btn:nth-of-type(2) {
  margin-right: 0;
}
.cd-btn.main-action {
  background-color: #0280D4;
}
.dropbox-dropin-btn,
.cd-btn.dropbox-saver{
	padding: 1em 2em !important;
	font-size: 1.3rem !important;
	margin: 0.2em !important;
	font-family:'Open Sans' !important;
	border: 2px solid #ebebeb !important;
	border-radius:.25em !important;
	color:#636363 !important;
}

.cd-btn.disabled,
.cd-btn[disabled],
.no-touch .cd-btn.disabled:hover,
.no-touch .cd-btn[disabled]:hover{
	cursor: not-allowed !important;
    opacity: 0.2 !important;
	background-color: #202e4a !important;
	text-decoration:none !important;
}

