<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Redirecting to View All Entitlement </title>
</head>

<body  onload="document.enrollmentForm.submit()">
<form name="enrollmentForm" action="mgr_viewAllEntitlements.do" method="POST"> 
<input type="hidden" name="method" value="$!{context.target}"/>
</form>
</body>
</html>