<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email #1</title>

</head>
<body style="font-family:Tahoma;color:#000000;font-size:11px;">
<div id="content2a" style="height: 256px;">
    <!-- content-area -->

       <!-- right-pannel-content -->
        <div id="right-pannel" style="height: 470px;float:left;margin-left:2%;margin-right:2%;width:77%;">

            <!-- Logo+Manage-User -->
            <div id="logomainContainer" style="display:table;height:75px;margin-bottom:2%;margin-top:2%;overflow:hidden;width:100%;">
                <div class="logoContainerInner1">
                    <div class="logoContainerInner2">
                         
                        <div style="font-size:24px;letter-spacing:-1px;word-spacing:-2px;" id="titleHolder">Survey Assignment - Results <br>&nbsp;</div>
                        <div class="courseDetails" id="detailsHolder" style="color:#000000;font-size:11px;">The Survey Assignment process has been completed. Below is a summary of assignments. </div>
                    </div>
                </div>
            </div>
            <!-- Logo+Manage-User-end -->

     
            
				
				
            <table border="0" style="border:1px solid #DDDDDD;">
			<tr>
				<td colspan="3" style="background:#F9F9F9 none repeat scroll 0 0;
height:24px;padding-bottom:2px;width:100%;"><b>Summary Information</b></td>
				</tr>
             <tr>
                 <td width="600px">$brander.getBrandElement("lms.assignSurvey.caption.numberOfLeaners")</td>
		 <td  align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 <td  align="left" >$!{totalLearners}</td>
                </tr>
                <tr>
                	<td >$brander.getBrandElement("lms.assignSurvey.caption.numberOfSurveys")</td>
			<td  align="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td align="left">$!{totalSurveys}</td>
                </tr>
                 							
            </table>
            <!-- space -->
            

 

            <!-- space -->
            <div class="manager-bottom-space"/>
            <!-- space end -->

        <!-- right-pannel-content-end -->
         
    <!-- content-area-end -->
    </div>
	
	</body>
</html>
