<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email #1</title>
<style type="text/css">
body{
	font-family:Tahoma;
	color:#000000;
	font-size:11px;
	}
#frame{
	float:left;
	height:auto;
	width:97%;
	border-color:#ebe6e6 !Important;
	border:1px;
	border-style:solid;
	overflow:hidden;
	margin-left:15px;
	padding:1px;
	padding-bottom:10px;
	}
.frame_header{
	height:24px;
	background-color:#f4f4f4;
	font-size:14px;
}
.frame_heading{
	float:left;
	width:100%;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:4px;
	margin-left:4px;
}
.frame_text{
	float:left;
	width:100%;
	font-family:Verdana;
	font-size:12px;
	margin-top:15px;
	margin-left:4px;
	margin-bottom:5px;
}
.frame_subframe{
	background-color:#F9F9F9;
	width:98.2%;
	padding:5px;
}
</style>
</head>
<body>
    <div style="float:left;height:auto;width:97%;border-color:#ebe6e6 !Important;border:1px;border-style:solid;overflow:hidden;margin-left:15px;padding:1px;padding-bottom:10px;">
		${templateText}
    </div>
</body>
</html>





