<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email #1</title>
<style type="text/css">
body{
	font-family:Tahoma;
	color:#000000;
	font-size:11px;
	}
</style>
</head>
<body>
    <div style="float:left;height:auto;width:97%;overflow:hidden;margin-left:15px;padding:1px;padding-bottom:10px;">
		<table align = "left">
		<tr>
		  <td>Subscriber Name:</td>
		  <td>${subscriberName}</td>
		</tr>
		<tr>
		  <td>Subscriber Email:</td>
		  <td>${subscriberEmail}</td>
		</tr>
		<tr>
		  <td>Subscription Name:</td>
		  <td>${subscriptionName}</td>
		</tr>
		<tr>
		  <td>Student Name:</td>
		  <td>${studentName}</td>
		</tr>
		<tr>
		  <td>Student Email:</td>
		  <td>${studentEmail}</td>
		</tr>
		<tr>
		  <td>Student Phone:</td>
		  <td>${studentPhone}</td>
		</tr>
		<tr>
		  <td>Class Name:</td>
		  <td>${className}</td>
		</tr>
		<tr>
		  <td>Comments:</td>
		  <td>${comments}</td>
		</tr>
		</table>
    </div>
</body>
</html>