<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email #1</title>

</head>
<body>
    <div style="float:left;height:auto;width:97%;border-color:#ebe6e6 !Important;border:1px;border-style:solid;overflow:hidden;margin-left:15px;padding:1px;padding-bottom:10px;">
		
            <div style="float:left;width:100%;font-family:Verdana;font-size:12px;margin-top:15px;margin-left:4px;margin-bottom:5px;">
			Dear $!{learner.firstName} $!{learner.lastName}, <br><br>
			You have been assigned a Training Plan. The training plan includes courses selected by the assigning training manager. To begin taking your courses log in to your account by clicking on the following link. <br/><br/>
			<a href="$lmsDomain/lms/login.do?brand=$brander.getName()">$lmsDomain/lms/login.do?brand=$brander.getName()</a><br/><br>
			<div style="height:24px;background-color:#f4f4f4;font-size:14px;" style="width:99.2%">
        		<div style="float:left;width:100%;font-size:12px;font-weight:bold;text-transform:uppercase;margin-top:4px;margin-left:4px;">ASSIGNED TRAINING PLAN</div>
        	</div>
			The assignment will end on the expiration date listed below.<br>
            <div style="float:left;width:100%;font-family:Verdana;font-size:12px;margin-top:15px;margin-left:4px;margin-bottom:5px;">
            <table border="0">
                <tr>
                	<td width="400px">TRAINING PLAN: </td>
                    <td>${trainingPlanName}</td>
                </tr>
                #foreach($learnerEnrollment in ${learnerEnrollments})
                <tr>
                	<td>$learnerEnrollment.course.courseTitle</td>
                    <td>$learnerEnrollment.enrollmentEndDate</td>
                </tr>
                #end
              </table>
			<br>
            </div>			
            <br/>			
			For questions regarding the assignment please contact your training manager.<br/><br/>

			Thank you,<br/>
			$!{manager.firstName} $!{manager.lastName}<br/>
			${customer.name}
            </div>           
    </div>
</body>
</html>
