@charset "utf-8";
/* CSS Document */
.org_row1, .org_row2{
	float:left;
	width:100%;
	height:15px;
	background-color:#f4f4f4;
	}
.org_row2{
	background-color:#f9f9f9;
	}
.row_title{
	float:left;
	margin-left:6px;
	}
.icon_blank{
	float:left;
	height:15px;
	width:9px;
	}
.icon_collapse{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_collapse.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_expand{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_expand.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_checkbox{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_checkbox.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_checked{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_checked.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_dotted_h_full{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_dotted_h_full.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_dotted_h_half{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_dotted_h_half.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_dotted_v_full{
	float:left;
	height:15px;
	width:9px;
	background-image:url(../images/icon_dotted_v_full.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}