@charset "utf-8";
/* CSS Document */
.table_frame{
	height:auto;
	width:auto;
	border-color:#ebe6e6 !Important;
	border:1px;
	border-style:solid;
	overflow:hidden;
	margin-left:15px;
	margin-bottom:15px;
	padding:1px;
	}
.row_title{
	float:left;
	margin-left:6px;
	margin-top:3px;
	font-size:11px;
	font-family:'Verdana';
	}
.row_title_inst{
	float:left;
	margin-left:0px;
	margin-top:4px;
	font-size:11px;
	font-family:'Verdana';
	width:50%;
	padding-top:3px;*padding-top:0px;
	}	
.icon_blank{float:left;height:20px;width:10px;border:0px solid #0000CC;}
.icon_blank2{float:left;height:20px;width:20px;border:0px solid #FF00FF;}

.icon_collapse{
	float:left;
	height:20px;
	width:20px;
	background-image:url(../images/icon_collapse.gif);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	border:0px solid #669900;
	margin-right:3px;
	margin-top:3px;
}
.icon_collapse_list{
	float:left;
	height:20px;
	width:20px;
	margin-right:3px;
	margin-top:3px;
}

.icon_collapse_full{
	float:left;
	height:20px;
	width:9px;
	background-image:url(../images/icon_collapse_full.gif);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.icon_expand{
	float:left;
	height:20px;
	width:20px;
	background-image:url(../images/icon_expand.gif);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	border:0px solid red;
	margin-right:3px;
	margin-top:3px;
}

.icon_checkbox{
	float:left;
	height:25px;
	width:9px;
	background-image:url(../images/icon_checkbox.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_checkbox_half{
	float:left;
	height:25px;
	width:9px;
	background-image:url(../images/icon_checkbox_half.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_checked{
	float:left;
	height:25px;
	width:9px;
	background-image:url(../images/icon_checked.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_dotted_h_full{
	float:left;
	height:20px;
	width:9px;
	background-image:url(../images/icon_dotted_h_full.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_dotted_h_half{
	float:left;
	height:21px;
	width:9px;
	background-image:url(../images/icon_dotted_h_half.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_dotted_vh_half{
	float:left;
	height:21px;
	width:9px;
	background-image:url(../images/icon_dotted_vh_half.gif);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	}
.icon_dotted_v_full{
	float:left;
	height:25px;
	width:9px;
	background-image:url(../images/icon_dotted_v_full.gif);
	background-repeat:repeat-y;
	cursor:pointer;
	}
.org_checkbox{
	float:left;
	margin-left: 0px;	
	margin-top: 4px;
	margin-right:3px;
	width:20px;
	border:0px solid #FF00FF;
}
.icon-course-group, .icon-course {	
	background-image:url("../images/icon-course-group.png");
	background-position:center center;
	background-repeat:no-repeat;
	height:10px;
	width:10px;
	margin-left: 1px;	
	margin-top: 8px;
	margin-right: 5px;	
	float:left;
	border:0px solid #FF00FF;
}


.tree_node2 {
background-color:#F4F4F4;
border-color:#DFDFDF !important;
border-style:none none solid;
border-width:0 0 0;
height:30px;
width:100%;
}

.tree_node1 {
background-color:#FFFFFF;
border-color:#DFDFDF !important;
border-style:none none solid;
border-width:0 0 0;
height:30px;
width:100%;
}
.icon-minimize{
	float:left;
	height:20px;
	width:20px;
	background-image:url(../images/icon-minimize.png);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	border:0px solid #669900;
	margin-right:3px;
	margin-top:3px;
}
.icon-maximize{
	float:left;
	height:20px;
	width:20px;
	background-image:url(../images/icon-maximize.png);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	border:0px solid red;
	margin-right:3px;
	margin-top:3px;
}
