.close-widget {
	background-image: url("../images/close.png");
	width: 20px;
	height: 20px;
}

.selected-widget {
	width: 410px;
	height: 125px;
}

.droppable-zone {
	width: 410px;
	height: 125px;
	background-color: #F3F3F3;
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.draggable-zone {
	width: 250px;
	background-color: #E5E5E5;
	float: left;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #FEFEFE;
	font-weight: bold;
	padding-bottom: 20px;
}

.draggable-widget {
	width: 80%;
	height: 50px;
	background-color: lightgray;
	margin-left: 10%;
	margin-top: 20px;
}

.widget-closed {
	position: left;
}

.widget-title {
	margin: 10px;
	text-transform: uppercase;
	font-weight:bold;
	float:left;
}

.widget-remove{
	margin: 10px;
	float:right;
	font-weight:bold;
	width:30px;
}

.widget-row {
	width: 395px;
	height: 24px;
	padding-left: 5px;
	background-color: #FFFFFF;
	border-color: #dfdfdf !Important;
	border: 1px;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	margin-top: 5px;
	margin-left: 5px;
}

.row-link {
	margin-top: 5px;
	float: right;
	text-align: right;
	margin-right: 20px;
	float: right;
}

.row-content {
	margin-top: 5px;
	float: left;
}

.dashboard-header {
	height: 88px;
	width: 100%;
	background-image: url("../images/bg_header.gif");
	background-repeat: repeat-x;
	overflow: hidden;
}

.dashboard-header-logo {
	margin-left: 15px;
	margin-top: 18px;
	float: left;
}

.dashboard-header-icons {
	float: right;
	width: 500px;
	text-align: right;
}

.icon {
	padding-left: 20px;
}

.dashboard-intro {
	width: 1100px;
	height: 100px;
	padding-top: 30px;
}

.dashboard-intro-logo {
	float: left;
	text-align: left;
	width: 50px;
	height: 100px;
}

.dashboard-intro-text {
	float: left;
	text-align: left;
	margin-left: 20px;
	margin-top: 40px;
}

.widget-panel {
	width: 100%;
	clear: both;
}
