body, body a:active, body a:visited, body a:link {
color:#000000;
font-family:Tahoma;
font-size:11px;
height:100%;
margin-left:0;
margin-top:0;
min-width:1024px;
overflow:hidden;
width:100%;
}

#main-container {
    background:#FFFFFF none repeat scroll 0 0;
    border:0 solid #FF0000;
    height:100%;
    min-height:100%;
    position:absolute;
    width:100%;
}

html{
    height:100%;
    width:100%;
    min-width:760px;
    overflow:hidden;
}
#frame_body{
    width:100%;
    height:100%;
    min-width:760px;
    overflow:hidden;
    padding-right:1%;
}
.page_header{
    height:88px;
    background-image:url(../images/bg_header.gif);
    background-repeat:repeat-x;
    overflow:hidden;
    width:100%;
}
.welcome_message{
    margin-top:7px;
    margin-left:15px;
}
.page_description{
    width:auto;
    height:75px;
    margin-top:15px;
    margin-left:15px;
    margin-bottom:10px;
}
.page_heading{
    font-size:24px;
    letter-spacing:-1px;
    word-spacing:-2px;
    margin-top:5px;
}
.icon_regulator, .icon_credentials, .icon_providers, .icon_approvals, .icon_search, .icon_user, .icon_instructor, .icon_courses, .icon_reports, .icon_custom_field, .icon_distributor, .icon_resources, .icon_tools{
    float:left;
    width:75px;
    height:75px;
    background-image:url(../images/customers_lg.png);
    background-repeat:no-repeat;
    margin-right:5px;
    vertical-align:middle;
}
.icon_style{
    margin-bottom:3px;
    border:0; 
}
.icon_credentials{
    background-image:url(../images/surveys_lg.png);
}
.icon_providers{
    background-image:url(../images/distributors_lg.png);
}
.icon_approvals{
    background-image:url(../images/courses_lg.png);
}
.icon_user{
    background-image:url(../images/icon_users.gif);
}
.icon_search{
    background-image:url(../images/search_lg.png);
}
.icon_instructor{
    background-image:url(../images/customers_lg.png);
}
.icon_courses{
    background-image:url(../images/training_lg.png);
}
.icon_reports{
    background-image:url(../images/reports_lg.png);
} 
.icon_custom_field{
    background-image:url(../images/surveys_lg.png);
} 
.icon_distributor{
    background-image:url(../images/distributors_lg.png);
}
.icon_resources{
    background-image:url(../images/login_lg.png);
}
.icon_tools{
    background-image:url(../images/entitlements_lg.png);
}
.icon_collapse, .icon_expand, .icon_blank{
    float:left;
    height:14px;
    width:14px;
    margin-right:5px;
    margin-top:3px;
    background-image:url(../images/icon_collapse.gif);
}
.icon_expand{
    background-image:url(../images/icon_expand.gif);
}

.icon_blank{
    background-image:none;
}

.buttons_panel{
    width:auto;
    margin-bottom:10px;
    margin-left:15px;
}
.input_text{
    margin-left:30px;
    font-size:11px;
    min-width:410px;
    border:1px;
    border-color:#cccccc;
}
.visible{
    display:none;
}
.tool_tip{
    left:0;
    top:0;
    height:17px;
    min-width:60px;
    background-color:#e2e2e2;
    background-repeat:no-repeat;
    padding-top:3px;
    border:1px;
    border-style:solid;
    border-color:#cacaca;
    font-size:10px;
    color:#4c4b4b;
    text-align:center;
    visibility:hidden;
    position:absolute;
    padding-left:5px;
    padding-right:5px;
}
.header_icon, .header_icon_selected{
    margin-top:4px;
    float:right;
    width:75px;
    height:60px;
    font-size:10px;
    background-position:center;
    background-position:top;
    background-repeat:no-repeat;
    margin-right:7px;
    margin-left:7px;
    text-align:center;
    padding-top:0;
    cursor:pointer;
    color:#000000;
    text-transform:uppercase;
}
.header_icon_selected{
    font-size:10px;
    font-weight:bold;
}
.icon_calen{
    float:left;
    width:14px;
    height:16px;
    background-image:url(../images/icon_calen.gif);
    margin-left:10px;
    cursor:pointer;
}
.message_box{
    position:absolute;
    left:35%;
    top:40%;
    width:400px;
    height:120px;
    border:1px;
    border-style:solid;
    border-top-color:#fbfff4;
    border-left-color:#fbfff4;
    border-bottom-color:#686868;
    border-right-color:#686868;
    background-color:#e9e9e9;
}
.message_box_title{
    width:352px;
    height:16px;
    color:#FFFFFF;
    font-weight:bold;
    font-size:12px;
    font-family:Tahoma;
    padding-top:2px;
    padding-left:5px;
    background-image:url("../images/bg_msg_header.gif");
}
.message_box_text{
    float:right;
    font-family:Tahoma;
    font-size:12px;
    width:280px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
}
.message_box_icon{
    float:left;
    width:45px;
    height:40px;
    margin-top:15px;
    margin-left:15px;
    margin-right:5px;
    background-image:url("../images/icon_warn.png");
    background-repeat:no-repeat;
}
.selected_object{
    font-size:14px;
    margin-left:20px;
    font-weight:bold;
    margin-bottom:10px;
}
.row_text{
    padding-left:15px;
}
.input_text_field{
    float:left;              
    width:178px;
    height:13px;
    border:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    padding-top:2px;
    padding-left:2px;
}
.input_text_area{
    width:350px;
    height:100px;
    border:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    padding-top:2px;
    padding-left:2px;  
    font-family:Tahoma;
}
.input_select{
    min-width:250px;
    border-width:1px;
    border-color:#DCD8D8;
    border-style:solid;
    font-size:11px;
    font-family:Tahoma;
    margin-bottom:15px;
}
.input_radio{
    float:left;
    margin-top:2px;
    border:1px;
    border-color:#FFFFFF;
    border-style:solid;
    font-size:11px;
    font-family:Tahoma;
    margin-left:5px;
    margin-right:5px;
}
.input_check{
    margin-right:3px;
    margin-left:-3px;
}
.tab_bar{
    height:25px;
    min-width:1024px;
    border:1px;
    border-style:solid;
    border-color:#dddddd;
    border-left:0;
    border-right:0;
    border-top:0;
    background-image:url("../images/bg_tabs.gif");
}
.tab, .tab_selected{
    float:left;
    width:100px;
    height:21px;
    padding-top:5px;
    border-left:1px;
    border-right:1px;
    border-left-style:solid;
    /* border-right-style:solid; */
    border-left-color:#dadada;
    border-right-color:#dadada;
    border-top:0;
    border-bottom:0;
    text-transform:uppercase;
    text-align:center;
    cursor:pointer;
    color:#666666;
    font-size:10px;
}
.tab_selected{
    font-weight:bold;
    color:#666666;
}
.tab:hover, .tab_selected:hover{
    color:#000000;
}
.tab_blank{
    float:left;
    width:195px;
    height:21px;
    padding-top:5px;
    border-right:1px; 
    border-right-style:solid;
    border-right-color:#dadada;
    border-top:0;
    border-bottom:0;
}
.blank_div{
    float:left;
    height:23px;
}

div#l-menu-back {
    float:left;
    font-family:'Tahoma';
    font-size:11px;
    font-weight:normal;
    left:10px;
    margin:0 auto;
    min-width:50px;
    padding:8px 0 10px;
    position:relative;
    top:10px;
    width:170px;
} 
.l-menu-back-text-h{
    font: normal 12px 'Tahoma';color: #003b81;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #bcbcbc;
}

.l-menu-back-text {
    background:transparent url(../images/inactive-b.gif) no-repeat scroll left center;
    border-bottom:1px solid #BCBCBC;
    color:#BCBCBC;
    font-family:'Tahoma';
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:6px 0 7px;
    text-indent:15px;
} 

.l-menu-back-text-act {
    background:transparent url(../images/active-b.gif) no-repeat scroll left center;
    border-bottom:1px solid #BCBCBC;
    color:#434343;
    font-family:'Tahoma';
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    padding:6px 0 7px;
    text-indent:15px;
}

.l-menu-back-text-acted {
    background:transparent url(../images/acted-b.gif) no-repeat scroll left center;
    border-bottom:1px solid #BCBCBC;
    color:#BCBCBC;
    font-family:'Tahoma';
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding:6px 0 7px;
    text-indent:15px;
}
.document_text{
    margin-left:8px;
}
.confirmation_text{
    font-size:16px;
    font-weight:bold;
    margin-left:15px;
    margin-top:20px;
}
.select_box{
    height:20px;
    font-size:11px;
    width:185px;
    border:1px;
    border-color:#DCD8D8;
    border-style:solid;
}
.required_field{
    float:left;
    font-size:14px;
    color:#FF0000;

    margin-top:2px;
    margin-right:5px;
    font-weight:bold;
}
.error_text{
    float:left;
    color:#FF0000;
    font-weight:bold;
    padding-left:15px;
}
.error_icon{
    float:left;
    width:14px;
    height:14px;
    background:transparent url(../images/!mark.gif) no-repeat scroll left center;
    margin-right:10px;
}
.error_message{
    float:left;
    min-width:150px;
    color:#FF0000;
    margin-right:15px;
    background:transparent url(../images/!mark.gif) no-repeat;
    text-indent:24px;
    margin-bottom:5px;
}
.close_icon{
    float:right;
    width:12px;
    height:12px;
    margin-top:-5px;
    margin-right:-5px;
    background:transparent url(../images/cross.png) no-repeat scroll left center;
    cursor:pointer;
}
.input_text_inline {
    border:1px solid #DCD8D8;
    font-size:11px;
    height:13px;
    padding-left:2px;
    padding-top:2px;
    width:2em;
}
.error_box{
    border: 1px solid red;
    background:white;
    width:auto;
    min-height:25px;
    padding:10px;
    overflow:hidden;
    margin-left:15px;
}
.sa_button{
    min-width:100%;
    float:left;
    margin-top:2px;
    margin-left:20px;
    margin-bottom:15px;
}
.icon_change{
    float:right;
    width:10px;
    height:11px;
    background-image:url(../images/icon_change.gif);
    cursor:pointer;
}
.table_column{
    margin:5px;
    float:left;
}
.input_text_small{
    border:1px solid #CCCCCC;
    margin:0;
    margin-right:4px;
    padding:0;
    width:40px;
    float:left;
    background:#FFFFFF;
}
.column_text_small{
    margin-top:2px;
}
.check_box_small{
    margin-right:4px;
    float:left;
}
.portlet_subheader{
    height:25px;
    text-transform:uppercase;
    padding-left:7px;
    font-weight:bold;
    border-bottom:1px solid #DFDFDF;
    border-top:1px solid #DFDFDF;
    background:#efefef;
}
.portlet_row_1, .portlet_row_2{
    height:23px;
    background:#FFFFFF;
    border-bottom:1px solid #DFDFDF;
    padding-left:8px;
    cursor:pointer;
}
.portlet_row_2{
    background:#F4F4F4;
}
.tooltip{
    position:absolute;
    width:240px;
    border:1px solid #A8CAFE;
    background:#DFECF9;
    font-size:10px;
    padding:12px;
    z-index:100;
}

.table-frame{
    /*float:left;*/
    height:auto;
    width:auto;
    border-color:#ebe6e6 !Important;
    border:1px;
    border-style:solid;
    overflow:hidden;
    margin-left:15px;
    padding:1px;
}
.table-header{
    height:24px;
    background-color:#f9f9f9;
    background-repeat:repeat-x;
}
.table-text{
    float:left;
    margin-left:10px;
}
.table-text-red{
    margin-left:10px;
    margin-right:10px;
    color:red;
    font-weight:bold;
}
.table-text-right{
    float:right;
    margin-right:10px;
}
.table-blank-result-text{

    padding:10px;
}
.table-heading{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    font-weight:bold;
    color:#000000;
    margin-top:4px;
    margin-left:4px;
    text-transform:uppercase;
}
#table-pagination{
    float:right;
    width:55%;
    height:24px;
}
.table-search{
    float:left;
    margin-top:2px;
}
#table-pagination-text{
    float:right;
    padding-left:8px;
    font-family:Tahoma;
    font-size:10px;
    font-weight:bold;
    color:#7a7a7a;
    margin-top:6px;
    margin-right:9px;
}
.table-column-heading,  .table-first-column-heading, .table-last-column-heading{
    font-weight:bold;
    cursor:pointer;
    text-transform:uppercase;
    border-color:#dfdfdf !Important;
    border:1px;
    border-style:solid;
    border-left:0;
    height:25px;
    padding-left:4px;
}
.table-first-column-heading{
    padding-left:1px;
    width:23px;
}
.table-last-column-heading{
    border-right:0;
}
.table-column-text, .table-first-column-text, .table-last-column-text, .table-column-text-last-row, .table-first-column-text-last-row, .table-last-column-text-last-row{
    font-weight:normal;
    text-transform:none;
    border-color:#dfdfdf !Important;
    border:1px;
    border-style:solid;
    border-left:0;
    border-top:0;
    height:25px;
    padding-left:4px;
}
.table-first-column-text, .table-first-column-text-last-row{
    padding-left:1px;
    width:23px;
}
.table-last-column-text, .table-last-column-text-last-row{
    border-right:0;
}
.table-column-text-last-row, .table-first-column-text-last-row, .table-last-column-text-last-row{
    border-bottom:0;
}
.input-text{
    float:left;
    font-size:11px;
    border:1px solid #cccccc;
}
.icon-calender{
    float:left;
    width:14px;
    height:16px;
    background-image:url(../images/icon_calen.gif);
    margin-left:10px;
    cursor:pointer;
}

.icon-move-up, .icon-move-down, .icon-move-top, .icon-move-bottom{
    float:left;
    width:11px;
    height:11px;
    background-image:url(../images/move-up.png);
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer;
    margin-left:1px;
    margin-right:1px;
}
.icon-move-down{
    background-image:url(../images/move-down.png);
}
.icon-move-top{
    background-image:url(../images/move-top.png);
}
.icon-move-bottom{
    background-image:url(../images/move-bottom.png);
}
.move-icons-all{
    padding-left:22px;
}
.move-icons-few{
    padding-left:27px;
}
.move-icons-two{
    padding-left:34px;
}
.wizard-left-button{
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.wizard-right-button{
    float:right;
    margin-top:20px;
    margin-right:20px;
}
#course-table{
    margin-left:20px;
    padding-right:35px;
    margin-top:5px;
    margin-bottom:10px;
}
#course-list{
    border:1px solid #CCCCCC;
    margin-top:15px;
}
#course-list .header{
    padding:3px;
    padding-left:8px;
    font-size:13px;
    font-weight:bold;
    height:28px;
}
#course-list-alt{
    margin-top:15px;
}

#course-list-alt .header-cat{
    padding:3px;
    padding-left:8px;
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:1px solid #CCCCCC;
    font-size:13px;
    font-weight:bold;
    height:28px;
}
#course-list-alt .header{
    padding:3px;
    padding-left:8px;
    font-size:16px;
    font-weight:bold;
    height:28px;
}
.table-row{
    padding-left:10px;
    border:1px solid #CCCCCC;
    border-right:0;
    border-left:0;
    border-bottom:0;
    height:20px;
    text-transform:capitalize;
}
.schedule-1, .schedule-2, .schedule-3, .schedule-4, .schedule-5, .schedule-6{
    display:none;
}
.headerMenuContainer2 {
    width:70%;
    height:100%;
    float:right;
}

.wel-logo{
    width:24%;
    height:100%;
    float:left;
}
.wel-logo2{
    width:260px;
    height:100%;
    float:left;
}
.welcome_message{
    width:98%;
    margin: 5px 0px 0px 6px;
    float:left;
    text-align: left;
    font-size:9px;
    color:#000;
}
.welcome_message1{
    /*width:98%;*/
    margin: 5px 0px 0px 6px;
    float:left;
    text-align: left;
    font-size:9px;
    color:#000;
}
.welcome_message2{
    margin: 5px 0px 0px 4px;
    font-size:10px;
    color:#0a81fa;
    text-decoration: underline;
}
.welcome_message3{
    position:relative; 
    width:78%;
    margin: 25px 0px 0px 50px;
    float:right;
    font-size:9px;
    color:#999;
}
.logo {
    width:90%;
    margin: 3px 0px 0px 12px;
    float:left;
    text-align: left;
}
.logo2 {
    position:relative; 
    width:88%;
    height: 42px;
    margin: 5px 0px 0px 26px;
    float: right;
    /*text-align: left;*/
    background: url("../images/logo_360-2.gif") no-repeat;
}
.top-nav { font-size: 9px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:link { font-size: 9px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:active { font-size: 9px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:visited {font-size: 9px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:hover {font-size: 9px; color: #000000; font-weight:bold;text-decoration: none;}


img{border:0px;padding: 0px;margin: 0px}

.headerMenuContainer {
    width:73%;
    height:100%;
    float:right;
}
.headerMenuContainer2 {
    width:70%;
    height:100%;
    float:right;
}
.profile {
    width:14%;
    font-weight:normal;
    float:right;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.reports {
    font-weight:normal;
    float:right;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.myCourse {
    width:10%;
    font-weight:bold;
    float:right;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}.courseLogoCourses {
  float:left;
    width:75px;
    height:75px;    
    background-repeat:no-repeat;
    margin-right:5px;
    vertical-align:middle;
   background:transparent url("../images/pageicons/trainingplans.png");
}
.courseLogoCourses_1 {
background:url("../images/pageicons/trainingplans.png") no-repeat scroll 0 0 transparent;
float:left;
height:75px;
left:-5px;
position:relative;
top:-7px;
width:75px;
}
div#footer {
    height: 4%;
    min-height:24px;/* Minimum height right as HARDCODE */
    width:100%;
    background-image:url("../images/footer-bk.jpg");
    color:#ececec;
}
    .link {
        position:absolute;
        float:left;
        height: 70%;
        min-height:70%;
        width:100%;
        font-size:9px;
        color:#999;
        padding:7px 0px 0px 0px;
        margin:0px 0px 0px 10px;
    }
    .log {
        position:relative;
        float:right;
        height: 70%;
        min-height:70%;
        width:20%;
        text-align: right;
        font-size:9px;
        color:#999;
        padding:4px 3% 0px 0px;
    }
.log-out {font-size:9px;color:#999999;text-decoration: none;}
.log-out:link {font-size:9px;color:#999999;text-decoration: none;}
.log-out:active {font-size:9px;color:#999999;text-decoration: none;}
.log-out:visited {font-size:9px;color:#999999;text-decoration: none;}
.log-out:hover {font-size:9px;color:#0066FF;text-decoration: underline;}

.log-in {font-family: Tahoma;font-size:11px;color:#000;text-decoration: underline;}
.log-in:link {font-family: Tahoma;font-size:11px;color:#000;text-decoration: underline;}
.log-in:active {font-family: Tahoma;font-size:11px;color:#000;text-decoration: underline;}
.log-in:visited {font-family: Tahoma;font-size:11px;color:#000;text-decoration: underline;}
.log-in:hover {font-family: Tahoma;font-size:11px;color:#000;text-decoration: none;}

a {font-size:11px;color:#000;text-decoration: none}
a:visited {font-size:11px;color:#000;text-decoration: none}
a:hover {font-size:11px;color:#000;text-decoration: none}

.other-link{padding:0px 0px 0px 0px;margin:80px 10px 0px 0px;}

.error_message_field { 
    position:absolute;
    text-align: left;
    width:90%;
    /*height:20%;*/
    left: 20px;
    font-size:10px;
    color:#000000;
    letter-spacing:-1px;
    margin: 6px 0px 0px 0px;
}
.message_box_align{float: left;margin: 5px;}
.width40pct{float: left;}


#message_box { 
   position: absolute; 
   /*margin: 5px 2% 0px 0px;*/
   top: 100;
   z-index: 100; 
   background:#fff;
   padding:5px;
   border:1px solid #FF0000;
   font-family:Arial, Helvetica, sans-serif;
   text-align:left; 
   color: #FF0000;
   width: 77%;
   *width: 75%;
}

#message_box_saved { 
   position: absolute; 
   /*margin: 5px 2% 0px 0px;*/
   top: 0;
   z-index: 100; 
   background:#fff;
   padding:5px;
   border:2px solid #009900;
   font-family:Arial, Helvetica, sans-serif;
   font-size:14;
   font-weight:bold;
   text-align:left; 
   color: #009900;
   width: 77%;
   *width: 75%;
}

#message_box2 { 
   position: relative; 
   top: 0;
   z-index: 100; 
   background:#fff;
   padding:5px;
   border:1px solid #FF0000;
   font-family:Arial, Helvetica, sans-serif;
   text-align:left; 
   color: #FF0000;
   width: 77%;
}

div.fileinputs {
    width:600px;
    overflow:hidden;
    height:23px;
}

div.fakefile {
    float:left;
    position: relative;
    top: -22px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    z-index: 2;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    height:22px;
    width:598px;
    cursor:pointer
}

a.browsbutton {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    background: transparent url(../images/button_right.gif) no-repeat center right;
    white-space: nowrap;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10px !important;
    font-size: 10px;
    padding: 5px 6px 8px 0 !important;
    line-height: 8px !important;
    letter-spacing: 1px;
    font-weight: normal;
    float:left;
    margin-left:10px;
    width:70px;
    *width:75px;
}

a.browsbutton span {
    background: transparent url(../images/button_left.gif) no-repeat center left;
    padding: 3px 3px 3px 15px !important;
    *padding: 3px 3px 3px 20px !important;
    font-weight: normal;
}

.btn {
    margin-left: 5px;
    float:left;
    position: relative;
    top: 0px;
    left: 0px;
    cursor:pointer
}
#reportdataContainer{
    width:100%;overflow-y:hidden;overflow-x:scroll;
    border:1px solid #cccccc;
    border-bottom:0
}
.borderRow td {
    border-bottom: solid #CCCCCC 1px;
}

.borderRow-alt td {
    border-bottom: solid #CCCCCC 1px;
    background-color:#F4F4F4;
}
.search_field_area-pop {width:62%;height:15px;position:absolute;text-align: left;float: left;left: 100px;margin: 0px 0px 0px 0px;}
.search_field_area {width:72%;height:15px;position:absolute;text-align: left;float: left;left: 100px;margin: 0px 0px 0px 0px;}
.search_field_area1 {width:72%;height:15px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field_area2 {width:86%;height:15px;position:absolute;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field_area2_n {width:80%;height:15px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field {width:100%;height:15px;font-size:9px;background-color: #ffffff;border: 1px solid #DCD8D8;display:block}
.search_field-2 {width:87%;height:15px;position:relative;text-align: left;float: left;border: 0px solid #CC0000;}
.search_field-3 {width:87%;height:194px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;background:#fff url("../images/b-header-email.jpg") top left repeat-x;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}

 span.button-outer {
        white-space: nowrap;
        margin-right: 6px;
        }

    a.button {
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        background: transparent url(../images/button_right.gif) no-repeat center right;
        white-space: nowrap;
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: Arial, Helvetica, Geneva, sans-serif;
        font-size: 10px !important;
        font-size: 10px;
        padding: 8px 6px 8px 0px !important;

        line-height: 8px !important;
        letter-spacing: 1px;
        font-weight: normal;
        float:left;
        /*margin-left:5px;*/
    }

    a.button span {
        background: transparent url(../images/button_left.gif) no-repeat center left;
        padding: 3px 3px 3px 10px !important;
        font-weight: normal;
        }

    a.button:hover {
        color: #FFFFFF;
        }

    .post-actions a.button span {
        padding: 6px 4px 6px 11px !important;
        padding: 7px 4px 7px 11px;
        }
.noPadding{
    width:14px;
    padding-left:0px;
    margin-left:0px
}

.buttonContainer{
    width: 100%;
    height: 24px;
    float: left;
    text-align:left;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px
}

.buttonContainer .left{
    float:left;
}

.buttonContainer .right{
    float:right;
}

.buttonContainereditmessage{
    width: 100%;
    height: 24px;
    float: left;
    text-align:left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 1px 15px
}

.buttonContainereditmessage .left{
    float:left;
}
.manager-bottom-space {position:relative;width: 97%;height: 16px;min-height:3%;float: left;border:0px solid #6600FF;}
.manager-bottom-space2 {position:relative;width: 97%;height: 50%;min-height:3%;float: left;}
.manager-bottom-space3 {position:relative;width: 100%;height: 6px;float: left;border:0px solid #FF0000;}
.manager-bottom-space4 {position:relative;width: 100%;float: left;border:0px solid #FF0000;}
.manager-bottom-space5 {position:relative;width: 100%;height: 20px;border:0px solid #FF0000;}

.input_field {width:100%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1a {width:75%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1 {width:100%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1c {width:103%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1b {width:100%;height:17px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2 {width:50%;height:18px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2s {width:40%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2a {width:50%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2b {width:80%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field3 {width:100%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}

.content-Block {position:relative;width: 99.9%;min-height:5%;float: left;text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 0px;border:1px solid #ddd} 
.content-Block-filter{width: 99.9%;min-height:5%;text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 0px;border:1px solid #ddd} 
.content-Block-new {position:relative;width: 99.9%;min-height:5%;float: left;text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 0px;border-color:#dfdfdf !Important;
    border:1px;
    border-style:solid;
        border-bottom:0;
        } 

.content-Block-new-1{
position:relative;
width: 99.9%;
min-height:5%;
float: left;
text-align:left;
padding: 1px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border-color:#dfdfdf !Important;
border:1px;
border-style:solid;
border-bottom:solid 1px;
}
.alert_message_box{
    position:absolute;
    left:25%;
    top:30%;
    width:354px;
    height:120px;
    border:1px;
    border-style:solid;
    border-top-color:#fbfff4;
    border-left-color:#fbfff4;
    border-bottom-color:#686868;
    border-right-color:#686868;
    background-color:#e9e9e9;
    padding:0;
    z-index:100;
    }
.alert_message_box_title{
    width:352px;
    height:16px;
    color:#FFFFFF;
    font-weight:bold;
    font-size:12px;
    font-family:Tahoma;
    padding-top:2px;
    padding-left:5px;
    background-image:url("../images/bg_msg_header.gif");
    }
 .alert_message_box_text_2{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:200px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
}
.alert_message_box_text_3{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:383px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
    }

.alert_message_box_text{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:320px;
     height:40px;
    margin-top:15px;
    margin-right:5px;
    }
.alert_message_box_icon{
    float:left;
    width:45px;
    height:40px;
    margin-top:15px;
    margin-left:15px;
    *margin-left:10px;
    margin-right:5px;
    background-image:url("../images/icon_warn.png");
    background-repeat:no-repeat;
    }
    
.errorMessage{
    font-family:Tahoma;
    font-size:12px;
    float:left;
}

/* Confirm Overlay */
#confirmModalOverlay {background-color:#eee; cursor:wait;}

/* Container */
/*#confirmModalContainer {height:125px; width:400px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#e9e9e9; border:1px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }*/
#confirmModalContainer {height:125px; width:475px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#e9e9e9; border:1px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }
/*#confirmModalContainer .header {height:16px; width:397px;*width:398px; background:url(../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold; line-height:16px;}*/
#confirmModalContainer .header {height:16px; width:473px;*width:474px; background:url(../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold; line-height:16px;}
#confirmModalContainer .header span {padding-left:8px;}
#confirmModalContainer .message {color:#333; text-align:center; margin:0; padding:12px 4px; font-size:1em;}
#confirmModalContainer .buttons {width:180px; padding:10px 18px 0;margin-left: auto;margin-right: auto;} 
/*#confirmModalContainer .buttons div { margin-left:8px;float:left; width:71px; height:19px; color:#ffffff; font-weight:bold; text-align:center; background:url(../images/button_71.gif) repeat-x; cursor:pointer;font-size:11px;}*/
#confirmModalContainer a.modalCloseX,
#confirmModalContainer a.modalCloseX:link,
#confirmModalContainer a.modalCloseX:active,
#confirmModalContainer a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ddd;}
#confirmModalContainer a.modalCloseX:hover {color:#9bb3b3;}

/* Overlay */
#simplemodal-overlay {background-color:#eee; cursor:wait;}

/* Container */
#simplemodal-container {height:125px; width:400px; background-color:#e9e9e9; border:2px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }
#simplemodal-container .header {height:16px; width:398px; background:url(../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold; line-height:16px;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:8px;}
#simplemodal-container .buttons {width:97px; padding:10px 18px 0;margin-left: auto;margin-right: auto} 
/*#simplemodal-container .buttons div { margin-left:8px; width:71px; height:19px; color:#ffffff; font-weight:bold; text-align:center; background:url(../images/button_71.gif) repeat-x; cursor:pointer;font-size:11px;}*/


.Containerheaderleft {position:relative;width:64%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 4px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Containerheaderleft2 {position:relative;width:62%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 4px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Containerheaderright {position:relative;width:15%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 4px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Containerheaderright1 {position:relative;width:15%;font-size: 11px;font-weight: bold;color:#000000;float:left;text-align: center;margin: 4px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Containerheaderright2 {position:relative;width:15%;font-size: 11px;font-weight: bold;color:#000000;float:right;text-align: center;margin: 4px 0px 0px 0px;/*border:1px solid #0033FF;*/}
.Search-Containerheaderleft {width:60%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 3px 0px 0px 5px;text-transform:uppercase /*border:1px solid #0033FF;*/}
.Search-Containerheaderleft1 {width:56%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 3px 0px 0px 5px;text-transform:uppercase/*border:1px solid #0033FF;*/}
.Search-Containerheaderleft2 {width:50%;font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 3px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Search-Containerheaderleft44 {font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 3px 0px 0px 5px;/*border:1px solid #0033FF;*/}
.Search-Containerheaderleft3 {font-size: 10px;font-weight: normal;text-align: center;color:#000;margin: 0px 0px 0px 0px;text-transform:uppercase}
.Search-Containerheaderleft4 {font-size: 11px;font-weight: bold;color:#000000;float:left;margin: 3px 0px 0px 5px;text-transform:uppercase /*border:1px solid #0033FF;*/}
.Search-ContainerheaderRight {font-size: 10px;font-weight: normal;text-align: center;color:#7A7A7A;float:right;/*width:110px;*/margin: 6px 10px 0px 0px;/*border:1px solid #0033FF;*/}
.Search-ContainerheaderRight-b {font-size: 10px;font-weight: bold;text-align: center;color:#7A7A7A;float:right;/*width:110px;*/margin: 6px 10px 0px 0px;text-transform: uppercase;/*border:1px solid #0033FF;*/}
.Search-ContainerheaderRight2 {font-size: 10px;font-weight: normal;text-align: center;color:#7A7A7A;float:right;/*width:110px;*/margin: 12px 5px 0px 0px;/*border:1px solid #0033FF;*/}
.popup-headerleft {position:relative;width:100%;font-family: Tahoma;font-size: 18px;font-weight: normal;color:#000000;float:left;margin: 0px 0px 0px 0px;/*border:1px solid #0033FF;*/}

.ContainerheaderRight-ico {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:right;width:10px;height:10px;margin: 7px 9px 0px 0px;}
.Containerheaderleft-ico {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:left;width:10px;margin: 7px 8px 7px 8px;}
.Containerheaderleft-ico3 {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:left;width:10px;margin: 7px 0px 7px 8px;}
.Containerheaderleft-ico3a {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:left;width:10px;margin: 7px 5px 7px 2px;}
.Containerheaderleft-ico2 {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:left;width:4%;margin: 7px 0px 0px 0px;}
.Containerheaderleft-ico1 {font-size: 10px;font-weight: bold;text-align: center;color:#666;float:left;margin: 3px 5px 0px 0px;}

.Search-inputfield-box {position:relative;height:100%;font-size: 11px;font-weight: normal;text-align: left;margin: 3px 10px 3px 20px;border:0px solid #0033FF;}
.Search-inputfield-box1 {position:relative;width:550px;font-size: 11px;font-weight: normal;float: right; right: 15%;margin: 3px 10px 15px 25px;border:0px solid #0033FF;}
.Search-inputfield-box2 {position:relative;height:100%;font-size: 11px;font-weight: normal;text-align: left;margin: 5px 10% 0px 10%;border:0px solid #0033FF;}
.Search-inputfield-box3 {position:relative;height:100%;font-size: 11px;font-weight: normal;text-align: left;margin: 2px 10px 0px 10px;}
.Search-inputfield-box4 {position:relative;height:100%;font-size: 11px;font-weight: normal;text-align: left;margin: 3px 20px 0px 20px;border:0px solid #FF00FF;}
.Search-inputfield-box5 {position:relative;height:100%;font-size: 11px;font-weight: normal;text-align: left;margin: 3px 20px 0px 0px;border:0px solid #FF00FF;}
.search-content-row{position:relative;width:100%;height:20px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 4px 0px 4px 0px;}

.search-content-row-report{
margin:0px;
border-color:#DFDFDF !important;
border-style:solid solid solid none;
border-width:1px 1px 1px medium;color:#000000;
position:relative;width:100%;
height:20px;
font-family: 'Tahoma';
font-size: 11px;
font-weight: normal;
}

.search-content-row-changePassword{position:relative;width:100%;height:30px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 4px 0px 4px 0px;}
.search-content-row4{position:relative;width:100%;height:20px;font-size: 12px;font-weight: normal;margin: 4px 0px 4px 0px;border:0px solid #0033FF;}
.search-content-row1{position:relative;width:100%;height:10px;font-size: 11px;font-weight: normal;margin-top: 2px;}
.search-content-row1a{position:relative;width:100%;height:6px;font-size: 11px;font-weight: normal;margin-top: 0px;border:0px solid #C0C0C0;}
.search-content-row1b{position:relative;width:100%;height:12px;font-size: 11px;font-weight: normal;margin-top: 0px;border:0px solid #C0C0C0;}
.search-content-row2{position:relative;width:100%;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 3px 0px;border:0px solid #FF00FF;}
.search-content-row2a{position:relative;width:100%;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 0px 0px;border:0px solid #FF00FF;}
.search-content-row3{position:relative;width:100%;height:200px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 3px 0px;border:0px solid #FF00FF;}
.addEditPropertyLeftAdmin{border:0px solid #FF0000;width:87%}


.buttonContainer{
    width: 100%;
    height: 24px;
    float: left;
    text-align:left;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px
}

.buttonContainer .left{
    float:left;
}

.buttonContainer .right{
    float:right;
}

.buttonContainereditmessage{
    width: 100%;
    height: 24px;
    float: left;
    text-align:left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px
}

.buttonContainereditmessage .left{
    float:left;
}

.box_header a {margin-left:5px;}
.Block-Contain-header a {margin-left:5px;}
.search_box40 a {margin-left:5px;}
.btn-main-div a {margin-left:5px;}
.courseLogoContainer2 a {margin-left:5px;}
.managerBtn1 .btn-left_n a {margin-left:5px;}
.btn-right1 a {margin-left:5px;}
.btn-right3 a {margin-left:5px;}
.btn-right3-new a {margin-left:5px;}
.buttons a {margin-left:5px;}

.content-row{position:relative;width:100%;height:20px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 4px 0px 0px 0px;}
.label_text{position:relative;width: 115px;height:18px;color:#000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.label_text_error{position:relative;width: 115px;height:18px;color:#FF0000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.radio_container1st {position:relative;float: left;width:115px;margin: 0px 0px 0px 0px;padding:0px}
.radio_container2nd {position:relative;float: left;width:97px;margin: 0px 0px 0px 0px}
.radio_container3rd {position:relative;float: left;width:100px;margin: 0px 0px 0px 0px}
.input_field_container1st {width:206px;*width:203px;position:relative;float: left;margin: 0px 0px 0px 0px}
.input_field_container {width:70px;*width:67px;float:left;height:15px;}
.input_field_container2nd {width:60px;float:left;height:15px;}
.radio_container2nd input{float:left}
.radio_container1st input{float:left}
.radio_container1st span{float:left;padding-top:3px}
.radio_container2nd span{float:left;padding-top:3px}
.noPadding-radio{
    width:14px;
    padding-left:0px;
    margin-left:0px;
}

.com-star{position:relative;width: 10px;height:16px;color:#FF0000;font-size:12px;text-align: center;float: left;padding: 4px 0px 0px 0px;}

.com-star-r-t{
    color:#FF0000;
    font-size:11px;
    float: left;
    width: 14px;
    padding: 4px 3px 0px 5px;
}
.block_text_in2a{position:relative;width: 22%;height:18px;color:#000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in2-red{position:relative;width: 25%;height:18px;color:#FF0000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in2-redbold{position:relative;width: 25%;height:18px;color:#FF0000;font-size:11px;text-align: left;font-weight: bold;float: left;margin: 2px 0px 0px 0px;}
.block_text_in1{position:relative;width: 15%;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 2px 0px 0px 10px;}
.block_text_in1-red{position:relative;width: 15%;height:18px;color:#FF0000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 10px;}
.block_text_in-r{position:relative;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-b{position:relative;width: 25%;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-c{position:relative;width: 35%;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-f{position:relative;width: 15%;height:18px;color:#000000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-f-changePassword{position:relative;width: 15%;height:28px;color:#000000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-f-red{position:relative;width: 15%;height:18px;color:#FF0000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-fa{position:relative;width: 12%;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;}

.inputbox-div {height:31px;min-height:6%;width: 100%;}
.inputbox {width:170px;height:65%;min-height:65%;font-size: 10px;font-weight: normal;float: right;border:1px solid #ccc;}
.inputboxName {font-size: 10px;font-weight: normal;float: right;padding-top: 2px;}

.search_field_area-pop {width:62%;height:15px;position:absolute;text-align: left;float: left;left: 100px;margin: 0px 0px 0px 0px;}
.search_field_area {width:72%;height:15px;position:absolute;text-align: left;float: left;left: 100px;margin: 0px 0px 0px 0px;}
.search_field_area1 {width:72%;height:15px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field_area2 {width:86%;height:15px;position:absolute;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field_area2_n {width:80%;height:15px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;}
.search_field {width:100%;height:15px;font-size:9px;background-color: #ffffff;border: 1px solid #DCD8D8;display:block}
.search_field-2 {width:87%;height:15px;position:relative;text-align: left;float: left;border: 0px solid #CC0000;}
.search_field-3 {width:87%;height:194px;position:relative;text-align: left;float: left;margin: 0px 0px 0px 0px;background:#fff url("../images/b-header-email.jpg") top left repeat-x;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}

.input_field_area-pop {width:30%;height:15px;position:absolute;text-align: left;float: left;left: 150px;margin: 0px 0px 0px 0px;}
.input_field_area-user {width:55%;position:absolute;/*text-align: center;*/float: left;left: 110px;margin: 0px 0px 0px 0px;}

.input_field_area-user-fn-rb {position:relative;float: right;color: #df1f21; font-weight: bold;margin: 0px 0px 0px 0px;}
.input_field_area-user-fn {position:relative;float: right;margin: 0px 0px 0px 0px;/*border: 1px solid #99CC00;*/}
.input_field_area-user-fn-l {position:relative;float: left;margin: 2px 5px 2px 2px;/*border: 1px solid #99CC00;*/}
.input_field_area-user-fn-2 {position:relative;float: left;margin: 2px 5px 2px 15px;/*border: 1px solid #99CC00;*/}

.input_field_area-user-fss {width:7%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-fs {width:10%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f {width:25%;position:relative;float: left;margin: 0px 5px 0px 0px;border: 0px solid #99CC00;}
.input_field_area-user-f1 {width:30%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f1a {width:40%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f2 {width:50%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f2a {width:65%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_browse {width:65%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f2b {width:65%;position:relative;float: left;margin: 0px 0px 0px 0px;}
.input_field_area-user-f2-rb {width:65%;position:relative;float: left;color: #df1f21; font-weight: bold;margin: 0px 0px 0px 0px;}
.input_field_area-user-f2-b {width:90%;position:relative;float: left;color: #000; font-weight: bold;margin: 5px 0px 0px 0px;}
.input_field_area-user-f3 {width:30%;position:relative;float: left;margin: 5px 0px 0px 0px;}
.input_field_area-user-f3a {width:30%;position:relative;float: left;margin: 5px 0px 0px 0px;/*border:1px solid #FF00FF;*/}
.input_field_area-user-f4 {width:15%;position:relative;float: left;margin: 5px 0px 0px 0px;}

.input_field {width:100%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1a {width:75%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1 {width:100%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1c {width:103%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field1b {width:100%;height:17px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2 {width:50%;height:18px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2s {width:40%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2a {width:50%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field2b {width:80%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}
.input_field3 {width:100%;height:19px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}

.inputfield-box-L {width: 48%;min-height:8%;position:relative;font-size: 11px;font-weight: normal;text-align: left;float: left;margin: 1px 2px 0px 0px;}
.inputfield-box-L2 {width: 38%;/*min-height:3%;*/position:relative;font-size: 11px;font-weight: normal;text-align: left;float: left;margin: 5px 5px 0px 0px;/*border:1px solid #FF00FF;*/}
.inputfield-box-L2a {width: 13%;height:3%;position:relative;font-size: 11px;font-weight: normal;text-align: center;float: left;margin: 45px 0px 0px 0px;border:0px solid #FF00FF;}
.inputfield-box-L2b {width: 42%;/*min-height:3%;*/position:relative;font-size: 11px;font-weight: normal;text-align: left;float: left;margin: 5px 0px 0px 0px;border:0px solid #FF00FF;}
.inputfield-box-L2-in {width: 100%;min-width: 175px;height: 105px;position:relative;/*overflow: auto;*/text-align: left;margin: 5px 5px 0px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-f {width: 85%;min-width: 175px;height: 15px;position:relative;font-family: 'Tahoma';font-size: 11px;font-weight: normal;/*overflow-y: scroll;*/text-align: left;margin: 2px 5px 0px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-e {width: 100%;min-width: 175px;height: 105px;position:relative;overflow-y: auto;text-align: left;margin: 2px 5px 0px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-a {width: 85%;height: 150px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;text-align: left;margin: 0px 0px 0px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-b {width: 98%;min-width: 300px;height: 290px;position:relative;overflow-y: auto;text-align: left;margin: 2px 5px 0px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-c {width: 100%;min-width: 175px;height: 45px;position:relative;overflow-y: auto;text-align: left;margin: 2px 5px 10px 0px;border:1px solid #dddddd;}
.inputfield-box-L2-in-d {width: 100%;height: 45px;position:relative;overflow-y: auto;text-align: left;margin: 2px 5px 0px 0px;border:1px solid #dddddd;}
.arrow-transfer{padding: 4px;}
.arrow-transfer2{padding: 1px;}

.Block-Contain-header {
    /*position:relative;
    height: 26px;
    min-height:6%;
    background:#f9f9f9;
    margin: 0px 2px 0px 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    border-bottom:1px solid #fff;
    text-transform: uppercase;*/
    height:24px;
    width:100%;
    background: #F9F9F9;
    /*padding-top:5px;*/
    padding-bottom:2px;
}

.Block-Contain-header-TrainingPlan  {
    height:25px;
    width:100%;
    background: #F9F9F9;
    /*padding-top:5px;*/
    padding-bottom:2px;
    border-bottom:1px solid #dfdfdf
}

.Block-Contain-header-lerner {
    height:24px;
    width:100%;
    background: #F9F9F9;
    padding-top:0px;
    border-bottom:1px solid #dfdfdf;
}

.Block-Contain-header_n {
    position:relative;
    height: 26px;
    min-height:6%;
    /*background:#fff url("../images/d-header-bk.jpg") 100% 0px repeat-x;*/
    background:#e9e9e9;
    margin: 0px 2px 0px 2px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-bottom:1px solid #fff;
}

.Block-Contain-header2 {
    position:relative;
    height: 26px;
    min-height:6%;
    /*background:#fff url("../images/d-header-bk.jpg") 100% 0px repeat-x;*/
    background:#f9f9f9;
    margin: 0px 2px 0px 2px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-bottom:1px solid #fff;
}

.Block-Contain-header-collapsible {
    position:relative;
    height: 26px;
    min-height:6%;
    /*background:#fff url("../images/d-header-bk.jpg") 100% 0px repeat-x;*/
    background:#f9f9f9;
    margin: 0px 2px 0px 2px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-bottom:1px solid #fff;
}

.Block-Contain-header-report {
    position:relative;
    height: 25px;
    /*min-height:6%;*/
    background:#f9f9f9 url("../images/header2-bk.gif") 100% 0px repeat-x;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    /*border:0px solid #FF0000;*/
}
.Block-Contain-header-survey {
    position:relative;
    height: 25px;
    /*min-height:6%;*/
    background:#fff url("../images/header1-bk.gif") 100% 0px repeat-x;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    /*border:0px solid #FF0000;*/
}
#course-summary-1.search_box_result
.search_box_result {
border-style:solid;
}
.icon_right {
background-image:url("../images/icon_next.gif");
background-repeat:no-repeat;
cursor:pointer;
float:left;
height:10px;
margin-left:5px;
margin-right:5px;
margin-top:1px;
width:10px;
}