.side_bar {
background-image:url("../images/bg_side_bar.gif");
background-repeat:repeat-y;
float:left;
height:100%;
left:0;
margin-right:12px;
width:195px;
border-right:1px solid #CCCCCC;
}
.side_bar_slider {
background-image:url("../images/slider.gif");
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
float:left;
height:100%;
left:0;
margin-left:-14px;
margin-right:12px;
width:6px;
}
.side_band_normal {
background-image:url("../images/bg_band_normal.gif");
height:38px;
width:194px;
}
.side_band_over {
background-image:url("../images/bg_band_over.gif");
cursor:pointer;
height:38px;
width:194px;
}
.side_band_down {
background-image:url("../images/bg_band_down.gif");
cursor:pointer;
height:38px;
width:194px;
}
.band_text {
padding-top:12px;
text-indent:10px;
}

.band_image {
float:left;
 width:12px;
height:12px;
margin-left:17px;
margin-top:12px;

}
