/*************************** Thank you Page CSS styles ***************************************/

.ty-content-area{ 
	margin: 0 auto;
	width: 90%;
	position: relative;
	font-family: 'Open Sans' !important;
	font-size: 14px;    
	font-weight: 500; 
	color:#666;
	}
.ty-head{ font-weight:lighter; font-size:24px;}
.ty-content{}
.ty-content p{ font-size:16px; line-height:22px;}
.ty-content a{  font-size:16px; color:#09F;}
.ty-content a:hover{  font-size:16px; color:#333; text-decoration:underline;}
.ty-content-area a.login-btn{
color: white;
text-shadow: none;
background-color: #4d90fe;
width:100px; float:left; color:#FFFFFF!important; 
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 24px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; margin:0px 0px 0px 0px;text-decoration: none; 
}
.ty-content-area a:hover.login-btn{ 
background-color: #0362fd !important;
color: #fff !important;
outline: none !important;
width:100px; float:left; color:#FFFFFF!important; 
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 24px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; margin:0px 0px 0px 0px;text-decoration: none; }


/*************************** Sign Up Author Page CSS styles ***************************************/
/*************************** Sign Up Author Page CSS styles ***************************************/
html, body{overflow:visible!important; }
div#main-container{padding:0px!important; margin:0px!important;}
div#content2a{ padding:0px!important; margin:0px!important;}
div#right-pannel{ padding:0px!important;}
.link{padding:0px!important; margin:0px!important;}
div#footer{padding:0px!important; margin:0px!important; overflow:hidden!important;}
.su-content-area{ margin:0 0 0 100px; width:100%; position:relative; font-family: 'Open Sans' !important;    
font-size: 14px;    font-weight: 500; color:#666; overflow-y:auto;}
.su-content-area ul{ width:100%; height:50%; position:relative; padding:0px; margin:0 auto; overflow-y:auto;}
.su-content-area ul li{ float:left; padding:10px 0px 10px 0px; list-style:none; width:40%; font-weight:700;}
.su-content-area ul li input{ height:15px; width:190px; padding:6px 12px; border:1px solid #e5e5e5;}
.su-content-area ul li input:focus { 
    border:1px solid #ccc;
}

.su-content-area ul li ul.sublist{ text-align:left; float:left;}
.su-content-area ul li ul.returning{ text-align:left; float:left;}
.su-content-area ul li label{ text-align:left; }
.su-content-area ul li.signup-user{ margin-left:10%; width:400px;}
.su-content-area ul li.returning-user{ float:left;padding:10px 0px; list-style:none; width:400px; display:block; margin-left:30px}
.su-head{ font-weight:lighter; font-size:24px;}
.su-sub-head{ font-style:normal; color:#aaa; font-size:13px; padding:0px 0px 10px 0px; font-weight:normal; width:800px;}
.esterik{ /*color:#f00;*/color: #e02222;
font-size: 12px;
padding-left: 2px;}
.or-signup{ float:left; width:43px !important;}
#nUserNameOption {
    margin: 3px 5px 5px 0;
    padding: 0 !important;
    width: 15px;
}
.password-label{ float:left;}
#nUserName{margin-top:15px;}
.radio-area{ width:216px!important; font-size:14px; font-weight:normal!important;}
.need-help a{ color: #333333!important;
outline: none;/*color:#3399cc!important; color: #4d90fe;*/font-size:14px; font-weight:normal;}
 .need-help a:hover{text-decoration:underline; font-size:14px; font-weight:normal;}
a.login-btn{
color: white;
text-shadow: none;
background-color: #4d90fe;
float:left; color:#FFFFFF!important; 
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 24px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;font-weight:500; 

margin:0px 0px 0px 0px;
}
a:hover.login-btn{ /*background:url(../images/sign-up-btn.png) repeat-x;*/ 
background-color: #0362fd !important;
color: #fff !important;
outline: none !important;
float:left; color:#FFFFFF!important; 
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 24px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; margin:0px 0px 0px 0px;}


.field-disabled{ background-color:#eee; cursor: not-allowed; text-overflow: ellipsis; border: none;}

:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
