@charset "utf-8";

#table-header{
    width:100%;
    height:24px;
}

#table-header #logo{
    width:200px;
    padding-left:15px;
}

#table-header a, #table-header a:visited, #table-header a:link{
    text-decoration: none;
    border:0;
    color:#FFFFFF;
    margin:0;
    padding:0;
}

#table-header img{
    border:0;
    margin:0;
    padding:0;
}
.logoContainer {
	border:1px solid #FFFFFF;
	height:75px;
	margin-bottom:10px;
	margin-left:15px;
	margin-top:15px;
	width:auto;
}
.courseLogoUser {
	background-repeat:no-repeat;
	float:left;
	height:75px;
	margin-right:5px;
	vertical-align:middle;
	width:75px;
	background:transparent url("../images/pageicons/users.png") no-repeat scroll 0 0px;
}
.courseTitle1 {
   font-size:24px;
	letter-spacing:-1px;
	margin-top:25px;
	word-spacing:-2px;
}

/** Added new CSS Tags **/
.header_icon, .header_icon_selected{
	background-position:center top;
	background-repeat:no-repeat;
	color:#000000;
	cursor:pointer;
	float:right;
	font-size:11px;
	height:60px;
	margin-left:7px;
	margin-right:7px;
	margin-top:5px;
	padding-top:0;
	text-align:center;
	text-transform:uppercase;
	width:75px;
}
.icon_style {
	border:0 none;
	margin-bottom:3px;
}
