@charset "utf-8";


#table-layout #row-tabs, #navigation-row-tabs{
    height:25px;
    background-color: #F4F4F4;
}

#navigation-row-tabs{
	border-bottom:1px solid #DDDDDD;
}


#table-layout #blank-tab{
    width:195px;
    background-color: #F4F4F4;
    border-right:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
}

#table-layout #hidden-blank-tab{
    width:195px;
    border-right:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    display:none;
}

#table-layout #tabs{
    /*border-right:1px solid #DDDDDD;*/
    border-bottom:1px solid #DDDDDD;
}

#table-tabs a, #table-tabs a:visited, #table-tabs a:link{
    color:#666666;
    text-decoration: none;
}

#table-tabs td, #table-tabs td:hover, #table-tabs #last, #table-tabs .selected{
    height:25px;
    width:120px;
    min-width:120px;
    color:#666666;
    font-size:10px;
    cursor: pointer;
    padding-left:5px;
    padding-right:5px;
    text-transform: uppercase;
    /*border-left:1px solid #DDDDDD;*/
    text-align: center;
}

#table-tabs td:hover,  #table-tabs #last:hover{
    color:#000000;
    background-color: #FEFEFE;
}

#table-tabs #last{
    border-right:1px solid #DDDDDD;
}

#table-tabs .selected{
    font-weight: bold;
    border-top:1px solid #FCFCFC;
    background-color: #E5E5E5;
}

