#table-bread-crumb {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
#table-bread-crumb .start {
    background-image: url("../images/bg-breadcrumb-start.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 5px;
}
#table-bread-crumb .stem {
    background-image: url("../images/bg-breadcrumb-stem.png");
    background-repeat: repeat-x;
    height: 37px;
    padding-left: 5px;
}
#table-bread-crumb .end {
    background-image: url("../images/bg-breadcrumb-end.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 5px;
}
.bread-crumb-text {
    color: #7A7A7A;
    font-size: 11px;
}
.bread-crumb-text a:link, .bread-crumb-text a:visited, .bread-crumb-text a {
    color: #111111;
    font-size: 11px;
    text-decoration: none;
}
#table-bread-crumb .select-breadcrumb {
    font-size: 11px;
    margin-top: 1px;
}
Firebug's log limit has been reached. 0 entries not shown.		Preferences	 