@charset "utf-8";

.page-icon-transcripts{
    width:75px;
    height:75px;
    background-image: url(../images/icon-transcripts-large.png);
    background-repeat: no-repeat;
}

.page-icon-users{
    width:75px;
    height:75px;
    background-image: url("../images/icon-users-large.png");
    background-repeat: no-repeat;
}

.page-icon-courses{
    width:75px;
    height:75px;
    background-image: url(../images/icon-courses-large.png);
    background-repeat: no-repeat;
}

.page-icon-plan{
    width:75px;
    height:75px;
    background-image: url(../images/icon-gantt-chart-large.png);
    background-repeat: no-repeat;
}

.page-icon-reports{
    width:75px;
    height:75px;
    background-image: url(../images/icon-reports-large.png);
    background-repeat: no-repeat;
}

.page-icon-surveys{
    width:75px;
    height:75px;
    background-image: url(../images/icon-surveys-large.png);
    background-repeat: no-repeat;
}

.page-icon-tools{
    width:75px;
    height:75px;
    background-image: url(../images/icon-tools-large.png);
    background-repeat: no-repeat;
}

.page-icon-resources{
    width:75px;
    height:75px;
    background-image: url(../images/icon-resources-large.png);
    background-repeat: no-repeat;
}

.page-icon-grade-books{
    width:75px;
    height:75px;
    background-image: url(../images/icon-grade-book-large.png);
    background-repeat: no-repeat;
}

.page-icon-profile{
    width:75px;
    height:75px;
    background-image: url(../images/icon-profile-large.png);
    background-repeat: no-repeat;
}

.page-icon-external-services{
    width:75px;
    height:75px;
    background-image: url(../images/icon-external-services-large.png);
    background-repeat: no-repeat;
}

.page-icon-search{
    width:75px;
    height:75px;
    background-image: url(../images/icon-search-large.png);
    background-repeat: no-repeat;
}

.page-icon-regulators{
    width:75px;
    height:75px;
    background-image: url(../images/icon-regulators-large.png);
    background-repeat: no-repeat;
}

.page-icon-approvals{
    width:75px;
    height:75px;
    background-image: url(../images/icon-approvals-large.png);
    background-repeat: no-repeat;
}

.page-icon-custom-fields{
    width:75px;
    height:75px;
    background-image: url(../images/icon-custom-fields-large.png);
    background-repeat: no-repeat;
}

.page-icon-learners{
    width:75px;
    height:75px;
    background-image: url(../images/icon-learners-large.png);
    background-repeat: no-repeat;
}

.page-icon-resellers{
    width:75px;
    height:75px;
    background-image: url(../images/icon-resellers-large.png);
    background-repeat: no-repeat;
}

.page-icon-security{
    width:75px;
    height:75px;
    background-image: url(../images/icon-security-large.png);
    background-repeat: no-repeat;
}

.page-icon-customers{
    width:75px;
    height:75px;
    background-image: url(../images/icon-customers-large.png);
    background-repeat: no-repeat;
}
.icon_regulator{
    width:75px;
    height:75px;
    background-image: url(../images/customers_lg.png);
    background-repeat: no-repeat;
}
.icon_approvals{
    width:75px;
    height:75px;
    background-image: url(../images/courses_lg.png);
    background-repeat: no-repeat;
}
.icon_credentials{
   width:75px;
    height:75px;
    background-image: url(../images/surveys_lg.png);
    background-repeat: no-repeat;
}
.icon_reportingtool{
   width:75px;
    height:75px;
    background-image: url(../images/reportingtool_lg.png);
    background-repeat: no-repeat;
}
#table-icons{
    float:right;
    height:78px;
}

#table-icons td, #table-icons .selected{
    padding:0;
    padding-left:10px;
    padding-right:10px;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
}

#table-icons img{
    cursor:pointer;
}

#table-icons .selected{
    font-weight: bold;
}

.icon-help-small{
    float:right;
    width:15px;
    height:16px;
    background-image: url(../images/icon-help.png);
    background-repeat: no-repeat;
}

.icon-info-small{
    float:left;
    margin-top:3px;
    margin-left:5px;
    width:15px;
    height:16px;
    background-image: url(../images/icon-info.png);
    background-repeat: no-repeat;
}

.icon-accept{
    float:left;
    margin-top:3px;
    margin-left:5px;
    width:15px;
    height:16px;
    background-image: url(../images/icon-accept.png);
    background-repeat: no-repeat;
}

.icon-reject{
    float:left;
    margin-top:3px;
    margin-left:5px;
    width:15px;
    height:16px;
    background-image: url(../images/icon-reject.png);
    background-repeat: no-repeat;
}

.icon-caret-right, .icon-caret-disabled-right{
    float:right;
    width:10px;
    height:10px;
    background-image: url(../images/icon-caret-right.png);
    background-repeat: no-repeat; 
}

.icon-caret-disabled-right{
    background-image: url(../images/icon-caret-disabled-right.png);
}

.icon-calender{
    float:left;
    margin-top:3px;
    margin-left:10px;
    width:15px;
    height:16px;
    background-image: url(../images/icon-calender.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.icon-cross-right, .icon-cross-right:hover{
    float:right;
    margin-top:3px;
    margin-left:5px;
    margin-right:5px;
    height:10px;
    width:10px;
    font-size:10px;
    background-image: url(../images/icon-cross.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.icon-cross-right:hover{
    text-decoration: underline;
}


/** New CSS Tags from LMS CSS File **/
.icon_back{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../images/icon_back.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_next{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../images/icon_next.gif);
	background-repeat:no-repeat;
	cursor:pointer;
	}
.icon_disabled{
	float:right;
	height:10px;
	width:6px;
	margin-top:7px;
	margin-right:9px
	}
.icon_all{
	float:right;
	height:10px;
	width:10px;
	margin-top:7px;
	margin-right:9px;
	background-image:url(../images/icon_all.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
.icon_up{
	float:left;
	height:6px;
	width:10px;
	margin-top:5px;
	margin-right:5px;
	margin-left:5px;
	background-image:url(../images/icon_up.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
.icon_down{
	float:left;
	height:6px;
	width:10px;
	margin-top:3px;
	margin-right:5px;
	margin-left:5px;
	background-image:url(../images/icon_down.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
.icon-cancel {
    background-image: url("../images/icon-cancel.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 2px;
    width: 16px;
}
.icon-save {
    background-image: url("../images/icon-accept.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 2px;
    width: 16px;
}
.icon-folder {
    background-image: url("../images/folder-closed.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 2px;
    width: 16px;
}
.icon-revert {
    background-image: url("../images/icon-revert.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 10px;
}	
table#dataTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
	font-size:12px;
	box-shadow: 3px 3px 1px #999;
}
.buttonIconAlign{ margin-left:44.5%; margin-bottom:10px;}
table#dataTable input[type="checkbox"]{ margin-left: 25%;}
.buttonIconAlign input.addButton{background-image: url("../images/Add-Validation.jpg") no-repeat;cursor:pointer;border: none; width:28px;height:24px;}
.buttonIconAlign input.deleteButton{background-image: url("../images/Delete-Validation.jpg") no-repeat;cursor:pointer;border: none; width:28px; height:24px;}
table#dataTable td, table#dataTable th {
    border: 1px solid #999999;

}


table#dataTable input[type="text"] {
    width:99%;
    font-size: 11px;
}
table#dataTable tr td div.row_text{padding:0px;}
table#dataTable tr td select{width:99%; padding-left:15px;}


.add-validation {
   background-image: url("../images/Add-Validation.jpg");
    background-repeat: no-repeat;
    cursor:pointer;
    border: none; 
    width:28px;
    height:24px;
    margin-left:44.5%;
}
.delete-validation {
   background-image: url("../images/Delete-Validation.jpg");
    background-repeat: no-repeat;
    cursor:pointer;
    border: none; 
    width:28px;
    height:24px;
    margin-right:4.5%;
}

table#dataTable tr:nth-child(even) {
    //background-color: #dddddd;
}