<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/learnerNewHead.vm")


<script type="text/javascript">
	$(document).ready(function(){
       	
    });
</script>
<script src="javascript/360js.js" language="javascript" type="text/javascript"></script>

</head>
<body>
<form name="addOrgGroup" action="mgr_addOrgGroup.do" method="POST" >
     <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	   <tr> <!-- First Block -->
			<td id="header" colspan="2"><!-- header -->
				<!-- header -->
	 			#parse("snippets/managerWizardHeader.vm")
				<!-- header-end -->
			</td>
		</tr>
		
	   <tr id="main"> <! SECOND BLOCK -->
            <!-- left-pannel-content -->
			<td id="left-navigation" valign="top" style="width:195px;">
				<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
 
		<!-- left-pannel-content -->
        		<div>
                    <div id="l-menu-back">
                        <div class="$brander.getBrandElement("lms.listServeyQuestions.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.manager.addOrgGroup.caption.Add-New-Organization-Group-Wizard") <br />$brander.getBrandElement("lms.manager.addOrgGroup.caption.Step-2-of-2")</div>
                        <div class="l-menu-back-text-inact">Group Name</div>
                        <div class="$brander.getBrandElement("lms.manager.addOrgGroup.caption.textAct")">Summary</div>
                    </div>
        		</div>
		<!-- left-pannel-content-end -->
			 </table>
			</td>
			
		<!-- right-pannel-content -->
		<TD id="content">
			 	 <div id="scrollable">
			
            <!-- Logo+Manage-User -->
            		<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	    		    <tr>
	    			<td id="page-icon" class="page-icon-users">
	    			    &nbsp;
	    			</td>
	    			<td id="page-description">
	    			    <div id="page-heading">$brander.getBrandElement("lms.manager.addOrgGroup.caption.Add-Organization-Group")</div>
	    			    <div id="page-help">$brander.getBrandElement("lms.manager.addOrgGroup.caption.description2")</div>
	    			</td>
	    		    </tr>
	    		</table> 
            <!-- Logo+Manage-User-end -->
			
			<!-- Group-Name -->
			<table class="content-Block">
				   <tr id="e8" class="Search-Containerheaderleft">
				   	   <td >$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.subtitle2")
					   </td>
				   </tr>
				   <tr id="e7b" class="Search-Containerheaderleft">
				   		<!-- LMS-9810 | S M Humayun | 13 Apr 2011 -->
				   	   <td class="block_text_in-r-c">$brander.getBrandElement("lms.viewLearnerGroupMembers.caption.GroupName")
					   </td>
					   #springBind("addOrgGroupForm.newGroupName")
					   <td id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")">
					   ${status.value}
					   </td>
				   </tr>
				   		#springBind("addOrgGroupForm.parentGroupName")
				   <tr id="e7b" class="Search-Containerheaderleft">
				   		<!-- LMS-9810 | S M Humayun | 13 Apr 2011 -->
				   	   <td class="block_text_in-r-c">$brander.getBrandElement("lms.manager.addOrgGroup.caption.Parent-Organizational-Group")
					   </td>
					   <td id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")">${status.value}
					   </td>
				   </tr>
			</table>
			<!-- Group-Name-end -->

			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.entitlementUpdate.cssClass.manager-bottom-space")"></div>
			<!-- space -->

			<!-- button-div -->
			#*<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
			<input type="hidden" id="currentpage" name="_page" value="1"/>
			<div class="$brander.getBrandElement("lms.css.btn-left")"><input type="image" id="cancel" name="_cancel" alt="Cancel" src="$brander.getBrandElement("lms.pixel.cancel.gif")"/></div>
			<div class="$brander.getBrandElement("lms.css.btn-right")"><input type="image" id="finish"  name="_finish" alt="Finish" src="$brander.getBrandElement("lms.pixel.next.gif")"/></div>
			<div class="$brander.getBrandElement("lms.css.btn-right")"><input type="image" id="previous" name="_target0" alt="Previous" src="$brander.getBrandElement("lms.pixel.previous.gif")"/></div>
			</div>*#

			<div class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.managerBtn")">
			<input type="hidden" id="currentpage" name="_page" value="1"/>
			<input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />						
			<div style="float:right; margin-top:3px;">
			  <a onClick="submitButtonForm(document.addOrgGroup,'wizardSubmitter','_finish');" style="text-decoration:none;">
				  <div class="btn_start"></div>
				  <div class="btn_normal">Finish</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			<div style="float:right; margin-top:3px;margin-right:5px;">
			  <a onClick="submitButtonForm(document.addOrgGroup,'wizardSubmitter','_target0');" style="text-decoration:none;">
				  <div class="btn_start"></div>
				  <div class="btn_normal">Previous</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			<div style="float:left; margin-top:3px;">
				<a onClick="submitButtonForm(document.addOrgGroup,'wizardSubmitter','_cancel');" style="text-decoration:none;">
					<div class="btn_start"></div>
					<div class="btn_normal">Cancel</div>
					<div class="btn_end"></div>
				</a>
			</div>	
			</div>
			<!-- button-div -->

			<!-- space -->
			<div class="$brander.getBrandElement("lms.administrator.entitlementUpdate.cssClass.manager-bottom-space")"></div>
			<!-- space -->

		<!-- right-pannel-content-end -->
		</div>
	<!-- content2-area-end -->
	</td>

		<tr> <!-- Footer BLOCK -->
			<td id="footer" colspan="2">
         	<!-- footer -->
         	#parse("snippets/managerFooter.vm")
         	<!-- footer-end -->
			</td>
		</tr>
</table>
</form>
</body>
</html>