SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360_SEQ]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VU360_SEQ](
	[NEXT_ID] [numeric](38, 0) NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VU360USER](
	[ID] [numeric](38, 0) NOT NULL,
	[ACCEPTEDEULATF] [int] NOT NULL,
	[ACCOUNTNONEXPIREDTF] [int] NOT NULL,
	[ACCOUNTNONLOCKEDTF] [int] NOT NULL,
	[CHANGEPASSWORDONLOGINTF] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREDENTIALSNONEXPIREDTF] [int] NOT NULL,
	[DOMAIN] [varchar](50) NULL,
	[EMAILADDRESS] [varchar](50) NULL,
	[ENABLEDTF] [int] NOT NULL,
	[FIRSTNAME] [varchar](50) NULL,
	[LASTLOGONDATE] [datetime] NULL,
	[LASTNAME] [varchar](50) NULL,
	[LASTUPDATEDDATE] [datetime] NULL,
	[NEWUSERTF] [int] NOT NULL,
	[NUMLOGONS] [int] NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[USERNAME] [varchar](50) NULL,
 CONSTRAINT [PK__VU360USER__07F6335A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESSID] [numeric](38, 0) NOT NULL,
	[STREETADDRESS] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[ZIPCODE] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORGANIZATIONALGROUP](
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PARENTORGGROUP_ID] [numeric](38, 0) NULL,
	[ROOTORGGROUP_ID] [numeric](38, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORGANIZATIONALGROUPID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTORENTITLEMENT](
	[ID] [numeric](38, 0) NOT NULL,
 CONSTRAINT [PK_DISTRIBUTORENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITEVENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDITEVENT](
	[ID] [numeric](38, 0) NOT NULL,
 CONSTRAINT [PK_AUDITEVENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRAND]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BRAND](
	[BRANDID] [numeric](38, 0) NOT NULL,
	[BRANDKEY] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BRANDID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_COURSEGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSE_COURSEGROUP](
	[COURSEID] [int] NOT NULL,
	[COURSEGROUPID] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENROLLMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ENROLLMENT](
	[ENROLLMENTID] [numeric](38, 0) NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ENROLLMENTID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LANGUAGE](
	[LANGUAGEID] [numeric](38, 0) NOT NULL,
	[COUNTRY] [varchar](50) NULL,
	[LANGUAGE] [varchar](50) NOT NULL,
	[VARIANT] [varchar](50) NULL,
 CONSTRAINT [PK__LANGUAGE__00551192] PRIMARY KEY CLUSTERED 
(
	[LANGUAGEID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORDISTRIBUTORGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTORDISTRIBUTORGROUP](
	[DISTRIBUTORID] [numeric](38, 0) NULL,
	[DISTRIBUTORGROUPID] [numeric](38, 0) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSE](
	[COURSEID] [numeric](38, 0) NOT NULL,
	[GUID] [varchar](16) NOT NULL,
	[LANGUAGE_ID] [numeric](38, 0) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[VERSION] [varchar](50) NOT NULL,
	[COURSESTATUS] [varchar](50) NULL,
	[RETIRED] [bit] NULL,
	[KEYWORDS] [varchar](50) NULL,
	[CONTENTOWNER_ID] [numeric](38, 0) NULL,
	[COURSETYPE] [varchar](50) NULL,
	[CODE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[IMAGEOFCOURSE] [varchar](1000) NULL,
	[APPROVEDCOURSEHOURS] [numeric](38, 0) NULL,
	[COURSTYPE_CATEGORY] [varchar](1000) NULL,
	[DELIVERYMETHOD] [varchar](1000) NULL,
	[CEUS] [numeric](38, 0) NULL,
	[LEARNINGOBJECTIVES] [varchar](1000) NULL,
	[TOPICSCOVERED] [varchar](1000) NULL,
	[QUIZINFO] [varchar](1000) NULL,
	[FINALEXAMINFO] [varchar](1000) NULL,
	[COURSEPRE_REQ] [varchar](1000) NULL,
	[STATE_REGREQ] [varchar](1000) NULL,
	[ENDOFCOURSEINSTRUCTIONS] [varchar](1000) NULL,
	[APPROVALNUMBER] [varchar](1000) NULL,
	[ADDITIONALMATERIALS] [varchar](1000) NULL,
	[SUBJECTMATTEREXPERTINFO] [varchar](1000) NULL,
	[PRODUCTPRICE] [money] NULL,
	[CURRENCY] [varchar](1000) NULL,
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NULL,
	[ORGANIZATIONALGROUPENTITLEMENTID] [numeric](38, 0) NULL,
	[REGULATINGBODY] [varchar](250) NULL,
	[ASSESMENTS] [varchar](1000) NULL,
 CONSTRAINT [PK__COURSE__1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERCOURSESTATISTICS](
	[LEARNERID] [numeric](38, 0) NOT NULL,
	[LEARNERENROLLMENTID] [numeric](38, 0) NOT NULL,
	[AVERAGEPOSTTESTSCORE] [float] NULL,
	[AVERAGEQUIZSCORE] [float] NULL,
	[COMPLETED] [bit] NULL,
	[COMPLETIONDATE] [datetime] NULL,
	[FIRSTACCESSDATE] [datetime] NULL,
	[FIRSTPOSTTESTDATE] [datetime] NULL,
	[FIRSTQUIZDATE] [datetime] NULL,
	[HEIGHESTPOSTTESTSCORE] [float] NULL,
	[HIGHESTQUIZSCORE] [float] NULL,
	[LASTACCESSDATE] [datetime] NULL,
	[LASTPOSTTESTDATE] [datetime] NULL,
	[LASTQUIZDATE] [datetime] NULL,
	[LAUNCHESACCRUED] [numeric](38, 0) NULL,
	[LOWESTPOSTTESTSCORE] [float] NULL,
	[LOWESTQUIZSCORE] [float] NULL,
	[NUMBERPOSTTESTSTAKEN] [numeric](38, 0) NULL,
	[NUMBERQUIZESTAKEN] [float] NULL,
	[PERCENTCOMPLETE] [numeric](38, 0) NULL,
	[PRETESTDATE] [datetime] NULL,
	[PRETESTSCORE] [float] NULL,
	[STATUS] [varchar](50) NOT NULL,
	[TOTALTIMEINSECONDS] [numeric](38, 0) NOT NULL,
	[LEARNERCOURSESTATISTICSID] [numeric](38, 0) NOT NULL,
 CONSTRAINT [PK_LEARNERCOURSESTATISTICS] PRIMARY KEY CLUSTERED 
(
	[LEARNERCOURSESTATISTICSID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERLEARNERGROUP](
	[LEARNERID] [numeric](38, 0) NULL,
	[LEARNERGROUPID] [numeric](38, 0) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERPROFILE](
	[LEARNERPROFILEID] [numeric](38, 0) NOT NULL,
	[LEARNERID] [numeric](38, 0) NULL,
	[ADDRESSID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_LEARNERPROFILE] PRIMARY KEY CLUSTERED 
(
	[LEARNERPROFILEID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERENROLLMENT](
	[LEARNERENROLLMENTID] [numeric](38, 0) NOT NULL,
	[ENROLLMENTDATE] [datetime] NULL,
	[COURSESTARTDATE] [datetime] NULL,
	[ENROLLMENTSTATUS] [varchar](50) NULL,
	[CUSTOMERENTITLEMENTID] [numeric](38, 0) NULL,
	[LEARNERID] [numeric](38, 0) NULL,
	[COURSEID] [numeric](38, 0) NULL,
	[COURSEGROUPID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_LEARNERENROLLMENT] PRIMARY KEY CLUSTERED 
(
	[LEARNERENROLLMENTID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [numeric](38, 0) NOT NULL,
	[BRAND_ID] [numeric](38, 0) NULL,
	[NAME] [varchar](50) NOT NULL,
	[STREETADDRESS] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[ZIPCODE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BILLINGADDRESSID] [numeric](38, 0) NULL,
	[SHIPPINGADDRESSID] [numeric](38, 0) NULL,
	[DISTRIBUTORID] [numeric](38, 0) NULL,
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NULL,
 CONSTRAINT [PK__CUSTOMER__060DEAE8] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTOR](
	[DISTRIBUTORID] [numeric](38, 0) NOT NULL,
	[BRAND_ID] [numeric](38, 0) NULL,
	[DISTRIBUTORGROUP_ID] [numeric](38, 0) NULL,
	[NAME] [varchar](50) NOT NULL,
	[STREETADDRESS] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[ZIPCODE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[CONTACTPERSON] [varchar](50) NULL,
	[WEBSITE] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
 CONSTRAINT [PK__DISTRIBUTOR__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[DISTRIBUTORID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT](
	[ORGANIZATIONALGROUPENTITLEMENTID] [numeric](38, 0) NOT NULL,
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NULL,
	[CUSTOMERENTITLEMENTID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_ORGANIZATIONALGROUPENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[ORGANIZATIONALGROUPENTITLEMENTID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSEGROUP](
	[COURSEGROUPID] [numeric](38, 0) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PARENTCOURSEGROUP_ID] [numeric](38, 0) NULL,
	[CUSTOMERID] [numeric](38, 0) NULL,
	[CUSTOMERENTITLEMENTID] [numeric](38, 0) NULL,
	[DISTRIBUTORENTITLEMENTID] [numeric](38, 0) NULL,
	[ROOTCOURSEGROUP_ID] [numeric](38, 0) NULL,
 CONSTRAINT [PK__COURSEGROUP__1B0907CE] PRIMARY KEY CLUSTERED 
(
	[COURSEGROUPID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAINIINGPLANASSIGNMENT](
	[TRAINIINGPLANASSIGNMENTID] [numeric](38, 0) NOT NULL,
	[TRAINIINGPLANID] [numeric](38, 0) NULL,
	[LEARNERENROLLMENTID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_TRAINIINGPLANASSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[TRAINIINGPLANASSIGNMENTID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNER](
	[LEARNERID] [numeric](38, 0) NOT NULL,
	[VU360USER_ID] [numeric](38, 0) NOT NULL,
	[LEARNERNAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[PROVINCE/STATE] [varchar](50) NULL,
	[POSTALCODE/ZIP] [varchar](50) NULL,
	[CUSTOMER_ID] [numeric](38, 0) NULL,
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[LEARNERID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSADMINISTRATOR](
	[LMSADMINISTRATORID] [numeric](38, 0) NOT NULL,
	[GLOBALADMINISTRATORTF] [int] NOT NULL,
	[VU360USER_ID] [numeric](38, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LMSADMINISTRATORID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAININGADMINISTRATOR](
	[TRAININGADMINISTRATORID] [numeric](38, 0) NOT NULL,
	[VU360USER_ID] [numeric](38, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRAININGADMINISTRATORID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERGROUP](
	[LEARNERGROUPID] [numeric](38, 0) NOT NULL,
	[CUSTOMERID] [numeric](38, 0) NULL,
	[NAME] [varchar](50) NULL,
	[ORGANIZATIONALGROUPID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_LEARNERGROUP] PRIMARY KEY CLUSTERED 
(
	[LEARNERGROUPID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTORGROUP](
	[DISTRIBUTORGROUPID] [numeric](38, 0) NOT NULL,
	[BRAND_ID] [numeric](38, 0) NULL,
	[NAME] [varchar](50) NOT NULL,
	[DISTRIBUTOR] [numeric](38, 0) NULL,
 CONSTRAINT [PK__DISTRIBUTORGROUP__0DAF0CB0] PRIMARY KEY CLUSTERED 
(
	[DISTRIBUTORGROUPID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAINIINGPLAN](
	[TRAINIINGPLANID] [numeric](38, 0) NOT NULL,
	[NAME] [varchar](50) NULL,
	[CUSTOMERID] [numeric](38, 0) NULL,
	[COURSEID] [numeric](38, 0) NULL,
 CONSTRAINT [PK_TRAINIINGPLAN] PRIMARY KEY CLUSTERED 
(
	[TRAINIINGPLANID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMERENTITLEMENT](
	[DISTRIBUTORID] [numeric](38, 0) NULL,
	[CUSTOMERID] [numeric](38, 0) NULL,
	[COURSEID] [numeric](38, 0) NULL,
	[CUSTOMERENTITLEMENTID] [numeric](38, 0) NOT NULL,
	[SEATS] [numeric](38, 0) NOT NULL,
 CONSTRAINT [PK_CUSTOMERENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERENTITLEMENTID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP] FOREIGN KEY([PARENTORGGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP] FOREIGN KEY([ROOTORGGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [LANGUAGE_COURSE] FOREIGN KEY([LANGUAGE_ID])
REFERENCES [dbo].[LANGUAGE] ([LANGUAGEID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_COURSE] FOREIGN KEY([ORGANIZATIONALGROUPID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUPENTITLEMENT_COURSE] FOREIGN KEY([ORGANIZATIONALGROUPENTITLEMENTID])
REFERENCES [dbo].[ORGANIZATIONALGROUPENTITLEMENT] ([ORGANIZATIONALGROUPENTITLEMENTID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERCOURSESTATISTICS] FOREIGN KEY([LEARNERID])
REFERENCES [dbo].[LEARNER] ([LEARNERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLMENT_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS]  WITH CHECK ADD  CONSTRAINT [LEARNERENROLMENT_LEARNERCOURSESTATISTICS] FOREIGN KEY([LEARNERENROLLMENTID])
REFERENCES [dbo].[LEARNERENROLLMENT] ([LEARNERENROLLMENTID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERLEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERLEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERLEARNERGROUP] FOREIGN KEY([LEARNERID])
REFERENCES [dbo].[LEARNER] ([LEARNERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP_LEARNERLEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERLEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [LEARNERGROUP_LEARNERLEARNERGROUP] FOREIGN KEY([LEARNERGROUPID])
REFERENCES [dbo].[LEARNERGROUP] ([LEARNERGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE]  WITH CHECK ADD  CONSTRAINT [ADDRESS_LEARNERPROFILE] FOREIGN KEY([ADDRESSID])
REFERENCES [dbo].[ADDRESS] ([ADDRESSID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERPROFILE] FOREIGN KEY([LEARNERID])
REFERENCES [dbo].[LEARNER] ([LEARNERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [COURSE_LEARNERENROLLMENT] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([COURSEID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [COURSEGROUP_LEARNERENROLLMENT] FOREIGN KEY([COURSEGROUPID])
REFERENCES [dbo].[COURSEGROUP] ([COURSEGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENROLLMENT_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMERENROLLMENT_LEARNERENROLLMENT] FOREIGN KEY([CUSTOMERENTITLEMENTID])
REFERENCES [dbo].[CUSTOMERENTITLEMENT] ([CUSTOMERENTITLEMENTID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERENROLLMENT] FOREIGN KEY([LEARNERID])
REFERENCES [dbo].[LEARNER] ([LEARNERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[BILLINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [BILLINGADDRESS_CUSTOMER] FOREIGN KEY([BILLINGADDRESSID])
REFERENCES [dbo].[ADDRESS] ([ADDRESSID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([BRANDID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRIBUTOR_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_DISTRIBUTOR_CUSTOMER] FOREIGN KEY([DISTRIBUTORID])
REFERENCES [dbo].[DISTRIBUTOR] ([DISTRIBUTORID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_CUSTOMER] FOREIGN KEY([ORGANIZATIONALGROUPID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SHIPPINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [SHIPPINGADDRESS_CUSTOMER] FOREIGN KEY([SHIPPINGADDRESSID])
REFERENCES [dbo].[ADDRESS] ([ADDRESSID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTOR_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([BRANDID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTOR_DISTRIBUTORGROUP] FOREIGN KEY([DISTRIBUTORGROUP_ID])
REFERENCES [dbo].[DISTRIBUTORGROUP] ([DISTRIBUTORGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT] FOREIGN KEY([CUSTOMERENTITLEMENTID])
REFERENCES [dbo].[CUSTOMERENTITLEMENT] ([CUSTOMERENTITLEMENTID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT] FOREIGN KEY([ORGANIZATIONALGROUPID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_ROOTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [COURSEGROUP_ROOTCOURSEGROUP] FOREIGN KEY([ROOTCOURSEGROUP_ID])
REFERENCES [dbo].[COURSEGROUP] ([COURSEGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_COURSEGROUP] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMERENTITLEMENT_COURSEGROUP] FOREIGN KEY([CUSTOMERENTITLEMENTID])
REFERENCES [dbo].[CUSTOMERENTITLEMENT] ([CUSTOMERENTITLEMENTID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTORENTITLEMENT_COURSEGROUP] FOREIGN KEY([DISTRIBUTORENTITLEMENTID])
REFERENCES [dbo].[DISTRIBUTORENTITLEMENT] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSEGROUP_PARENTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [FK_COURSEGROUP_PARENTCOURSEGROUP] FOREIGN KEY([PARENTCOURSEGROUP_ID])
REFERENCES [dbo].[COURSEGROUP] ([COURSEGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]'))
ALTER TABLE [dbo].[TRAINIINGPLANASSIGNMENT]  WITH CHECK ADD  CONSTRAINT [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT] FOREIGN KEY([TRAINIINGPLANID])
REFERENCES [dbo].[TRAINIINGPLAN] ([TRAINIINGPLANID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER]  WITH CHECK ADD  CONSTRAINT [LEARNER_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_LEARNER] FOREIGN KEY([ORGANIZATIONALGROUPID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER]  WITH CHECK ADD  CONSTRAINT [VU360USER_LEARNER] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LMSADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]'))
ALTER TABLE [dbo].[LMSADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [VU360USER_LMSADMINISTRATOR] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [VU360USER_TRAININGADMINISTRATOR] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_LEARNERGROUP] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_LEARNERGROUP] FOREIGN KEY([ORGANIZATIONALGROUPID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ORGANIZATIONALGROUPID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]'))
ALTER TABLE [dbo].[DISTRIBUTORGROUP]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTORGROUP_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([BRANDID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAINIINGPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]'))
ALTER TABLE [dbo].[TRAINIINGPLAN]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_TRAINIINGPLAN] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [COURSE_CUSTOMERENTITLEMENT] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([COURSEID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_CUSTOMERENTITLEMENT] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
