IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERLEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERLEARNERGROUP] DROP CONSTRAINT [LEARNER_LEARNERLEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP_LEARNERLEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERLEARNERGROUP] DROP CONSTRAINT [LEARNERGROUP_LEARNERLEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LMSADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]'))
ALTER TABLE [dbo].[LMSADMINISTRATOR] DROP CONSTRAINT [VU360USER_LMSADMINISTRATOR]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR] DROP CONSTRAINT [VU360USER_TRAININGADMINISTRATOR]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE] DROP CONSTRAINT [ADDRESS_LEARNERPROFILE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE] DROP CONSTRAINT [LEARNER_LEARNERPROFILE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]'))
ALTER TABLE [dbo].[TRAINIINGPLANASSIGNMENT] DROP CONSTRAINT [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS] DROP CONSTRAINT [LEARNER_LEARNERCOURSESTATISTICS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLMENT_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS] DROP CONSTRAINT [LEARNERENROLMENT_LEARNERCOURSESTATISTICS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER] DROP CONSTRAINT [LEARNER_CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER] DROP CONSTRAINT [ORGANIZATIONALGROUP_LEARNER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER] DROP CONSTRAINT [VU360USER_LEARNER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [CUSTOMER_COURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [CUSTOMERENTITLEMENT_COURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [DISTRIBUTORENTITLEMENT_COURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSEGROUP_PARENTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [FK_COURSEGROUP_PARENTCOURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE] DROP CONSTRAINT [LANGUAGE_COURSE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE] DROP CONSTRAINT [ORGANIZATIONALGROUP_COURSE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE] DROP CONSTRAINT [ORGANIZATIONALGROUPENTITLEMENT_COURSE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT] DROP CONSTRAINT [COURSE_CUSTOMERENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT] DROP CONSTRAINT [CUSTOMER_CUSTOMERENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP] DROP CONSTRAINT [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP] DROP CONSTRAINT [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[BILLINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [BILLINGADDRESS_CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [CUSTOMER_BRAND]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRIBUTOR_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [FK_DISTRIBUTOR_CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [ORGANIZATIONALGROUP_CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SHIPPINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [SHIPPINGADDRESS_CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP] DROP CONSTRAINT [CUSTOMER_LEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP] DROP CONSTRAINT [ORGANIZATIONALGROUP_LEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAINIINGPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]'))
ALTER TABLE [dbo].[TRAINIINGPLAN] DROP CONSTRAINT [CUSTOMER_TRAINIINGPLAN]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [COURSE_LEARNERENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [COURSEGROUP_LEARNERENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENROLLMENT_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [CUSTOMERENROLLMENT_LEARNERENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [LEARNER_LEARNERENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT] DROP CONSTRAINT [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT] DROP CONSTRAINT [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR] DROP CONSTRAINT [DISTRIBUTOR_BRAND]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR] DROP CONSTRAINT [DISTRIBUTOR_DISTRIBUTORGROUP]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]'))
ALTER TABLE [dbo].[DISTRIBUTORGROUP] DROP CONSTRAINT [DISTRIBUTORGROUP_BRAND]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERLEARNERGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERLEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]') AND type in (N'U'))
DROP TABLE [dbo].[LMSADMINISTRATOR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]') AND type in (N'U'))
DROP TABLE [dbo].[TRAININGADMINISTRATOR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360_SEQ]') AND type in (N'U'))
DROP TABLE [dbo].[VU360_SEQ]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERPROFILE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITEVENT]') AND type in (N'U'))
DROP TABLE [dbo].[AUDITEVENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]') AND type in (N'U'))
DROP TABLE [dbo].[TRAINIINGPLANASSIGNMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERCOURSESTATISTICS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_COURSEGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[COURSE_COURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORDISTRIBUTORGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTORDISTRIBUTORGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENROLLMENT]') AND type in (N'U'))
DROP TABLE [dbo].[ENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[COURSEGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE]') AND type in (N'U'))
DROP TABLE [dbo].[COURSE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMERENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[ORGANIZATIONALGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERGROUP]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER]') AND type in (N'U'))
DROP TABLE [dbo].[VU360USER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[ADDRESS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]') AND type in (N'U'))
DROP TABLE [dbo].[TRAINIINGPLAN]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERENROLLMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE]') AND type in (N'U'))
DROP TABLE [dbo].[LANGUAGE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTORENTITLEMENT]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRAND]') AND type in (N'U'))
DROP TABLE [dbo].[BRAND]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTOR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTORGROUP]
