/****** Object:  ForeignKey [LANGUAGE_COURSE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE] DROP CONSTRAINT [LANGUAGE_COURSE]
GO
/****** Object:  ForeignKey [COURSEGROUP_ROOTCOURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_ROOTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [COURSEGROUP_ROOTCOURSEGROUP]
GO
/****** Object:  ForeignKey [CUSTOMER_COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [CUSTOMER_COURSEGROUP]
GO
/****** Object:  ForeignKey [FK_COURSEGROUP_PARENTCOURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSEGROUP_PARENTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP] DROP CONSTRAINT [FK_COURSEGROUP_PARENTCOURSEGROUP]
GO
/****** Object:  ForeignKey [BILLINGADDRESS_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[BILLINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [BILLINGADDRESS_CUSTOMER]
GO
/****** Object:  ForeignKey [CUSTOMER_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [CUSTOMER_BRAND]
GO
/****** Object:  ForeignKey [FK_DISTRIBUTOR_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRIBUTOR_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [FK_DISTRIBUTOR_CUSTOMER]
GO
/****** Object:  ForeignKey [SHIPPINGADDRESS_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SHIPPINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [SHIPPINGADDRESS_CUSTOMER]
GO
/****** Object:  ForeignKey [CUSTOMER_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT] DROP CONSTRAINT [CUSTOMER_CUSTOMERENTITLEMENT]
GO
/****** Object:  ForeignKey [FK_COURSE_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSE_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT] DROP CONSTRAINT [FK_COURSE_CUSTOMERENTITLEMENT]
GO
/****** Object:  ForeignKey [DISTRIBUTOR_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR] DROP CONSTRAINT [DISTRIBUTOR_BRAND]
GO
/****** Object:  ForeignKey [DISTRIBUTORGROUP_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]'))
ALTER TABLE [dbo].[DISTRIBUTORGROUP] DROP CONSTRAINT [DISTRIBUTORGROUP_BRAND]
GO
/****** Object:  ForeignKey [LEARNER_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER] DROP CONSTRAINT [LEARNER_CUSTOMER]
GO
/****** Object:  ForeignKey [VU360USER_LEARNER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER] DROP CONSTRAINT [VU360USER_LEARNER]
GO
/****** Object:  ForeignKey [LEARNER_LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS] DROP CONSTRAINT [LEARNER_LEARNERCOURSESTATISTICS]
GO
/****** Object:  ForeignKey [LEARNERENROLMENT_LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLMENT_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS] DROP CONSTRAINT [LEARNERENROLMENT_LEARNERCOURSESTATISTICS]
GO
/****** Object:  ForeignKey [COURSE_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [COURSE_LEARNERENROLLMENT]
GO
/****** Object:  ForeignKey [CUSTOMERENROLLMENT_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENROLLMENT_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [CUSTOMERENROLLMENT_LEARNERENROLLMENT]
GO
/****** Object:  ForeignKey [LEARNER_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT] DROP CONSTRAINT [LEARNER_LEARNERENROLLMENT]
GO
/****** Object:  ForeignKey [CUSTOMER_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP] DROP CONSTRAINT [CUSTOMER_LEARNERGROUP]
GO
/****** Object:  ForeignKey [ORGANIZATIONALGROUP_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP] DROP CONSTRAINT [ORGANIZATIONALGROUP_LEARNERGROUP]
GO
/****** Object:  ForeignKey [ADDRESS_LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE] DROP CONSTRAINT [ADDRESS_LEARNERPROFILE]
GO
/****** Object:  ForeignKey [LEARNER_LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE] DROP CONSTRAINT [LEARNER_LEARNERPROFILE]
GO
/****** Object:  ForeignKey [COURSE_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION] DROP CONSTRAINT [COURSE_LEARNINGSESSION]
GO
/****** Object:  ForeignKey [LEARNER_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION] DROP CONSTRAINT [LEARNER_LEARNINGSESSION]
GO
/****** Object:  ForeignKey [LEARNERENROLLMENT_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION] DROP CONSTRAINT [LEARNERENROLLMENT_LEARNINGSESSION]
GO
/****** Object:  ForeignKey [VU360USER_LMSADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LMSADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]'))
ALTER TABLE [dbo].[LMSADMINISTRATOR] DROP CONSTRAINT [VU360USER_LMSADMINISTRATOR]
GO
/****** Object:  ForeignKey [FK_LMSFEATURE_LMSFEATURE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LMSFEATURE_LMSFEATURE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSFEATURE]'))
ALTER TABLE [dbo].[LMSFEATURE] DROP CONSTRAINT [FK_LMSFEATURE_LMSFEATURE]
GO
/****** Object:  ForeignKey [LMSFEATURE_LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LMSFEATURE_LMSPERMISSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]'))
ALTER TABLE [dbo].[LMSPERMISSION] DROP CONSTRAINT [LMSFEATURE_LMSPERMISSION]
GO
/****** Object:  ForeignKey [LMSROLE_LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LMSROLE_LMSPERMISSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]'))
ALTER TABLE [dbo].[LMSPERMISSION] DROP CONSTRAINT [LMSROLE_LMSPERMISSION]
GO
/****** Object:  ForeignKey [CUSTOMER_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_ORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP] DROP CONSTRAINT [CUSTOMER_ORGANIZATIONALGROUP]
GO
/****** Object:  ForeignKey [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP] DROP CONSTRAINT [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]
GO
/****** Object:  ForeignKey [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP] DROP CONSTRAINT [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]
GO
/****** Object:  ForeignKey [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT] DROP CONSTRAINT [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]
GO
/****** Object:  ForeignKey [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT] DROP CONSTRAINT [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]
GO
/****** Object:  ForeignKey [CUSTOMER_REGISTRATIONINVITATION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_REGISTRATIONINVITATION]') AND parent_object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION]'))
ALTER TABLE [dbo].[REGISTRATIONINVITATION] DROP CONSTRAINT [CUSTOMER_REGISTRATIONINVITATION]
GO
/****** Object:  ForeignKey [CUSTOMER_TRAINIINGPLAN]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAINIINGPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]'))
ALTER TABLE [dbo].[TRAINIINGPLAN] DROP CONSTRAINT [CUSTOMER_TRAINIINGPLAN]
GO
/****** Object:  ForeignKey [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]'))
ALTER TABLE [dbo].[TRAINIINGPLANASSIGNMENT] DROP CONSTRAINT [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]
GO
/****** Object:  ForeignKey [CUSTOMER_TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR] DROP CONSTRAINT [CUSTOMER_TRAININGADMINISTRATOR]
GO
/****** Object:  ForeignKey [VU360USER_TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR] DROP CONSTRAINT [VU360USER_TRAININGADMINISTRATOR]
GO
/****** Object:  Default [DF_LEARNINGSESSION_STRINGCOURSEID]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_LEARNINGSESSION_STRINGCOURSEID]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
Begin
ALTER TABLE [dbo].[LEARNINGSESSION] DROP CONSTRAINT [DF_LEARNINGSESSION_STRINGCOURSEID]

End
GO
/****** Object:  Table [dbo].[LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]') AND type in (N'U'))
DROP TABLE [dbo].[LMSPERMISSION]
GO
/****** Object:  Table [dbo].[TRAINIINGPLANASSIGNMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]') AND type in (N'U'))
DROP TABLE [dbo].[TRAINIINGPLANASSIGNMENT]
GO
/****** Object:  Table [dbo].[REGISTRATIONINVITATION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION]') AND type in (N'U'))
DROP TABLE [dbo].[REGISTRATIONINVITATION]
GO
/****** Object:  Table [dbo].[TRAINIINGPLAN]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]') AND type in (N'U'))
DROP TABLE [dbo].[TRAINIINGPLAN]
GO
/****** Object:  Table [dbo].[COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[COURSEGROUP]
GO
/****** Object:  Table [dbo].[LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERCOURSESTATISTICS]
GO
/****** Object:  Table [dbo].[LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNINGSESSION]
GO
/****** Object:  Table [dbo].[LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERENROLLMENT]
GO
/****** Object:  Table [dbo].[LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERPROFILE]
GO
/****** Object:  Table [dbo].[DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTORGROUP]
GO
/****** Object:  Table [dbo].[ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]
GO
/****** Object:  Table [dbo].[CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMERENTITLEMENT]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE]') AND type in (N'U'))
DROP TABLE [dbo].[COURSE]
GO
/****** Object:  Table [dbo].[LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNERGROUP]
GO
/****** Object:  Table [dbo].[ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[ORGANIZATIONALGROUP]
GO
/****** Object:  Table [dbo].[LEARNER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNER]
GO
/****** Object:  Table [dbo].[TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]') AND type in (N'U'))
DROP TABLE [dbo].[TRAININGADMINISTRATOR]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMER]
GO
/****** Object:  Table [dbo].[DISTRIBUTOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTOR]
GO
/****** Object:  Table [dbo].[LMSADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]') AND type in (N'U'))
DROP TABLE [dbo].[LMSADMINISTRATOR]
GO
/****** Object:  Table [dbo].[LMSFEATURE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSFEATURE]') AND type in (N'U'))
DROP TABLE [dbo].[LMSFEATURE]
GO
/****** Object:  Table [dbo].[LMSROLE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSROLE]') AND type in (N'U'))
DROP TABLE [dbo].[LMSROLE]
GO
/****** Object:  Table [dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT]
GO
/****** Object:  Table [dbo].[COURSEGROUP_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_CUSTOMERENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[COURSEGROUP_CUSTOMERENTITLEMENT]
GO
/****** Object:  Table [dbo].[LEARNER_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNER_LEARNERGROUP]
GO
/****** Object:  Table [dbo].[REGISTRATIONINVITATION_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION_LEARNERGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[REGISTRATIONINVITATION_LEARNERGROUP]
GO
/****** Object:  Table [dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP]
GO
/****** Object:  Table [dbo].[LEARNER_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_ORGANIZATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LEARNER_ORGANIZATIONALGROUP]
GO
/****** Object:  Table [dbo].[VU360USER_ROLE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_ROLE]') AND type in (N'U'))
DROP TABLE [dbo].[VU360USER_ROLE]
GO
/****** Object:  Table [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP]
GO
/****** Object:  Table [dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS]') AND type in (N'U'))
DROP TABLE [dbo].[ADDRESS]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE]') AND type in (N'U'))
DROP TABLE [dbo].[LANGUAGE]
GO
/****** Object:  Table [dbo].[ENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENROLLMENT]') AND type in (N'U'))
DROP TABLE [dbo].[ENROLLMENT]
GO
/****** Object:  Table [dbo].[COURSE_COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_COURSEGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[COURSE_COURSEGROUP]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRAND]') AND type in (N'U'))
DROP TABLE [dbo].[BRAND]
GO
/****** Object:  Table [dbo].[AUDITEVENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITEVENT]') AND type in (N'U'))
DROP TABLE [dbo].[AUDITEVENT]
GO
/****** Object:  Table [dbo].[DISTRIBUTORENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[DISTRIBUTORENTITLEMENT]
GO
/****** Object:  Table [dbo].[VU360USER]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER]') AND type in (N'U'))
DROP TABLE [dbo].[VU360USER]
GO
/****** Object:  Table [dbo].[VU360_SEQ]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360_SEQ]') AND type in (N'U'))
DROP TABLE [dbo].[VU360_SEQ]
GO
/****** Object:  Table [dbo].[COURSE_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_CUSTOMERENTITLEMENT]') AND type in (N'U'))
DROP TABLE [dbo].[COURSE_CUSTOMERENTITLEMENT]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRY]') AND type in (N'U'))
DROP TABLE [dbo].[COUNTRY]
GO
/****** Object:  Table [dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STATE]') AND type in (N'U'))
DROP TABLE [dbo].[STATE]
GO
/****** Object:  Table [dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP]
GO
/****** Object:  Table [dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAININGADMINISTRATOR_ORGANIZATIONALGROUP](
	[TRAININGADMINISTRATOR_ID] [bigint] NOT NULL,
	[ORGANIZATIONALGROUP_ID] [bigint] NOT NULL
)
END
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STATE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STATE](
	[STATEABBR] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
END
GO
/****** Object:  Table [dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSADMINISTRATOR_DISTRIBUTORGROUP](
	[LMSADMINISTRATOR_ID] [bigint] NOT NULL,
	[DISTRIBUTORGROUP_ID] [bigint] NOT NULL
)
END
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
END
GO
/****** Object:  Table [dbo].[COURSE_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_CUSTOMERENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSE_CUSTOMERENTITLEMENT](
	[COURSE_ID] [bigint] NOT NULL,
	[CUSTOMERENTITLEMENT_ID] [bigint] NOT NULL
)
END
GO
INSERT [dbo].[COURSE_CUSTOMERENTITLEMENT] ([COURSE_ID], [CUSTOMERENTITLEMENT_ID]) VALUES (1, 1)
INSERT [dbo].[COURSE_CUSTOMERENTITLEMENT] ([COURSE_ID], [CUSTOMERENTITLEMENT_ID]) VALUES (2, 2)
INSERT [dbo].[COURSE_CUSTOMERENTITLEMENT] ([COURSE_ID], [CUSTOMERENTITLEMENT_ID]) VALUES (3, 3)
/****** Object:  Table [dbo].[VU360_SEQ]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360_SEQ]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VU360_SEQ](
	[NEXT_ID] [bigint] NOT NULL,
	[TABLE_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)
END
GO
INSERT [dbo].[VU360_SEQ] ([NEXT_ID], [TABLE_NAME]) VALUES (460, N'ADDRESS')
INSERT [dbo].[VU360_SEQ] ([NEXT_ID], [TABLE_NAME]) VALUES (10, N'AUDITEVENT')
INSERT [dbo].[VU360_SEQ] ([NEXT_ID], [TABLE_NAME]) VALUES (10, N'BRAND')
/****** Object:  Table [dbo].[VU360USER]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VU360USER](
	[ID] [bigint] NOT NULL,
	[ACCEPTEDEULATF] [int] NOT NULL,
	[ACCOUNTNONEXPIREDTF] [int] NOT NULL,
	[ACCOUNTNONLOCKEDTF] [int] NOT NULL,
	[CHANGEPASSWORDONLOGINTF] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREDENTIALSNONEXPIREDTF] [int] NOT NULL,
	[DOMAIN] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAILADDRESS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ENABLEDTF] [int] NOT NULL,
	[FIRSTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LASTLOGONDATE] [datetime] NULL,
	[LASTNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LASTUPDATEDDATE] [datetime] NULL,
	[NEWUSERTF] [int] NOT NULL,
	[NUMLOGONS] [int] NOT NULL,
	[PASSWORD] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USERNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[USERGUID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MIDDLENAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EXPIRATIONDATE] [datetime] NULL,
	[VISIBLEONREPORTTF] [int] NULL,
 CONSTRAINT [PK__VU360USER__07F6335A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[VU360USER] ([ID], [ACCEPTEDEULATF], [ACCOUNTNONEXPIREDTF], [ACCOUNTNONLOCKEDTF], [CHANGEPASSWORDONLOGINTF], [CREATEDDATE], [CREDENTIALSNONEXPIREDTF], [DOMAIN], [EMAILADDRESS], [ENABLEDTF], [FIRSTNAME], [LASTLOGONDATE], [LASTNAME], [LASTUPDATEDDATE], [NEWUSERTF], [NUMLOGONS], [PASSWORD], [USERNAME], [USERGUID], [MIDDLENAME], [EXPIRATIONDATE], [VISIBLEONREPORTTF]) VALUES (2, 0, 1, 1, 0, CAST(0x00009B6E00000000 AS DateTime), 1, NULL, N'manager', 1, N'      Ashis', CAST(0x00009B810128182C AS DateTime), N'mukherjee', NULL, 0, 57, N'manager', N'manager', N'aqw33', N'Taru', NULL, NULL)
/****** Object:  Table [dbo].[DISTRIBUTORENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTORENTITLEMENT](
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_DISTRIBUTORENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[DISTRIBUTORENTITLEMENT] ([ID]) VALUES (1)
/****** Object:  Table [dbo].[AUDITEVENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDITEVENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDITEVENT](
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_AUDITEVENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRAND]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BRAND](
	[ID] [bigint] NOT NULL,
	[BRANDKEY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__BRAND__72910220] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[BRAND] ([ID], [BRANDKEY], [NAME]) VALUES (1, N'xxx', N'tathya')
INSERT [dbo].[BRAND] ([ID], [BRANDKEY], [NAME]) VALUES (2, N'yyy', N'tathyaDotCom')
/****** Object:  Table [dbo].[COURSE_COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_COURSEGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSE_COURSEGROUP](
	[COURSE_ID] [int] NOT NULL,
	[COURSEGROUP_ID] [int] NOT NULL
)
END
GO
INSERT [dbo].[COURSE_COURSEGROUP] ([COURSE_ID], [COURSEGROUP_ID]) VALUES (1, 5)
INSERT [dbo].[COURSE_COURSEGROUP] ([COURSE_ID], [COURSEGROUP_ID]) VALUES (2, 5)
INSERT [dbo].[COURSE_COURSEGROUP] ([COURSE_ID], [COURSEGROUP_ID]) VALUES (3, 4)
/****** Object:  Table [dbo].[ENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENROLLMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ENROLLMENT](
	[ID] [bigint] NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
 CONSTRAINT [PK__ENROLLMENT__756D6ECB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LANGUAGE](
	[ID] [bigint] NOT NULL,
	[COUNTRY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LANGUAGE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VARIANT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__LANGUAGE__00551192] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LANGUAGE] ([ID], [COUNTRY], [LANGUAGE], [VARIANT]) VALUES (1, N'India', N'English', N'xx')
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ADDRESS](
	[ID] [bigint] NOT NULL,
	[STREETADDRESS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STREETADDRESS2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STREETADDRESS3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZIPCODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROVINCE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COUNTRY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[ADDRESS] ([ID], [STREETADDRESS], [STREETADDRESS2], [STREETADDRESS3], [CITY], [ZIPCODE], [STATE], [PROVINCE], [COUNTRY]) VALUES (1, N'', N'', NULL, N'bombay', N'700059', N'WB', NULL, NULL)
INSERT [dbo].[ADDRESS] ([ID], [STREETADDRESS], [STREETADDRESS2], [STREETADDRESS3], [CITY], [ZIPCODE], [STATE], [PROVINCE], [COUNTRY]) VALUES (2, N'ultadanga', N'india', NULL, N'KOLKATA', N'700001', N'W.B.', N'kol', N'kol')
INSERT [dbo].[ADDRESS] ([ID], [STREETADDRESS], [STREETADDRESS2], [STREETADDRESS3], [CITY], [ZIPCODE], [STATE], [PROVINCE], [COUNTRY]) VALUES (11, N'', N'', NULL, N'', N'', NULL, NULL, NULL)
/****** Object:  Table [dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_DISTRIBUTORGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTOR_DISTRIBUTORGROUP](
	[DISTRIBUTOR_ID] [bigint] NULL,
	[DISTRIBUTORGROUP_ID] [bigint] NULL
)
END
GO
INSERT [dbo].[DISTRIBUTOR_DISTRIBUTORGROUP] ([DISTRIBUTOR_ID], [DISTRIBUTORGROUP_ID]) VALUES (1, 1)
/****** Object:  Table [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP](
	[TRAININGADMINISTRATOR_ID] [bigint] NULL,
	[ORGANISATIONALGROUP_ID] [bigint] NULL
)
END
GO
INSERT [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP] ([TRAININGADMINISTRATOR_ID], [ORGANISATIONALGROUP_ID]) VALUES (1, 1)
INSERT [dbo].[TRININGADMINISTRATOR_ORGANISATIONALGROUP] ([TRAININGADMINISTRATOR_ID], [ORGANISATIONALGROUP_ID]) VALUES (1, 2)
/****** Object:  Table [dbo].[VU360USER_ROLE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_ROLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VU360USER_ROLE](
	[USER_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL
)
END
GO
INSERT [dbo].[VU360USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (1, 1)
INSERT [dbo].[VU360USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (2, 1)
INSERT [dbo].[VU360USER_ROLE] ([USER_ID], [ROLE_ID]) VALUES (3, 1)
/****** Object:  Table [dbo].[LEARNER_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_ORGANIZATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNER_ORGANIZATIONALGROUP](
	[LEARNER_ID] [bigint] NOT NULL,
	[ORGANIZATIONALGROUP_ID] [bigint] NOT NULL
)
END
GO
INSERT [dbo].[LEARNER_ORGANIZATIONALGROUP] ([LEARNER_ID], [ORGANIZATIONALGROUP_ID]) VALUES (1, 1)
INSERT [dbo].[LEARNER_ORGANIZATIONALGROUP] ([LEARNER_ID], [ORGANIZATIONALGROUP_ID]) VALUES (1, 2)
INSERT [dbo].[LEARNER_ORGANIZATIONALGROUP] ([LEARNER_ID], [ORGANIZATIONALGROUP_ID]) VALUES (2, 1)
/****** Object:  Table [dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP](
	[REGISTRATIONINVITATION_ID] [bigint] NULL,
	[ORGANIZATIONALGROUP_ID] [bigint] NULL
)
END
GO
INSERT [dbo].[REGISTRATIONINVITATION_ORGANIZATIONALGROUP] ([REGISTRATIONINVITATION_ID], [ORGANIZATIONALGROUP_ID]) VALUES (11, 1)
/****** Object:  Table [dbo].[REGISTRATIONINVITATION_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION_LEARNERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGISTRATIONINVITATION_LEARNERGROUP](
	[REGISTRATIONINVITATION_ID] [bigint] NULL,
	[LEARNERGROUP_ID] [bigint] NULL
)
END
GO
INSERT [dbo].[REGISTRATIONINVITATION_LEARNERGROUP] ([REGISTRATIONINVITATION_ID], [LEARNERGROUP_ID]) VALUES (11, 1)
/****** Object:  Table [dbo].[LEARNER_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNER_LEARNERGROUP](
	[LEARNER_ID] [bigint] NULL,
	[LEARNERGROUP_ID] [bigint] NULL
)
END
GO
INSERT [dbo].[LEARNER_LEARNERGROUP] ([LEARNER_ID], [LEARNERGROUP_ID]) VALUES (1, 1)
INSERT [dbo].[LEARNER_LEARNERGROUP] ([LEARNER_ID], [LEARNERGROUP_ID]) VALUES (2, 1)
INSERT [dbo].[LEARNER_LEARNERGROUP] ([LEARNER_ID], [LEARNERGROUP_ID]) VALUES (211, 1)
/****** Object:  Table [dbo].[COURSEGROUP_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_CUSTOMERENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSEGROUP_CUSTOMERENTITLEMENT](
	[COURSEGROUP_ID] [bigint] NOT NULL,
	[CUSTOMERENTITLEMENT_ID] [bigint] NOT NULL
)
END
GO
/****** Object:  Table [dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSEGROUP_DISTRIBUTORENTITLEMENT](
	[COURSEGROUP_ID] [bigint] NOT NULL,
	[DISTRIBUTORENTITLEMENT_ID] [bigint] NOT NULL
)
END
GO
/****** Object:  Table [dbo].[LMSROLE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSROLE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSROLE](
	[ROLENAME] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ID] [bigint] NOT NULL,
	[ROLE_TYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LMSROLE] ([ROLENAME], [ID], [ROLE_TYPE]) VALUES (N'LEARNER', 1, N'ROLE_LEARNER')
INSERT [dbo].[LMSROLE] ([ROLENAME], [ID], [ROLE_TYPE]) VALUES (N'MANAGER', 2, N'ROLE_TRAININGADMINISTRATOR')
INSERT [dbo].[LMSROLE] ([ROLENAME], [ID], [ROLE_TYPE]) VALUES (N'ADMIN', 3, N'ROLE_LMSADMINISTRATOR')
/****** Object:  Table [dbo].[LMSFEATURE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSFEATURE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSFEATURE](
	[ID] [bigint] NOT NULL,
	[FEATURECODE] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FEATUREDESC] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FEATURENAME] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LMSMODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PARENT_ID] [bigint] NULL,
 CONSTRAINT [PK_FEATURE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[LMSADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSADMINISTRATOR](
	[ID] [bigint] NOT NULL,
	[GLOBALADMINISTRATORTF] [int] NOT NULL,
	[VU360USER_ID] [bigint] NOT NULL,
 CONSTRAINT [PK__LMSADMINISTRATOR__0697FACD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LMSADMINISTRATOR] ([ID], [GLOBALADMINISTRATORTF], [VU360USER_ID]) VALUES (261, 1, 211)
/****** Object:  Table [dbo].[DISTRIBUTOR]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTOR](
	[ID] [bigint] NOT NULL,
	[BRAND_ID] [bigint] NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[STREETADDRESS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZIPCODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTACTPERSON] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WEBSITE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__DISTRIBUTOR__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[DISTRIBUTOR] ([ID], [BRAND_ID], [NAME], [STREETADDRESS], [CITY], [STATE], [ZIPCODE], [EMAIL], [CONTACTPERSON], [WEBSITE], [STATUS]) VALUES (1, 1, N'Tathya', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [bigint] NOT NULL,
	[BRAND_ID] [bigint] NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[STREETADDRESS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZIPCODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CONTACTPERSON] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BILLINGADDRESS_ID] [bigint] NULL,
	[SHIPPINGADDRESS_ID] [bigint] NULL,
	[DISTRIBUTOR_ID] [bigint] NULL,
 CONSTRAINT [PK__CUSTOMER__060DEAE8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[CUSTOMER] ([ID], [BRAND_ID], [NAME], [STREETADDRESS], [CITY], [ZIPCODE], [EMAIL], [CONTACTPERSON], [STATUS], [BILLINGADDRESS_ID], [SHIPPINGADDRESS_ID], [DISTRIBUTOR_ID]) VALUES (1, 1, N'360', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
/****** Object:  Table [dbo].[TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAININGADMINISTRATOR](
	[ID] [bigint] NOT NULL,
	[VU360USER_ID] [bigint] NOT NULL,
	[MANAGEALLORGANIZATIONALGROUPTF] [int] NULL,
	[CUSTOMER_ID] [bigint] NULL,
 CONSTRAINT [PK__TRAININGADMINIST__0880433F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[TRAININGADMINISTRATOR] ([ID], [VU360USER_ID], [MANAGEALLORGANIZATIONALGROUPTF], [CUSTOMER_ID]) VALUES (1, 2, 0, 1)
INSERT [dbo].[TRAININGADMINISTRATOR] ([ID], [VU360USER_ID], [MANAGEALLORGANIZATIONALGROUPTF], [CUSTOMER_ID]) VALUES (61, 311, 1, 1)
INSERT [dbo].[TRAININGADMINISTRATOR] ([ID], [VU360USER_ID], [MANAGEALLORGANIZATIONALGROUPTF], [CUSTOMER_ID]) VALUES (62, 312, 1, 1)
/****** Object:  Table [dbo].[LEARNER]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNER](
	[ID] [bigint] NOT NULL,
	[VU360USER_ID] [bigint] NOT NULL,
	[LEARNERNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDRESS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROVINCE/STATE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[POSTALCODE/ZIP] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUSTOMER_ID] [bigint] NULL,
 CONSTRAINT [PK__LEARNER__04AFB25B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LEARNER] ([ID], [VU360USER_ID], [LEARNERNAME], [EMAIL], [ADDRESS], [CITY], [PROVINCE/STATE], [POSTALCODE/ZIP], [CUSTOMER_ID]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LEARNER] ([ID], [VU360USER_ID], [LEARNERNAME], [EMAIL], [ADDRESS], [CITY], [PROVINCE/STATE], [POSTALCODE/ZIP], [CUSTOMER_ID]) VALUES (2, 2, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[LEARNER] ([ID], [VU360USER_ID], [LEARNERNAME], [EMAIL], [ADDRESS], [CITY], [PROVINCE/STATE], [POSTALCODE/ZIP], [CUSTOMER_ID]) VALUES (11, 11, NULL, NULL, NULL, NULL, NULL, NULL, 1)
/****** Object:  Table [dbo].[ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORGANIZATIONALGROUP](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENTORGGROUP_ID] [bigint] NULL,
	[ROOTORGGROUP_ID] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
 CONSTRAINT [PK__ORGANIZATIONALGR__6CD828CA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[ORGANIZATIONALGROUP] ([ID], [NAME], [PARENTORGGROUP_ID], [ROOTORGGROUP_ID], [CUSTOMER_ID]) VALUES (1, N'Technology', 2, 2, 1)
INSERT [dbo].[ORGANIZATIONALGROUP] ([ID], [NAME], [PARENTORGGROUP_ID], [ROOTORGGROUP_ID], [CUSTOMER_ID]) VALUES (2, N'360Training.com', NULL, NULL, 1)
INSERT [dbo].[ORGANIZATIONALGROUP] ([ID], [NAME], [PARENTORGGROUP_ID], [ROOTORGGROUP_ID], [CUSTOMER_ID]) VALUES (3, N'Production', 2, 2, 1)
/****** Object:  Table [dbo].[LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERGROUP](
	[ID] [bigint] NOT NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORGANIZATIONALGROUP_ID] [bigint] NULL,
 CONSTRAINT [PK_LEARNERGROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LEARNERGROUP] ([ID], [CUSTOMER_ID], [NAME], [ORGANIZATIONALGROUP_ID]) VALUES (1, 1, N'LearnerGroup1', 1)
INSERT [dbo].[LEARNERGROUP] ([ID], [CUSTOMER_ID], [NAME], [ORGANIZATIONALGROUP_ID]) VALUES (2, 1, N'LeanerGroup2', 2)
INSERT [dbo].[LEARNERGROUP] ([ID], [CUSTOMER_ID], [NAME], [ORGANIZATIONALGROUP_ID]) VALUES (3, 1, N'LearnerGroup3', 3)
/****** Object:  Table [dbo].[COURSE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSE](
	[ID] [bigint] NOT NULL,
	[GUID] [varchar](16) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LANGUAGE_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VERSION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[COURSESTATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RETIREDTF] [bit] NULL,
	[KEYWORDS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COURSETYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DESCRIPTION] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IMAGEOFCOURSE] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[APPROVEDCOURSEHOURS] [bigint] NULL,
	[COURSTYPE_CATEGORY] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DELIVERYMETHOD] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CEUS] [bigint] NULL,
	[LEARNINGOBJECTIVES] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TOPICSCOVERED] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[QUIZINFO] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FINALEXAMINFO] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COURSEPRE_REQ] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE_REGREQ] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ENDOFCOURSEINSTRUCTIONS] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[APPROVALNUMBER] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDITIONALMATERIALS] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SUBJECTMATTEREXPERTINFO] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRODUCTPRICE] [money] NULL,
	[CURRENCY] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REGULATINGBODY] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ASSESMENTS] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COURSEID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COURSEGUIDE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MSRP] [decimal](18, 0) NULL,
 CONSTRAINT [PK__COURSE__1FCDBCEB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMERENTITLEMENT](
	[DISTRIBUTOR_ID] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[COURSE_ID] [bigint] NULL,
	[ID] [bigint] NOT NULL,
	[SEATS] [bigint] NOT NULL,
	[ALLOWSELFENROLLMENTTF] [bit] NULL,
	[ALLOWUNLIMITEDENROLLMENTS] [bit] NULL,
 CONSTRAINT [PK_CUSTOMERENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[CUSTOMERENTITLEMENT] ([DISTRIBUTOR_ID], [CUSTOMER_ID], [COURSE_ID], [ID], [SEATS], [ALLOWSELFENROLLMENTTF], [ALLOWUNLIMITEDENROLLMENTS]) VALUES (1, 1, 1, 1, 10, 1, NULL)
INSERT [dbo].[CUSTOMERENTITLEMENT] ([DISTRIBUTOR_ID], [CUSTOMER_ID], [COURSE_ID], [ID], [SEATS], [ALLOWSELFENROLLMENTTF], [ALLOWUNLIMITEDENROLLMENTS]) VALUES (1, 1, 2, 2, 15, 1, NULL)
INSERT [dbo].[CUSTOMERENTITLEMENT] ([DISTRIBUTOR_ID], [CUSTOMER_ID], [COURSE_ID], [ID], [SEATS], [ALLOWSELFENROLLMENTTF], [ALLOWUNLIMITEDENROLLMENTS]) VALUES (1, 1, 3, 3, 7, 1, NULL)
/****** Object:  Table [dbo].[ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT](
	[ID] [bigint] NOT NULL,
	[ORGANIZATIONALGROUP_ID] [bigint] NULL,
	[CUSTOMERENTITLEMENT_ID] [bigint] NULL,
 CONSTRAINT [PK_ORGANIZATIONALGROUPENTITLEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[DISTRIBUTORGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRIBUTORGROUP](
	[ID] [bigint] NOT NULL,
	[BRAND_ID] [bigint] NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK__DISTRIBUTORGROUP__0DAF0CB0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[DISTRIBUTORGROUP] ([ID], [BRAND_ID], [NAME]) VALUES (1, 1, N'TathyaGroup')
/****** Object:  Table [dbo].[LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERPROFILE](
	[ID] [bigint] NOT NULL,
	[LEARNER_ID] [bigint] NULL,
	[ADDRESS_ID] [bigint] NULL,
	[MOBILEPHONE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OFFICEPHONE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OFFICEPHONEEXT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_LEARNERPROFILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LEARNERPROFILE] ([ID], [LEARNER_ID], [ADDRESS_ID], [MOBILEPHONE], [OFFICEPHONE], [OFFICEPHONEEXT]) VALUES (11, 11, 11, N'', N'', N'')
INSERT [dbo].[LEARNERPROFILE] ([ID], [LEARNER_ID], [ADDRESS_ID], [MOBILEPHONE], [OFFICEPHONE], [OFFICEPHONEEXT]) VALUES (111, 111, 111, N'9433951215', N'2574224', N'246')
INSERT [dbo].[LEARNERPROFILE] ([ID], [LEARNER_ID], [ADDRESS_ID], [MOBILEPHONE], [OFFICEPHONE], [OFFICEPHONEEXT]) VALUES (211, 211, 211, N'', N'', N'')
/****** Object:  Table [dbo].[LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERENROLLMENT](
	[ID] [bigint] NOT NULL,
	[ENROLLMENTDATE] [datetime] NULL,
	[COURSESTARTDATE] [datetime] NULL,
	[ENROLLMENTSTATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUSTOMERENTITLEMENT_ID] [bigint] NULL,
	[LEARNER_ID] [bigint] NULL,
	[COURSE_ID] [bigint] NULL,
	[LEARNERENROLLMENTTYPE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_LEARNERENROLLMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VALUES = NORMAL,REGULATED' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'LEARNERENROLLMENT', @level2type=N'COLUMN', @level2name=N'LEARNERENROLLMENTTYPE'
GO
INSERT [dbo].[LEARNERENROLLMENT] ([ID], [ENROLLMENTDATE], [COURSESTARTDATE], [ENROLLMENTSTATUS], [CUSTOMERENTITLEMENT_ID], [LEARNER_ID], [COURSE_ID], [LEARNERENROLLMENTTYPE]) VALUES (1, CAST(0x00009B5800C876AD AS DateTime), CAST(0x00009B7000000000 AS DateTime), N'active', 1, 1, 1, NULL)
INSERT [dbo].[LEARNERENROLLMENT] ([ID], [ENROLLMENTDATE], [COURSESTARTDATE], [ENROLLMENTSTATUS], [CUSTOMERENTITLEMENT_ID], [LEARNER_ID], [COURSE_ID], [LEARNERENROLLMENTTYPE]) VALUES (2, CAST(0x00009B5800C876B6 AS DateTime), CAST(0x00009B6600000000 AS DateTime), N'active', 2, 1, 2, NULL)
INSERT [dbo].[LEARNERENROLLMENT] ([ID], [ENROLLMENTDATE], [COURSESTARTDATE], [ENROLLMENTSTATUS], [CUSTOMERENTITLEMENT_ID], [LEARNER_ID], [COURSE_ID], [LEARNERENROLLMENTTYPE]) VALUES (3, CAST(0x00009B4700000000 AS DateTime), CAST(0x00009B5000000000 AS DateTime), N'active', 3, 1, 3, NULL)
/****** Object:  Table [dbo].[LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNINGSESSION](
	[ID] [bigint] NOT NULL,
	[COURSE_ID] [bigint] NULL,
	[ENROLLMENT_ID] [bigint] NULL,
	[LEARNER_ID] [bigint] NULL,
	[LEARNINGSESSIONID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UNIQUEUSERGUID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SESSIONSTARTDATETIME] [datetime] NULL,
	[SESSIONENDDATETIME] [datetime] NULL,
	[STRINGCOURSEID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_LEARNINGSESSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[LEARNINGSESSION] ([ID], [COURSE_ID], [ENROLLMENT_ID], [LEARNER_ID], [LEARNINGSESSIONID], [UNIQUEUSERGUID], [SESSIONSTARTDATETIME], [SESSIONENDDATETIME], [STRINGCOURSEID]) VALUES (11, NULL, NULL, NULL, N'e0b4c8ec-37c3-4907-819f-ef1b1021fc30', N'32a3285c-dd72-441a-ad94-f49ce84c7797', CAST(0x0012F28F0116B705 AS DateTime), NULL, N'3')
INSERT [dbo].[LEARNINGSESSION] ([ID], [COURSE_ID], [ENROLLMENT_ID], [LEARNER_ID], [LEARNINGSESSIONID], [UNIQUEUSERGUID], [SESSIONSTARTDATETIME], [SESSIONENDDATETIME], [STRINGCOURSEID]) VALUES (61, NULL, NULL, NULL, N'cba9c17a-2489-4cdc-9693-c650d3a94cd7', N'3320b0d5-51d5-4f03-ba6f-c05ae7759e3f', CAST(0x0012FCC101393789 AS DateTime), NULL, N'3')
INSERT [dbo].[LEARNINGSESSION] ([ID], [COURSE_ID], [ENROLLMENT_ID], [LEARNER_ID], [LEARNINGSESSIONID], [UNIQUEUSERGUID], [SESSIONSTARTDATETIME], [SESSIONENDDATETIME], [STRINGCOURSEID]) VALUES (111, NULL, NULL, NULL, N'e9b42855-3797-4620-ba8b-d4837be0f96e', N'33f3abfb-ff6c-4564-bd38-fcbb7a1d1da2', CAST(0x00008CC40035C387 AS DateTime), NULL, N'3')
/****** Object:  Table [dbo].[LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LEARNERCOURSESTATISTICS](
	[LEARNER_ID] [bigint] NOT NULL,
	[LEARNERENROLLMENT_ID] [bigint] NOT NULL,
	[AVERAGEPOSTTESTSCORE] [float] NULL,
	[AVERAGEQUIZSCORE] [float] NULL,
	[COMPLETED] [bit] NULL,
	[COMPLETIONDATE] [datetime] NULL,
	[FIRSTACCESSDATE] [datetime] NULL,
	[FIRSTPOSTTESTDATE] [datetime] NULL,
	[FIRSTQUIZDATE] [datetime] NULL,
	[HEIGHESTPOSTTESTSCORE] [float] NULL,
	[HIGHESTQUIZSCORE] [float] NULL,
	[LASTACCESSDATE] [datetime] NULL,
	[LASTPOSTTESTDATE] [datetime] NULL,
	[LASTQUIZDATE] [datetime] NULL,
	[LAUNCHESACCRUED] [bigint] NULL,
	[LOWESTPOSTTESTSCORE] [float] NULL,
	[LOWESTQUIZSCORE] [float] NULL,
	[NUMBERPOSTTESTSTAKEN] [bigint] NULL,
	[NUMBERQUIZESTAKEN] [float] NULL,
	[PERCENTCOMPLETE] [bigint] NULL,
	[PRETESTDATE] [datetime] NULL,
	[PRETESTSCORE] [float] NULL,
	[STATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TOTALTIMEINSECONDS] [bigint] NOT NULL,
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_LEARNERCOURSESTATISTICS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COURSEGROUP](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PARENTCOURSEGROUP_ID] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[ROOTCOURSEGROUP_ID] [bigint] NULL,
	[DESCRIPTION] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK__COURSEGROUP__1B0907CE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[COURSEGROUP] ([ID], [NAME], [PARENTCOURSEGROUP_ID], [CUSTOMER_ID], [ROOTCOURSEGROUP_ID], [DESCRIPTION]) VALUES (1, N'OSHA-101 Certification', NULL, 1, NULL, NULL)
INSERT [dbo].[COURSEGROUP] ([ID], [NAME], [PARENTCOURSEGROUP_ID], [CUSTOMER_ID], [ROOTCOURSEGROUP_ID], [DESCRIPTION]) VALUES (3, N'Real Estate', NULL, 1, NULL, NULL)
INSERT [dbo].[COURSEGROUP] ([ID], [NAME], [PARENTCOURSEGROUP_ID], [CUSTOMER_ID], [ROOTCOURSEGROUP_ID], [DESCRIPTION]) VALUES (4, N'Pre-Licensing', 3, 1, NULL, NULL)
/****** Object:  Table [dbo].[TRAINIINGPLAN]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAINIINGPLAN](
	[ID] [bigint] NOT NULL,
	[NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[COURSE_ID] [bigint] NULL,
 CONSTRAINT [PK_TRAINIINGPLAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[REGISTRATIONINVITATION]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGISTRATIONINVITATION](
	[ID] [bigint] NOT NULL,
	[INVITATIONNAME] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PASSCODE] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ISUNLIMITED] [int] NULL,
	[MAXIMUMREGISTRATION] [int] NULL,
	[MESSAGE] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CUSTOMER_ID] [bigint] NULL,
 CONSTRAINT [PK_REGISTRATIONINVITATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
INSERT [dbo].[REGISTRATIONINVITATION] ([ID], [INVITATIONNAME], [PASSCODE], [ISUNLIMITED], [MAXIMUMREGISTRATION], [MESSAGE], [CUSTOMER_ID]) VALUES (11, N'MCA', N'abc', 1, 100, N'                        
                 Tathya       ', 1)
/****** Object:  Table [dbo].[TRAINIINGPLANASSIGNMENT]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRAINIINGPLANASSIGNMENT](
	[ID] [bigint] NOT NULL,
	[TRAINIINGPLAN_ID] [bigint] NULL,
	[LEARNERENROLLMENT_ID] [bigint] NULL,
 CONSTRAINT [PK_TRAINIINGPLANASSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Table [dbo].[LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LMSPERMISSION](
	[ID] [bigint] NOT NULL,
	[LMSFEATUREDENABLEDTF] [bit] NULL,
	[ROLE_ID] [bigint] NULL,
	[FEATURE_ID] [bigint] NULL,
 CONSTRAINT [PK_LMSPERMISSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
END
GO
/****** Object:  Default [DF_LEARNINGSESSION_STRINGCOURSEID]    Script Date: 12/29/2008 18:14:26 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_LEARNINGSESSION_STRINGCOURSEID]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
Begin
ALTER TABLE [dbo].[LEARNINGSESSION] ADD  CONSTRAINT [DF_LEARNINGSESSION_STRINGCOURSEID]  DEFAULT ('') FOR [STRINGCOURSEID]

End
GO
/****** Object:  ForeignKey [LANGUAGE_COURSE]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LANGUAGE_COURSE]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSE]'))
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [LANGUAGE_COURSE] FOREIGN KEY([LANGUAGE_ID])
REFERENCES [dbo].[LANGUAGE] ([ID])
GO
/****** Object:  ForeignKey [COURSEGROUP_ROOTCOURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSEGROUP_ROOTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [COURSEGROUP_ROOTCOURSEGROUP] FOREIGN KEY([ROOTCOURSEGROUP_ID])
REFERENCES [dbo].[COURSEGROUP] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_COURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_COURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_COURSEGROUP] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [FK_COURSEGROUP_PARENTCOURSEGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSEGROUP_PARENTCOURSEGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[COURSEGROUP]'))
ALTER TABLE [dbo].[COURSEGROUP]  WITH CHECK ADD  CONSTRAINT [FK_COURSEGROUP_PARENTCOURSEGROUP] FOREIGN KEY([PARENTCOURSEGROUP_ID])
REFERENCES [dbo].[COURSEGROUP] ([ID])
GO
/****** Object:  ForeignKey [BILLINGADDRESS_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[BILLINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [BILLINGADDRESS_CUSTOMER] FOREIGN KEY([BILLINGADDRESS_ID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([ID])
GO
/****** Object:  ForeignKey [FK_DISTRIBUTOR_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRIBUTOR_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_DISTRIBUTOR_CUSTOMER] FOREIGN KEY([DISTRIBUTOR_ID])
REFERENCES [dbo].[DISTRIBUTOR] ([ID])
GO
/****** Object:  ForeignKey [SHIPPINGADDRESS_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SHIPPINGADDRESS_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [SHIPPINGADDRESS_CUSTOMER] FOREIGN KEY([SHIPPINGADDRESS_ID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_CUSTOMERENTITLEMENT] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [FK_COURSE_CUSTOMERENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COURSE_CUSTOMERENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT]'))
ALTER TABLE [dbo].[CUSTOMERENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CUSTOMERENTITLEMENT] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSE] ([ID])
GO
/****** Object:  ForeignKey [DISTRIBUTOR_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTOR]'))
ALTER TABLE [dbo].[DISTRIBUTOR]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTOR_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([ID])
GO
/****** Object:  ForeignKey [DISTRIBUTORGROUP_BRAND]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP_BRAND]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRIBUTORGROUP]'))
ALTER TABLE [dbo].[DISTRIBUTORGROUP]  WITH CHECK ADD  CONSTRAINT [DISTRIBUTORGROUP_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[BRAND] ([ID])
GO
/****** Object:  ForeignKey [LEARNER_CUSTOMER]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER]  WITH CHECK ADD  CONSTRAINT [LEARNER_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [VU360USER_LEARNER]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LEARNER]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNER]'))
ALTER TABLE [dbo].[LEARNER]  WITH CHECK ADD  CONSTRAINT [VU360USER_LEARNER] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
/****** Object:  ForeignKey [LEARNER_LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERCOURSESTATISTICS] FOREIGN KEY([LEARNER_ID])
REFERENCES [dbo].[LEARNER] ([ID])
GO
/****** Object:  ForeignKey [LEARNERENROLMENT_LEARNERCOURSESTATISTICS]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLMENT_LEARNERCOURSESTATISTICS]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERCOURSESTATISTICS]'))
ALTER TABLE [dbo].[LEARNERCOURSESTATISTICS]  WITH CHECK ADD  CONSTRAINT [LEARNERENROLMENT_LEARNERCOURSESTATISTICS] FOREIGN KEY([LEARNERENROLLMENT_ID])
REFERENCES [dbo].[LEARNERENROLLMENT] ([ID])
GO
/****** Object:  ForeignKey [COURSE_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [COURSE_LEARNERENROLLMENT] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSE] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMERENROLLMENT_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENROLLMENT_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMERENROLLMENT_LEARNERENROLLMENT] FOREIGN KEY([CUSTOMERENTITLEMENT_ID])
REFERENCES [dbo].[CUSTOMERENTITLEMENT] ([ID])
GO
/****** Object:  ForeignKey [LEARNER_LEARNERENROLLMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERENROLLMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT]'))
ALTER TABLE [dbo].[LEARNERENROLLMENT]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERENROLLMENT] FOREIGN KEY([LEARNER_ID])
REFERENCES [dbo].[LEARNER] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_LEARNERGROUP] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [ORGANIZATIONALGROUP_LEARNERGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_LEARNERGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERGROUP]'))
ALTER TABLE [dbo].[LEARNERGROUP]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_LEARNERGROUP] FOREIGN KEY([ORGANIZATIONALGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ID])
GO
/****** Object:  ForeignKey [ADDRESS_LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ADDRESS_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE]  WITH CHECK ADD  CONSTRAINT [ADDRESS_LEARNERPROFILE] FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
/****** Object:  ForeignKey [LEARNER_LEARNERPROFILE]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNERPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNERPROFILE]'))
ALTER TABLE [dbo].[LEARNERPROFILE]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNERPROFILE] FOREIGN KEY([LEARNER_ID])
REFERENCES [dbo].[LEARNER] ([ID])
GO
/****** Object:  ForeignKey [COURSE_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[COURSE_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION]  WITH CHECK ADD  CONSTRAINT [COURSE_LEARNINGSESSION] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSE] ([ID])
GO
/****** Object:  ForeignKey [LEARNER_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNER_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION]  WITH CHECK ADD  CONSTRAINT [LEARNER_LEARNINGSESSION] FOREIGN KEY([LEARNER_ID])
REFERENCES [dbo].[LEARNER] ([ID])
GO
/****** Object:  ForeignKey [LEARNERENROLLMENT_LEARNINGSESSION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LEARNERENROLLMENT_LEARNINGSESSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LEARNINGSESSION]'))
ALTER TABLE [dbo].[LEARNINGSESSION]  WITH CHECK ADD  CONSTRAINT [LEARNERENROLLMENT_LEARNINGSESSION] FOREIGN KEY([ENROLLMENT_ID])
REFERENCES [dbo].[LEARNERENROLLMENT] ([ID])
GO
/****** Object:  ForeignKey [VU360USER_LMSADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_LMSADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSADMINISTRATOR]'))
ALTER TABLE [dbo].[LMSADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [VU360USER_LMSADMINISTRATOR] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
/****** Object:  ForeignKey [FK_LMSFEATURE_LMSFEATURE]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LMSFEATURE_LMSFEATURE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSFEATURE]'))
ALTER TABLE [dbo].[LMSFEATURE]  WITH CHECK ADD  CONSTRAINT [FK_LMSFEATURE_LMSFEATURE] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[LMSFEATURE] ([ID])
GO
/****** Object:  ForeignKey [LMSFEATURE_LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LMSFEATURE_LMSPERMISSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]'))
ALTER TABLE [dbo].[LMSPERMISSION]  WITH CHECK ADD  CONSTRAINT [LMSFEATURE_LMSPERMISSION] FOREIGN KEY([FEATURE_ID])
REFERENCES [dbo].[LMSFEATURE] ([ID])
GO
/****** Object:  ForeignKey [LMSROLE_LMSPERMISSION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LMSROLE_LMSPERMISSION]') AND parent_object_id = OBJECT_ID(N'[dbo].[LMSPERMISSION]'))
ALTER TABLE [dbo].[LMSPERMISSION]  WITH CHECK ADD  CONSTRAINT [LMSROLE_LMSPERMISSION] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[LMSROLE] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_ORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_ORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_ORGANIZATIONALGROUP] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATIONALGROUP_PARENTORGANIZATIONALGROUP] FOREIGN KEY([PARENTORGGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ID])
GO
/****** Object:  ForeignKey [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUP]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATIONALGROUP_ROOTORGANIZATIONALGROUP] FOREIGN KEY([ROOTORGGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [CUSTOMERENTITLEMENT_ORGANIZATIONALGROUPENTITLEMENT] FOREIGN KEY([CUSTOMERENTITLEMENT_ID])
REFERENCES [dbo].[CUSTOMERENTITLEMENT] ([ID])
GO
/****** Object:  ForeignKey [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORGANIZATIONALGROUPENTITLEMENT]'))
ALTER TABLE [dbo].[ORGANIZATIONALGROUPENTITLEMENT]  WITH CHECK ADD  CONSTRAINT [ORGANIZATIONALGROUP_ORGANIZATIONALGROUPENTITLEMENT] FOREIGN KEY([ORGANIZATIONALGROUP_ID])
REFERENCES [dbo].[ORGANIZATIONALGROUP] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_REGISTRATIONINVITATION]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_REGISTRATIONINVITATION]') AND parent_object_id = OBJECT_ID(N'[dbo].[REGISTRATIONINVITATION]'))
ALTER TABLE [dbo].[REGISTRATIONINVITATION]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_REGISTRATIONINVITATION] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_TRAINIINGPLAN]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAINIINGPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN]'))
ALTER TABLE [dbo].[TRAINIINGPLAN]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_TRAINIINGPLAN] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAINIINGPLANASSIGNMENT]'))
ALTER TABLE [dbo].[TRAINIINGPLANASSIGNMENT]  WITH CHECK ADD  CONSTRAINT [TRAINIINGPLAN_TRAINIINGPLANASSIGNMENT] FOREIGN KEY([TRAINIINGPLAN_ID])
REFERENCES [dbo].[TRAINIINGPLAN] ([ID])
GO
/****** Object:  ForeignKey [CUSTOMER_TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [CUSTOMER_TRAININGADMINISTRATOR] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
/****** Object:  ForeignKey [VU360USER_TRAININGADMINISTRATOR]    Script Date: 12/29/2008 18:14:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[VU360USER_TRAININGADMINISTRATOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRAININGADMINISTRATOR]'))
ALTER TABLE [dbo].[TRAININGADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [VU360USER_TRAININGADMINISTRATOR] FOREIGN KEY([VU360USER_ID])
REFERENCES [dbo].[VU360USER] ([ID])
GO
