<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/accreditation/accreditationDefaultHead.vm")

        <script type="text/javascript" language="javascript" src="javascript/360js.js" ></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $('#frame_body').height($(window).height() - ($('#frame_header').height()+$('#footer').height()));
                if ($('#right-pannel').height()<$('#frame_body').height()) {
                    $('#right-pannel').height($('#frame_body').height());
                }            
                $('#sideBar').height($('#right-pannel').height());
			
                $("#toggleIconForCategoryName").click(function() {
                    toggleView('toggleIconForCategoryName', 'collapsibleCategoryName');
                });
                $("#toggleIconForSummary").click(function() {
                    toggleView('toggleIconForSummary', 'collapsibleSummary');
                });
            });
        </script>
    </head>

    <body>
        <form name="addRequirement" method="post" action="acc_addRequirement.do" >
            <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
                <tr> <!-- First Block -->
                    <td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">            <!--Header Start -->
                        #parse("snippets/managerWizardHeader.vm")
                        <!-- Header End -->
                    </td</tr>

                <!-- Body Start -->
                <tr id="main"> <!-- SECOND BLOCK -->
                    <td id="left-sidebar" valign="top">
                        <table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
                            <div>
                                <div id="l-menu-back">            
                                    <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accreditation.addRequirement.caption.lmenuHeader")$brander.getBrandElement("lms.accreditation.addRequirement.wizart.subTitle.step3")</div>
                                    <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addRequirement.wizard.step1")</div>
                                    <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addRequirement.wizard.step2")</div>
                                    <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accreditation.addRequirement.wizard.step3")</div>			
                                </div>
                            </div>
                        </table></td>

                    <TD id="content" >
                        <div id="scrollable">

                            <!-- Page Description -->
                            <table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
                                <tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
                                    <td id="page-description">
                                        <div id="page-heading">$brander.getBrandElement("lms.accreditation.addRequirement.caption.title")</div>
                                        <div id="page-help">$brander.getBrandElement("lms.accreditation.addRequirement.caption.subTitle2")</div>
                                    </td>
                                </tr>
                            </table>			


                            <!-- Cateory Section Start -->
                            <div class="search_box_result">
                                <div id="toggleIconForCategoryName" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.addRequirement.sectionTitle.category")</span></div>
                                <div id="collapsibleCategoryName">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                        <tr>
                                            <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.category")</b></div></td>
						#springBind("credentialForm.category.name")
                                            <td><div class="row_text">$!{status.value}</div></td>					
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                            <!-- Cateory Section End -->

                            <!-- bottom-space -->
                            <div class="manage-bottom-space"></div>
                            <!-- bottom-space -->

                            <div class="search_box_result">
                                <div id="toggleIconForSummary" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.addRequirement.sectionTitle.Summary")</span></div>
                                <div id="collapsibleSummary">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                        <tr>
                                            <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.requirementName")</b></div></td>
						#springBind("credentialForm.requirement.name")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Number-of-Hours")</b></div></td>
						#springBind("credentialForm.requirement.numberOfHours")
                                            <td><div class="row_text">$!{status.value}</div></td>									
                                        </tr>
                                        <tr>
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.description")</b></div></td>
						#springBind("credentialForm.requirement.description")
                                            <td><div class="row_text">$!{status.value}</div></td>									
                                        </tr>
                                        <tr>
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.RequirementCoverage")</b></div></td>
						#springBind("credentialForm.requirement.coverage")
                                            <td><div class="row_text">$!{status.value}</div></td>									
                                        </tr>
                                        <tr>
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.RequirementCoverageExplanation")</b></div></td>
						#springBind("credentialForm.requirement.coverageExplanation")
                                            <td><div class="row_text">$!{status.value}</div></td>									
                                        </tr>
                                        <!--#*
						<tr>
							<td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.requirementName")</b></div></td>
							#springBind("credentialForm.requirement.name")
							<td><div class="row_text">$!{status.value}</div></td>
                                                
							<td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Certificate-Procedure")</b></div></td>
							#springBind("credentialForm.requirement.certificateProcedure")
							<td><div class="row_text">$!{status.value}</div></td>
						</tr>			 		
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Pre-requisites")</b></div></td>
							#springBind("credentialForm.requirement.preRequisites")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Who-Reports-Credits")</b></div></td>
							#springBind("credentialForm.requirement.whoReportsCredits")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Number-of-Hours")</b></div></td>
							#springBind("credentialForm.requirement.numberOfHours")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Reporting-Fees")</b></div></td>
							#springBind("credentialForm.requirement.reportingFees")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Number-of-Ethics-Hours")</b></div></td>
							#springBind("credentialForm.requirement.numberOfEthicsHours")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.CE-Requires-Provider-Approval")</b></div></td>
							#springBind("credentialForm.requirement.CERequiresProviderApproval")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
                                        
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Other-Special-Educational-Requirements")</b></div></td>
							#springBind("credentialForm.requirement.specialEducationalRequirements")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Renewal-Date")</b></div></td>
							#springBind("credentialForm.licenseRenewalDate")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Seat-Time-Measurement")</b></div></td>
							#springBind("credentialForm.requirement.seatTimeMeasurement")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Online-Pre-License-Allowed")</b></div></td>
							#springBind("credentialForm.requirement.onlinePreLicenseAllowed")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
                                        
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Reciprocity")</b></div></td>
							#springBind("credentialForm.requirement.reciprocity")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Pre-licensing-Approval")</b></div></td>
							#springBind("credentialForm.requirement.prelicensingRequireProviderApproval")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Course-Validation")</b></div></td>
							#springBind("credentialForm.requirement.courseValidation")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Online-Post-License-Required")</b></div></td>
							#springBind("credentialForm.requirement.onlinePostLicenseRequired")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Course-Approval-Period")</b></div></td>
							#springBind("credentialForm.requirement.courseApprovalPeriod")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.CE-Requirement-Deadline")</b></div></td>
							#springBind("credentialForm.CERequirementDeadline")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
                                        
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Reporting-Period")</b></div></td>
							#springBind("credentialForm.reportingPeriod")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Post-License")</b></div></td>
							#springBind("credentialForm.requirement.postLicenseRequireNotes")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Online-CE-Allowed")</b></div></td>
							#springBind("credentialForm.requirement.onlineCEAllowed")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.License-Renewal-Date")</b></div></td>
							#springBind("credentialForm.requirement.timeframe")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
                                        
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Correspondence-CE-Allowed")</b></div></td>
							#springBind("credentialForm.requirement.correspondenceCEAllowed")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Post-License-Require-Provider")</b></div></td>
							#springBind("credentialForm.requirement.postLicenseRequireProviderApproval")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Course-Assessments")</b></div></td>
							#springBind("credentialForm.requirement.courseAssessments")
							<td><div class="row_text">$!{status.value}</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Approximate-Number-of-Days")</b></div></td>
							#springBind("credentialForm.requirement.daysToGainProviderApproval")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
                                        
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Correspondence-Allowed")</b></div></td>
							#springBind("credentialForm.requirement.correspondenceAllowedPreLicensing")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Gain-Course-Approval")</b></div></td>
							#springBind("credentialForm.requirement.daysToGainCourseApproval")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>
						<tr>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Correspondence-Allowed-For-Post-Licensing")</b></div></td>
							#springBind("credentialForm.requirement.correspondenceAllowedPostLicensing")
							<td><div class="row_text">#if($!{status.value}) $brander.getBrandElement("lms.accreditation.credential.caption.Yes") #else $brander.getBrandElement("lms.accreditation.credential.caption.No") #end</div></td>
							<td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addRequirement.caption.Gain-Course-Renewal")</b></div></td>
							#springBind("credentialForm.requirement.daysToGainCourseRenewal")
							<td><div class="row_text">$!{status.value}</div></td>						
						</tr>											
						*# -->
                                    </table>
                                </div>

                            </div>		

                            <!-- *********************************************** -->
                            <div class="btn-div">
                                <div style="float:right; margin-top:15px;">
                                    <a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_finish');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accreditation.wizard.buttonTextFinish")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>	

                                <div style="float:right; margin-top:15px;margin-right:5px;">
                                    <a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_target1');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>

                                <div style="float:left; margin-top:15px;margin-left:10px;">
                                    <a onClick="submitButtonForm(document.addRequirement,'wizardSubmitter','_cancel');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>  
                            </div>	

                            <!-- bottom-space -->
                            <div class="manage-bottom-space"></div>
                            <!-- bottom-space -->

                            <input type="hidden" id="currentpage" name="_page" value="2"/>
                            <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

                        </div>
                    </td></tr>
                <!-- Body End -->
                <tr> <!-- Footer BLOCK -->
                    <td id="footer" colspan="2">
                        <!-- Footer Start -->
		    #parse("snippets/managerFooter.vm")
                        <!-- Footer End -->
                    </td></tr>
            </table>
        </form>
    </body>
</html>