<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <script type="text/javascript" language="javascript" src="brands/default/en/scripts/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            	$('#manageform').submit();
            });
        </script>
    </head>

    <body>
        <form id="manageform" name="manageform" action="$!{context.targetAction}" method="POST" > 
            #if($context.targetMethod != "")
            	<input type="hidden" name="method" value="$!{context.targetMethod}"/>
            #end
        </form>
    </body>
</html>
