#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))

<div>
    <!-- Proctor Profile Start -->
		<tr>
			<td id="proctorProfile" class="selected">
				<div class="band_text">$brander.getBrandElement("lms.proctor.proctorProfile.caption.MyProctorProfile")</div>
			</td>
		</tr>
    <!-- Mapping Field  End -->
</div>