<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> Redirecting to Survey Page </title>
</head>

<body  onload="document.surveyForm.submit()">

<!-- LMS-9825 | S M Humayun | 13 Apr 2011 -->
<form name="surveyForm" action="mgr_viewAssignSurveyMain.do" method="POST"> 

<input type="hidden" name="method" value="$!{context.target}"/>
</form>
</body>
</html>