<style type="text/css">
	.grid-header {
	font-weight: bold;
	text-transform: uppercase;
	font-family: Tahoma;
	font-size: 12px;
	border-color: #DFDFDF !important;
	border-style: none solid solid none;
	border-width: 0px 1px 1px 0px;
	cursor: pointer;
	height: 30px;
	padding-left: 5px;
	text-decoration: none;
}
</style>
<script type="text/javascript" >
function sortBranding(sortColumnIndex, sortDirection,showAll){        
        document.getElementById('actionmethod').value='basicBranding';
        document.getElementById('showAll').value=showAll;
        document.getElementById('sortColumnIndex').value=sortColumnIndex;
        document.getElementById('sortDirection').value=sortDirection;
        document.getElementById('pageTarget').value="emailList";
        document.brandingForm.submit();
}
</script>
<div style="display: table; width: 99%;" id="emails">  
    <!--<table width="99%" cellspacing="0" cellpadding="0" border="0" class="content-table">
        <tr>
            <td colspan="2" class="content-table-control-header">                
                <table width="100%" cellspacing="0" cellpadding="0" border="0" id="table-controls" style="">
                    <tr>
                        <td width="50%" id="column-controls">
                            <div onclick="restoreTable(this)" style="float: left; margin-right: 5px; display: none;" class="icon-caret-down-large"></div>
                            <div style="display: none;" class="content-table-heading">Summary</div>
                            <a href="#">
                                <div style="display: none;" class="button-layout-left">
                                    <div class="button-start"></div>
                                    <div class="button-stem"><h1>Button</h1></div>
                                    <div class="button-end"></div>
                                </div>
                            </a>
                            <a href="#">
                                <div style="display: none;" class="button-layout-left">
                                    <div class="button-start"></div>
                                    <div class="button-stem"><h1>Button</h1></div>
                                    <div class="button-end"></div>
                                </div>
                            </a>
                            <a href="#">
                                <div style="display: none;" class="button-layout-left">
                                    <div class="button-start"></div>
                                    <div class="button-stem"><h1>Button</h1></div>
                                    <div class="button-end"></div>
                                </div>
                            </a>
                        </td>
                        <td width="88" id="column-search" style="">
                            <div style="margin: 0pt; display: none;" class="button-layout-left" id="button-search">
                                <div class="button-start"></div>
                                <div class="button-stem"><h1>Search</h1></div>
                                <div class="button-end"></div>
                            </div>
                        </td>
                        <td id="column-pagination">
                            
                            <div class="pagination">Showing 1 - 5 of 5</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="2%" class="content-table-header">                
                    <input type="checkbox" onclick="selectAllCheckboxes(document.form.row, this);">                
            </td>
            <td width="" class="content-table-header border-left">                
                    <div class="icon-caret-up" id="sort-column"></div>                
                <div class="content-table-heading">Subject</div>
            </td>            
        </tr>
        
        <tr>            
            <td>
                <input type="checkbox" class="table-checkbox" name="row">
            </td>
            <td width="" class="border-left">                
                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=enrollmentResult">                    
                    $brander.getBrandElement("lms.branding.email.enrollmentResult.title")                    
                </a>                
            </td>            
        </tr>

        <tr class="colored-row">
            <td>
                <input type="checkbox" class="table-checkbox" name="row">
            </td>
            <td width="" class="border-left">                
                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=forgotPassword">                    
                    $brander.getBrandElement("lms.branding.email.forgotPassword.title")                    
                </a>                
            </td>            
        </tr>
        <tr>            
            <td>
                <input type="checkbox" class="table-checkbox" name="row">
            </td>
            <td width="" class="border-left">                
                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=passwordUpdated">                    
                    $brander.getBrandElement("lms.branding.email.passwordUpdated.title")                    
                </a>                
            </td>            
        </tr>
        <tr class="colored-row">                        
            <td>
                <input type="checkbox" class="table-checkbox" name="row">
            </td>
            <td width="" class="border-left">                
                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=enrollmentNotice">                    
                    $brander.getBrandElement("lms.branding.email.enrollmentNotice.title")                    
                </a>                
            </td>            
        </tr>
        <tr>            
            <td>
                <input type="checkbox" class="table-checkbox" name="row">
            </td>
            <td width="" class="border-left">                
                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=accountDetails">
                	$brander.getBrandElement("lms.branding.email.accountDetails.title")</a>                                                                                            
            </td>            
        </tr>        
    </table>
    -->
    
    
    
    
    <!-- Search Result Start -->
            <div id="resultBox" class="search_box_result" style="margin-left: 0px">
            <!-- Result Header Start -->
                <div id="resultHeader" class="box_header" style="width:100%; height:80%;display:inline-block;">

					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="33%">

							<!-- Result Heading -->						
						</td>
						
						<td width="34%" align="center">
		   
					    <!--
					    <table width="100px;" align="center" cellpadding="0" cellspacing="0" style="margin-top:6px;"><tr><td>
							<a onClick="showSearchBox(this);" style="text-decoration:none;">
							  <div class="btn_start"></div>
							  <div class="btn_normal">$brander.getBrandElement("lms.administrator.commonHeader.caption.Search")</div>
							  <div class="btn_end"></div>
							</a>
						  </td></tr></table>
						-->
						</td>
						
						<td width="33%" align="right">
				
						<div style="margin-bottom:25px;">
							$pager.setItems($!{context.emailList})
								#set($totalCount = $pager.total)
								#if($pager.hasItems())
										#set($pageFirstIndex = $pager.firstIndex)
										#set($pageLastIndex = $pager.lastIndex)
										#set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
										#set($currentPageCount = $pageLastIndex + 1)
										#set($pageCurrIndex = $pager.index)
								#else
										#set($pageFirstIndex = 0)
										#set($pageLastIndex = 0)
										#set($currentPageSize = 0)
										#set($currentPageCount = 0)
										#set($pageCurrIndex = 0)
								#end
								<!-- Commented as per instruction in LMS:7126 -->    <!-- All Icon -->
									<!-- All Icon -->
									 #if($totalCount > 10)
											<div id="showEach" class="icon-all" onClick="javascript:window.location='branding.do?method=advancedBranding&showAll=true&searchSurveyName=$!{context.searchSurveyName}&status=$!{context.surveyStatus}&retire=$!{context.isRetire}&editable=$!{context.isEditable}';" value="Search" name="_target0" onmouseover="showTooltip('Show All', event);" onmouseout="hideTooltip();"></div>
										
									#end
									<!-- Next Icon -->
									#if($pager.nextIndex)
											<div id="goNext" class="icon-caret-right" onmouseover="showTooltip('Next', event);" onmouseout="hideTooltip();" value="Search" name="_target0" onclick="javascript:window.location='branding.do?method=advancedBranding&pageIndex=$pager.nextIndex&paging=paging&searchSurveyName=$!{context.searchSurveyName}&pageCurrIndex=onNextPage($pager.nextIndex);';" ></div>
									#end
									<!-- Back Icon -->
									#if ($pager.prevIndex)
											<div id="goBack" class="icon-caret-left" onmouseover="showTooltip('Back', event);" onmouseout="hideTooltip();" value="Search" name="_target0" onclick="javascript:window.location='branding.do?method=advancedBranding&pageIndex=$pager.prevIndex&paging=paging&searchSurveyName=$!{context.searchSurveyName}&pageCurrIndex=onPreviousPage($pager.prevIndex);';" ></div>
									#end
									<!-- Showing Results -->
									<div id="resultDescription" class="box_description">$brander.getBrandElement("lms.manager.manageTrainingPlans.caption.Showing") $!pager.pageDescription </div>
							<!-- Showing Results -->
						</div>
					
					</td>
				</tr>
			</table>
	</div>
		       <input type="hidden" id="pageIndex" name="pageIndex" value="0" />
                            <input type="hidden" id="showAll" name="showAll" value="false" />
                            <input type="hidden" id="paging" name="paging" value="" />
                            <input type="hidden" id="pageCurrIndex" name="pageCurrIndex" value="$pageCurrIndex" />
                          
 </div>
                    <div id="searchBox"  style="width:360px;height:120px;margin-top:-32px;left:45%;" class="visible">
                        <div style="padding: 5px"><b>Search Keys</b></div>
                        <div style="padding: 5px;height:15px"></div>                                                                        
                        <div style="padding: 5px">
                         <div style="width:75px; font-size: 11px;float:left">Subject</div> 
                          <div style="float:right">
                           <input type="text" id="name" onKeyPress="if(event.keyCode==13){doSearch();}" name="name" value="$!{context.name}" class="input-spl" />
                          </div>
                          <br style="clear:both" />
                         </div>                                                                         
                        <div style="float:right;padding: 10px;margin-left:40px;">
                                <a class="button" style="width:80px;" onClick="showSearchBox(this);">$brander.getBrandElement("lms.addSecurityRole.Cancel")</a>
                                <a class="button" style="width:80px;" onClick="return doSearch();">$brander.getBrandElement("lms.manageUser.searchLearner.caption.search")</a>
                        </div>
                   </div>
                <!-- Result Header End -->

                

                <!-- Result Subheader Start -->
                <div id="searchResult_1">
                     #if($currentPageSize > 0)
                                <table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:0px;">
                                    <tr bgcolor="#efefef" style="height:80%;">
                                                                                
                                        <td class="grid-header" width="48%" style="border-left: 1px solid #DDDDDD;">
                                            <div onClick=#if($context.sortDirection == 0) "sortBranding('0','1','$!context.showAll');" #else "sortBranding('0','0','$!context.showAll');" #end>
                                                 <div id="nameSort" #if(($context.sortDirection == 1 )&&($context.sortColumnIndex == 0)) class="icon_up" #elseif(($context.sortDirection == 0 )&&($context.sortColumnIndex == 0)) class="icon_down" #end ></div>
                                                Subject
                                            </div>
                                        </td>
                                                                                									
                                    </tr>
                                    #foreach($loopIndex in [$pageFirstIndex..$pageLastIndex])
									##foreach($email in $!{context.emailList})
                                        #set($email = $context.emailList.get($loopIndex))
                                            #if($loopIndex%2 == 0)
                                                #set($alternate="row_1")
                                            #else
                                                #set($alternate="row_2")
                                            #end
                                        <tr>                                            
                                            <td class="$alternate border-left">
                                                <a class="list-item-underline-a" href="branding.do?method=editEmail&emailTopic=$!{email}">                    
								                    $!{email}                    
								                </a>
                                             </td>                                                                                                                                                                                
                                        </tr>
                                    #end
                                </table>
                            #else
                                <table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:1px;">
                                    <tr bgcolor="#efefef">                                        
                                        <td class="grid-header" width="48%">Subject</td>                                                                                
									</tr>
                                    <tr>
                                        <td colspan="7" class="border-left" style="border-bottom:none; border-color:#dfdfdf !Important;">
                                            <div class="result_blank">#if(! $request.getAttribute("newPage")) $brander.getBrandElement("lms.searchLearner.caption.noRecordFound") #else $brander.getBrandElement("lms.administrator.searchMember.caption.searchbutton") #end</div>
                                        </td>
                                    </tr>
                                </table>
                            #end
			    <input type="hidden" id="sortDirection" name="sortDirection" value="" />
			    <input type="hidden" id="pageTarget" name="pageTarget" value="" />
                            <input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="" />

            </div>
            <!-- Search Result End -->
    
    
    <div style="height:30px;"> 	</div>
</div>