<table width="100%" cellspacing="0" cellpadding="0" border="0" style="display: table;" class="content-table" id="certificates">
   <tr>
        <td colspan="2" class="content-table-header">
            <div onclick="restoreTable(this)" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
            <div class="content-table-heading">Certificate</div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Select a Certificate on your computer
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="file" style="float: left;" name="certificate">
            <input type="submit" onclick="saveCertificate();"  style="float: left;" value="Upload">
        </td>
    </tr>
    <tr>
        <td width="215">
           File: certificate.pdf
        </td>
        <td>
            <a href="#">Remove File</a>
        </td>
    </tr>
</table>