<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/accreditation/accreditationDefaultHead.vm")
   
    <script type="text/javascript" src="javascript/jquery.alphanumeric.pack.js"></script>
	<script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>
	<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
    <script type="text/javascript" language="javascript">
         $(document).ready(function(){
            $('#content2a').scroll(function(){
            $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});  
            });
            $('#close_message').click(function(){
                $("#message_box").animate({
                   opacity: .5
                }, "slow", "linear", function(){$("#message_box").hide();} );
            });
            
            $("INPUT[type='checkbox'][name='chk']").click(
               function(){
                  $(this).parent().find("INPUT[type='hidden']").attr('value', $(this).is(':checked'));
               }
            );
            
            $('.numeric').numeric({allow:"."});
            
            if(!$('#enableDefineUniqueQuestionValidation').prev().is(':checked')) $('#uniqueQuestions').hide();
            
            $('#enableIdentityValidation').change(function(){
            	console.log("#enableIdentityValidation change event");
                var status = $(this).is(':checked');
				$('#validationTimeBetweenQuestion, #allowSecondsToAnswerEachQuestion, #validationNoMissedQuestionsAllowed, input[name=validationTypes], #uniqueQuestions input, #uniqueQuestions select').each(function() {
					var that = $(this);
					if(status == true)
            			that.removeAttr('disabled');
            		else
            			that.attr('disabled', true);
            	});
           	});
            
			$("input[name=validationTypes]").change(function() {
				console.log("input[name=validationTypes] change event");
            	var that = $(this);
            	var selected = that.next("input:hidden");
        		$(this).parent().parent().find("input:radio").each(function() {
        			var radio = $(this);
        			var hidden = radio.next("input:hidden");
        			hidden.val(selected.attr("id") == hidden.attr("id") ? "true" : "false");
        			console.log(hidden.attr("id") + ":" + hidden.val());
        		});
        		$('#uniqueQuestions').css('display', that.next().get(0).id == "enableDefineUniqueQuestionValidation" && that.is(":checked") ? 'block' : 'none');
            });
            
            $('#chkAll:checkbox').change(function () {
   				if($(this).is(":checked")) $("#dataTable input[id*=id_chk]:checkbox").attr("checked","checked");
   				else $("#dataTable input[id*=id_chk]:checkbox").removeAttr("checked");
			});
			
			$("#dataTable input[id*=id_chk]:checkbox").live("change", function () {
				console.log("ticking ...");
   				if ($("#dataTable input[id*=id_chk]:checked").length == $("#dataTable input[id*=id_chk]").length) {
			      	$("#chkAll:checkbox").attr("checked","checked");
			    } else {
			    	$("#chkAll:checkbox").removeAttr("checked");
			    }
			});
        });
		
		function toggleControls(isChecked)
		{
			console.log("toggleControls ...");
			var form = document.getElementById('addCourseConfigForm');
			form.validationTimeBetweenQuestion.disabled = !isChecked
			form.allowSecondsToAnswerEachQuestion.disabled = !isChecked
			form.validationNoMissedQuestionsAllowed.disabled = !isChecked
			$("input[name=validationTypes][type=radio]").attr("disabled", !isChecked);
		}
		
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "checkbox";
			element1.name="uquestionId_chk_"+ rowCount;
			element1.id='id_chk' + rowCount;
			cell1.appendChild(element1);
			
			var element1_1 = document.createElement("input");
			element1_1.type = "hidden";
			element1_1.name="uquestionId_"+ rowCount;
			element1_1.id='id_hdn' + rowCount;
			cell1.appendChild(element1_1);

            var cell2 = row.insertCell(1);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "uquestionName_"+ rowCount;
			element2.id='id_txt' + rowCount;
			cell2.appendChild(element2);
			
			var cell4 = row.insertCell(2);
			var element3 = document.createElement("select");
			element3.type = "text";
			element3.name = "uquestionType_"+ rowCount;
			element3.id='id_sec' + rowCount;
			
			var option = document.createElement("option");
            option.text = "Text Entry";
            option.value = "Qtype_0";
            element3.appendChild(option);
            
            var option = document.createElement("option");
            option.text = "True False";
            option.value = "Qtype_1";
            element3.appendChild(option);
			
			cell4.appendChild(element3);


		}
		
		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			
			var rowCount = table.rows.length;
            
			for(var i=1; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

function ChangeValidation(radioId){
         var radios = document.getElementsByName("learnerValidation");
         var x = document.getElementById('uniqueQuestions');
         var val;
         for(var i = 0; i < radios.length; i++){
           if(radios[i].checked){
               val = radios[i].value;
               if(val==1){
                x.style.display = 'none';
               }
               else if(val == 2){
                x.style.display = 'block';
               }
             }
          }
        }
        
 function hasblankUniqueQuestion() {
  	if($("#dataTable tr input:text[name*=uquestionName]").length == 0) return true;
  	if($("#dataTable tr input:text[name*=uquestionName][value='']").length > 0) return true;
  	return false;	
 }
		
 function custom_alert1(output_msg, title_msg) {
           $('#alertMessage').modal({
                    close:false,
                    position: ["40%",],
                    overlayId:'confirmModalOverlay',
                    containerId:'confirmModalContainer', 
                    onShow: function (dialog) {
                        dialog.data.find('.message_box_text').append(output_msg);

                        // if the user clicks "yes"
                        dialog.data.find('.yes').click(function () {
                            // call the callback
                            if (jQuery.isFunction(callback)) {
                                callback.apply();
                            }
                            // close the dialog
                            jQuery.modal.close();
                        });
                    }
                });
				}	
 
 			function proceedNext() {
            
       			if($('#enableIdentityValidation').is(':checked') && $('#enableDefineUniqueQuestionValidation').prev().is(':checked')) {
	     
	     			if(hasblankUniqueQuestion()) {
 	         			custom_alert1("Blank Unique Questions are not allowed");
        			}
 	     			else {
          				submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_target8');
 	  				}
 				}
 				else {
 		 			submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_target8');
 				}
			}
 
    </script>
</head>
<body onload=toggleControls(document.getElementById('enableIdentityValidation').checked);>
<form id="addCourseConfigForm" name="addCourseConfigForm" method="post" action="acc_addCourseConfig.do" >
  <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
        <!-- Header starts -->
        #parse("snippets/managerWizardHeader.vm")
        <!-- Header ends -->
		</td></tr>
		
<!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        <div>
            <div id="l-menu-back">
            	 <div class="l-menu-back-text-h">Add Course Configuration<br> Wizard showing 7 of 11</div>
            	 <div class="l-menu-back-text-acted">1.Summary</div>
            	 <div class="l-menu-back-text-acted">2. Course Policy</div>
				 <div class="l-menu-back-text-acted">3. Course Completion</div>
				 <div class="l-menu-back-text-acted">4. Pre-Assessment Policy</div>
				 <div class="l-menu-back-text-acted">5. Quiz Policy</div>
				 <div class="l-menu-back-text-acted">6. Post Assessment Policy</div>
				 <div class="l-menu-back-text-acted" title="Special Post Assessment Validation" >7. Special Post Assessment ...</div>
				 <div class="l-menu-back-text-act">8. Validation</div>
				 <div class="l-menu-back-text">9. Disclaimar Options</div>
				 <div class="l-menu-back-text">10. Max Seat Time Enforcement</div>
				 <div class="l-menu-back-text">11. Min Seat Time Requirements</div>
				 <div class="l-menu-back-text">12. Confirmation</div>

            </div>
     	 </div>
	
	</table></td>
				
<TD id="content" >
	<div id="scrollable">
            #springBind("courseConfigForm.*")
            #if($status.error)  
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)         
                        #set ($error = $brander.getBrandElement($errorCode))
                        <div class="width40pct">
                            <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                            <div class="message_box_align">$error</div>
                        </div>
                    #end
                </div>
                <!-- error-box -->
            #end
		
		 	  <!-- Page Description -->
<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_approvals">&nbsp;</td>
		<td id="page-description">
		<div id="page-heading">$brander.getBrandElement("lms.accraditation.AddCourseConfiguation.caption.AddCoursConfigurationTemplate")</div>
		<div id="page-help">$brander.getBrandElement("lms.accraditation.AddCourseConfiguation.caption.pagedescription_step7")</div>
		</td>
	</tr>
</table>			  

        	  <div class="search_box_result">
        			 <div class="box_header"><span class="box_heading">Validation</span></div>

             <!-- ****************************************************************************** -->
             <table heigth="100%" width="100%" border="0" cellpadding="0" cellspacing="3">
			 		<tbody><tr>
    					<td width="20px" height="5"></td>
    					<td width="48%"></td>
						<td width="20px"></td>
						<td width="48%"></td>
					</tr>
					<tr>
                        #springBind("courseConfigForm.courseConfiguration.enableIdentityValidation")
    					<td><input type="checkbox" onClick="toggleControls(this.checked);" id="enableIdentityValidation" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
						<td><div class="row_text">Enable Identity Validation</div></td>
    					<td></td>
                        <td></td>
					</tr>
					<tr>
	                    <td height="30" colspan="2"><b>&nbsp;&nbsp;Content Policies</b></td>
	                    <td width="20"></td>
	                    <td width="48%"></td>
                    </tr>
                    
                    #*<tr>
                    	#springBind("courseConfigForm.enableSmartProfileValidation")
                		<td>
                			<input type="checkbox" id="$!{status.expression}" name="$!{status.expression}" #if ($!{status.value}) checked #end />
                			<input type="hidden" id="$!{status.expression}" name="_$!{status.expression}" value="$!{status.value}"/>
            			</td>
                        <td><div class="row_text">Smart Profile Validation</div></td>
                        <td></td>
                        <td></td>
                    </tr>*#
                    
                    <tr>
                        #springBind("courseConfigForm.validationTimeBetweenQuestion")    
    					<td></td>
    					<td><div class="row_text">Time between question <input type="text" class="input_text_inline numeric"  id="${status.expression}" name="${status.expression}" value="$!{status.value}" style="width:30px;"/> Seconds</div></td>
    					<td></td>
                        <td></td>
					</tr>
					<tr>
                        #springBind("courseConfigForm.allowSecondsToAnswerEachQuestion")
    					<td></td>
						<td><div class="row_text">Allow <input type="text" class="input_text_inline numeric"  id="${status.expression}" name="${status.expression}" value="$!{status.value}" style="width:30px;"/> Seconds to Answer Each Question</div></td>
    					<td></td>
                        <td></td>
					</tr>
					
					<tr>
                        #*#springBind("courseConfigForm.validationTimeBetweenQuestion")
    					<td></td>
						<td><div class="row_text">Validation Time Between Questions <input type="text" class="input_text_inline numeric"  name="${status.expression}" value="$!{status.value}" style="width:30px;"/> Seconds.</div></td>
    					<td></td>
                        <td></td>*#
					</tr>
					<tr>
                        #springBind("courseConfigForm.validationNoMissedQuestionsAllowed")
    					<td></td>
						<td><div class="row_text">No. of Missed Questions Allowed <input type="text" class="input_text_inline numeric"  id="${status.expression}" name="${status.expression}" value="$!{status.value}" style="width:30px;"/></div></td>
    					<td></td>
                        <td></td>
					</tr>
					#*
					<tr>
                        #springBind("courseConfigForm.numberOfValidationQuestions")
    					<td></td>
						<td><div class="row_text">No. of Validation Questions <input type="text" class="input_text_inline numeric"  id="${status.expression}" name="${status.expression}" value="$!{status.value}" style="width:30px;"/></div></td>
    					<td></td>
                        <td></td>
					</tr>*#
					
					<tr>
                    	<td colspan="4">
                        	<table>
                        		<tr>
                        			#springBind("courseConfigForm.enableSmartProfileValidation")
                         			#set($enableSmartValidation=$status.value)
                         			#springBind("courseConfigForm.enableDefineUniqueQuestionValidation")
                         			#set($enableDefineUniqueQuestionValidation=$status.value)
                        			<td>
                            			<input type="radio" id="standardValidation" name="validationTypes" #if($enableSmartValidation == false && $enableDefineUniqueQuestionValidation == false) checked #end/>
                        				<label for="standardValidation">Standard Validation</label>
                        			</td>
                        			#springBind("courseConfigForm.enableSmartProfileValidation")
                        			<td>
                            			<input type="radio" name="validationTypes" #if ($!{status.value} == true) checked #end/>
                            			<input type="hidden" id="$!{status.expression}" name="$!{status.expression}" value="$!{status.value}" />
                        				<label for="$!{status.expression}">Smart Profile Validation</label>
                        			</td>
                        			#springBind("courseConfigForm.enableDefineUniqueQuestionValidation")
                         			<td>
                         			    <input type="radio" name="validationTypes" #if ($!{status.value} == true) checked #end/>
                         			    <input type="hidden" id="$!{status.expression}" name="$!{status.expression}" value="$!{status.value}" />
                         				<label for="$!{status.expression}">Define Unique Questions</label>
                         			</td>
                        		</tr>
                			</table>
            			</td>
                    </tr>
                    
					<tr>
    					<td>&nbsp;</td>
 								<td>&nbsp;</td>
     					<td></td>
                    <td></td>
					</tr>
					<tr>
    					<td colspan="4">
    					<div id="uniqueQuestions">
    					  <INPUT type="button" class="add-validation" onclick="addRow('dataTable')" />
                          <INPUT type="button" class="delete-validation" onclick="deleteRow('dataTable')" />

	                      <TABLE id="dataTable" width="350px" border="1">
		                    <TR>
								<TD><input type="checkbox" name="chkAll" id="chkAll"></TD>
								<TD>Question</TD>
								<TD>Question Type</TD>
							</TR>
						</TABLE>
						</div>
    				</td>
						
					</tr>
			 </tbody></table>	
             <!-- ****************************************************************************** -->
        	  </div>
		 
		 <input type="hidden" id="currentpage" name="_page" value="7" />
         <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
        <!-- *********************************************** -->
		<div class="btn-div">
			<div style="float:right; margin-top:15px;">
			  <a onClick="proceedNext();">
				  <div class="btn_start"></div>
				  <div class="btn_normal">Next</div>
				  <div class="btn_end"></div>
			  </a>
			</div>	
			
			<div style="float:right; margin-top:15px;margin-right:5px;">
			  <a onClick="submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_target6');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			
			<div style="float:left; margin-top:15px;margin-left:10px;">
				<a onClick="submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_cancel');">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
					  <div class="btn_end"></div>
				</a>
			</div>  
		</div>	
		
		<!-- bottom-space -->
		<div class="manage-bottom-space"></div>
		<!-- bottom-space -->
		      
       </div>
	   
    </td></tr>
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
        <!-- Footer starts -->
         #parse("snippets/managerFooter.vm")
        <!-- Footer ends -->
	</td></tr>
	
</table>
<STYLE type="text/css">

.message_box_text{
    float: left;
    font-family: Tahoma;
    font-size: 12px;
    height: 40px;
    margin-right: 5px;
    margin-top: 15px;
    width: 330px;
    }
</style>    
<div id='alertMessage' style='display:none'>
    <div class='alert_message_box_title' style="width: 478px;"><span>&nbsp;&nbsp;Error</span></div>
    <div class="alert_message_box_icon"></div>
    <div class="message_box_text"></div>
    <br style="clear:both" />	
    <div class='buttons'>
        <div class='simplemodal-close' style="width:220px">
            <div>
                <a class="" onClick=""><span class="yes button">
                        <div class="btn_start"></div>
                        <div class="btn_normal">OK</div>
                        <div class="btn_end"></div>
                    </span>	</a>
            </div>
        </div>
    </div>
</div>
</div>	
</form>
</body>
<script>
$(document).ready(function(){
  	#foreach($uq in $courseConfigForm.courseConfiguration.lstUniqueQuestionsVO)
  		var enableDefineUniqueQuestionValidation = "$courseConfigForm.enableDefineUniqueQuestionValidation";
  		addRow('dataTable')
  		$("#dataTable tr:last td:eq(1) input").val("$uq.question");
  		var questionType = "$uq.questionType";
  		$("#dataTable tr:last td:eq(2) select option[value='" + questionType + "']").attr("selected", "selected");
  		if(enableDefineUniqueQuestionValidation === 'true') $('#uniqueQuestions').show();
  	#end
});
</script>
</html>