<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#parse("snippets/accreditation/accreditationDefaultHead.vm")
   
    <script type="text/javascript" src="javascript/jquery.alphanumeric.pack.js"></script>
    <script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>
    <script type="text/javascript" language="javascript" src="javascript/richtexteditor/richtext.js"></script>
    <script type="text/javascript" language="javascript">
         $(document).ready(function(){
            $('#content2a').scroll(function(){
            $('#message_box').animate({top:$('#content2a').scrollTop()+"px" },{queue: false, duration: 350});  
            });
            $('#close_message').click(function(){
                $("#message_box").animate({
                   opacity: .5
                }, "slow", "linear", function(){$("#message_box").hide();} );
            });
            $("INPUT[type='checkbox'][name='chk']").click(
               function(){
                  $(this).parent().find("INPUT[type='hidden']").attr('value', $(this).is(':checked'));
               }
            );
            $('.numeric').numeric({allow:"."});
            
            $("input[type='checkbox'][id != 'chkEnabledQuiz']").bind('change', function() {
                checkboxChanged($(this), $('#chkEnabledQuiz'));
            });
            $('#chkEnabledQuiz').change(function(){
                toggleControls($(this).attr('checked'));
                if($(this).is(':checked')){
                    $("INPUT[type='text'][id!='chkEnabledQuiz']").removeAttr('disabled');
                    $("select").removeAttr('disabled');
                    toggleNoResults('$courseConfigForm.quizAssessmentScoringType', 
                            '$courseConfigForm.quizAssessmentMaximumnoattemptEnabled', 
                            '$courseConfigForm.quizAssessmentShowQuestionAnswerReview');
                }else{
                    $("INPUT[type='text'][id!='chkEnabledQuiz']").attr('disabled', true);
                    $("select").attr('disabled', true);
                }
                $("input[type='checkbox'][id != 'chkEnabledQuiz']").trigger('change');
            });
            $('#chkEnabledQuiz').trigger('change');            
            $('#showLearnerScoringType').change(function(){
               toggleNoResults($(this).val());
               $("input[type='checkbox'][id != 'chkEnabledQuiz']").trigger('change');
            });
            $('#allowreviewing').change().change(function(){
               if($(this).is(':checked') && $(this).is(':disabled') == false){
                   $('#quizAssessmentEnableContentRemediation').removeAttr('disabled');
                   $('#quizAssessmentEnableContentRemediation').attr('checked',true);
               }else{
                   $('#quizAssessmentEnableContentRemediation').attr('disabled', true);                   
                   $('#quizAssessmentEnableContentRemediation').attr('checked',false);
               }
               if($(this).is(':checked') && $(this).is(':disabled') == true){                   
                   $('#quizAssessmentEnableContentRemediation').attr('checked',true);
               }
            });
            $('#allowreviewing').trigger('change');
            $('#drpMode').removeAttr('disabled');
        });
		function toggleControls(isChecked)
		{
		
			var str = '';
        var elem = document.getElementById('addCourseConfigForm').elements;
        for(var i = 0; i < elem.length; i++)
        {
			if(elem[i].id!='chkEnabledQuiz' )
			{
				/*
				if(elem[i].name == "chk_quizAllowPauseResumeAssessment")
				{
				
				}
				else 
				*/
				if((elem[i].type=='checkbox' || elem[i].type=='text' || elem[i].type=='select-one') && elem[i].id!='drpMode' )
				{
					elem[i].disabled=!isChecked;
				}
			}
				
        }
                    
		}
                function gotoNextStep(){
                    try{
                        #springBind("courseConfigForm.quizAssessmentNoResultMessage")
                        updateTextArea('$status.expression');
                        submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_target5');
                    }catch(e){
                        alert(e);
                    }
                }
                    
    </script>
</head>
<body >
<form id="addCourseConfigForm" name="addCourseConfigForm" method="post" action="acc_addCourseConfig.do" >
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
	<!--Header Start -->
   #parse("snippets/managerWizardHeader.vm")
	<!-- Header End -->
		 </td></tr>
		 
<!-- Body Start -->
    <tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        <div>
            <div id="l-menu-back">
            	 <div class="l-menu-back-text-h">Add Course Configuration<br> Wizard showing 5 of 11</div>
            	 <div class="l-menu-back-text-acted">1.Summary</div>
            	 <div class="l-menu-back-text-acted">2. Course Policy</div>
				 <div class="l-menu-back-text-acted">3. Course Completion</div>
				 <div class="l-menu-back-text-acted">4. Pre-Assessment Policy</div>
				 <div class="l-menu-back-text-act">5. Quiz Policy</div>
				 <div class="l-menu-back-text">6. Post Assessment Policy</div>
				 <div class="l-menu-back-text" title="Special Post Assessment Validation" >7. Special Post Assessment ...</div>
				 <div class="l-menu-back-text">8. Validation</div>
				 <div class="l-menu-back-text">9. Disclaimar Options</div>
				 <div class="l-menu-back-text">10. Max Seat Time Enforcement</div>
				 <div class="l-menu-back-text">11. Min Seat Time Requirements</div>
				 <div class="l-menu-back-text">12. Confirmation</div>

            </div>
     	 </div>
		 </table></td>
		 
<TD id="content" >
	<div id="scrollable">
            #springBind("courseConfigForm.*")
            #if($status.error)  
                <!-- error-box -->
                <div id="message_box">
                    <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                    #foreach($errorCode in $status.errorCodes)         
                        #set ($error = $brander.getBrandElement($errorCode))
                        <div class="width40pct">
                            <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                            <div class="message_box_align">$error</div>
                        </div>
                    #end
                </div>
             #end 
		
		 	  <!-- Page Description -->
<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_approvals">&nbsp;</td>
		<td id="page-description">
		<div id="page-heading">$brander.getBrandElement("lms.accraditation.AddCourseConfiguation.caption.AddCoursConfigurationTemplate")</div>
		<div id="page-help">$brander.getBrandElement("lms.accraditation.AddCourseConfiguation.caption.pagedescription_step5")</div>
		</td>
	</tr>
</table>				  
			  

        	  <div class="search_box_result">
        			 <div class="box_header"><span class="box_heading">Quiz Policy</span></div>
				     <!-- *********************************************************************************** -->
                     <table heigth="100%" width="100%" border="0" cellpadding="0" cellspacing="3">
                            <tbody><tr>
                                <td width="20px" height="5"></td>
                                <td width="48%"></td>
                                <td width="20px"></td>
                                <td width="48%"></td>
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentEnabled")
                                <td><input type="checkbox" id="chkEnabledQuiz" name="chk" #if ($!{status.value}) checked #end/><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Enable Quiz</div></td>
                                #springBind("courseConfigForm.quizAssessmentEnableAssessmentProctoring")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Enable Proctored Assessment Enforced by Affidavit</div></td>
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentNoquestion")
                                <td></td>
                                <td><div class="row_text">Number of Question <input class="input_text_inline numeric" type="text" name="${status.expression}" value="${status.value}" style="width:30px;"></div></td>
                                 #springBind("courseConfigForm.quizAssessmentEnforcemaximumtimelimitCB")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
								#springBind("courseConfigForm.quizAssessmentEnforcemaximumtimelimit")
                                <td><div class="row_text">Automatically Grade Assessment after <input class="input_text_inline numeric" type="text" name="${status.expression}" value="${status.value}" style="width:30px;"> Minutes</div></td>
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentMasteryscore")
                                <td></td>
                                <td><div class="row_text">Mastery Score <input class="input_text_inline numeric" type="text" name="${status.expression}" value="${status.value}" style="width:30px;">%</div></td>
                               <td></td>
                                #springBind("courseConfigForm.quizAssessmentGradingBehavior")
                                <td><div class="row_text">Grade Questions 
                                        <select  style="width:180px; font-size:10px;" name="${status.expression}" id="gradeQuestion">
                                            <option #if(${status.value}=="AfterAssessmentIsSubmitted") selected #end value="AfterAssessmentIsSubmitted">After Assessment is Submitted</option>
                                            <option  #if(${status.value}=="AfterEachQuestionIsAnswered") selected #end value="AfterEachQuestionIsAnswered">After Each Question is Answered</option>
                                        </select> </div>
                                </td>
                            
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentRandomizeQuestions")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Randomize Questions</div></td>
                                #springBind("courseConfigForm.quizAssessmentShowQuestionAnswerReview")
                                <td><input id="allowreviewing" type="checkbox" name="chk" #if ($!{status.value}) checked #end  /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Allow Reviewing Questions and Answers After Grading</div></td>
                            
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentRandomizeAnswers")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Randomize Answers</div></td>
                                 #springBind("courseConfigForm.quizAssessmentShowQuestionLevelResults")
                                <td><input type="checkbox" name="chk" #if(${status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Show Feedback While Reviewing Questions</div></td>
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentUseUniqueQuestionsOnRetake")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Ask Unique Questions in Retakes</div></td>
                               #springBind("courseConfigForm.quizAssessmentScoringType")
                                <td></td>
                                <td><div class="row_text">Show the Learner 
                                        <select style="width:150px; font-size:10px;" id="showLearnerScoringType" name="${status.expression}">
                                            <option #if(${status.value}=="Percent Score") selected #end value="Percent Score">Percentage Score</option>
                                            <option #if(${status.value}=="Pass/Fail") selected #end value="Pass/Fail" value="Pass/Fail">Only Pass and Fail</option>
                                            <option #if(${status.value}=="No Results") value="No Results" selected #end>No Results</option>
                                        </select>
                                    </div>
                                </td>                                
                            
                            </tr>

                            <tr>
                                #springBind("courseConfigForm.quizAssessmentAllowQuestionSkipping")
                                <td><input type="checkbox"  name="chk" #if ($!{status.value}) checked #end /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Allow Skipping Questions</div></td>
								
								#springBind("courseConfigForm.quizAssessmentEnableContentRemediation")
                                <td><input type="checkbox" id="$!{status.expression}" name="chk" #if($!{status.value}) checked #end  /><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>                                
                                <td><div class="row_text">Content Remediation</div></td>																
                            
                            </tr>
                            <tr>
                                #springBind("courseConfigForm.quizAssessmentMaximumnoattemptEnabled")
                                <td>
                                    <input type="checkbox" id="afterFailing" name="${status.expression}" #if (! $!{status.value}) #else checked #end />
                                    <input name="_$!{status.expression}" type="hidden" value="$!{status.value}" />
                                </td>
                                #springBind("courseConfigForm.quizAssessmentActionToTakeAfterMaximumAttemptsReached")
                                <td><div class="row_text">
                                <select style="width: 150px; font-size:10px;" name="${status.expression}" value="${status.value}">
                                	
                                	
									
									<option #if(${status.value}=="Retake Lesson") selected #end value="Retake Lesson">Retake Lesson</option>
									<option #if(${status.value}=="Go To Next Lesson") selected #end value="Go To Next Lesson">Go To Next Lesson</option>
									<option #if(${status.value}=="Lock Course") selected #end value="Lock Course">Lock Course</option>
                                	
                            	</select> After failing 
                                #springBind("courseConfigForm.quizAssessmentMaximumnoattempt") 
                                <input class="input_text_inline numeric" type="text" style="width:30px;" name="${status.expression}" value="${status.value}"> Attempts</div></td>
								#springBind("courseConfigForm.quizAssessmentEnableRestrictiveAssessmentMode")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end/><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Restrictive Mode</div></td>
                                
                            </tr>
                            
							
                            <tr>
                            #springBind("courseConfigForm.quizAssessmentEnableAdvancedQuestionSelectionType")
                            <td>
                                <input type="checkbox" name="chk" #if ($!{status.value}) checked #end/>
                                <input type="hidden" name="$!{status.expression}" value="$!{status.value}"/>
                            </td>
                               #springBind("courseConfigForm.quizAssessmentAdvancedQuestionSelectionType") 
                               <td><div class="row_text">Enable Advanced Question Selection 
                                    <select style="width:150px; font-size:10px;" name="${status.expression}">
                                        <option #if(${status.value}=="Discrete") selected #end value="Discrete">Discrete Question</option>
                                        <option #if(${status.value}=="MinMax") selected #end value="MinMax">Min/Max Question</option>
                                    </select>
                                   </div>
                               </td>
                                
								
								#springBind("courseConfigForm.quizAssessmentEnableWeightedScoring")
                                <td><input type="checkbox" name="chk" #if ($!{status.value}) checked #end/><input type="hidden" name="$!{status.expression}" value="$!{status.value}"/></td>
                                <td><div class="row_text">Weighted Scoring</div></td>
                                
                            </tr>
                            
                                                        
                            <tr>
								<td>
								#*
								#springBind("courseConfigForm.requireProctorValidation")                                
                                #if("$!status.value" == "true")                                
                                    #springBind("courseConfigForm.quizAllowPauseResumeAssessment")
                                    <input type="checkbox" name="chk_quizAllowPauseResumeAssessment" disabled="disabled"/>
                                    <input type="hidden" name="$!{status.expression}" value="false" />
                                #else
                                *#
                                    #springBind("courseConfigForm.quizAllowPauseResumeAssessment")
                                    <input type="checkbox" name="chk" #if ($!{status.value}) checked #end/>
                                    <input type="hidden" name="$!{status.expression}" value="$!{status.value}" />
                                ###end                                
                                </td>
                                <td><div class="row_text">$brander.getBrandElement("lms.accraditation.CourseConfiguation.PreAssessmentPolicy.allowStudentToStopAndResumeQuiz")</div></td>
                             	<td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            
                            <tr>
                            	<td>
                            		#springBind("courseConfigForm.quizLockoutAssessmentActiveWindow")
                            		<input type="checkbox" name="chk" #if($!{status.value}) checked #end />
                            		<input type="hidden" name="${status.expression}" value="${status.value}" />
                            	</td>
                            	<td>
                            		<div class="row_text">$brander.getBrandElement("lms.accraditation.CourseConfiguation.PreAssessmentPolicy.lockoutFunctionalityClickForActiveWindow")</div>
                            	</td>
                            </tr>
                            
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="padding-left:15px">
                                    #springBind("courseConfigForm.quizAssessmentScoringType")
                                    <div id="NoResultsRow" #if(${status.value}=="No Results") style="display:block;margin-right:39px";"; #else style="display:none"; #end>
                                        <!-- WISIWIG START -->                                    
                                        #springBind("courseConfigForm.quizAssessmentNoResultMessage")
                                        <textarea id="${status.expression}" name="${status.expression}" style="display: none;">$!{status.value}</textarea>
                                        <script language="JavaScript">
                                           generate_wysiwyg('${status.expression}');
                                        </script>
                                        <!-- WISIWIG END  -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                     </tbody></table>
                     <!-- *********************************************************************************** -->
			 </div>
		 
		 <input type="hidden" id="currentpage" name="_page" value="4" />
         <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

        <!-- *********************************************** -->
		<div class="btn-div">
			<div style="float:right; margin-top:15px;">
			  <a onClick="gotoNextStep();">
				  <div class="btn_start"></div>
				  <div class="btn_normal">Next</div>
				  <div class="btn_end"></div>
			  </a>
			</div>	
			
			<div style="float:right; margin-top:15px;margin-right:5px;">
			  <a onClick="submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_target3');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			
			<div style="float:left; margin-top:15px;margin-left:10px;">
				<a onClick="submitButtonForm(document.addCourseConfigForm,'wizardSubmitter','_cancel');">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
					  <div class="btn_end"></div>
				</a>
			</div>  
		</div>	
		
		<!-- bottom-space -->
		<div class="manage-bottom-space"></div>
		<!-- bottom-space -->
		
       </div>
	   
    </td></tr>
<!-- Body End -->
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
	<!-- Footer Start -->
	#parse("snippets/managerFooter.vm")
	<!-- Footer End -->
	</td></tr>
    </table>
</form>
</body>
</html>