<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
            #parse("snippets/accreditation/accreditationDefaultHead.vm")
  
    <script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>
 </head>

<body>
<form name="approvalForm" method="post" action="acc_addApproval.do">
	<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
		<tr> <!-- First Block -->
			<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
        <!-- Header starts -->
        #parse("snippets/managerWizardHeader.vm")
        <!-- Header ends -->
		</td></tr>
		
<!-- Body Start -->
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-sidebar" valign="top">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
        <div>
                <div id="l-menu-back">
                        <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accraditation.addApproval5.caption.addApp_providerConfirm")</div>
                        <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accraditation.addApproval.caption.step1")</div>
                        <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accraditation.addApproval.caption.step2")</div>
                        <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accraditation.addApproval.caption.step3")</div>
                        <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accraditation.addApproval5.caption.step4")</div>
                        <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accraditation.addApproval5.caption.step5")</div>
                </div>
        </div>

      		</table></td>
				
<TD id="content" >
	<div id="scrollable">
                <!-- Page Description -->
<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
	<tr><td id="page-icon" class="icon_approvals">&nbsp;</td>
		<td id="page-description">
		<div id="page-heading">$brander.getBrandElement("lms.accraditation.editApproval.caption.Add-Approvals")</div>
		<div id="page-help">$brander.getBrandElement("lms.accraditation.addApproval5.caption.PgDesc")</div>
		</td>
	</tr>
</table>
				

                <div class="search_box_result">
                        <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accraditation.addApproval.caption.Regulator")</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                        #springBind("approvalForm.regulatorCategories")
                        #foreach($regCat in $!{status.value})
                                #if($reg.selected == 'true')
                                <tr>
                                        <td width="30%"><div class="row_text"><b>$regCat.category.displayName</b></div></td>
                                        <!-- <td><div class="row_text">Value</div></td> -->
                                </tr>
                                #end
                        #end
                                <tr>
                                        <td height="5"></td>
                                        <td></td>
                                </tr>
                        </table>
                        </div>

                      

                <div class="search_box_result">
                        <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.assignEnrollmentSummary.caption.header")</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                <tr>
                                        <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Approved-Provider-Name")</b></div></td>
                                        #springBind("approvalForm.providerApproval.approvedProviderName")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Date-Provider-Starts")</b></div></td>
                                        #springBind("approvalForm.effectiveStartDate")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                </tr>
                                <tr>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider-Approval-Number")</b></div></td>
                                        #springBind("approvalForm.providerApproval.providerApprovalNumber")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.addApproval.caption.effEnd")</b></div></td>
                                        #springBind("approvalForm.effectiveEndDate")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                </tr>
                                <tr>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider-Approval-Status")</b></div></td>
                                        #springBind("approvalForm.providerApproval.providerApprovalStatus")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Date-Provider-Submitted")</b></div></td>
                                        #springBind("approvalForm.rescentSubmittedDate")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                </tr>
                                <tr>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider-Approval-Period")</b></div></td>
                                        #springBind("approvalForm.providerApproval.providerApprovalPeriod")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Date-Provider-Approved")</b></div></td>
                                        #springBind("approvalForm.originalApprovadDate")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                </tr>
                                <tr>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider-Director")</b></div></td>
                                        #springBind("approvalForm.providerApproval.providerDirector")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider-Submission-Reminder-Date")</b></div></td>
                                        #springBind("approvalForm.submissionReminderDate")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                </tr>
                                <tr>
                                        <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.caption.Other-Provider-Representative")</b></div></td>
                                        #springBind("approvalForm.providerApproval.otherProviderRepresentative")
                                        <td><div class="row_text">$!{status.value}</div></td>
                                        <td></td>
                                </tr>
                        </table>
                </div>

              

                <div class="search_box_result">
                        <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accraditation.editApproval.caption.Provider")</span></div>
                        <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                <tr>
                                        <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.editApproval.editDocument.caption.Provider-Name")</b></div></td>
                                        <td><div class="row_text">$providerName</div></td>
                                </tr>
                        </table>
                        </div>

              

                <div class="search_box_result">
                    <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.editCredential.caption.Custom-Fields")</span></div>
                    #springBind("approvalForm.customFields")
                    #if($status.value.size()>0)
                    <table border="0" width="100%" cellpadding="0" cellspacing="3">
                        #foreach($customField in $status.value)
                        <tr valign="top">
                            <td width="30%"><div class="row_text"><b>$!{customField.customFieldRef.fieldLabel}</b></div></td>
                            <td width="8%">
                                <div class="row_text">
                                    #if($!{customField.customFieldRef.fieldType}=="MULTISELECTCUSTOMFIELD")
                                       #foreach($options in ${customField.customFieldValueChoices})
                                            #if($options.selected)
                                            $options.customFieldValueChoiceRef.label <br />
                                            #end
                                       #end
                                       #foreach($selectoption in ${customField.selectedChoices})
                                            #foreach($options in ${customField.customFieldValueChoices})
                                                #if($!{selectoption} == $!{options.customFieldValueChoiceRef.id}) 
                                                $options.customFieldValueChoiceRef.label <br /> #end
                                            #end
                                       #end
                                    #elseif($!{customField.customFieldRef.fieldType}=="SINGLESELECTCUSTOMFIELD")
                                        #foreach($options in ${customField.customFieldValueChoices})
                                            #if($!{customField.customFieldValueRef.value} == $!{options.customFieldValueChoiceRef.value}) $options.customFieldValueChoiceRef.label #end
                                        #end
                                    #else
                                        #if($!{customField.customFieldRef.fieldEncrypted})
                                            $!{customField.getEncriptedValue()}
                                        #else
                                            $!{customField.customFieldValueRef.value}
                                        #end
                                    #end
                                </div>
                            </td>
                            <td width="40%"></td>
                            <td width="8%"></td>
                        </tr>
                        #end
                    </table>
                    #end
                </div>

            <input type="hidden" id="currentpage" name="_page" value="17" />
            <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
        <!-- *********************************************** -->
		<div class="btn-div">
			<div style="float:right; margin-top:15px;">
			  <a onClick="submitButtonForm(document.approvalForm,'wizardSubmitter','_finish');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.manageUser.viewNewLearner.caption.Finish")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>	
			
			<div style="float:right; margin-top:15px;margin-right:5px;">
			  <a onClick="submitButtonForm(document.approvalForm,'wizardSubmitter','_target8');">
				  <div class="btn_start"></div>
				  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
				  <div class="btn_end"></div>
			  </a>
			</div>
			
			<div style="float:left; margin-top:15px;margin-left:10px;">
				<a onClick="submitButtonForm(document.approvalForm,'wizardSubmitter','_cancel');">
					  <div class="btn_start"></div>
					  <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
					  <div class="btn_end"></div>
				</a>
			</div>  
		</div>	
		
		<!-- bottom-space -->
		<div class="manage-bottom-space"></div>
		<!-- bottom-space -->
		
       </div>
    </td></tr>
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
        <!-- Footer starts -->
         #parse("snippets/managerFooter.vm")
        <!-- Footer ends -->
	</td></tr>
	
</table>s
</form>
</body>
</html>