body, body a:active, body a:visited, body a:link {
color:#000000;
font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif;
font-size:11px;
height:100%;
margin-left:0;
margin-top:0;
min-width:1024px;
overflow:hidden;
width:100%;
}
#main-container {
background:none repeat scroll 0 0 #FFFFFF;
border:0 solid #FF0000;
height:100%;
min-height:100%;
position:absolute;
width:100%;
}
html {
height:100%;
min-width:760px;
overflow:hidden;
width:100%;
}
#frame_body {
height:100%;
min-width:760px;
overflow:hidden;
padding-right:1%;
width:100%;
}
div#header {
background-image:url("../../images/bg_header.gif");
background-repeat:repeat-x;
height:88px;
overflow:hidden;
width:100%;
}
.page_header {
background-image:url("../../images/bg_header.gif");
background-repeat:repeat-x;
height:88px;
overflow:hidden;
width:100%;
}
.logo360{
margin-left:15px;
margin-top:18px;
float:left;
}
.welcome_message {
margin-left:15px;
margin-top:7px;
}
.page_description {
border:1px solid #FFFFFF;
height:75px;
margin-bottom:10px;
margin-left:15px;
margin-top:15px;
width:auto;
}
.page_heading {
font-size:24px;
letter-spacing:-1px;
margin-top:25px;
word-spacing:-2px;
}
.icon_regulator, .icon_credentials, .icon_providers, .icon_approvals, .icon_search, .icon_user, .icon_instructor, .icon_courses, .icon_reports, .
icon_custom_field, .icon_distributor, .icon_resources, .icon_tools {
background-image:url("../../images/customers_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_style {
border:0 none;
margin-bottom:3px;
}
.icon_credentials {
background-image:url("../../images/surveys_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_providers {
background-image:url("../../images/distributors_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_approvals {
background-image:url("../../images/courses_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_user {
background-image:url("../../images/icon_users.gif");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_search {
background-image:url("../../images/search_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_instructor {
background-image:url("../../images/customers_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_courses {
background-image:url("../../images/training_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_reports {
background-image:url("../../images/reports_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_custom_field {
background-image:url("../../images/surveys_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_distributor {
background-image:url("../../images/distributors_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_resources {
background-image:url("../../images/login_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_tools {
background-image:url("../../images/entitlements_lg.png");
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.icon_collapse, .icon_expand, .icon_blank {
background-image:url("../../images/icon_collapse.gif");
float:left;
height:14px;
margin-right:5px;
margin-top:3px;
width:14px;
}
.icon_expand {
background-image:url("../../images/icon_expand.gif");
}
.icon_blank {
background-image:none;
}
.buttons_panel {
margin-bottom:10px;
margin-left:15px;
width:auto;
}
.input_text {
border:1px none #CCCCCC;
font-size:11px;
margin-left:30px;
min-width:410px;
}
.visible {
display:none;
}
.tool_tip {
background-color:#E2E2E2;
background-repeat:no-repeat;
border:1px solid #CACACA;
color:#4C4B4B;
font-size:10px;
height:17px;
left:0;
min-width:60px;
padding-left:5px;
padding-right:5px;
padding-top:3px;
position:absolute;
text-align:center;
top:0;
visibility:hidden;
}
.header_icon, .header_icon_selected {
background-position:center top;
background-repeat:no-repeat;
color:#000000;
cursor:pointer;
float:right;
font-size:11px;
height:60px;
margin-left:7px;
margin-right:7px;
margin-top:4px;
padding-top:0;
text-align:center;
text-transform:uppercase;
width:75px;
}
.header_icon_selected {
 font-size:11px;
 font-weight:bold;

}
.icon_calen {
background-image:url("../../images/icon_calen.gif");
cursor:pointer;
float:left;
height:16px;
margin-left:10px;
width:14px;
}

.message_box_align{float: left;margin: 5px;}
.width40pct{float: left;}
#message_box { 
   position: absolute; 
   margin-left:16px;
   *margin-left:0px;
   top: 100;
   z-index: 100; 
   background:#fff;
   padding:5px;
   border:1px solid #FF0000;
   font-family:Arial, Helvetica, sans-serif;
   text-align:left; 
   color: #FF0000;
   width: 94%;
}

.message_box{
    position:absolute;
    width:354px;
    height:127px;
    border:1px;
    border-style:solid;
    border-top-color:#fbfff4;
    border-left-color:#fbfff4;
    border-bottom-color:#686868;
    border-right-color:#686868;
    background-color:#e9e9e9;
    }

.message_box_title {
background-image:url("../../images/bg_msg_header.gif");
color:#FFFFFF;
font-family:Tahoma;
font-size:12px;
font-weight:bold;
height:16px;
padding-left:5px;
padding-top:2px;

}
.message_box_text {
float:right;
font-family:Tahoma;
font-size:12px;
height:40px;
margin-right:5px;
margin-top:15px;
width:280px;
}
.message_box_icon {
background-image:url("../../images/icon_warn.png");
background-repeat:no-repeat;
float:left;
height:40px;
margin-left:15px;
margin-right:5px;
margin-top:15px;
width:45px;
}
.selected_object {
font-size:14px;
font-weight:bold;
margin-bottom:10px;
margin-left:20px;
}
.row_text {
padding-left:15px;
}
.input_text_field {
border:1px solid #DCD8D8;
float:left;
font-size:11px;
height:13px;
padding-left:2px;
padding-top:2px;
width:178px;
}
.input_text_area {
border:1px solid #DCD8D8;
font-family:Tahoma;
font-size:11px;
height:100px;
padding-left:2px;
padding-top:2px;
width:350px;
}
.input_select {
border:1px solid #DCD8D8;
font-family:Tahoma;
font-size:11px;
margin-bottom:15px;
min-width:250px;
}
.input_radio {
border:1px solid #FFFFFF;
float:left;
font-family:Tahoma;
font-size:11px;
margin-left:5px;
margin-right:5px;
margin-top:2px;
}
.input_check {
margin-left:-3px;
margin-right:3px;
}
.tab_bar {
background-image:url("../../images/bg_tabs.gif");
border-color:-moz-use-text-color -moz-use-text-color #DDDDDD;
border-color:#DDDDDD;
border-style:none none solid;
border-width:0 0 1px;
height:25px;
min-width:1024px;
}
.tab, .tab_selected {
border-color:-moz-use-text-color #DADADA;
border-left:1px solid #DADADA;
border-right:1px none #DADADA;
border-style:none none none solid;
border-width:0 1px;
color:#666666;
cursor:pointer;
float:left;
font-size:10px;
height:21px;
padding-top:5px;
text-align:center;
text-transform:uppercase;
width:100px;
}
.tab_selected {
color:#666666;
font-weight:bold;
}
.tab:hover, .tab_selected:hover {
color:#000000;
}
.tab_blank {
border-bottom:0 none;
border-right:1px solid #DADADA;
border-top:0 none;
float:left;
height:21px;
padding-top:5px;
width:195px;
}
.blank_div {
float:left;
height:23px;
}
div#l-menu-back {
float:left;
font-family:'Tahoma';
font-size:11px;
font-weight:normal;
left:10px;
margin:0 auto;
min-width:50px;
padding:8px 0 10px;
position:relative;
top:10px;
width:170px;
}
.l-menu-back-text-h {
border-bottom:1px solid #BCBCBC;
color:#003B81;
font:12px 'Tahoma';
padding:0 0 5px;
}
.l-menu-back-text {
background:url("../../images/inactive-b.gif") no-repeat scroll left center transparent;
border-bottom:1px solid #BCBCBC;
color:#BCBCBC;
font:10px 'Tahoma';
padding:6px 0 7px;
text-indent:15px;
}
.l-menu-back-text-act {
background:url("../../images/active-b.gif") no-repeat scroll left center transparent;
border-bottom:1px solid #BCBCBC;
color:#434343;
font:bold 10px 'Tahoma';
padding:6px 0 7px;
text-indent:15px;
}
.l-menu-back-text-acted {
background:url("../../images/acted-b.gif") no-repeat scroll left center transparent;
border-bottom:1px solid #BCBCBC;
color:#BCBCBC;
font:10px 'Tahoma';
padding:6px 0 7px;
text-indent:15px;
}
.document_text {
margin-left:8px;
}
.confirmation_text {
font-size:16px;
font-weight:bold;
margin-left:15px;
margin-top:20px;
}
.select_box {
border:1px solid #DCD8D8;
font-size:11px;
height:20px;
width:185px;
}
.required_field {
color:#FF0000;
float:left;
font-size:14px;
font-weight:bold;
margin-right:5px;
margin-top:2px;
}
.error_text {
color:#FF0000;
float:left;
font-weight:bold;
padding-left:15px;
}
.error_icon {
background:url("../../images/!mark.gif") no-repeat scroll left center transparent;
float:left;
height:14px;
margin-right:10px;
width:14px;
}
.error_message {
background:url("../../images/!mark.gif") no-repeat scroll 0 0 transparent;
color:#FF0000;
float:left;
margin-bottom:5px;
margin-right:15px;
min-width:150px;
text-indent:24px;
}
.close_icon {
background:url("../../images/cross.png") no-repeat scroll left center transparent;
cursor:pointer;
float:right;
height:12px;
margin-right:-5px;
margin-top:-5px;
width:12px;
}
.input_text_inline {
border:1px solid #DCD8D8;
font-size:11px;
height:13px;
padding-left:2px;
padding-top:2px;
width:2em;
}
.error_box {
background:none repeat scroll 0 0 white;
border:1px solid red;
margin-left:15px;
min-height:25px;
overflow:hidden;
padding:10px;
width:auto;
}
.sa_button {
float:left;
margin-bottom:15px;
margin-left:20px;
margin-top:2px;
min-width:100%;
}
.icon_change {
background-image:url("../../images/icon_change.gif");
cursor:pointer;
float:right;
height:11px;
width:10px;
}
.table_column {
float:left;
margin:5px;
}
.input_text_small {
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
float:left;
margin:0 4px 0 0;
padding:0;
width:40px;
}
.column_text_small {
margin-top:2px;
}
.check_box_small {
float:left;
margin-right:4px;
}
.portlet_subheader {
background:none repeat scroll 0 0 #EFEFEF;
border-bottom:1px solid #DFDFDF;
border-top:1px solid #DFDFDF;
font-weight:bold;
height:25px;
padding-left:7px;
text-transform:uppercase;
}
.portlet_row_1, .portlet_row_2 {
background:none repeat scroll 0 0 #FFFFFF;
border-bottom:1px solid #DFDFDF;
cursor:pointer;
height:23px;
padding-left:8px;
}
.portlet_row_2 {
background:none repeat scroll 0 0 #F4F4F4;
}
.tooltip {
background:none repeat scroll 0 0 #DFECF9;
border:1px solid #A8CAFE;
font-size:10px;
padding:12px;
position:absolute;
width:240px;
z-index:100;
}
.table-frame {
border-color:#EBE6E6 !important;
border-style:solid;
border-width:1px;
height:auto;
margin-left:15px;
overflow:hidden;
padding:1px;
width:auto;
}
.table-header {
background-color:#F9F9F9;
background-repeat:repeat-x;
height:24px;
}
.table-text {
float:left;
margin-left:10px;
}
.table-text-red {
color:red;
font-weight:bold;
margin-left:10px;
margin-right:10px;
}
.table-text-right {
float:right;
margin-right:10px;
}
.table-blank-result-text {
padding:10px;
}
.table-heading {
color:#000000;
float:left;
font-family:Tahoma;
font-size:12px;
font-weight:bold;
margin-left:4px;
margin-top:4px;
text-transform:uppercase;
}
#table-pagination {
float:right;
height:24px;
width:55%;
}
.table-search {
float:left;
margin-top:2px;
}
#table-pagination-text {
color:#7A7A7A;
float:right;
font-family:Tahoma;
font-size:10px;
font-weight:bold;
margin-right:9px;
margin-top:6px;
padding-left:8px;
}
.table-column-heading, .table-first-column-heading, .table-last-column-heading {
border-color:#DFDFDF !important;
border-style:solid solid solid none;
border-width:1px 1px 1px 0;
cursor:pointer;
font-weight:bold;
height:25px;
padding-left:4px;
text-transform:uppercase;
}
.table-first-column-heading {
padding-left:1px;
width:23px;
}
.table-last-column-heading {
border-right:0 none;
}
.table-column-text, .table-first-column-text, .table-last-column-text, .table-column-text-last-row, .table-first-column-text-last-row, .
table-last-column-text-last-row {
border-color:#DFDFDF !important;
border-style:none solid solid none;
border-width:0 1px 1px 0;
font-weight:normal;
height:25px;
padding-left:4px;
text-transform:none;
}
.table-first-column-text, .table-first-column-text-last-row {
padding-left:1px;
width:23px;
}
.table-last-column-text, .table-last-column-text-last-row {
border-right:0 none;
}
.table-column-text-last-row, .table-first-column-text-last-row, .table-last-column-text-last-row {
border-bottom:0 none;
}
.input-text {
border:1px solid #CCCCCC;
float:left;
font-size:11px;
}
.icon-calender {
background-image:url("../../images/icon_calen.gif");
cursor:pointer;
float:left;
height:16px;
margin-left:10px;
width:14px;
}
.icon-move-up, .icon-move-down, .icon-move-top, .icon-move-bottom {
background-image:url("../../images/move-up.png");
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
float:left;
height:11px;
margin-left:1px;
margin-right:1px;
width:11px;
}
.icon-move-down {
background-image:url("../../images/move-down.png");
}
.icon-move-top {
background-image:url("../../images/move-top.png");
}
.icon-move-bottom {
background-image:url("../../images/move-bottom.png");
}
.move-icons-all {
padding-left:22px;
}
.move-icons-few {
padding-left:27px;
}
.move-icons-two {
padding-left:34px;
}
.wizard-left-button {
float:left;
margin-left:20px;
margin-top:20px;
}
.wizard-right-button {
float:right;
margin-right:20px;
margin-top:20px;
}
#course-table {
margin-bottom:10px;
margin-left:20px;
margin-top:5px;
padding-right:35px;
}
#course-list {
border:1px solid #CCCCCC;
margin-top:15px;
}
#course-list .header {
font-size:13px;
font-weight:bold;
height:28px;
padding:3px 3px 3px 8px;
}
#course-list-alt {
margin-top:15px;
}
#course-list-alt .header-cat {
border-color:-moz-use-text-color -moz-use-text-color #CCCCCC;
border-style:none none solid;
border-width:0 0 1px;
font-size:13px;
font-weight:bold;
height:28px;
padding:3px 3px 3px 8px;
}
#course-list-alt .header {
font-size:16px;
font-weight:bold;
height:28px;
padding:3px 3px 3px 8px;
}
.table-row {
border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
border-style:solid none none;
border-width:1px 0 0;
height:20px;
padding-left:10px;
text-transform:capitalize;
}
.schedule-1, .schedule-2, .schedule-3, .schedule-4, .schedule-5, .schedule-6 {
display:none;
}
.courseLogoCourses {
  float:left;
    width:75px;
    height:75px;    
    background-repeat:no-repeat;
    margin-right:5px;
    vertical-align:middle;
   background:transparent url("../../images/pageicons/trainingplans.png");
}

.content-Block-new {position:relative;width: 98%;min-height:5%;float: left;text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 0px;border-color:
#dfdfdf !Important;
    border:1px;
    border-style:solid;
        border-bottom:0;
        } 
.input_field_browse {width:65%;position:relative;float: left;margin: 0px 0px 0px 0px;}
div.fileinputs {
    width:600px;
    overflow:hidden;
    height:23px;
}

div.fakefile {
    float:left;
    position: relative;
    top: -22px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
    z-index: 2;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    height:22px;
    width:440px;
    cursor:pointer
}

a.browsbutton {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    background: transparent url(../../images/button_right.gif) no-repeat center right;
    white-space: nowrap;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10px !important;
    font-size: 10px;
    padding: 5px 6px 8px 0 !important;
    line-height: 8px !important;
    letter-spacing: 1px;
    font-weight: normal;
    float:left;
    margin-left:10px;
    width:70px;
    *width:75px;
}

a.browsbutton span {
    background: transparent url(../../images/button_left.gif) no-repeat center left;
    padding: 3px 3px 3px 15px !important;
    *padding: 3px 3px 3px 20px !important;
    font-weight: normal;
}
/* Container */
#simplemodal-container {height:125px; width:400px; background-color:#e9e9e9; border:2px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }
#simplemodal-container .header {height:16px; width:398px; background:url(../../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; font-weight:bold;
 line-height:16px;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:
absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:8px;}
#simplemodal-container .buttons {width:95px; padding:10px 18px 0;margin-left: auto;margin-right: auto} 
/*#simplemodal-container .buttons div { margin-left:8px; width:71px; height:19px; color:#ffffff; font-weight:bold; text-align:center; 
background:url(../images/button_71.gif) repeat-x; cursor:pointer;font-size:11px;}*/

/* Confirm Overlay */
#confirmModalOverlay {background-color:#eee; cursor:wait;}

/* Container */
/*#confirmModalContainer {width:485px;height:125px; width:400px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; 
background:#e9e9e9; border:1px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }*/
#confirmModalContainer {height:125px;  font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#e9e9e9; border:
1px solid #336699;border-color:#FBFFF4 #686868 #686868 #FBFFF4; }

#confirmModalContainer .header {height:16px; background:url(../../images/bg_msg_header.gif) repeat-x; color:#fff; font-size:12px; 
font-weight:bold; line-height:16px;}
#confirmModalContainer .header span {padding-left:8px;}
#confirmModalContainer .message {color:#333; text-align:center; margin:0; padding:12px 4px; font-size:1em;}
#confirmModalContainer .buttons {width:195px; padding:10px 18px 0;margin-left: auto;margin-right: auto;} 
/*#confirmModalContainer .buttons div { margin-left:8px;float:left; width:71px; height:19px; color:#ffffff; font-weight:bold; text-align:center; 
background:url(../images/button_71.gif) repeat-x; cursor:pointer;font-size:11px;}*/
#confirmModalContainer a.modalCloseX,
#confirmModalContainer a.modalCloseX:link,
#confirmModalContainer a.modalCloseX:active,
#confirmModalContainer a.modalCloseX:visited {text-decoration:none; font-weight:bold; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ddd;}
#confirmModalContainer a.modalCloseX:hover {color:#9bb3b3;}

.box_header a {margin-left:5px;}
.Block-Contain-header a {margin-left:5px;}
.search_box40 a {margin-left:5px;}
.btn-main-div a {margin-left:5px;}
.logoContainer {
border:1px solid #FFFFFF;
height:75px;
margin-bottom:10px;
margin-left:15px;
margin-top:15px;
width:auto;
}

.logoContainerInner1  {
display:table-cell;
vertical-align:middle;
}
.courseTitle1 {
font-size:24px;
letter-spacing:-1px;
margin-top:25px;
word-spacing:-2px;
}
.courseLogoUser {
background:url("../../images/pageicons/users.png") no-repeat scroll 0 0 transparent;
background-repeat:no-repeat;
float:left;
height:75px;
margin-right:5px;
vertical-align:middle;
width:75px;
}
.courseDetails {
}
.content-Block {
border:1px solid #DDDDDD;
float:left;
margin:0;
min-height:5%;
padding:1px 0 0;
position:relative;
text-align:left;
width:98%;
}
.Search-Containerheaderleft  {
color:#000000;
float:left;
font-size:11px;
font-weight:bold;
margin:3px 0 0 5px;
text-transform:uppercase;
width:60%;
}
.search-content-row  {
font-family:'Tahoma';
font-size:11px;
font-weight:normal;
height:20px;
margin:4px 0;
position:relative;
width:100%;
}
.input_field {
background-color:#FFFFFF;
border:1px solid #DCD8D8;
font-size:9px;
height:15px;
position:relative;
width:100%;
}
.manager-bottom-space  {
border:0 solid #6600FF;
float:left;
height:16px;
min-height:3%;
position:relative;
width:97%;
}
.Block-Contain-header  {
background:none repeat scroll 0 0 #F9F9F9;
height:24px;
padding-bottom:2px;
width:100%;
}
.Search-inputfield-box  {
border:0 solid #0033FF;
font-size:11px;
font-weight:normal;
height:100%;
margin:3px 10px 3px 20px;
position:relative;
text-align:left;
}
.managerBtn {
float:left;
height:24px;
margin:10px 0;
padding:0;
position:relative;
text-align:left;
width:100%;
}
.block_text_in{position:relative;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;/*border:1px solid #669900;*/}
.block_text_in2{position:relative;width: 25%;height:18px;color:#000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in2_scrollable{
    position:relative;
    width:800px;
    height:50px;
    color:#000;
    font-size:11px;
    text-align: left;
    float: left;
    margin: 2px 0px 0px 0px;
    overflow:auto;
    border:1px solid #dddddd}
.input_text_field {
border:1px solid #DCD8D8;
float:left;
font-size:11px;
height:13px;
padding-left:2px;
padding-top:2px;
width:178px;
}
.input_field_area-user-f {width:35%;position:relative;float: left;margin: 0px 5px 0px 0px;border: 0px solid #99CC00;}
.input_field {width:100%;height:15px;position:relative;background-color: #FFF;font-size:9px;border: 1px solid #DCD8D8;}

.block_text_in-r-fb{position:relative;width: 20%;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-fc{position:relative;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 4px 0px 0px;/*border:1px solid blue;*/}
.block_text_in-r2{position:relative;height:18px;color:#a09f9f;font-family: 'Tahoma';font-size:11px;font-weight: normal;text-align: left;float: left;margin: 2px 0px 0px 4px;}
.block_text_in2a{position:relative;width: 22%;height:18px;color:#000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in2-red{position:relative;width: 25%;height:18px;color:#FF0000;font-size:11px;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in2-redbold{position:relative;width: 25%;height:18px;color:#FF0000;font-size:11px;text-align: left;font-weight: bold;float: left;margin: 2px 0px 0px 0px;}
.block_text_in1{position:relative;width: 15%;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 2px 0px 0px 10px;}
.block_text_in1-red{position:relative;width: 15%;height:18px;color:#FF0000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 10px;}
.block_text_in-r{position:relative;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-b{position:relative;width: 25%;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-c{position:relative;width: 35%;height:18px;color:#000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 2px 0px 0px 0px;}
.block_text_in-r-f{position:relative;width: 15%;height:18px;color:#000000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-f-changePassword{position:relative;width: 15%;height:28px;color:#000000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-f-red{position:relative;width: 15%;height:18px;color:#FF0000;font-size:11px;font-weight: bold;text-align: left;float: left;margin: 3px 0px 0px 0px;border:1px solid #ffffff;}
.block_text_in-r-fa{position:relative;width: 12%;height:18px;color:#000;font-size:11px;font-weight: normal;text-align: left;float: left;margin: 3px 0px 0px 0px;}
.com-star{position:relative;width: 10px;height:16px;color:#FF0000;font-size:12px;text-align: center;float: left;padding: 4px 0px 0px 0px;}

.com-star-r-t{
    color:#FF0000;
    font-size:11px;
    float: left;
    width: 14px;
    padding: 4px 3px 0px 5px;
}
.search-content-row1{position:relative;width:100%;height:10px;font-size: 11px;font-weight: normal;margin-top: 2px;}
.group-name {
font-size:14px;
font-weight:bold;
text-align:left;
}
.box_description {
color:#7A7A7A;
float:right;
font-family:Tahoma;
font-size:10px;
font-weight:bold;
margin-right:9px;
margin-top:6px;
padding-left:8px;
}

.wel-logo{
    width:24%;
    height:100%;
    float:left;
}
.wel-logo2{
    width:260px;
    height:100%;
    float:left;
}
.logo {
    width:90%;
    margin: 3px 0px 0px 12px;
    float:left;
    text-align: left;
}

.search-content-row4{position:relative;width:100%;height:20px;font-size: 12px;font-weight: normal;margin: 4px 0px 4px 0px;border:0px solid #0033FF;}
.search-content-row1{position:relative;width:100%;height:10px;font-size: 11px;font-weight: normal;margin-top: 2px;}
.search-content-row1a{position:relative;width:100%;height:6px;font-size: 11px;font-weight: normal;margin-top: 0px;border:0px solid #C0C0C0;}
.search-content-row1b{position:relative;width:100%;height:12px;font-size: 11px;font-weight: normal;margin-top: 0px;border:0px solid #C0C0C0;}
.search-content-row2{position:relative;width:100%;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 3px 0px;border:0px solid #FF00FF;}
.search-content-row2a{position:relative;width:100%;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 0px 0px;border:0px solid #FF00FF;}
.search-content-row3{position:relative;width:100%;height:200px;font-family: 'Tahoma';font-size: 11px;font-weight: normal;margin: 0px 0px 3px 0px;border:0px solid #FF00FF;}

.successIcon{
    background:transparent url("../../images/success.jpg") left center no-repeat;
    height:100px;
    width:60px;
}
.successMessage{
    padding-top:40px;
    width:55%;
    font-weight:bold;
    font-size:15px;
}
.successOuterLink{
    padding-top:80px;
    padding-right:10px;
}
.successBlock{
    position:relative;width: 100%;height:100px;
}
.successBlock div{float:left}
.successBlock div.last{float:right}

.content-Block_n {position:relative;width: 420px;/*min-height:150px;float: left;*/text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 26%;border:1px solid #ddd;} 
.content-Block_n2 {position:relative;width: 420px;/*min-height:150px;float: left;*/text-align:left;padding: 1px 0px 0px 0px;margin: 0px 0px 0px 26%;border:0px solid #ddd;} 


.alert_message_box{
    position:absolute;
    left:25%;
    top:30%;
    width:354px;
    height:120px;
    border:1px;
    border-style:solid;
    border-top-color:#fbfff4;
    border-left-color:#fbfff4;
    border-bottom-color:#686868;
    border-right-color:#686868;
    background-color:#e9e9e9;
    padding:0;
    z-index:100;
    }
.alert_message_box_title{
    width:352px;
    height:16px;
    color:#FFFFFF;
    font-weight:bold;
    font-size:12px;
    font-family:Tahoma;
    padding-top:2px;
    padding-left:5px;
    background-image:url("../images/bg_msg_header.gif");
    }
 .alert_message_box_text_2{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:200px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
}
.alert_message_box_text_3{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:383px;
    height:40px;
    margin-top:15px;
    margin-right:5px;
    }

.alert_message_box_text{
    float:left;
    font-family:Tahoma;
    font-size:12px;
    width:320px;
     height:40px;
    margin-top:15px;
    margin-right:5px;
    }
.alert_message_box_icon{
    float:left;
    width:45px;
    height:40px;
    margin-top:15px;
    margin-left:15px;
    *margin-left:10px;
    margin-right:5px;
    background-image:url("../../images/icon_warn.png");
    background-repeat:no-repeat;
    }
    
.errorMessage{
    font-family:Tahoma;
    font-size:12px;
    float:left;
}
#simplemodal-overlay {background-color:#eee; cursor:wait;}


.headerMenuContainer2 {
    width:70%;
    height:100%;
    float:right;
}

.top-nav { font-size: 11px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:link { font-size: 11px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:active { font-size: 11px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:visited {font-size: 11px; color: #000000; font-weight:normal;text-decoration: none;}
.top-nav:hover {font-size: 11px; color: #000000; font-weight:bold;text-decoration: none;}

img{border:0px;padding: 0px;margin: 0px}
.search_field {width:100%;height:15px;font-size:9px;background-color: #ffffff;border: 1px solid #DCD8D8;display:block}
/* top-menu-for-report
-----------------------------------------*/
.Block-Contain-header-report {
    position:relative;
    height: 25px;
    /*min-height:6%;*/
    background:#f9f9f9 url("../../images/header2-bk.gif") 100% 0px repeat-x;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    /*border:0px solid #FF0000;*/
}
.master-div{
position:relative; width: 195px; height: 24px;float: left; border-right: 1px solid #dddddd;
}
.master-div1{position:relative; width: 100px; height: 25px;float: right; border-left: 1px solid #dddddd;}
.master-div2{position:relative; width: 72%; height: 24px;float: left; border: 0px solid #FF0000;}
.master-div3{width: 10%; height: 24px;float: left; border-right: 1px solid #dddddd;}
.master-div3-position{width: 35%; height: 24px;float: left; border-right: 1px solid #dddddd;}

.menu-text{width:100%;font-family: verdana;font-size: 10px; color: #666666; text-align:center;float: left;margin: 7px 0px 0px 0px;border: 0px solid #FF0000; }
.sub-top-nav { font-size: 10px; color: #666666; font-weight:normal;text-decoration: none;}
.sub-top-nav:link { font-size: 10px; color: #666666; font-weight:normal;text-decoration: none;}
.sub-top-nav:active { font-size: 10px; color: #666666; font-weight:normal;text-decoration: none;}
.sub-top-nav:visited {font-size: 10px; color: #666666; font-weight:normal;text-decoration: none;}
.sub-top-nav:hover {font-size: 10px; color: #000000; font-weight:normal;text-decoration: none;}

.sub-top-nav-help { font-size: 11px; color: #616161; font-weight:normal;text-decoration: none;}
.sub-top-nav-help:link { font-size: 11px; color: #616161; font-weight:normal;text-decoration: none;}
.sub-top-nav-help:active { font-size: 11px; color: #616161; font-weight:normal;text-decoration: none;}
.sub-top-nav-help:visited {font-size: 11px; color: #616161; font-weight:normal;text-decoration: none;}
.sub-top-nav-help:hover {font-size: 11px; color: #000000; font-weight:normal;text-decoration: none;}
.reportLogo {
	background-repeat:no-repeat;
	float:left;
	height:75px;
	margin-right:5px;
	vertical-align:middle;
	width:75px;
   background:transparent url("../../images/pageicons/reports.png") no-repeat scroll 0 0px;
}
.courseLogoContainer2 {
    position:relative; /* USE FOR ALL PAGE */
    width:98%;
    height: 70px;
    /*text-align:left;
    vertical-align: middle;
    padding: 5px 0px 0px 0px;
    margin: 15px 0px 10px 0px;*/
    margin-bottom: 2%;
    margin-top: 5%;
}
.reportTitleWithButtonContainer {
    float:left;
    color:#000;
    width:70%;
    margin: 4px 0% 0% 0%;
    background-color: #FFFFFF
}
.reportDetails {
   font-size: 11px;
   color:#000;
   margin-bottom:20px;
   width:130%;
}