@charset "utf-8";
.side_bar{
	position:relative;
    float:left;
    width:195px;
    margin-right:12px;
    left:0;
    height:100%;
    background-image:url("../../images/bg_side_bar.gif");
    background-repeat:repeat-y;
	border-right:1px solid #CCCCCC;
}
.side_bar_slider{
    float:left;
    width:6px;
    margin-right:12px;
    margin-left:-14px;
    left:0;
    height:100%;
    background-image:url("../../images/slider.gif");
    background-repeat:no-repeat;
    background-position:center; 
    cursor:pointer;
}
.side_band_normal{
    width:194px;
    height:38px;
    background-image:url("../../images/bg_band_normal.gif");
}
.side_band_over{
    width:194px;
    height:38px;
    background-image:url("../../images/bg_band_over.gif");
    cursor:pointer;
}
.side_band_down{
    width:194px;
    height:38px;
    background-image:url("../../images/bg_band_down.gif");
    cursor:pointer;
}
.band_text{
    text-indent:10px;
    padding-top:12px;
}
.band_image{
    float:left;
    width:13px;
    height:13px;
    margin-left:17px;
    margin-top:12px;
}
.side_bar_report_fav{
	float:left;
	height:316px;
	margin-left:1px;
	overflow:auto;
	width:193px;
	background-color: white;
	}
.side_bar_report_fav_none{
	display: none;
	height: 0px;
	display:none;
	float:left;
	height:0;
	margin-left:1px;
	overflow:auto;
	width:193px;
	background-color: white;
}