<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/compliance/complianceHead.vm")
<script type="text/javascript">
		function doSubmit(x)
		{
			document.getElementById("userInput").value = x;
			document.forms[0].submit();
		}
	</script>
<head>
<link rel="stylesheet" type="text/css" media="all" href="brands/default/en/css/css_search_net.css" />
<script type="text/javascript" src="javascript/jquery-1.2.6.min.js"></script>
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type='text/javascript' src='javascript/js_survey.js' ></script>
<script type='text/javascript'>
	document.title="LMS-Learner Mode";
	
	$(document).ready(function() {
       $('#content2a').height($(window).height() - ($('#header').height()+$('#footer').height()));
		
    });

	function sortAlert(sortColumnIndex,sortDirection,pageIndex,showAll){
		document.getElementById('sortColumnIndex').value=sortColumnIndex;
		document.getElementById('sortDirection').value=sortDirection;
		document.getElementById('showAll').value=showAll;
		document.getElementById('pageIndex').value=pageIndex;
		document.getElementById('action').value='sortAlert';
		document.getElementById('userInput').value=0;
		document.managerAlert.submit();
	}
	
	function showSearchBoxWithDescriptionParam(divId , date,alert, alertDesc){
    var searchBox = document.getElementById('searchBox1');
        if(searchBox.className == "visible"){
            searchBox.className = "search_box40";
            $('#searchBox1 input[type="text"]:first').focus();
			$("#date").html(date);
			$("#alert").html(alert);
			$("#alertDesc").html(alertDesc);

        }else{
            searchBox.className = "visible";
        }
    }
</script>

</head>

<body>
<div id="main-container">
   <!-- header -->
	<div id="header" style="height:auto;">
		<!-- logo -->
		<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
			<div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
			<div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
		</div>
		<!-- logo-end -->
		
		<!-- top-nav-right-menu -->
		<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"></div>
		<!-- top-nav-right-menu-end -->
	</div>
	<!-- header-end -->

	<div id="content2a" style="overflow:hidden;">
		<!-- content-area -->
		<div id="right-pannel" style="margin-left:20px;">

		<!-- contentLogo-area -->
		<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
			<div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/login.png" alt="" /></div>
			<div id="b4" style="margin-top:5px; border:0px solid red;" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
				<div id="b5" style="margin-top:5px; padding-top:0px; border:0px solid red;" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")">$brander.getBrandElement("lms.myCourses.youHaveAlerts.text")</div>
				<div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.myCourses.youHaveAlerts.textDescription")</div>
			</div>
		</div>

		<!-- space -->
		 <br/> 
		<!-- space -->
		
		<form  name="managerAlert" action="interceptor.do" method="post">
					<input type="hidden" id="action" name="method" />
					<input id="userInput" type=hidden name="userInput" >
					<div style="overflow:auto;border:1px solid silver;">
						<div style="font-size:12px;margin-left:0px;font-family:arial;background:#F4F4F4;width:100%;border-bottom:0px solid silver;"> <div style="margin-left:10px;margin-bottom:10px;padding-top:8px; "><B><font face=Tahoma>ALERTS</font></B> </div></div>
						<div style="font-size:16px;PADDING-BOTTOM: 37px; PADDING-LEFT: 20px; PADDING-RIGHT: 17px; PADDING-TOP: 17px;padding-bottom:10px; face:Tahoma;">
							$brander.getBrandElement("lms.myCourses.youHaveAlerts.text.inlineText") 
						</div>
						<br>
					</div>

									<div  id="searchBox1" style="float:left;  height:auto; width:638px; background-color:#DFECF9 ; left:37%;margin:-190px 0px 0px -200px;  border:1px solid ; " class="visible"  >
										
											<TABLE width="100%" border=0 style="padding-left:0px;">
											<TR>
												<TD width="15%" style="font-size:14px; color:#000;"><b>Alert Name</b>
												</TD><td width="60%" style="font-size:14px; color:#000;"><div id="alert" style="font-size:14px; color:#000;"></div></td>
												
												<TD width="6%" style="font-size:14px; color:#000;"><b>Date</b>
												<td width="20%" style="font-size:14px; color:#000;"><div id="date"></div></td>
											</TR>
											<TR>
												<TD width="15%" style="font-size:14px; color:#000;"><b>Message:</b>
												</TD>
												<td colspan="3" width="60%" style="font-size:14px; color:#000;">&nbsp;</td>
											</TR>
											<TR></br>
												<td colspan="4" width="60%" style="font-size:14px; color:#000;"><div id="alertDesc" style="font-size:14px; color:#000;"></div></td>
											</TR>
											</TABLE>
											
											
											
											
											
											
						
											<div  id="search-survey-cancel" style="float:right; margin-top:2px;margin-right:5px;margin-bottom:5px; " onClick="showSearchBox1(this);">
											<a href="#" onmouseover="this.style.color='#51A3E6'"  onmouseout="this.style.color='#000000'">Close</a>
										</div >

									</div >
									
									$pager.setItems($alertList)
									#set($totalCount = $pager.total)
									#if($pager.hasItems())
											#set($pageFirstIndex = $pager.firstIndex)
											#set($pageLastIndex = $pager.lastIndex)
											#set($currentPageSize = $pageLastIndex - $pageFirstIndex + 1)
											#set($currentPageCount = $pageLastIndex + 1)
											#set($pageCurrIndex = $pager.index)
									#else
											#set($pageFirstIndex = 0)
											#set($pageLastIndex = 0)
											#set($currentPageSize = 0)
											#set($currentPageCount = 0)
											#set($pageCurrIndex = 0)
									#end


									<input type="hidden" id="pageIndex" name="pageIndex" value="0" />
								<input type="hidden" id="paging" name="paging" value="" />
								<input type="hidden" id="sortDirection" name="sortDirection" value="" />
								<input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="" />
								<input type="hidden" id="showAll" name="showAll" value="false" />
								<input type="hidden" id="pageCurrIndex" name="pageCurrIndex" value="0" />


								#if($!{context.showAll})
									#set($showAll=$!{context.showAll})
								#else
									#set($showAll=false)
								#end
					<div style="margin-top:40px;overflow:auto;border:1px solid silver;">

					 
						<div style="font-size:12px;margin:0px 0px 0px 0px ;face:Tahoma;width:65px; float:left;padding:5px; border-right:1px solid silver;" #if($context.sortDirection == 0) onclick="sortAlert(0,1,$pageCurrIndex,$showAll);" #else onclick="sortAlert(0,0,$pageCurrIndex,$showAll);" #end><div id="nameSort" #if(($context.sortDirection == 1 )&&($context.sortColumnIndex == 0)) class="icon_down" #elseif($context.sortColumnIndex == 0) class="icon_up" #else class="icon_down" #end ></div > <B>DATE</B> </div>
						<div style="font-size:12px;margin:0px 0px 0px 0px ;face:Tahoma;padding:5px;background:#F4F4F4;"> <B> &nbsp;&nbsp;&nbsp;ALERT NAME</B> </div>
						
					
						#set ($i = 0)
						

							#foreach ($alert in $alertList)
								
								#if($i % 2 != 0)
									
									
									
										<div style="font-size:11px;margin:0px 0px 0px 5px ;font-family:arial;width:60px; height:16px;border-right:1px solid silver;border-left:0px solid silver;float:left;padding:5px;"   > #if($alert.getCreatedDate() != "") $alert.getCreatedDate() #else &nbsp #end </div >
										<div style="font-size:13px;margin:0px 0px 0px 5px ;font-family:arial;border:0px solid silver;padding:5px;background:#F4F4F4; "> &nbsp;&nbsp;&nbsp;<a href="#" onclick="showSearchBoxWithDescriptionParam(document.getElementById('alert'),'$alert.getCreatedDate()','$alert.getAlertName()', '$alert.getAlertMessageBody()' );" >$alert.getAlertName()</a> </div>
										
									
								#else
									
									
										<div style="font-size:11px;margin:0px 0px 0px 5px ;font-family:arial;width:60px;height:17px;border-right:1px solid silver; border-left:0px; float:left;padding:5px; "> #if($alert.getCreatedDate() != "") $alert.getCreatedDate() #else &nbsp #end </div>
										<div style="font-size:13px;margin:0px 0px 0px -1px ;font-family:arial;border-top:1px solid silver; border-bottom:1px solid silver; padding:5px; border-left:0px">  &nbsp;&nbsp;&nbsp;<a href="#" onclick="showSearchBoxWithDescriptionParam(document.getElementById('alert') , '$alert.getCreatedDate()','$alert.getAlertName()', '$alert.getAlertMessageBody()');" >$alert.getAlertName()</a> </div>
									
								#end
								#set ($i = $i+1)
							#end
							
					</div>
					<div style="clear:left;height:20px;margin-top:25px;border:0px solid red;padding-bottom:30px;">
							<a  class="button" style="float:right;"  onClick="doSubmit('continueFromAlertRequestPage');">
								<span class="button">CONTINUE</span></a>
							</div>
							
				</form>
            
        </div>
    </div>
<!-- content-area-end -->

<!-- ***************************************************************** START FOOTER **************************************************************************** -->


#set ($isfirstsmallprint=true)
<div id="footer">
    <div class="$brander.getBrandElement("lms.mycourses.cssClass.link")" style="height:20px;">
        $brander.getBrandElement("lms.login.footerLinksCopyright") - 
			#if ($brander.getBrandElement("lms.login.footer.aboutus.caption")=='') #else #set ($isfirstsmallprint=false) #end
        <a href=$brander.getBrandElement("lms.login.footer.aboutusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.aboutus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.contactus.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.contactusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.contactus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.termofuse.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.termofuserURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.termofuse.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")=='') 
					#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.onlineprivacypracticesURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")</a>
    </div>

            <div class="$brander.getBrandElement("lms.mycourses.cssClass.log")" style="width:30%;padding:3px 10px 0 0;">
            <label style="text-align:left;color:#999999"> $userData.getName() </label>
            
            #if($hasSwitchedAuth)
               <a href="switchexituser.do" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a>
               |<a href="logout" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.logout")</a>
            #else 
               #if ( ! $request.getAttribute("switchBackUrl") || $request.getAttribute("switchBackUrl")=="") 
               #if($!{userData.isLMSAdministrator()} || $!{userData.isTrainingAdministrator()} || $!{userData.isRegulatoryAnalyst()}  || $!{userData.isInstructorMode()})
              <!--    <select style="width:110px;hieght:16px;font-size:9px;" onChange="setpage(this,$!{userData.isLMSAdministrator()});">
                    #if($!{userData.isInLearnerRole()})
                  <option value="2"  selected >$brander.getBrandElement("lms.mycourses.learnerMode")</option>
                  #end
                  #if($!{userData.isTrainingAdministrator()})
	              <option value="1" >$brander.getBrandElement("lms.manager.manangerMode")</option>
                  #end
                  #if($!{userData.isRegulatoryAnalyst()})
                  <option value="4" >$brander.getBrandElement("lms.admin.AccreditationMode")</option>
                  #end
                  #if($!{userData.isLMSAdministrator()})
	              <option value="3" >$brander.getBrandElement("lms.admin.AdminMode")</option>
                  #end
				  #if($!{userData.isInstructorMode()})
                  <option value="5" >$brander.getBrandElement("lms.admin.InstructorMode")</option>
                  #end
               </select>
               -->
                #end
                #else
                   #set ($var=$!{request.getAttribute("switchBackUrl")})
                   #if($!var.lastIndexOf('?')>0)
                        #set($switchBackUrl="$var&switchBackReuest=true")
                   #else 
                        #set($switchBackUrl="$var?switchBackReuest=true")
                   #end
                   <a href="$!switchBackUrl" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a> |
                #end
                #LogoutURL($brander $logoutSuccessUrl)
         #end
               </div>
        </div>


<!-- ***************************************************************** END FOOTER **************************************************************************** -->




</div>
</div>
</body>
</html>  