<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/compliance/complianceHead.vm")
<script type="text/javascript">
		function doSubmit(x)
		{
			document.getElementById("userInput").value = x;
			document.forms[0].submit();
		}
	</script>
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

<link rel="stylesheet" type="text/css" href="brands/default/en/css/lms_style.css"/>
<link rel="stylesheet" type="text/css" href="brands/default/en/css/css_body.css"/>

<script type="text/javascript" language="javascript" src="javascript/jquery-1.2.6.min.js"></script>
<script type="text/javascript" language="javascript" src="javascript/jquery.client.js"></script>
<script type="text/javascript" language="javascript" src="javascript/jquery.cookie.js"></script>
<script type="text/javascript" language="javascript" src="javascript/jquery.plugin.js"></script>
<script type="text/javascript" language="javascript" src="javascript/flash_detect.js"></script>
<script type="text/javascript" language="javascript" src="javascript/quickTime_detect.js"></script>
<script type="text/javascript" language="javascript" src="javascript/js_browser-detection.js"></script>

<script type="text/javascript" language="javascript">
 function jsfun(){
  $("#bandwidth-check").attr("class", "correct-icon");
 }
</script>
</head>

<body>
<input type="hidden" id="action" name="method" />
<div id="main-container" >

   <!-- header -->
	<div id="header" style="height:auto;overflow:auto;">
	<!-- logo -->
	<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
	<div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
	<div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
	</div>
<!-- logo-end -->
<!-- top-nav-right-menu -->
	<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
	 <!-- top-nav-right-menu-end -->
	</div>
<!-- header-end -->

<div id="content2a" style="overflow:auto;width:99%">
<!-- content-area -->
<div id="content" style="border:0px solid red;">

<!-- contentLogo-area -->
<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
<div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/login.png" alt="" /></div>
<div id="b4" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
<div id="b5" style="margin-top:0px;"class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")">$brander.getBrandElement("lms.login.browserCheck")</div>
	<div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.login.browserCheckMessage")</div>
</div>
</div>


<form action="interceptor.do" method="post">
					
					<input id="userInput" type=hidden name="userInput">					
						<table id="course-list" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td class="row-gray-thin" style="border-top:none;"  >
                                            <div id="bandwidth-check" class="correct-icon"></div>
                                        </td>
                                        <td class="row-gray-thin" width="20" style="border-top:none;" >
                                            <div id="band-width-logo" class="bandwidth-logo"></div>

                                        </td>
                                        <td class="row-gray-thin" style="border-top:none; border-right:0;">
                                            &nbsp;<div class="row-text-thin" style="text-transform:none; float: left;"><b>Bandwidth: </b></div>
                                             <div style="float:left; width: 100px; height: 18px; margin-top:-2px; margin-left: 4px;">
											    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="18" id="dloadtest" align="top">
											        <!--Need to have flah files decompiled to corect the path to our liking -->
											        <param name="movie" value="bandwidth/dloadtest.swf" />
											        <param name="quality" value="high" />
											        <param name="bgcolor" value="#ffffff" />
											        <param name="play" value="true" />
											        <param name="loop" value="true" />
											        <param name="wmode" value="transparent" />
											        <param name="scale" value="showall" />
											        <param name="menu" value="true" />
											        <param name="devicefont" value="false" />
											        <param name="salign" value="" />
											        <param name="allowScriptAccess" value="sameDomain" />
											        <!--[if !IE]>-->
											        <object type="application/x-shockwave-flash" data="bandwidth/dloadtest.swf" width="100" height="18">
											            <param name="movie" value="bandwidth/dloadtest.swf" />
											            <param name="quality" value="high" />
											            <param name="bgcolor" value="#ffffff" />
											            <param name="play" value="true" />
											            <param name="loop" value="true" />
											            <param name="wmode" value="transparent" />
											            <param name="scale" value="showall" />
											            <param name="menu" value="true" />
											            <param name="devicefont" value="false" />
											            <param name="salign" value="" />
											            <param name="allowScriptAccess" value="sameDomain" />
											            <!--<![endif]-->
											            <a href="https://www.adobe.com/go/getflash">
											                <img src="brands/default/en/images/get_flash_player.gif" alt="Get Adobe Flash player" />
											            </a>
											            <!--[if !IE]>-->
											        </object>
											        <!--<![endif]-->
											    </object>
											</div>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-white-thin">
                                            <div id="os-check" class="correct-icon"></div>
                                        </td>

                                        <td class="row-white-thin">
                                            <div id="os-logo" class="windows-logo"></div>
                                        </td>
                                        <td class="row-white-thin" style="border-right:0;">
                                            <div class="row-text-thin" style="text-transform:none;"><b>Operating System: </b> <span id="os-text"></span></div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="row-gray-thin"  >
                                            <div id="browser-check" class="incorrect-icon"></div>
                                        </td>
                                        <td class="row-gray-thin"   >
                                            <div id="browser-logo" class="unknown-logo"></div>
                                        </td>
                                        <td class="row-gray-thin" style="border-right:0;">
                                            <div class="row-text-thin" style="text-transform:none; float:left;"><b>Browser: </b>The browser is validated for use with the Learning Management System. It appears that you are using&nbsp;</div><span id="browser-text" style="font-weight:bold;"> an unsupported browser.</span>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-white-thin"  >
                                            <div id="screen-check" class="incorrect-icon"></div>
                                        </td>
                                        <td class="row-white-thin"   >
                                            <div class="screen-logo"></div>
                                        </td>

                                        <td class="row-white-thin" style="border-right:0;">
                                            <div class="row-text-thin" style="text-transform:none;"><b>Screen Resolution: </b>It appears that your screen resolution is set to<span id="screen-text" style="font-weight:bold;"></span>. To view pages properly you must have a screen resolution of 1024 x 768 or higher.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-gray-thin"  >
                                            <div id="cookie-check" class="incorrect-icon"></div>

                                        </td>
                                        <td class="row-gray-thin"   >
                                            <div class="cookies-logo"></div>
                                        </td>
                                        <td class="row-gray-thin" style="border-right:0;">
                                            <div class="row-text-thin" style="text-transform:none;"><b>Cookies: </b> Cookies are <span id="cookie-text" style="font-weight:bold"></span>. The Learning Management System uses cookies to keep track of your current session. You must have cookies enabled so we can mantain your current states as you navigate through the application.</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="row-white-thin"  >
                                            <div id="javascript-check" class="incorrect-icon"></div>
                                        </td>
                                        <td class="row-white-thin"   >
                                            <div class="javascript-logo"></div>
                                        </td>
                                        <td class="row-white-thin" style="border-right:0;">

                                            <div class="row-text-thin" style="text-transform:none;"><b>JavaScript: </b> Javascript is <span id="javascript-text" style="font-weight:bold; color:red;">disabled</span>. Almost every part of the Learnining Management System relies on Javascript for the ability to generate interactive pages. You must have Javascript enabled.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-gray-thin"  >
                                            <div id="flash-check" class="incorrect-icon"></div>

                                        </td>
                                        <td class="row-gray-thin"   >
                                            <div class="flash-logo"></div>
                                        </td>
                                        <td class="row-gray-thin" style="border-right:0;">
                                            <div class="row-text-thin" style="text-transform:none;"><b>Adobe Flash Player: </b> Adobe Flash Player <span id="flash-text" style="font-weight:bold"></span> Some part of this application uses Flash objects. You must have Flash Player installed on your computer.</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="row-white-thin" >
                                            <div id="acrobat-check" class="incorrect-icon"></div>
                                        </td>
                                        <td class="row-white-thin"   >
                                            <div class="acrobat-logo"></div>
                                        </td>
                                        <td class="row-white-thin" style="border-right:0;">

                                            <div class="row-text-thin" style="text-transform:none;"><b>Adobe Acrobat Reader: </b> Adobe Acrobat Reader is <span id="acrobat-text" style="font-weight:bold"></span> Some documents in this application are available in PDF format for download. You must have Adobe Acrobat reader installed on your computer to be able to view the documents.</div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="row-white-thin" >
                                            <div id="quicktime-check" class="incorrect-icon"></div>
                                        </td>
                                        <td class="row-white-thin"   >
                                            <div class="quicktime-logo"></div>
                                        </td>
                                        <td class="row-white-thin" style="border-right:0;">

                                            <div class="row-text-thin" style="text-transform:none;"><b>QuickTime: </b> Quick Time is <span id="quicktime-text" style="font-weight:bold"></span> Some content in this application might be embedded in QuickTime format. You must have QuickTime plug-in installed on your computer to be able to view the documents.</div>
                                        </td>
                                    </tr>
                                    
                                </table>
								<input type="hidden" id="pageIndex" name="pageIndex" value="0" />
								<input type="hidden" id="paging" name="paging" value="0" />
								<input type="hidden" id="sortDirection" name="sortDirection" value="0"/>
								<input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="0" />
								<input type="hidden" id="showAll" name="showAll" value="false" />
								<input type="hidden" id="pageCurrIndex" name="pageCurrIndex" value="0" />
					<div style="clear:left;height:20px;margin-top:10px;margin-right:20px;border:0px solid red;">
							
							<a onClick="doSubmit('browserCheckScreenShown');" style="text-decoration:none;float:right;">
								  <div class="btn_start"></div>
								  <div class="btn_normal">Continue</div>
								  <div class="btn_end"></div>
							</a>
				</form>
            
        </div>
    </div>
<!-- content-area-end -->
</div>

<!-- ***************************************************************** START FOOTER **************************************************************************** -->


#set ($isfirstsmallprint=true)
<div id="footer">
    <div class="$brander.getBrandElement("lms.mycourses.cssClass.link")" style="height:20px;">
        $brander.getBrandElement("lms.login.footerLinksCopyright") - 
			#if ($brander.getBrandElement("lms.login.footer.aboutus.caption")=='') #else #set ($isfirstsmallprint=false) #end
        <a href=$brander.getBrandElement("lms.login.footer.aboutusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.aboutus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.contactus.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.contactusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.contactus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.termofuse.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.termofuserURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.termofuse.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")=='') 
					#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.onlineprivacypracticesURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")</a>
    </div>

            <div class="$brander.getBrandElement("lms.mycourses.cssClass.log")" style="width:30%;padding:3px 10px 0 0;">
            <label style="text-align:left;color:#999999"> $userData.getName() </label>
            
            #if($hasSwitchedAuth)
               <a href="switchexituser.do" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a>
               |<a href="logout" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.logout")</a>
            #else 
               #if ( ! $request.getAttribute("switchBackUrl") || $request.getAttribute("switchBackUrl")=="") 
               #if($!{userData.isLMSAdministrator()} || $!{userData.isTrainingAdministrator()} || $!{userData.isRegulatoryAnalyst()}  || $!{userData.isInstructorMode()})
                 <!-- <select style="width:110px;hieght:16px;font-size:9px;" onChange="setpage(this,$!{userData.isLMSAdministrator()});">
                    #if($!{userData.isInLearnerRole()})
                  <option value="2"  selected >$brander.getBrandElement("lms.mycourses.learnerMode")</option>
                  #end
                  #if($!{userData.isTrainingAdministrator()})
	              <option value="1" >$brander.getBrandElement("lms.manager.manangerMode")</option>
                  #end
                  #if($!{userData.isRegulatoryAnalyst()})
                  <option value="4" >$brander.getBrandElement("lms.admin.AccreditationMode")</option>
                  #end
                  #if($!{userData.isLMSAdministrator()})
	              <option value="3" >$brander.getBrandElement("lms.admin.AdminMode")</option>
                  #end
				  #if($!{userData.isInstructorMode()})
                  <option value="5" >$brander.getBrandElement("lms.admin.InstructorMode")</option>
                  #end
               </select>
               -->
                #end
                #else
                   #set ($var=$!{request.getAttribute("switchBackUrl")})
                   #if($!var.lastIndexOf('?')>0)
                        #set($switchBackUrl="$var&switchBackReuest=true")
                   #else 
                        #set($switchBackUrl="$var?switchBackReuest=true")
                   #end
                   <a href="$!switchBackUrl" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a> |
			   #end
			  #LogoutURL($brander $logoutSuccessUrl)
         #end
               </div>
        </div>


<!-- ***************************************************************** END FOOTER **************************************************************************** -->

</body>
</html>