<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("snippets/compliance/complianceHead.vm")
<script type="text/javascript">
		function doSubmit(x){		
			document.getElementById("userInput").value = x;
			document.forms[0].submit();
		}
		function logoutUser(x){		
			document.forms[0].action= x;
			document.forms[0].submit();
		}
	</script>
<head>
<link rel="stylesheet" type="text/css" media="all" href="brands/default/en/css/css_search_net.css" />
<script type="text/javascript" src="javascript/jquery-1.2.6.min.js"></script>
<script type="text/javascript" language="javascript" src="javascript/js_manager.js"></script>
<script type='text/javascript' src='javascript/jquery.simplemodal.js' ></script>
<script type='text/javascript' src='javascript/js_survey.js' ></script>

<script type='text/javascript'>
	$(document).ready(function() {
       // $('#sideBar').height($('.scrollable').height());
    });
    </script>
    <script type="text/javascript" language="javascript">
    document.title="LMS-Learner Mode";
</script>

</script>
</head>

<body>
<input type="hidden" id="action" name="method" />
<div id="main-container">

   <!-- header -->
	<div id="header" style="height:auto;">
	<!-- logo -->
	<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.wel-logo")">
	<div id="e1" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.welcome_message")">&nbsp;</div>
	<div id="e2" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")" alt=""/></div>
	</div>
<!-- logo-end -->
<!-- top-nav-right-menu -->
	<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.headerMenuContainer2")"><!-- top-navigation --></div>
	 <!-- top-nav-right-menu-end -->
	</div>
<!-- header-end -->

<div id="content2a" style="overflow:hidden;">
<!-- content-area -->
<div id="content" style="border:0px solid red;">

<!-- contentLogo-area -->
<div class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogoContainer")">
<div id="b3" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseLogo2")"><img src="brands/default/en/images/pageicons/login.png" alt="" /></div>
<div id="b4" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitleDiv")">
<div id="b5" style="margin-top:0px;"class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseTitle1")">$brander.getBrandElement("lms.login.licenseAgreementTitle")</div>
	<div id="b6" class="$brander.getBrandElement("lms.learner.SelfRegistrationlogin.cssClass.courseDetails")">$brander.getBrandElement("lms.login.licenseAgreementMessage")</div>
</div>
</div>
<form action="interceptor.do" method="post">
					
					<input id="userInput" type=hidden name="userInput" >
					<div>
						<table id="message-table" border="0" cellspacing="0" cellpadding="0" width="100%">

                        <tr bgcolor="#F9F9F9">
                            <td class="header">Agreement</td>
                        </tr>
                        <tr>
                            <td height="5">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="row_text">

                                <textarea style="width:99%; height:200px; color: black;" readonly>
#parse("login/licenseAgreement.vm")
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </table>
						
						
					</div>					
					<div style="height:15px;"> </div>

					
								<input type="hidden" id="pageIndex" name="pageIndex" value="0" />
								<input type="hidden" id="paging" name="paging" value="0" />
								<input type="hidden" id="sortDirection" name="sortDirection" value="0"/>
								<input type="hidden" id="sortColumnIndex" name="sortColumnIndex" value="0" />
								<input type="hidden" id="showAll" name="showAll" value="false" />
								<input type="hidden" id="pageCurrIndex" name="pageCurrIndex" value="0" />
					            <div style="clear:left;height:20px;margin-top:10px;margin-right:20px;border:0px solid red;">							    
							    <a onClick="doSubmit('licenseAgreementAccepted');"  class="button" style="float:right;">
							    	<span class="button">I AGREE</span>
							    </a>
							    <div style="float:right;width:5px;height:10px;"> </div>
							    <a onClick="logoutUser('logout');"  class="button" style="float:right;">
							    	<span class="button">I DISAGREE</span>
							    </a>
							    
							    <!--<a href="j_spring_security_logout" class="button" style="float:right;width:90px:align:center;" >I DISAGREE </a>-->
							    
							    														
				</form>
            
        </div>
    </div>
<!-- content-area-end -->
</div>

<!-- ***************************************************************** START FOOTER **************************************************************************** -->


#set ($isfirstsmallprint=true)
<div id="footer">
    <div class="$brander.getBrandElement("lms.mycourses.cssClass.link")" style="height:20px;">
        $brander.getBrandElement("lms.login.footerLinksCopyright") - 
			#if ($brander.getBrandElement("lms.login.footer.aboutus.caption")=='') #else #set ($isfirstsmallprint=false) #end
        <a href=$brander.getBrandElement("lms.login.footer.aboutusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.aboutus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.contactus.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.contactusURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.contactus.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.termofuse.caption")=='') 
				#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.termofuserURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.termofuse.caption")</a>
			#if ($brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")=='') 
					#else #if (!$isfirstsmallprint) | #else #set ($isfirstsmallprint=false) #end
			#end
        <a href=$brander.getBrandElement("lms.login.footer.onlineprivacypracticesURL") class="log-out" style="text-decoration:underline" target=_newwin> $brander.getBrandElement("lms.login.footer.onlineprivacypractices.caption")</a>
    </div>

            <div class="$brander.getBrandElement("lms.mycourses.cssClass.log")" style="width:30%;padding:3px 10px 0 0;">
            <label style="text-align:left;color:#999999"> $userData.getName() </label>
            
            #if($hasSwitchedAuth)
               <a href="switchexituser.do" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a>
               |<a href="logout" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.logout")</a>
            #else 
               #if ( ! $request.getAttribute("switchBackUrl") || $request.getAttribute("switchBackUrl")=="") 
               #if($!{userData.isLMSAdministrator()} || $!{userData.isTrainingAdministrator()} || $!{userData.isRegulatoryAnalyst()}  || $!{userData.isInstructorMode()})
                 <!-- <select style="width:110px;hieght:16px;font-size:9px;" onChange="setpage(this,$!{userData.isLMSAdministrator()});">
                    #if($!{userData.isInLearnerRole()})
                  <option value="2"  selected >$brander.getBrandElement("lms.mycourses.learnerMode")</option>
                  #end
                  #if($!{userData.isTrainingAdministrator()})
	              <option value="1" >$brander.getBrandElement("lms.manager.manangerMode")</option>
                  #end
                  #if($!{userData.isRegulatoryAnalyst()})
                  <option value="4" >$brander.getBrandElement("lms.admin.AccreditationMode")</option>
                  #end
                  #if($!{userData.isLMSAdministrator()})
	              <option value="3" >$brander.getBrandElement("lms.admin.AdminMode")</option>
                  #end
				  #if($!{userData.isInstructorMode()})
                  <option value="5" >$brander.getBrandElement("lms.admin.InstructorMode")</option>
                  #end
               </select>
               -->
                #end
                #else
                   #set ($var=$!{request.getAttribute("switchBackUrl")})
                   #if($!var.lastIndexOf('?')>0)
                        #set($switchBackUrl="$var&switchBackReuest=true")
                   #else 
                        #set($switchBackUrl="$var?switchBackReuest=true")
                   #end
                   <a href="$!switchBackUrl" class="$brander.getBrandElement("lms.mycourses.cssClass.log-out")">$brander.getBrandElement("lms.login.switchback")</a> |
                #end
                #LogoutURL($brander $logoutSuccessUrl)
         #end
               </div>
        </div>


<!-- ***************************************************************** END FOOTER **************************************************************************** -->

</body>
</html>