<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> $brander.getBrandElement("lms.administrator.searchMember.caption.close") </title>
</head>

<body  onload="window.opener.refreshQuestions(); window.close()">
<form name="manageform" action="" method="POST"> 
<div><input type="button" id="cancel" value="continue"  onclick="window.opener.refreshQuestions(); window.close()" /></div>
</form>
</body>
</html>
