
<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.b-ContainerCourseName-DS")">
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.User_coll_1b")"></div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.input_field_area-user-f2")"></div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.bodycourseDivRight1")">$brander.getBrandElement("lms.manager.surveys.responseSummary.caption.ResponseCount")</div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.bodycourseDivRight1")"></div>
</div>
<!-- 5a -->
#set($answerItem = ${question.answerItems.get(0)})
<div id="e13" class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.search-content-row")">
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.User_coll_1b")"></div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.input_field_area-user-f2")">
		$!{prefix.answerText}
	</div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.bodycourseDivRight1")">$answerItem.responseCount</div>
	<div class="$brander.getBrandElement("lms.manager.surveys.responseSummary.cssClass.bodycourseDivRight1")"></div>
</div>