<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/accreditation/accreditationDefaultHead.vm")

        <script src="javascript/360js.js" language="javascript" type="text/javascript" ></script>

        <script language="javascript" type="text/javascript" >
            $(document).ready(function(){
		
                $("#toggleIconSummary").click(function() {
                    toggleView('toggleIconSummary', 'collapsibleSummary');
                });
                $("#toggleIconAddrInfo").click(function() {
                    toggleView('toggleIconAddrInfo', 'collapsibleAddrInfo');
                });
                
            });
        </script>
    </head>

    <body>
        <form name="regulatorForm" method="post" action="acc_editReg_addContact.do">
            <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
                <tr> <!-- First Block -->
                    <td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
                        <!-- Header starts -->
                        #parse("snippets/managerWizardHeader.vm")
                        <!-- Header ends -->
                    </td></tr>

                <!-- Body Start -->
                <tr id="main"> <!-- SECOND BLOCK -->
                    <td id="left-sidebar" valign="top">
                        <table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
                            <div>
                                <div id="l-menu-back">
                                    <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accraditation.editRegulator.addContact.leftmenu.header")<br>$brander.getBrandElement("lms.accraditation.editRegulator.addContact.leftmenu.showing2of2")</div>
                                    <div class="l-menu-back-text">$brander.getBrandElement("lms.accraditation.editRegulator.addContact.leftmenu.summary")</div>
                                    <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accraditation.editRegulator.addContact.leftmenu.confirmation")</div>
                                </div>
                            </div>
                        </table></td>

                    <TD id="content" >
                        <div id="scrollable">

                            <!-- Page Description -->
                            <table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
                                <tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
                                    <td id="page-description">
                                        <div id="page-heading">$brander.getBrandElement("lms.accraditation.manageRegulator.caption.editRegulatorAddContact.caption")</div>
                                        <div id="page-help">$brander.getBrandElement("lms.accraditation.manageRegulator.caption.editRegulatorAddContactStep2Description")</div>
                                    </td>
                                </tr>
                            </table>		

                            <div class="search_box_result">
                                <div class="box_header">
                                    <div id="toggleIconSummary" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                    <span class="box_heading">$brander.getBrandElement("lms.accraditation.editRegulator.tabs.summary")</span>
                                </div>
                                <div id="collapsibleSummary">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                        <tr>
                                            <td  height="30px" width="15%"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.firstName")</b></span></td>
                                            #springBind("regulatorForm.contact.firstName")
                                            <td  height="30px" width="35%"><span class="row_text">$!{status.value}</span></td>
                                            <td  height="30px" width="15%"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulatorWebsite")</b></span></td>
                                            #springBind("regulatorForm.contact.websiteURL")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>

                                        </tr>
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.middleName")</b></span></td>
                                            #springBind("regulatorForm.contact.middleName")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td  height="30px" width="15%"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulatorEmailAddress")</b></span></td>
                                            #springBind("regulatorForm.contact.emailAddress")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                        </tr>
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.lastName")</b></span></td>
                                            #springBind("regulatorForm.contact.lastName")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"></td>                                        
                                            <td height="30px"></td>
                                        </tr>
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulatorPhone")</b></span></td>
                                            #springBind("regulatorForm.contact.phone")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"></td>                                        
                                            <td height="30px"></td>
                                        </tr>                                        
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulatorPhoneExt")</b></span></td>
                                            #springBind("regulatorForm.contact.phoneExt")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"></td>                                        
                                            <td height="30px"></td>
                                        </tr>
                                                                      
                                    </table>
                                </div>

                            </div>
                            <div style="height:20px;"></div>
                            <div class="search_box_result">
                                <div class="box_header">
                                    <div id="toggleIconAddrInfo" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                    <span class="box_heading">$brander.getBrandElement("lms.accraditation.manageRegulator.caption.editRegulatorAddressInformation.caption")</span>
                                </div>
                                <div id="collapsibleAddrInfo">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                        <tr>
                                            <td height="30px" width="15%"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactAddress")</b></span></td>
                                            #springBind("regulatorForm.contact.address.streetAddress")
                                            <td width="35%"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px" width="15%"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactAddress2")</b></span></td>
                                            #springBind("regulatorForm.contact.address2.streetAddress")
                                            <td><span class="row_text">$!{status.value}</span></td>

                                        </tr>
                                        <tr>
                                            <td height="30px"></td>
                                            #springBind("regulatorForm.contact.address.streetAddress2")
                                            <td><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"></td>
                                            #springBind("regulatorForm.contact.address2.streetAddress2")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                        </tr>
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactCity")</b></span></td>
                                            #springBind("regulatorForm.contact.address.city")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactCity")</b></span></td>
                                            #springBind("regulatorForm.contact.address2.city")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                        </tr>
                                        <tr>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactState")</b></span></td>
                                            #springBind("regulatorForm.contact.address.state")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactState")</b></span></td>
                                            #springBind("regulatorForm.contact.address2.state")
                                            <td height="30px"> <span class="row_text">$!{status.value}</span></td>
                                        </tr>
                                        <tr>
                                            #springBind("regulatorForm.contact.address.country")
                                            #if( ${status.value} != "AE" && ${status.value} != "United Arab Emirates" )
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactZip")</b></span></td>
                                            #springBind("regulatorForm.contact.address.zipcode")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            #else
                                            <td height="30px"></td>
                                            <td height="30px"></td>
                                            #end
                                            #springBind("regulatorForm.contact.address2.country")
                                            #if( ${status.value} != "AE" && ${status.value} != "United Arab Emirates" )
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactZip")</b></span></td>
                                            #springBind("regulatorForm.contact.address2.zipcode")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            #else
                                            <td height="30px"></td>
                                            <td height="30px"></td>
                                            #end
                                        </tr>
                                        <tr>
                                            <td height="30px"> <span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactCountry")</b></span></td>
                                            #springBind("regulatorForm.contact.address.country")
                                            <td height="30px"><span class="row_text">$!{status.value}</span></td>
                                            <td height="30px"><span class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.addRegulator.contactCountry")</b></span></td>
                                            #springBind("regulatorForm.contact.address2.country")
                                            <td height="30px"> <span class="row_text">$!{status.value}</span></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                            <input type="hidden" id="currentpage" name="_page" value="1" />
                            <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

                            <!-- ************************************************* -->
                            <div class="btn-div">
                                <div style="float:right; margin-top:15px;">
                                    <a onClick="submitButtonForm(document.regulatorForm,'wizardSubmitter','_finish');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Finish")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>	

                                <div style="float:right; margin-top:15px;margin-right:5px;">
                                    <a onClick="submitButtonForm(document.regulatorForm,'wizardSubmitter','_target0');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>

                                <div style="float:left; margin-top:15px;margin-left:10px;">
                                    <a onClick="submitButtonForm(document.regulatorForm,'wizardSubmitter','_cancel');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>  
                            </div>	

                            <!-- bottom-space -->
                            <div class="manage-bottom-space"></div>
                            <!-- bottom-space -->

                        </div>
                    </td></tr>
                <!-- Body End -->
                <tr> <!-- Footer BLOCK -->
                    <td id="footer" colspan="2">
                        <!-- Footer Start -->
		    #parse("snippets/managerFooter.vm")
                        <!-- Footer End -->
                    </td></tr>
            </table>
        </form>
    </body>
</html>