<html>
<body>

<div id="header">
#parse("snippets/footerLinksHeader.vm")
</div>

<div id="main_body">


QuickStart.com - About Us
Overview
QuickStart.com is a market leading provider of compliance and workforce e-Learning solutions.
QuickStart.com (Austin, TX) services over 1500 e-learning partners who together have trained more than 3 million users worldwide. Their integrated strategy of technology, content and service helps organizations and professionals in a wide range of industries best manage career, compliance and certification needs. Ranked as the 6th fastest growing tech company in the 2006 Deloitte and Touche Fast 50, QuickStart's customers include industry leaders Guaranty Bank, IBC, Trammell Crow Company, Centex Homes, Duke Energy and more. More information at www.QuickStart.com

QuickStart's staff of 200+ employees is organized into industry-focused sector teams with core domain knowledge in the areas of instructional design, multimedia engineering, information technology, customer support and content development. Our focus efficiently enables our selected clients in the business of providing career education or workforce training to rapidly expand market share and product offerings, increase profit margins and revenues, and compete within their industry without the need for over-investments or increased overhead. QuickStart.com provides and fully supports comprehensive e-learning technology and content to colleges, proprietary schools, associations and corporations.

Mission Statement:
"Through innovation, we will provide an exceptional learning experience for our customers and clients."

Vision Statement:
"To be a part of every learner's experience world-wide."


</div>


<div id="footer">
#parse("snippets/managerHeader.vm")
</div>

</body>
</html>