#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("featureGroup"))

    <div id="admin-wizard-header" class="page_header">
        <div style="width:200px; float:left;">
            <img src="$brander.getBrandElement("lms.header.logo.src")" class="logo360" alt="No Image Selected" alt=""/>
        </div>
        <div style="width:70%;height:100%;float:right;"></div>
    </div>
    
    