#**
----------------------------------------------------------------------------  
@Author Praveen Gaurav (nov.17.2008)
---------------------------------------------------------------------------- 
*#
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="description" content="$brander.getBrandElement("lms.header.description")" />
	<meta name="keywords" content="$brander.getBrandElement("lms.header.keywords")" />
	<title>$brander.getBrandElement("lms.header.title")</title>
		<link href="$brander.getBrandElement("lms.courseDesc.css.href")" rel="stylesheet" type="text/css">
</head>