##----------------------------------------------------------------------------
## copyright 2008 QuickStart.com all rights reserved
##
## Use or distribution of this software without the explicit
## consent of QuickStart is prohibited.
##
## 13801 N MO Pac Drive
## Austin, TX 78727
##
##   
## Author Jason J Burns
##---------------------------------------------------------------------------- 
<head>
	<title>$brander.getBrandElement("lms.header.title")</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="$brander.getBrandElement("lms.header.description")" />
	<meta name="keywords" content="$brander.getBrandElement("lms.header.keywords")" />
	<link rel="stylesheet" type="text/css" media="all" href="$brander.getBrandElement("lms.header.css.href")" />
	<!-- userAgent:  $userAgent -->
</head>