#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("featureGroup"))   
	<style>
		a:link, a:visited{
		color:black;
		text-decoration:none;
		}
	</style>
     <div id="header" class="page_header"><!-- logo -->
        <div style="width:200px; float:left;">
            <img src="brands/default/en/images/logo_360_52.gif" style="margin-left:15px; margin-top:16px; float:left;" />
        </div><!-- logo-end -->
	<!-- top-nav-right-menu -->
        <div style="float:right;">
            <div class="header_icon">
				<a onclick="submitForm('insReports','insReports','ins_ManageReports.do')" href="#" #if($menu == "insReports") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/reports.png" onmouseover="this.src='brands/default/en/images/headericons/hover/reports.png'" onmouseout="this.src='brands/default/en/images/headericons/reports.png'" class="icon_style"><br>REPORTS
				</a>
			</div>
			
            <div #if($menu == "instuctorTools") style="width:113px;" #else style="width:101px;" #end class="header_icon">
				<a onclick="submitForm('instuctorTools','instuctorTools','ins_mngGradeBook.do')" href="#" #if($menu == "instuctorTools") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/entitlements.png" onmouseover="this.src='brands/default/en/images/headericons/hover/entitlements.png'" onmouseout="this.src='brands/default/en/images/headericons/entitlements.png'" class="icon_style"><br>INSTRUCTOR TOOLS
				</a>
			</div>
			
            <div class="header_icon">
				<a onclick="submitForm('insResources','ManageResources','ins_manageResources.do')" href="#" #if($menu == "insResources") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/login.png" onmouseover="this.src='brands/default/en/images/headericons/hover/login.png'" onmouseout="this.src='brands/default/en/images/headericons/login.png'" class="icon_style"><br>RESOURCES
				</a>
			</div>
			
             <div class="header_icon">
				<a onclick="submitForm('Courses','ManageSynchronousCourse','ins_manageSynchronousCourse.do')" href="#" #if($menu == "Courses") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/trainingplans.png" onmouseover="this.src='brands/default/en/images/headericons/hover/trainingplans.png'" onmouseout="this.src='brands/default/en/images/headericons/trainingplans.png'" class="icon_style"><br>COURSES
				</a>
			</div>
			
              <div class="header_icon">
				<a onclick="submitForm('Search','LMS-INS-0002','ins_searchLearner.do')" href="#" #if($menu == "Search") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/search.png" onmouseover="this.src='brands/default/en/images/headericons/hover/search.png'" onmouseout="this.src='brands/default/en/images/headericons/search.png'" class="icon_style"><br>SEARCH
				</a>
			</div>
			
			<div class="header_icon">
				<a onclick="submitForm('Dashboard','LMS-INS-0003','ins_synchronousClasses.do')" href="#" #if($menu == "Dashboard") style="font-weight:bold;" #end>
					<img src="brands/default/en/images/headericons/profile.png" onmouseover="this.src='brands/default/en/images/headericons/hover/profile.png'" onmouseout="this.src='brands/default/en/images/headericons/profile.png'" class="icon_style"><br>HOME
				</a>
			</div>
			
		</div><!-- top-nav-right-menu ends-->
    </div>
