#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))
<div id="sideBar" class="side_bar">
           <!-- Manage Courses Start -->

		<div id="manageUsers" onclick="submitForm('Plan%20%26%20Enroll','LMS-MGR-0010','ins_manageSynchronousCourse.do')" #if ($!{menu}=="LMS-MGR-0010") class="side_band_over" #else class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'" #end>
                <img src="brands/default/en/images/accreditation/icon_users_mini.gif" class="band_image">
                <div class="band_text">Manage Courses</div>
         </div>

		 <div id="manageUsers" onclick="submitForm('ManageCourses','ManageCourseGrp','ins_viewCourseGroups.do')" #if ($!{menu}=="ManageCourseGrp") class="side_band_over" #else class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'" #end>
                <img src="brands/default/en/images/accreditation/icon_users_mini.gif" class="band_image">
                <div class="band_text">Manage Course Groups</div>
         </div>
 
<!-- Manage Courses End -->
</div>
