#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))

<body>
	<tr>
				<td id="manageUsers" onclick="submitForm('Users%20%26%20Groups','ManageLearner','ins_mngGradeBook.do')" #if($menu == "LMS-MGR-0001") class="selected" #end>
					<div class="band_text">$brander.getBrandElement("lms.Instructor.PageTitle.caption.ManageGradeBook")</div>
				</td>
			</tr>
</body>