#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("featureGroup"))

## Determine Learner Customer Type for contextual menu type. (Icon or Tabs)
#set($learnerCustomerType = $userData.getContentOwner().getCustomer().getCustomerType())



<!-- Learner Header -->
<div id="header" class="page_header">
    
	<!-- logo -->
	<div style="width:200px; float:left;">
        <img src="$brander.getBrandElement("lms.header.logo.src")" class="logo360" alt="No Image Selected" alt=""/>
    </div>
    <!-- logo-end -->
    
	
	<!-- top-nav-right-menu -->
	
</div>	
	