#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("featureGroup"))

<div id="header" class="page_header">
	<!-- logo -->
	<div class="$brander.getBrandElement("lms.mycourses.cssClass.wel-logo")" style="height:60">
		<div id="a1" class="$brander.getBrandElement("lms.mycourses.cssClass.welcomeMessage")"></div>
		<div id="a2" class="$brander.getBrandElement("lms.mycourses.cssClass.logo")"><img src="$brander.getBrandElement("lms.header.logo.src")"></div>
	</div>
	<!-- logo-end -->	
	
</div>
