#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))
#set( $customerOrderCount = $ssn.getAttribute("customerOrderCount"))

<div>
#if($userPermissionChecker.hasAccessToFeature("LMS-LRN-0003", $userData, $ssn))
	<tr>
		<td id="manageUsers" onclick="submitForm('My Profile','LMS-LRN-0003','lrn_learnerProfile.do')" #if($menu == "LMS-LRN-0003") class="selected" #end>
			<div class="band_text">$brander.getBrandElement("lms.manageUser.profile.Profile")</div>
		 </td>
	 </tr>
#end
#if($userPermissionChecker.hasAccessToFeature("LMS-LRN-0004", $userData, $ssn) )
	<tr>
		<td id="manageUsers" onclick="submitForm('My Profile','LMS-LRN-0004','lrn_learnerPreferences.do')" #if($menu == "LMS-LRN-0004") class="selected" #end>
			<div class="band_text">$brander.getBrandElement("lms.manageUser.profile.Preference")</div>
		 </td>
	 </tr>
#end
#if($userPermissionChecker.hasAccessToFeature("LMS-LRN-0005", $userData, $ssn) )
	<tr>
		<td id="manageUsers" onclick="submitForm('My Profile','LMS-LRN-0005','lrn_myAlert.do')" #if($menu == "myAlert") class="selected" #end>
			<div class="band_text">$brander.getBrandElement("lms.myAlert.manageAlert.caption.title")</div>
		 </td>
	 </tr>
#end
#if($userPermissionChecker.hasAccessToFeature("LMS-LRN-0013", $userData, $ssn) )
	<tr>
		<td id="manageUsers" onclick="submitForm('My License Manager','LMS-LRN-0013','lrn_manageLicense.do?method=displayManageLicense')" #if($menu == "LMS-LRN-0013") class="selected" #end>
			<div class="band_text">$brander.getBrandElement("lms.mylicense.manageLicense.caption.title")</div>
		 </td>
	 </tr>
#end
#if($userPermissionChecker.hasAccessToFeature("LMS-LRN-0009", $userData, $ssn) && $customerOrderCount > 0 )
 		<tr>
		<td id="manageUsers" onclick="submitForm('My Profile','LMS-LRN-0009','lrn_myAccountOption.do')" #if($menu == "LMS-LRN-0009") class="selected" #end>
			<div class="band_text">$brander.getBrandElement("lms.myAlert.manageAlert.caption.accountTitle")</div>
		 </td>
		 </tr>
#end
</div>
<!-- left-pannel-content-end -->
