#**
----------------------------------------------------------------------------  
@Author: Praveen Gaurav (nov.17.2008)
---------------------------------------------------------------------------- 
*#
<div id="footer">
	<div class="$brander.getBrandElement("lms.mycourses.cssClass.link")">$brander.getBrandElement("lms.login.copyright") $date.get("yyyy") QuickStart.com | $brander.getBrandElement("lms.login.footer.aboutus.caption") | $brander.getBrandElement("lms.login.footer.contactus.caption") | $brander.getBrandElement("lms.login.footer.termofuse.caption")</div>
	<div class="$brander.getBrandElement("lms.mycourses.cssClass.log")">$brander.getBrandElement("lms.mycourses.learnerMode")|$brander.getBrandElement("lms.login.footer.login.caption")</div>
</div>