<div id="messageAlert" style="display:none">
	<div class="header">&nbsp;&nbsp;Warning</div>
	<div class="alert_message_box_icon"></div>
	<div class="message_box_text"></div>
	<br style="clear:both" />
	<div class='buttons'>
		<div class='no simplemodal-close'>
			<div style="float: left; margin-top: 2px; margin-right: 0px;margin-left:45px;">
				<div>
					<a  onclick="">
						<div class="btn_start"></div>
						<div class="btn_normal">OK</div>
						<div class="btn_end"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>