	<!-- footer -->
	<div id="footer">
		<div class="link">&copy; Copyright 2008 360training.com | <a href="" class="log-out">about us</a> | <a href="" class="log-out">contact us</a> | <a href="" class="log-out">terms of use</a></div>
		<div class="log">Administrator Mode | <a href="logout" class="log-out">Log out</a></div>
	</div>
	<!-- footer-end -->