#**
----------------------------------------------------------------------------  
@Author Praveen Gaurav (feb.20.2009)
---------------------------------------------------------------------------- 
*#

<div id="header">
	<!-- logo -->
	<div class="$brander.getBrandElement("lms.mycourses.cssClass.wel-logo")">
		<div id="a1" class="$brander.getBrandElement("lms.mycourses.cssClass.welcomeMessage")">$brander.getBrandElement("lms.login.welcomeHeader") $!{userData.lastName} $!{userData.firstName}</div>
		<div id="a2" class="$brander.getBrandElement("lms.mycourses.cssClass.logo")"><img src="$brander.getBrandElement("lms.pixel.logo_360png")"></div>
	</div>
	<!-- logo-end -->
</div>