#set($ssn=$!{request.getSession(true)})
#set($menu = $ssn.getAttribute("feature"))

<div id="sideBar" class="side_bar">
#if($userPermissionChecker.hasAccessToFeatureGroup("Tools", $userData, $ssn))
#if($userPermissionChecker.hasAccessToFeature("LMS-MGR-0020", $userData, $ssn))
<div id="manageUsers" onclick="submitForm('Tools','LMS-MGR-0020','mgr_manageSurveys.do')" #if ($!{menu}=="LMS-MGR-0020") class="side_band_over" #else class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" #end onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
<div class="band_text">Manage Surveys</div>
</div>
#end
#else
<div id="manageUsers" onclick="location.href='#';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
        <img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
        <div class="band_text">Manage Surveys</div>
    </div>
    #end
    #if($userPermissionChecker.hasAccessToFeatureGroup("Tools", $userData, $ssn))
#if($userPermissionChecker.hasAccessToFeature("LearnerSurveyResponse", $userData, $ssn))
<div id="manageUsers" onclick="submitForm('Tools','LearnerSurveyResponse','mgr_manageSurveys.do?method=learnerSurveyResponseView')" #if ($!{menu}=="LearnerSurveyResponse") class="side_band_over" #else class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" #end onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
<div class="band_text">View Learner's Survey Response</div>
</div>
#end
#else
<div id="manageUsers" onclick="location.href='#';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
        <img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
        <div class="band_text">View Learner's Survey Response</div>
    </div>
    #end
## *****************************************************
 
    #if($userPermissionChecker.hasAccessToFeature("LMS-MGR-0019", $userData, $ssn))
	<div id="manageUsers" onclick="location.href='mgr_assignSurveys.do';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">Assign Learner's Survey </div>
	</div>
	    #end
## *****************************************************
</div>