#**
----------------------------------------------------------------------------  
@Author: Praveen Gaurav (dec.31.2008)
@Modified: Praveen Gaurav (jan.14.2009)
@Modified: Parthasarathi (jan.24.2009)
---------------------------------------------------------------------------- 
*#
<div id="sideBar" class="side_bar">
#if($userPermissionChecker.hasAccessToFeatureGroup("Entitlements", $userData, $ssn))
	#if($userPermissionChecker.hasAccessToFeature("ManageEntitlements", $userData, $ssn))
		<div id="manageUsers" onclick="location.href='mgr_viewAllEntitlements.do';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">View Entitlements</div>
		 </div>		
	#end
	#if($userPermissionChecker.hasAccessToFeature("ManageEnrollments", $userData, $ssn))
		<div id="manageUsers" onclick="location.href='mgr_assignEnrollments.do';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">Enroll Learners</div>
		 </div>
	#end
	#if($userPermissionChecker.hasAccessToFeature("ManageEnrollments", $userData, $ssn))
		<div id="manageUsers" onclick="location.href='mgr_learnerEnrollment.do?method=showSearchLearnerPage';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">Manage Enrollments</div>
		 </div>
	#end
#end
		<div id="manageUsers" onclick="location.href='mgr_manageCustomCourses.do';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">Manage Courses</div>
		 </div>
#*
		<div id="manageUsers" onclick="location.href='mgr_searchTrainingPlans.do';" class="side_band_normal" onmouseover="this.className='side_band_over'" onmouseout="this.className='side_band_normal'" onmousedown="this.className='side_band_down'" onmouseup="this.className='side_band_over'">
			<img src="brands/default/en/images/icon_users_mini.gif" class="band_image"/>
			<div class="band_text">Manage Training Plans</div>
		 </div>
*#
</div>
<!-- left-pannel-content-end -->