
	#if($context.courseType.equals($brander.getBrandElement("lms.instructor.addCourse.courseType.SYNC")) || $context.course.courseType.equals($brander.getBrandElement("lms.instructor.addCourse.courseType.WEBINAR")) )
    <table id="courseSchedule" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">
        <tr class="borderRow"><td class="header"><span class="headerRow" style="text-transform:uppercase;">$brander.getBrandElement("lms.courseSchedule.description.tableheader.secondcol.text")</span></td><td><span class="headerRow"style="text-transform:uppercase;">Status</span></td></tr>
	#set($myCounter="0")

	#foreach($syncSession in $context.syncSessions)
	  
        <tr class=#if($myCounter=="0")"borderRow-alt"#else"borderRow" #end>
		<td height="10px" width="85%" style="padding-left:10px;">$syncSession.getDayOfStartSession(), $syncSession.getStartDate("MMM dd yyyy") - $syncSession.getStartTime() - $syncSession.getEndTime()</td>
	
	<td height="10px"><span class=#if($syncSession.getStatus().equals("Completed"))"$brander.getBrandElement("lms.mycourse.recentcourse.cssClass.text-green")"#elseif($syncSession.getStatus().equals("In Progress"))"$brander.getBrandElement("lms.mycourse.recentcourse.cssClass.text-blue")")#end>$syncSession.getStatus()</span></td>


	</tr>
	  #if($myCounter=="0") #set($myCounter="1") #else #set($myCounter="0") #end	
	#end
    </table>
    <br/>
	#end
	#if($context.courseType.equals("Instructor Connect") || $context.course.courseType.equals("Instructor Connect") )
	
    <table id="courseSchedule" width="98%" cellpadding="5" cellspacing="0" style="border:1px solid #CCCCCC;border-bottom:none;">
        <tr class="borderRow"><td class="header"><span class="headerRow" style="text-transform:uppercase;">$brander.getBrandElement("lms.courseSchedule.description.tableheader.secondcol.text")</span></td><td><span class="headerRow"style="text-transform:uppercase;">Status</span></td></tr>
	#set($myCounter="0")

	#foreach($syncSession in $context.syncSessions)
	  
        <tr class=#if($myCounter=="0")"borderRow-alt"#else"borderRow" #end>
		<td height="10px" width="85%" style="padding-left:10px;">$syncSession.getDayOfStartSession(), $syncSession.getStartDate("MMM dd yyyy") - $syncSession.getStartTime() - $syncSession.getEndTime()</td>
	
	<td height="10px"><span class=#if($syncSession.getStatus().equals("Completed"))"$brander.getBrandElement("lms.mycourse.recentcourse.cssClass.text-green")"#elseif($syncSession.getStatus().equals("In Progress"))"$brander.getBrandElement("lms.mycourse.recentcourse.cssClass.text-blue")")#end>$syncSession.getStatus()</span></td>


	</tr>
	  #if($myCounter=="0") #set($myCounter="1") #else #set($myCounter="0") #end	
	#end
    </table>
    <br/>
	#end
