<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/learnerNewHead.vm")

        <script>
            $(document).ready(function(){
              
            });
        </script>
        <script language="javascript" type="text/javascript" src="javascript/360js.js"></script>
    </head>

    <body>
<form name="addLearnerGroupForm" method="post" action="mgr_assignLearnerToGroup.do">
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
    <!-- header -->
    #parse("snippets/managerWizardHeader.vm")
    <!-- header-end -->
	</td></tr>
	
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top" style="width:195px;">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
    <!-- content-area -->        
        <div>
            <div id="l-menu-back">
                    <div class="$brander.getBrandElement("lms.assignEnrollment.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.header") </br>$brander.getBrandElement("lms.manager.manageTrainingPlans.caption.Showing") 2 $brander.getBrandElement("lms.manager.manageTrainingPlans.caption.of") 3</div>
                    <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.manager.editSecurityRole.caption.selectLearners")</div>
                    <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text-act")">$brander.getBrandElement("lms.manager.editSecurityRole.caption.confirmation")</div>
                    <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2ViewResults")</div>
            </div>
        </div>
		</table></td>
		
        <!-- right-pannel-content -->
<TD id="content" >
	<div id="scrollable">
            <!-- Logo+Manage-User -->
					<table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
						    <tr>
						        <td id="page-icon" class="page-icon-users">
						            &nbsp;
						        </td>
						        <td id="page-description">
						            <div id="page-heading">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.title")</div>
						            <div id="page-help">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.subtitle2")</div>
						        </td>
						    </tr>
						</table>			
            <!-- Logo+Manage-User-end -->

            <!-- <div class="content-Block-new">
                <div id="searchResult_2"> -->
                    <table width="100%"  cellpadding="0" cellspacing="0" style="border-left:1px solid #dfdfdf">
                        <tr bgcolor="#efefef">
                            <td class="box_subheader">$brander.getBrandElement("lms.administrator.searchMember.caption.FirstName")</td>
                            <td class="box_subheader">$brander.getBrandElement("lms.administrator.searchMember.caption.LastName")</td>
                            <td class="box_subheader">$brander.getBrandElement("lms.batchImportUsersResult.emailAddress")</td>
                        </tr>
                        #foreach($learner in $!{learners})
                            #if($velocityCount%2==0)
                                #set($alternate="row_2")
                            #else
                                #set($alternate="row_1")
                            #end
                            <tr>
                                <td class="$alternate">$learner.user.firstName</td>
                                <td class="$alternate">$learner.user.lastName</td>
                                <td class="$alternate">$learner.user.username</td>
                            </tr>
                        #end
                    </table>
                <!-- </div>
            </div> -->
            <!-- End-User-list2 -->

            <div class="managerBtn">
                <input type="hidden" id="currentpage" name="_page" value="1" />
                <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />
                <div class="btn-left2">
                    <a class="button" onClick="submitButtonForm(document.addLearnerGroupForm,'wizardSubmitter','_cancel');"><span class="button">Cancel</span></a>
                </div>
                <div class="btn-right1">
                    <a class="button" onClick="submitButtonForm(document.addLearnerGroupForm,'wizardSubmitter','_finish');"><span class="button">Finish</span></a>
                </div>
                <div class="btn-right1">
                    <a class="button" onClick="submitButtonForm(document.addLearnerGroupForm,'wizardSubmitter','_target0');"><span class="button">Previous</span></a>
                </div>
            </div>

            <!-- space -->
            <div class="manager-bottom-space"></div>
            <!-- space end -->

        <!-- right-pannel-content-end -->
        </div>
    <!-- content-area-end -->
    </td></tr>

<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
    <!-- footer -->
    #parse("snippets/managerFooter.vm")
    <!-- footer-end -->
	</td></tr>
</Table>

</form>
</body>
</html>