<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/learnerNewHead.vm")

        <script>
            $(document).ready(function(){
                
            });
        </script>
        <script language="javascript" type="text/javascript" src="javascript/360js.js"></script>
    </head>

<body>
<form name="addLearnerGroupForm" method="post" action="mgr_viewLearnerGroupMembers.do?learnerGroupId=$!{context.learnerGroupId}">
<table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
	<tr> <!-- First Block -->
		<td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">
    <!-- header -->
    #parse("snippets/managerWizardHeader.vm")
    <!-- header-end -->
	</td></tr>
	
<tr id="main"> <!-- SECOND BLOCK -->
	<td id="left-navigation" valign="top" style="width:195px;">
		<table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
    <!-- content-area -->
            <!-- left-menu-content -->
            <div>
                <div id="l-menu-back">
                    <div class="$brander.getBrandElement("lms.assignEnrollment.cssClass.l-menu-back-text-h")">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.header") </br>$brander.getBrandElement("lms.manager.manageTrainingPlans.caption.Showing") 3 $brander.getBrandElement("lms.manager.manageTrainingPlans.caption.of") 3</div>
                    <div class="l-menu-back-text-inact">$brander.getBrandElement("lms.manager.editSecurityRole.caption.selectLearners")</div>
                    <div class="l-menu-back-text-inact">$brander.getBrandElement("lms.manager.editSecurityRole.caption.confirmation")</div>
                    <div class="$brander.getBrandElement("lms.manageUser.editLearner.cssClass.l-menu-back-text-act")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2ViewResults")</div>
                </div>

            </div>
            <!-- left-menu-content-end -->
			</table></td>
			
        <!-- right-pannel-content -->
<TD id="content" >
	<div id="scrollable">
            <!-- Logo+Manage-User -->
            <div class="logoContainer" id="logomainContainer">
              <div id="logoHolder" class="courseLogoUser">&nbsp;</div>
              <div id="titleHolder" class="courseTitle1">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.title")</div>
              <div id="detailsHolder" class="courseDetails">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.subtitle3")</div>
              </div>
            <!-- Logo+Manage-User-end -->

            <!-- User-list -->
            <div class="$brander.getBrandElement("lms.manageOrganizationGroup.cssClass.content-Block")">
                <div id="e12" class="$brander.getBrandElement("lms.mycourses.cssClass.Block-Contain-header")">
                    <div id="e13" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.batchImportUsersResult.summaryInformation")</div>
                </div>

                <!-- User-left-right-list -->
                <div id="e7b" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.Search-inputfield-box")">
                    <!-- 1 -->
                        
                    <div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
                        <div class="$brander.getBrandElement("lms.batchImportUsers.input_field_area-user-f2a")">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.NumberLearnersAssigned")</div>
                        <div class="$brander.getBrandElement("lms.batchImportUsers.input_field_area-user-fn")">$!{context.addedLearners}</div>
                    </div>
                    
                    <div id="e12" class="$brander.getBrandElement("lms.manageUser.addNewLearner.cssClass.search-content-row")">
                        <div class="$brander.getBrandElement("lms.batchImportUsers.input_field_area-user-f2a")">$brander.getBrandElement("lms.manager.assignLearnerGroup.caption.SelectedNumbers")</div>
                        <div class="$brander.getBrandElement("lms.batchImportUsers.input_field_area-user-fn")">$!{context.selectedLearners}</div>
                    </div>
                    <!-- 0 -->
                </div>
            </div>
            <!-- End-User-list -->

            <div class="managerBtn">
                <input type="hidden" id="currentpage" name="_page" value="2" />
                <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

                <div class="btn-right1">
                     <a class="button"  onclick="javascript:window.location='mgr_manageLearnerGroups.do';" ><span class="button">Ok</span></a>                
                </div>
            </div>

            <!-- space -->
            <div class="manager-bottom-space"></div>
            <!-- space end -->

        <!-- right-pannel-content-end -->
        </div>
    <!-- content-area-end -->
    </td></tr>
<tr> <!-- Footer BLOCK -->
	<td id="footer" colspan="2">
    <!-- footer -->
    #parse("snippets/managerFooter.vm")
    <!-- footer-end -->
	</td></tr>
</Table>

</form>
</body>
</html>