<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/accreditation/accreditationDefaultHead.vm")

        <script type="text/javascript" language="javascript" src="javascript/360js.js" ></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $("#toggleIconForSummary").click(function() {
                    toggleView('toggleIconForSummary', 'collapsibleSummary');
                });
                $("#toggleIconForCustomFields").click(function() {
                    toggleView('toggleIconForCustomFields', 'collapsibleCustomFields');
                });
            });
        </script>
    </head>

    <body>
        <table id="table-layout" border="0" cellpadding="0" cellspacing="0"> <!-- Table 1 -->
            <tr> <!-- First Block -->
                <td id="header" border="0" cellpadding="0" cellspacing="0" colspan="2">            <!--Header Start -->
                    #parse("snippets/managerWizardHeader.vm")
                    <!-- Header End -->
                </td</tr>

            <!-- Body Start -->
            <tr id="main"> <!-- SECOND BLOCK -->
                <td id="left-sidebar" valign="top">
                    <table id="table-bands" border="0" cellpadding="0" cellspacing="0"> <!-- Table 3 -->
                        <div>
                            <div id="l-menu-back">
                                <div class="l-menu-back-text-h">$brander.getBrandElement("lms.accreditation.addCredential.caption.lmenuHeader")<br>$brander.getBrandElement("lms.accreditation.addCredential.caption.Step-2-of-2")</div>
                                <div class="l-menu-back-text-acted">$brander.getBrandElement("lms.accreditation.addCredential.caption.lmenuSummary")</div>
                                <div class="l-menu-back-text-act">$brander.getBrandElement("lms.accreditation.addCredential.caption.lmenuConfirmation")</div>
                            </div>
                        </div>
                        <!-- Left Menu End -->

                    </table></td>

                <TD id="content" >
                    <div id="scrollable">

                        <!-- Page Description -->
                        <table id="table-page-description" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;margin-bottom:15px">
                            <tr><td id="page-icon" class="icon_regulator">&nbsp;</td>
                                <td id="page-description">
                                    <div id="page-heading">$brander.getBrandElement("lms.accreditation.credential.caption.title")</div>
                                    <div id="page-help">$brander.getBrandElement("lms.accreditation.credential.caption.confirmation.subTitle")</div>
                                </td>
                            </tr>
                        </table>					

                        <form name="addCredential" method="post" action="acc_addNewCredential.do" >
                            <div style="_height:5px;">&nbsp; </div>
                            <div class="search_box_result"><!-- search_box_result -->
                                <div id="toggleIconForSummary" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.addCredential.caption.Summary")</span></div>
                                <div id="collapsibleSummary">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3" heigth="100%">
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.CredentialType")</b></div></td>
									#springBind("credentialForm.credential.credentialType")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td width="30%"><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Official-License-Name")</b></div></td>
									#springBind("credentialForm.credential.officialLicenseName")
                                            <td width="8%"><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td width="40%"></td>
                                            <td width="8%"></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Short-License-Name")</b></div></td>
									#springBind("credentialForm.credential.shortLicenseName")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Jurisdiction")</b></div></td>
									#springBind("credentialForm.credential.jurisdiction")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
								#if("$!{status.value}"=="other")                            
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accraditation.addRegulator.caption.otherJurisdiction")</b></div></td>
									#springBind("credentialForm.credential.otherJurisdiction")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
								#end
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Date-information-Last-Verified")</b></div></td>
									#springBind("credentialForm.informationLastVerifiedDate")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Verified-By")</b></div></td>
									#springBind("credentialForm.credential.verifiedBy")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Total-Number-of-Licensees")</b></div></td>
									#springBind("credentialForm.totalNumberOfLicense")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Description")</b></div></td>
									#springBind("credentialForm.credential.description")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.RenewalDeadlineType")</b></div></td>
									#springBind("credentialForm.credential.renewalDeadlineType")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
								 #if("$!{status.value}"=="Hard")
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.HardDeadlineMonth")</b></div></td>
									#springBind("credentialForm.credential.hardDeadlineMonth")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.HardDeadlineDay")</b></div></td>
									#springBind("credentialForm.credential.hardDeadlineDay")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.HardDeadlineYear")</b></div></td>
									#springBind("credentialForm.credential.hardDeadlineYear")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
								#elseif("$!{status.value}"=="Staggered")
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.StaggeredBy")</b></div></td>
									#springBind("credentialForm.credential.staggeredBy")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.StaggeredTo")</b></div></td>
									#springBind("credentialForm.credential.staggeredTo")
                                            <td><div class="row_text">#dotPadding($!{status.value} 70)</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
								#end
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.RenewalFrequency")</b></div></td>
									#springBind("credentialForm.credential.renewalFrequency")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr valign="top">
                                            <td><div class="row_text"><b>$brander.getBrandElement("lms.accreditation.addCredential.caption.Prerequisite")</b></div></td>
									#springBind("credentialForm.credential.preRequisite")
                                            <td><div class="row_text">$!{status.value}</div></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>

                            </div><!-- search_box_result -->

                            <div style="height:20px;"></div>

                            <div class="search_box_result">
                                <div id="toggleIconForCustomFields" style="float: left; margin-right: 5px;" class="icon-caret-down-large"></div>
                                <div class="box_header"><span class="box_heading">$brander.getBrandElement("lms.accreditation.editCredential.caption.Custom-Fields")</span></div>
                                <div id="collapsibleCustomFields">
							#springBind("credentialForm.customFields")
							#if($status.value.size()>0)
                                    <table border="0" width="100%" cellpadding="0" cellspacing="3">
								#foreach($customField in $status.value)
                                        <tr valign="top">
                                            <td width="30%"><div class="row_text"><b>$!{customField.customFieldRef.fieldLabel}</b></div></td>
                                            <td width="8%">
                                                <div class="row_text">
											#if($!{customField.customFieldRef.fieldType}=="MULTISELECTCUSTOMFIELD")
											   #foreach($options in ${customField.customFieldValueChoices})
													#if($options.selected)
													$options.customFieldValueChoiceRef.label <br />
													#end
											   #end
											   #foreach($selectoption in ${customField.selectedChoices})
													#foreach($options in ${customField.customFieldValueChoices})
														#if($!{selectoption} == $!{options.customFieldValueChoiceRef.id}) 
														$options.customFieldValueChoiceRef.label <br /> #end
													#end
											   #end
											#elseif($!{customField.customFieldRef.fieldType}=="SINGLESELECTCUSTOMFIELD")
												#foreach($options in ${customField.customFieldValueChoices})
													#if($!{customField.customFieldValueRef.value} == $!{options.customFieldValueChoiceRef.value}) $options.customFieldValueChoiceRef.label #end
												#end
											#else
												#if($!{customField.customFieldRef.fieldEncrypted})
													$!{customField.getEncriptedValue()}
												#else
													$!{customField.customFieldValueRef.value}
												#end
											#end
                                                </div>
                                            </td>
                                            <td width="40%"></td>
                                            <td width="8%"></td>
                                        </tr>
								#end
                                    </table>
							#end
                                </div>


                            </div>

                            <!-- *********************************************** -->
                            <div class="btn-div">
                                <div style="float:right; margin-top:15px;">
                                    <a onClick="submitButtonForm(document.addCredential,'wizardSubmitter','_finish');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accreditation.wizard.buttonTextFinish")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>	

                                <div style="float:right; margin-top:15px;margin-right:5px;">
                                    <a onClick="submitButtonForm(document.addCredential,'wizardSubmitter','_target0');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Previous")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>

                                <div style="float:left; margin-top:15px;margin-left:10px;">
                                    <a  onClick="submitButtonForm(document.addCredential,'wizardSubmitter','_cancel');">
                                        <div class="btn_start"></div>
                                        <div class="btn_normal">$brander.getBrandElement("lms.accraditation.addRegulator.caption.Cancel")</div>
                                        <div class="btn_end"></div>
                                    </a>
                                </div>  
                            </div>	

                            <!-- bottom-space -->
                            <div class="manage-bottom-space"></div>
                            <!-- bottom-space -->

                            <input type="hidden" id="currentpage" name="_page" value="1"/>
                            <input type="hidden" id="wizardSubmitter" name="wizardSubmitter" />

                        </form>

                    </div><!-- scrollable -->

                </td></tr>
            <!-- Body End -->
            <tr> <!-- Footer BLOCK -->
                <td id="footer" colspan="2">
                    <!-- Footer Start -->
		    #parse("snippets/managerFooter.vm")
                    <!-- Footer End -->
                </td></tr>
        </table>
    </body>
</html>